{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Đăng ký tài khoản Facebook" %}{% endblock %}

{% block content %}
    <h1>{% trans "Đăng ký tài khoản Facebook" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Bạn chuẩn bị sử dụng tài khoản Facebook {{provider_name}} để đăng nhập
{{site_name}}. Xin mời điền tên tài khoản sử dụng để đăng nhập bằng Facebook ở dưới:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Xác nhận" %} &raquo;</button>
</form>

{% endblock %}
