{#{% load text_money %}#}
{% load static listing humanize i18n %}

<div class="agents-listing">
    <div class="agents-image">
        <a href="{% url "specialistDetail" realtor.id %}">
            {% if realtor.avatar %}
                <img src="/media/{{ realtor.avatar }}"  alt="{{ user.last_name }}" title="{{ user.last_name }}"/>
            {% else %}
                {% if realtor.user.avatar and realtor.user.avatar != 'img/logo tgnp brown.jpg' or realtor.avatar %}
                    <img src="/media/{{ realtor.user.avatar }}" alt="{{ user.last_name }}" title="{{ user.last_name }}/>
                {% else %}
                    <img src="{% static 'img/logo tgnp brown.jpg'%}" alt="Chuyên viên Thế giới Nhà Phố" title="Chuyên viên Thế giới Nhà Phố"/>
                {% endif %}
            {% endif %}
            <button data-action="favorite" data-id="{{ realtor.id }}"
                    data-alias="{{ realtor.name }}"
                    data-type="sale_property" data-favorited="false"
                    class="btn-favorite zmdi zmdi-favorite-outline"></button>
        </a>
    </div>
    <div class="agents-content">
        <a href="{% url "specialistDetail" realtor.id %}"><h3
                class="font-tiempos">{{ realtor.name }}</h3></a>
        <p class="team-name-sale">{{ realtor.position|get_position_type }}</p>
        {% comment %}<div class="agents-email">
            <a href="mailto:{{ realtor.user.email }}"><span class="__cf_email__"
                                                            data-cfemail="">[email&#160;protected]</span></a>
        </div>{% endcomment %}
        {% comment %}    <a data-phone-hidden="category: ContactProperty, event: ClickHiddenHotline" style="opacity: 0.6"
                       href="tel:{{ realtor.phone1 }}"
                       class="btn-primary btn-large btn-phone phone-hidden"><i
                            class="zmdi zmdi-phone"></i><span class="text">Gọi ngay</span></a>{% endcomment %}
    </div>
</div>