{% extends 'base.html' %}

{% load static humanize i18n %}

{% block head %}
  {{ block.super }}

  <link rel="canonical" href="{% url 'about' %}"/>

{% endblock %}

{% block content %}

  <div id="wraps">
    <!-- Search menu -->
    {% include 'partials/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
      <div class="cta-bottom-inner">
        <div class="phone">
          <a class="cta-hotline" href="tel:0971841941"><span class="font-icon fone-b font-20"> </span>
            <strong>0971 841 941</strong></a>
        </div>
        <div>
          <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
        </div>
      </div>
    </div>
    <div class="s-menu about-menu">
      <div class="width-1600">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items"><a href="{% url 'about' %}">Giới thiệu TGNP</a>
            </li>
            <li class="s-menu-items">
              <a href="{% url 'specialist_us' %}">Đội ngũ chuyên viên</a>
            </li>


            {% comment %} <li class="s-menu-items">
                            <a href="#">Phòng giao dịch</a>
                        </li>{% endcomment %}


            <li class="s-menu-items active">
              <a href="{% url 'recruitment' %}">Tuyển dụng</a>
            </li>
            <li class="s-menu-items">
              <a href="{% url 'contacts' %}">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content  -->

    <div class="bg-about" style=" background: url({% static 'images/bg-tgnp.jpg' %}) 50% 50% / cover no-repeat;">
      <div class="heading-wrapper">
        <div class="heading-inner">
          <h1>Sứ mệnh của chúng tôi là thiết lập và thực thi những tiêu chuẩn cao nhất nhằm phục vụ lợi ích lớn nhất của
            Khách hàng cho mọi nhu cầu về Bất động sản.</h1>
        </div>
      </div>
    </div>

    <section class="bg-white">
      <div class="width1140 s-padding-tb">
        <p class="s-heading" style="text-align:center">
          Giới thiệu về TGNP
        </p>
        <p class="s-description pdb-60">
          Ra đời chính thức từ năm 2016, TGNP là công ty công nghệ đầu tiên ở Đông Nam Á trong lĩnh vực môi giới bất
          động sản. Tại TGNP, chúng tôi sử dụng công nghệ giúp quá trình mua bán được dễ dàng hơn và xây dựng lòng tin
          cho khách hàng thông qua việc cung cấp các công cụ so sánh giá bằng cách sử dụng hệ thống phân tích dữ liệu
          thị trường, theo dõi danh sách tài sản đang niêm yết, kết hợp với công nghệ truyền thông tương tác, quản lý
          giao dịch trực tuyến để mang lại giá trị tốt nhất cho người mua và người bán nhà. Đồng thời, TGNP còn trang bị
          cho các môi giới hệ thống quản lý khách hàng (Smart CRM) và cơ sở dữ liệu, nhằm mục đích trở thành điểm đến
          cho mọi nhu cầu liên quan đến chỗ ở.</p>
        <p class="s-heading" style="text-align:center">
          Chuyên viên TGNP
        </p>
        <p class="s-description pdb-60">
          Chuyên viên TGNP - được đào tạo chuyên nghiệp, trải qua nhiều khóa học đào tạo chuyên sâu nhất, đặc biệt rất
          am hiểu thị trường theo từng khu vực, luôn đặt sự hài lòng của Khách Hàng là mục tiêu cao nhất. Với vai trò là
          người đồng hành hỗ trợ bạn trong suốt quá trình Mua / Bán/ Thuê / Cho Thuê, chuyên viên TGNP sẽ tư vấn kỹ càng
          cho bạn về xu hướng & biến động thị trường, phân tích đầu tư, thông tin quy hoạch, tiện ích, và cộng đồng cư
          dân ở khu vực bạn quan tâm, đưa ra những gợi ý phù hợp nhất ứng với nhu cầu và tình hình tài chính của bạn.
        </p>
        <p class="s-heading" style="text-align:center">
          Danh mục bất động sản trên TGNP
        </p>
        <p class="s-description pdb-60">
          <a href="#">TGNP</a> là trang web dịch vụ có thể truy cập ở bất kì đâu, bên cạnh đó - Sàn giao dịch TGNP là
          nơi
          giao dịch theo giấy phép sàn giao dịch bất động sản, là chi nhánh tập trung các gi`ao dịch BĐS tại địa phương,
          vùng lân cận.
        </p>
        <div class="branch-map">
          <img src="" alt="">
        </div>
      </div>
    </section>

    <section class="background-gray">
      <div class="width1140 s-padding-tb">
        <div class="s-grid s-column-4 s-gutters">
          <div class="s-cell s-btn">
            <a href="{% url 'specialist' %}">Gặp chuyên viên tư vấn</a>
          </div>
          <div class="s-cell s-btn">
            <a href="{% url 'sell_with_us' %}">Đăng bán, cho thuê</a>
          </div>
          <div class="s-cell s-btn">
            <a href="https://forms.gle/LM41QBEMSZvwmSta7">Gia nhập TGNP</a>
          </div>
          <div class="s-cell s-btn">
            <a href="{% url 'contacts' %}">Liên hệ</a>
          </div>
        </div>
      </div>
    </section>

    {% include "partials/_detailFeedbackForm.html" %}

  </div>

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

{% endblock %}
