{% extends 'base.html' %}

{% load static humanize i18n %}
{% block title %}
    <title>{% trans "Giới thiệu về Thế Giới Nhà Phố" %} </title>
    <meta name="title" content="{% trans "Giới thiệu về Thế Giới Nhà Phố" %}"/>
    <meta property="og:title" content="{% trans "Giới thiệu về Thế Giới Nhà Phố" %} "/>
{% endblock %}
{% block description %}
    <meta name="description" content="Sứ mệnh của chúng tôi là thiết lập và thực thi những tiêu chuẩn cao nhất nhằm phục vụ lợi ích lớn nhất của
            Khách hàng. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="Sứ mệnh của chúng tôi là thiết lập và thực thi những tiêu chuẩn cao nhất nhằm phục vụ lợi ích lớn nhất của
            Khách hàng. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="giới thiệu về thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="giới thiệu về thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}
  {{ block.super }}

  <link rel="canonical" href="{% url 'about' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}"/>

{% endblock %}

{% block content %}

  <div id="wraps">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    {% include 'menu/_secondMenu2.html' %}

    <!-- Main Content  -->
    <div class="bg-about" style=" background: url({% static 'images/bg-tgnp.jpg' %}) 50% 50% / cover no-repeat;">
      <div class="heading-wrapper">
        <div class="heading-inner">
          <h1>Giới thiệu về TGNP</h1>
        </div>
      </div>
    </div>

    <section class="bg-white">
      <div class="width1140 s-padding-tb">
        <p class="s-heading" style="text-align:center">
          Sứ mệnh của chúng tôi là thiết lập và thực thi những tiêu chuẩn cao nhất nhằm phục vụ lợi ích lớn nhất của
            Khách hàng cho mọi nhu cầu về Bất động sản.
        </p>
        <p class="s-description pdb-60">
          Ra đời chính thức từ năm 2020, TGNP là công ty công nghệ trong lĩnh vực môi giới bất
          động sản. Tại TGNP, chúng tôi sử dụng công nghệ giúp quá trình mua bán được dễ dàng hơn và xây dựng lòng tin
          cho khách hàng thông qua việc cung cấp các công cụ so sánh giá bằng cách sử dụng hệ thống phân tích dữ liệu
          thị trường, theo dõi danh sách tài sản đang niêm yết, kết hợp với công nghệ truyền thông tương tác, quản lý
          giao dịch trực tuyến để mang lại giá trị tốt nhất cho người mua và người bán nhà. Đồng thời, TGNP còn trang bị
          cho các môi giới hệ thống quản lý khách hàng (Smart CRM) và cơ sở dữ liệu, nhằm mục đích trở thành điểm đến
          cho mọi nhu cầu liên quan đến chỗ ở.</p>
        <p class="s-heading" style="text-align:center">
          Hàng ngàn nhà đất mới cập nhật liên tục!
        </p>
        <p class="s-description pdb-60">
          Theo dõi thông tin nhà đất mới nhất, đăng ký xem nhà miễn phí và thương lượng mức giá mong muốn. Với lợi thế về công nghệ và dịch vụ hoàn hảo, Thế giới Nhà Phố giúp bạn tiết kiệm đáng kể chi phí, công sức và thời gian.
        </p>
        <p class="s-heading" style="text-align:center">
          Chuyên viên TGNP
        </p>
        <p class="s-description pdb-60">
          Chuyên viên TGNP - được đào tạo chuyên nghiệp, trải qua nhiều khóa học đào tạo chuyên sâu nhất, đặc biệt rất
          am hiểu thị trường theo từng khu vực, luôn đặt sự hài lòng của Khách Hàng là mục tiêu cao nhất. Với vai trò là
          người đồng hành hỗ trợ bạn trong suốt quá trình Mua / Bán/ Thuê / Cho Thuê, chuyên viên TGNP sẽ tư vấn kỹ càng
          cho bạn về xu hướng & biến động thị trường, phân tích đầu tư, thông tin quy hoạch, tiện ích, và cộng đồng cư
          dân ở khu vực bạn quan tâm, đưa ra những gợi ý phù hợp nhất ứng với nhu cầu và tình hình tài chính của bạn.
        </p>
        <p class="s-heading" style="text-align:center">
          Danh mục bất động sản trên TGNP
        </p>
        <p class="s-description pdb-60">
          <a href="#">TGNP</a> là trang web dịch vụ có thể truy cập ở bất kì đâu, bên cạnh đó - Sàn giao dịch TGNP là
          nơi
          giao dịch theo giấy phép sàn giao dịch bất động sản, là chi nhánh tập trung các gi`ao dịch BĐS tại địa phương,
          vùng lân cận.
        </p>
        <div class="branch-map">
          <img src="" alt="">
        </div>
      </div>

    </section>

    <section class="background-gray">
      <div class="width1140 s-padding-tb">
        <div class="s-grid s-column-4 s-gutters">
          <div class="s-cell s-btn">
            <a href="{% url 'specialist' %}">Gặp chuyên viên tư vấn</a>
          </div>
          <div class="s-cell s-btn">
            <a href="{% url 'sellleaseus' %}">Đăng bán, cho thuê</a>
          </div>
          <div class="s-cell s-btn">
            <a href="https://forms.gle/LM41QBEMSZvwmSta7">Gia nhập TGNP</a>
          </div>
          <div class="s-cell s-btn">
            <a href="{% url 'contacts' %}">Liên hệ</a>
          </div>
        </div>
      </div>
    </section>

    <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

  </div>

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

{% endblock %}
