{% extends 'base.html' %}

{% load static humanize i18n load_static %}
{% block title %}
    <title>{% trans "Liên hệ với Thế Giới Nhà Phố" %} </title>
    <meta name="title" content="{% trans "Liên hệ với Thế Giới Nhà Phố" %}"/>
    <meta property="og:title" content="{% trans "Liên hệ với Thế Giới Nhà Phố" %} "/>
{% endblock %}
{% block description %}
    <meta name="description" content="Liên hệ với Thế Giới Nhà Phố. Uy tín - Tận tâm - Chân thành. ĐT:0916286256. KĐT Đại Kim, Nguyễn Cảnh Dị, Định Công, Hoàng Mai, Hà Nội"/>
<meta property="og:description"
      content="Liên hệ với Thế Giới Nhà Phố. Uy tín - Tận tâm - Chân thành. ĐT:0916286256. KĐT Đại Kim, Nguyễn Cảnh Dị, Định Công, Hoàng Mai, Hà Nội"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="Liên hệ với thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="Liên hệ với thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/contacts"/>
{% endblock %}

{% block content %}
    <div id="wrap">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu2.html' %}


        <!-- Main Content  -->
        <div class="bg-about service-heading none-bg-overlay">
            <div class="heading-wrapper">
                <div class="heading-inner">
                    <h1>Liên hệ</h1>
                </div>
            </div>
        </div>

        <section class="bg-white">
            <div class="width1140 s-padding-tb">
                <div class="contact-warpper">
                    <div class="contact-left">
                        <img src="{% static 'images/contact.jpg' %}" alt="liên hệ">
                        <p>Thế giới Nhà phố Việt Nam</p>
                        <div class="address">
                            <div class="address-content">
                                <span class="left">Địa chỉ:</span>
                                <a href="https://goo.gl/maps/AAR637GM7hh1JMFf9" target="_blank"><span
                                        class="right">KĐT Đại Kim, đường Nguyễn Cảnh Dị, P. Định Công, Hoàng Mai, HN </span></a>
                            </div>
                            <div class="address-content">
                                <span class="left">Mr. Hải:</span>
                                <span class="right"><a href="tel:0916 286 256">0916 286 256</a> - <a
                                        href="tel:09 6439 9436">09 6439 9436</a></span>
                            </div>
                            <div class="address-content">
                                <span class="left">Mr.Dương:</span>
                                <span class="right"><a href="tel:0971841941">0971 841 941</a></span>
                            </div>

                        </div>
                    </div>
                    <div class="contact-right form-info">
                        <form method="post" action="{% url 'post_contact' %}">
                            <fieldset>
                                {% csrf_token %}
                                <input type="hidden" name="listing_id" value="none"/>
                                <input type="hidden" name="trantype" value="contact">
                                <input type="hidden" name="location" value=""/>
                                <input type="hidden" name="houseType" value="">
                                <input type="hidden" name="price" value="0"/>

                                <div class="form-element per50-left ">
                                    <div class="placeholder">Họ</div>
                                    <input class="input" type="text" name="lastname" value="" data-fr="string"
                                           placeholder="" required/>
                                    <span class="error-text"></span>
                                </div>
                                <div class="form-element per50-right">
                                    <div class="placeholder">Tên</div>
                                    <input class="input" type="text" name="firstname" value="" data-fr="string"
                                           placeholder="" required/>
                                    <span class="error-text"></span>
                                </div>
                                <div class="form-element">
                                    <div class="placeholder">Số điện thoại</div>
                                    <input class="input" type="text" name="phone" value="" data-fr="phone"
                                           placeholder="" required/>
                                    <span class="error-text"></span>
                                </div>
                                <div class="form-element">
                                    <div class="placeholder">Email (Không bắt buộc)</div>
                                    <input class="input" type="text" name="email" value="" data-fr="email"
                                           placeholder=""/>
                                    <span class="error-text"></span>
                                </div>
                                <div class="form-element textarea-height">
                                    <div class="placeholder">Lời nhắn</div>
                                    <textarea name="message" placeholder="" required></textarea>
                                </div>
                            </fieldset>
                            <div class="action">
                                <button class="large-btn-red">Gửi thông tin</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-bg-subcription">
            <div class="width1140 s-padding-tb">
                <div class="s-subcription-inner">
                    <div class="title">Chuyên viên của TGNP sẽ đồng hành hỗ trợ bạn trong suốt quá trình mua, bán, thuê
                        &amp; cho thuê nhà đất. Không còn lo lắng khi tìm kiếm và giao dịch nhà đất với đầy các thủ tục phức
                        tạp khi đã có chuyên viên tư vấn đáng tin cậy của TGNP bên cạnh!
                    </div>
                    <div class="btn-contact" style="max-width: 250px">
                        <a href="{% url 'specialist' %}" class="s-btn-red" data-action="contact-agent">Gặp chuyên viên
                            TGNP</a>
                    </div>
                </div>
            </div>
        </section>

        {% comment %}<section class="bg-white">
            <div class="width1140 s-padding-tb">
                <div class="s-heading">Liên hệ trực tiếp</div>
                <div class="contact-btn-list">
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#7c0f1d10190f3c0e190a190e520a12">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Đăng ký bán &amp; cho thuê</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="d0a3b1bcb5a390a2b5a6b5a2fea6be">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#6615070a0315261403100314481008">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Mua nhà &amp; thuê nhà</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="691a08050c1a291b0c1f0c1b471f07">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#4033212c25330032253625326e362e">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Bộ phận kinh doanh</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="7407151811073406110211065a021a">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#8fffe7e0e1e8ebfaeee1cffdeaf9eafda1f9e1">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Hợp tác phân phối dự án</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="d1a1b9bebfb6b5a4b0bf91a3b4a7b4a3ffa7bf">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#70040509151e14051e173002150615025e061e">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Tuyển dụng</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="8afefff3efe4eeffe4edcaf8effceff8a4fce4">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#6c05020a032c1e091a091e421a02">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Tin tức, bài viết</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="aac3c4ccc5ead8cfdccfd884dcc4">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#b0d6d5d5d4d2d1d3dbf0c2d5c6d5c29ec6de">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Góp ý về website</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="30565555545251535b7042554655421e465e">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#04777174746b76704476617261762a726a">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Góp ý về dịch vụ</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="c6b5b3b6b6a9b4b286b4a3b0a3b4e8b0a8">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#a9c0c7cfc6e9dbccdfccdb87dfc7">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Hợp tác với TGNP</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="a6cfc8c0c9e6d4c3d0c3d488d0c8">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </section>{% endcomment %}

        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

    </div>

    <!-- Footer content below-->
{% endblock %}

{% block scripts %}

{% endblock %}


