{% extends 'base_common.html' %}

{% load static humanize i18n %}

{% block head %}
  {{ block.super }}
  <link rel="canonical" href="{% url 'contacts' %}"/>

  {#  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>#}
  <link rel="stylesheet" href="{% static 'css/style01.min90ca.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style_0706.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/mobile.min90ca.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/temp90ca.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/flexslider.min.css' %}"/>

{% endblock %}

{% block content %}
  <div id="wrap">
    <!-- Search menu -->
    {% include 'partials/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
      <div class="cta-bottom-inner">
        <div class="phone">
          <a class="cta-hotline" href="tel:0964399436"><span class="font-icon fone-b font-20"> </span>
            <strong>0964399436</strong></a>
        </div>
        <div>
          <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
        </div>
      </div>
    </div>
    <div class="s-menu about-menu">
      <div class="width-1600">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items"><a href="{% url 'about' %}">Giới thiệu TGNP</a>
            </li>
            <li class="s-menu-items">
              <a href="{% url 'specialist_us' %}">Đội ngũ chuyên viên</a>
            </li>


            {% comment %}<li class="s-menu-items">
                            <a href="#">Phòng giao dịch</a>
                        </li>{% endcomment %}


            <li class="s-menu-items">
              <a href="{% url 'recruitment' %}">Tuyển dụng</a>
            </li>
            <li class="s-menu-items active">
              <a href="{% url 'contacts' %}">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- Main Content  -->
    <div class="bg-about policy-heading none-bg-overlay">
      <div class="heading-wrapper">
        <div class="heading-inner">
          <h1>Liên hệ</h1>
        </div>
      </div>
    </div>

    <section class="bg-white">
      <div class="width1140 s-padding-tb">
        <div class="contact-warpper">
          <div class="contact-left">
            <img src="{% static 'images/contact.jpg' %}" alt="liên hệ">
            <p>Công Ty Cổ Phần Bất Động Sản TGNP</p>
            <div class="address">
              <div class="address-content">
                <span class="left">Địa chỉ:</span>
                <a href="https://goo.gl/maps/AAR637GM7hh1JMFf9" target="_blank"><span
                  class="right">Thanh Xuân - Hà Nội</span></a>
              </div>
              <div class="address-content">
                <span class="left">Hotline:</span>
                <span class="right"><a href="tel:0916286256">0916 286 256</a></span>
              </div>
            </div>
          </div>
          <div class="contact-right form-info">
            <form method="post" action="{% url 'post_contact' %}">
              <fieldset>
                {% csrf_token %}
                <div class="form-element per50-left ">
                  <div class="placeholder">Họ</div>
                  <input class="input" type="text" name="lastname" value="" data-fr="string" placeholder="" required/>
                  <span class="error-text"></span>
                </div>
                <div class="form-element per50-right">
                  <div class="placeholder">Tên</div>
                  <input class="input" type="text" name="firstname" value="" data-fr="string" placeholder="" required/>
                  <span class="error-text"></span>
                </div>
                <div class="form-element">
                  <div class="placeholder">Số điện thoại</div>
                  <input class="input" type="text" name="phone" value="" data-fr="phone" placeholder="" required/>
                  <span class="error-text"></span>
                </div>
                <div class="form-element">
                  <div class="placeholder">Email (Không bắt buộc)</div>
                  <input class="input" type="text" name="email" value="" data-fr="email" placeholder=""/>
                  <span class="error-text"></span>
                </div>
                <div class="form-element textarea-height">
                  <div class="placeholder">Lời nhắn</div>
                  <textarea name="description_note" placeholder="" required></textarea>
                </div>
              </fieldset>
              <div class="action">
                <button class="large-btn-red">Gửi thông tin</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="s-bg-subcription">
      <div class="width1140 s-padding-tb">
        <div class="s-subcription-inner">
          <div class="title">Chuyên viên của TGNP sẽ đồng hành hỗ trợ bạn trong suốt quá trình mua, bán, thuê
            & cho thuê nhà đất. Không còn lo lắng khi tìm kiếm và giao dịch nhà đất với đầy các thủ tục phức
            tạp khi đã có chuyên viên tư vấn đáng tin cậy của TGNP bên cạnh!
          </div>
          <div class="btn-contact" style="max-width: 250px">
            <a href="{% url 'specialist' %}" class="s-btn-red" data-action="contact-agent">Gặp chuyên viên
              TGNP</a>
          </div>
        </div>
      </div>
    </section>

    {% comment %}<section class="bg-white">
            <div class="width1140 s-padding-tb">
                <div class="s-heading">Liên hệ trực tiếp</div>
                <div class="contact-btn-list">
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#7c0f1d10190f3c0e190a190e520a12">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Đăng ký bán & cho thuê</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="d0a3b1bcb5a390a2b5a6b5a2fea6be">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#6615070a0315261403100314481008">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Mua nhà & thuê nhà</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="691a08050c1a291b0c1f0c1b471f07">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#4033212c25330032253625326e362e">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Bộ phận kinh doanh</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="7407151811073406110211065a021a">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#8fffe7e0e1e8ebfaeee1cffdeaf9eafda1f9e1">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Hợp tác phân phối dự án</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="d1a1b9bebfb6b5a4b0bf91a3b4a7b4a3ffa7bf">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#70040509151e14051e173002150615025e061e">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Tuyển dụng</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="8afefff3efe4eeffe4edcaf8effceff8a4fce4">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#6c05020a032c1e091a091e421a02">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Tin tức, bài viết</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="aac3c4ccc5ead8cfdccfd884dcc4">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#b0d6d5d5d4d2d1d3dbf0c2d5c6d5c29ec6de">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Góp ý về website</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="30565555545251535b7042554655421e465e">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items"
                       href="cdn-cgi/l/email-protection.html#04777174746b76704476617261762a726a">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Góp ý về dịch vụ</p>
                            <p class="content"><span class="__cf_email__"
                                                     data-cfemail="c6b5b3b6b6a9b4b286b4a3b0a3b4e8b0a8">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                    <a class="contact-btn-items" href="cdn-cgi/l/email-protection.html#a9c0c7cfc6e9dbccdfccdb87dfc7">
                        <div class="contact-btn-icon zmdi zmdi-email"></div>
                        <div class="contact-btn-link">
                            <p class="heading">Hợp tác với TGNP</p>
                            <p class="content"><span class="__cf_email__" data-cfemail="a6cfc8c0c9e6d4c3d0c3d488d0c8">[email&#160;protected]</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </section>{% endcomment %}

    {% include "partials/_detailFeedbackForm.html" %}

  </div>

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script async defer src="{% static 'js/suggest-v2.min90ca.js' %}"></script>
  <script async defer src="{% static 'js/header-v2.min90ca.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min90ca.js' %}"></script>
  <script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}"></script>
  <script async defer src="{% static 'js/login-popup-app.min90ca.js' %}"></script>
  <script defer src="{% static 'js/feedback-modal.min90ca.js' %}"></script>
  <script src="{% static 'js/jquery.flexslider.jfix-0.0.1.min90ca.js' %}"></script>
  <script async defer src="{% static 'js/services.min90ca.js' %}"></script>

  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script defer src="https://www.google.com/recaptcha/apib091.js?render=explicit"></script>
  {% comment %}<script defer id="hs-script-loader" src="https://js.hs-scripts.com/2775524.js"></script>{% endcomment %}
  <script>
      window["_au_api"] = "thue/api.html";
      window['fap_url'] = "{% static 'js/fap.min90ca.js' %}";
      window['fap.server'] = '//analytics.thegioinhaphovietnam.com.vn/fap';
      window['favorite_api'] = 'mapi/index.html';
      window['googleClientId'] = '539423642927.apps.googleusercontent.com';
      window['staticUrl'] = '../s3-cdn.thegioinhaphovietnam.com.vn/p/v2.33.55';
      window['hotline'] = '0916 286 256';

      window['isLoggedIn'] = false;
  </script>
  <script>
      window.hsConversationsSettings = {
          loadImmediately: false // Delay the load of the chat widget
      };
  </script>

  <script>
      (function () {
          var formQueue = [];

          function queuedForm(opt) {
              if (formQueue && !(hbspt && hbspt.forms && hbspt.forms.deps)) {
                  formQueue.push(opt);
              }
          }

          var awaitTimeout = 0;
          var awaitHSForm = function () {
              awaitHSForm.called = true;
              if (formQueue && hbspt && hbspt.forms && hbspt.forms.deps) {
                  formQueue.forEach(function (_opt) {
                      hbspt.forms.create(_opt);
                  });
                  clearTimeout(awaitTimeout);
                  delete formQueue;
              } else {
                  awaitTimeout = setTimeout(awaitHSForm, 500);
              }
          };
          window['hbspt'] = {
              forms: {
                  create: function (opt) {
                      if (!awaitHSForm.called) {
                          awaitHSForm();
                      }
                      queuedForm(opt);
                  }
              }
          };
      })();

  </script>

  <script>
      function createHSForm(opt) {
          function getClientId() {
              try {
                  return ga.getAll()[0].get('clientId');
              } catch (e) {
                  return ""
              }
          }

          var optFS = opt['onFormSubmit'];
          var defaultOpt = Object.create(opt);
          defaultOpt.onFormSubmit = function () {
              var $gaClientId = $('[name=ga_client_id]');
              if ($gaClientId[0]) {
                  $gaClientId.val(getClientId());
              }
              if (typeof optFS === 'function') {
                  optFS.apply(this, arguments)
              }
          };
          return hbspt.forms.create(defaultOpt);
      }

      var dialogManager = (function DialogService() {
          var fact = this;
          fact.bodyClassSpecs = "mdialog-body";
          fact.bodyLoadingClass = "mdialog-loading";
          fact.cachedBodyStyle = null;
          fact.default = {
              zindex: 99999,
              width: 300,
              minHeight: 100,
              background: "rgba(0,0,0,.5)",
              opacity: 0.5
          };
          fact.key = {
              cachedStyle: "cached-style"
          };
          var v0 = 0.05;
          var a = 0.0002;
          fact.show = function (selectorId, options, hideFn, showFn) {
              options = $.extend(true, {
                  outSideClick: true
              }, options || {});
              options.maxWidth = "100%";
              var dialog, oldStyle = document.body.getAttribute("style");
              document.body.setAttribute(fact.key.cachedStyle, oldStyle);
              if (selectorId && typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              dialog.css("opacity", 0);
              dialog.css("overflow-y", "auto");
              dialog.css("overflow-x", "hidden");
              dialog.addClass("opened");
              var bodyClass = (options ? options.body : "") || ".body";
              dialog.find(bodyClass).css(options);
              dialog.find(bodyClass).addClass(fact.bodyClassSpecs)
              dialog[0] ? dialog[0]["$dialogCallback"] = hideFn : null;
              dialog[0] ? dialog[0]["$dialogInitTime"] = +new Date() : null;
              if (options && options.close) {
                  dialog.find(bodyClass + " " + options.close).off().click(function (e) {
                      e.preventDefault();
                      fact.hide(selectorId, hideFn);
                  });
              }
              if (options && options.outSideClick) {
                  dialog.off().click(function () {
                      fact.hide(selectorId, hideFn);
                  });
              }
              dialog.find(bodyClass).click(function (e) {
                  e.stopPropagation();
              });
              //.preventParentScroll();
              fact.animation(dialog, 0, 0, 1, function () {
                  showFn ? showFn() : null;
              });
              fact.loadingEnd(dialog);
              return dialog;
          };
          fact.animation = function (dialog, opa, t, delta, callback) {
              dialog.css("opacity", opa);
              if ((delta > 0 && opa > 1) || (delta < 0 && opa < 0)) {
                  if (callback) {
                      callback();
                  }
                  return;
              }
              setTimeout(function () {
                  opa += delta * (v0 * t + 1 / 2 * a * t * t);
                  fact.animation(dialog, opa, t + 1, delta, callback);
              }, 10);
          };
          fact.hide = function (selectorId, fn) {
              var dialog;
              if (!selectorId) {
                  dialog = $(".mdialog.opened");
              } else if (typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              fact.animation(dialog, 1, 0, -1, function () {
                  dialog.removeClass("opened");
                  fn ? fn(dialog) : null;
              });
          };
          fact.loadingStart = function (selectorId) {
              var dialog;
              if (!selectorId) {
                  dialog = $(".mdialog.opened");
              } else if (typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              dialog.find("." + fact.bodyClassSpecs).addClass(fact.bodyLoadingClass);
          };
          fact.loadingEnd = function (selectorId) {
              var dialog;
              if (!selectorId) {
                  dialog = $(".mdialog.opened");
              } else if (typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              dialog.find("." + fact.bodyClassSpecs + "." + fact.bodyLoadingClass).removeClass(fact.bodyLoadingClass);
          };
          $(window).keydown(function (e) {
              var openedDialog = $(".mdialog.opened");
              if (openedDialog.length && e.keyCode == 27) {
                  var arr = [];
                  arr.length = openedDialog.length;
                  for (var i = 0; i < openedDialog.length; i++) {
                      for (var j = i; j < openedDialog.length; j++) {
                          if (openedDialog[i]["$dialogInitTime"] > openedDialog[j]["$dialogInitTime"]) {
                              arr[j] = openedDialog[i];
                              arr[i] = openedDialog[j];
                          } else {
                              arr[i] = openedDialog[i];
                              arr[j] = openedDialog[j];
                          }
                      }
                  }
                  var lastedOpen = arr[arr.length - 1];
                  if (lastedOpen) {
                      fact.hide($(lastedOpen), lastedOpen ? lastedOpen["$dialogCallback"] : null);
                  }
              }
          });
          fact.initStyles = function () {
              var css = "";
              var style = document.createElement("STYLE");
              var head = document.head || document.getElementsByTagName("head")[0];
              style.type = "text/css";
              if (style.styleSheet) {
                  style.styleSheet.cssText = css;
              } else {
                  style.appendChild(document.createTextNode(this.getCss()));
              }
              head.appendChild(style);
          };
          fact.getCss = function () {
              var options = fact.default;
              var css = "";
              var dialog = {};
              dialog["display"] = "none";
              dialog["position"] = "fixed";
              dialog["top"] = "0";
              dialog["height"] = "100%";
              dialog["left"] = "0";
              dialog["width"] = "100%";
              dialog["z-index"] = options.zindex;
              dialog["background"] = options.background;
              css += fact.assignStyle(".mdialog", dialog);
              css += ".mdialog.opened{display: block;}";
              var body = {};
              body["width"] = options.width + "px";
              body["min-height"] = options.minHeight + "px";
              body["background"] = "#fff";
              body["margin"] = "60px auto 140px auto";
              css += fact.assignStyle(".mdialog .body", body);
              var bodySpecs = {};
              bodySpecs["position"] = "relative"
              css += fact.assignStyle("." + fact.bodyLoadingClass, bodySpecs);
              var loadingFrame = {};
              loadingFrame["content"] = "' '";
              loadingFrame["top"] = 0;
              loadingFrame["left"] = 0;
              loadingFrame["width"] = "100%";
              loadingFrame["height"] = "100%";
              loadingFrame["position"] = "absolute";
              loadingFrame["background"] = "#fff";
              loadingFrame["opacity"] = 0.4;
              loadingFrame["z-index"] = 1;
              css += fact.assignStyle("." + fact.bodyLoadingClass + ":before", loadingFrame);
              var loading = {};
              loading["content"] = "' '";
              loading["border"] = "2px solid #303339";
              loading["border-top"] = "2px solid #fff;";
              loading["border-radius"] = "50%";
              loading["width"] = "30px";
              loading["height"] = "30px";
              loading["position"] = "absolute";
              loading["top"] = "calc(50% - 15px)";
              loading["left"] = "calc(50% - 15px)";
              loading["-webkit-animation"] = "spin 2s linear infinite";
              loading["animation"] = "spin 2s linear infinite";
              loading["z-index"] = 1;
              css += fact.assignStyle("." + fact.bodyLoadingClass + ":after", loading);
              css += "@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }";
              return css;
          };
          fact.assignStyle = function (name, cssobj) {
              var res = name + "{";
              for (var key in cssobj) {
                  var val = cssobj[key];
                  res += key + ":" + val + ";";
              }
              res += "}";
              return res;
          };
          fact.initStyles();
          return fact;
      })();

      if (!window['showDialog']) {
          window['showDialog'] = function (id, closeClass, bodyClass) {
              dialogManager.show("contact-now", {
                  close: closeClass,
                  body: bodyClass
              }, function hideFn() {
              }, function showFn(dialog) {
                  $('#' + id).find("input").first().focus();
                  $(bodyClass).css("max-width", "").css("width", "100%")
                      .find(".popup-contact").scrollTop(0);
              });
          }
      }
  </script>

  <script type="text/javascript">
      var callbackInitMap = function () {
          if (window.vinitMap) {
              window.vinitMap();
          }
          if (window.initMap) {
              initMap.call(this);
          } else {
              setTimeout(callbackInitMap, 500);
          }
      }
  </script>

  <script>
      window.RFeedback = {
          API: "https://thegioinhaphovietnam.com.vn/mapi",
          email: "",
          name: "",
          phone: "",
          ip: "10.244.0.0"
      }
  </script>
  <script>
      /*Footer*/
      let footerContent = $("#footer .info-container li")

      toggleFooterContent()

      footerContent.click(function (e) {
          if (window.matchMedia("(max-width: 640px)").matches) {
              // don't slideUp when click <a>
              if (e.target.tagName === 'A')
                  return

              footerContent.find("ul").slideUp(300)
              footerContent.find(".zmdi").removeClass("zmdi-chevron-up").addClass("zmdi-chevron-down")
              if (!$(this).find("ul").is(":visible")) {
                  $(this).find("ul").slideDown(300)
                  $(this).find(".zmdi").removeClass("zmdi-chevron-down").addClass("zmdi-chevron-up")
              }
          }
      });

      $(window).resize(function () {
          toggleFooterContent()
      })

      /**
       * show/hide footer content depend on max-width
       */
      function toggleFooterContent() {
          if (window.matchMedia("(max-width: 640px)").matches) {
              footerContent.find("ul").hide()
              footerContent.find(".zmdi").removeClass("zmdi-chevron-up").addClass("zmdi-chevron-down")
          } else {
              footerContent.find("ul").show()
          }
      }

      /*Footer - END*/
  </script>

  <script>
      $('.slider-cus').flexslider({
          animation: "slide",
          controlNav: true,
          animationLoop: false,
          slideshow: true,
          itemMargin: 0,
          maxItems: 1,
          touch: true,
          slideshowSpeed: 4000,
          prevText: "<i class='zmdi zmdi-chevron-left'></i>",
          nextText: "<i class='zmdi zmdi-chevron-right'></i>",
      });

      function show3DTour(src) {
          let $wrapper = $(".full-3d-tour")
          $wrapper.find('iframe').attr('src', src)
          $wrapper.show()
      }

      $(".close-3d-tour").click(function (e) {
          $(".full-3d-tour").hide();
          e.stopPropagation()
      });

      //Show demo căn hộ
      $("#demo-apart").click(function () {
          show3DTour("https://my.matterport.com/show/?m=yYDQY6WGVXi")
      })
  </script>

{% endblock %}


