{% extends 'base.html' %}

{% load static humanize i18n get_cadastral %}

{% block head %}
    {{ block.super }}
    <meta http-equiv="Content-Encoding: gzip, deflate" content="public">
    <meta name="facebook-domain-verification" content="3g449o0k74keromcp6ksrzkk4t8fxm"/>
    <link rel="canonical" href="https://thegioinhaphovietnam.com.vn"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    {% comment %}<link rel="preload" href="{% static 'css/homepage.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{% static 'css/homepage.css' %}"></noscript>{% endcomment %}
{% endblock %}

{% block content %}

    <!-- NavBar -->
    {% include 'partials/_navbar.html' %}
    <!-- Banner -->
    {% comment %}{% include 'partials/_banner.html' %}{% endcomment %}

    <div class="banner-app-tgnp" id="tgnp-banner-prompt" style="display: none">
        <div class="banner-app-content">
            <button onclick="AppPrompt.closePrompt()" class="close-banner-app">
                <i class="zmdi zmdi-close"></i>
            </button>
            <a href="{% url 'index' %}" class="cover">
                <img src="{% static 'img/logo.svg' %}" alt="Thế giới Nhà Phố">
            </a>
            <div class="banner-app-info">
                <a href="{% url 'index' %}">Thế giới Nhà Phố</a>
                <p>Mua bán, tìm kiếm Bất động sản thật, nhanh chóng, tin cậy</p>
                <div class="rating-star">
                    <i class="zmdi zmdi-star evaluated"></i>
                    <i class="zmdi zmdi-star evaluated"></i>
                    <i class="zmdi zmdi-star evaluated"></i>
                    <i class="zmdi zmdi-star evaluated"></i>
                    <i class="zmdi zmdi-star-half evaluated"></i>
                </div>
            </div>
        </div>

    </div>

    {% if listings_for_sale %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b><a href="{% url 'listing_search' trans='sell' so='priority' %}"
                          style="padding-bottom:10px; font-size: 20px;">{% comment %}{{ listings_for_sale.count }}{% endcomment %}BẤT
                        ĐỘNG SẢN BÁN MỚI NHẤT</a></b>
                </div>

                <div class="col-12">
                    {% for listing in listings_for_sale %}
                        {% include "listings/_listingCard2.html" %}
                    {% endfor %}
                </div>
                <div><a class="more" href="{% url 'listing_search' trans='sell' so='priority' %}">
                    <span>Xem thêm nhà đất bán<i class="zmdi zmdi-chevron-right"></i></span>
                </a></div>

            </div>
        </section>
    {% endif %}

    {% if listing_by_group_forsale %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b>NHÀ ĐẤT HÀ NỘI BÁN THEO QUẬN:</b>
                </div>
                <div class="col-12">
                    {% for district in listing_by_group_forsale %}
                        <a href="{% url 'listing_search' trans='sell' so='priority' %}?district={{ district.district }}"
                           title="{% get_district district.district %}"> {% get_district district.district %}
                            ({{ district.dcount }})</a> &ensp;
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="container col-12">
        <div class="inner text-center-index block-introduce">
            <h2 class="heading-02">Tìm kiếm cực nhanh - Thông tin chính xác - Hỗ trợ miễn phí</h2>
            <p class="col-8">Thế Giới Nhà Phố (TGNP) với thế mạnh về công nghệ và cung cấp đầy đủ các dịch vụ, cùng với
                đội
                ngũ chuyên viên hiểu biết sâu sắc thị trường từng khu vực, sẽ đồng hành hỗ trợ bạn tìm kiếm bất động sản
                tốt nhất, thông tin chúng tôi cung cấp là hoàn toàn chính xác, giúp bạn tiết kiệm
                đáng kể chi phí, công sức và thời gian.</p>
            <a class="btn-primary btn-large btn-black-outline" target="_blank" href="{% url 'whychoose' %}">Tìm hiểu
                thêm</a>
        </div>
    </section>

    {% if listings_for_rent %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b><a href="{% url 'listing_search' trans='rent' so='priority' %}">BẤT ĐỘNG SẢN CHO THUÊ MỚI NHẤT</a></b>
                </div>

                <div class="col-12">
                    {% for listing in listings_for_rent %}
                        {% include "listings/_listingCard2.html" %}
                    {% endfor %}
                </div>
                <div><a class="more" href="{% url 'listing_search' trans='rent' so='priority' %}">
                    <span>Xem thêm <i class="zmdi zmdi-chevron-right"></i></span>
                </a></div>

            </div>
        </section>
    {% endif %}

    {% if listing_by_group_forrent %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b>NHÀ ĐẤT HÀ NỘI CHO THUÊ THEO ĐỊA BÀN:</b>
                </div>
                <div class="col-12">
                    {% for district in listing_by_group_forrent %}
                        <a href="{% url 'listing_search' trans='rent' so='priority'%}?district={{ district.district }}"
                           title="{% get_district district.district %}"> {% get_district district.district %} ({{ district.dcount }})</a> &ensp;
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="container col-12">
        <div class="inner pd-top-bottom-block quickly-sell">
            <div class="quickly-sell-cover">
                <img src="{% static 'images/background-quick-sell-small@1x.jpg' %}"
                     srcset="{% static 'images/background-quick-sell-small@1x.jpg' %} 600w, {% static 'images/background-quick-sell-small@1x.jpg' %} 1920w"
                     class="lazy" alt="Thế Giới Nhà Phố - Bán nhanh nhất, cho thuê giá tốt nhất!">
            </div>
            <div class="detail-block">
                <div class="content-detail-block">
                    <h2 class="font-tiempos-h2">
                        Bán nhanh nhất,<br>cho thuê giá tốt nhất!
                        <br>
                    </h2>
                    <p class="font-rvharmonia">
                        Gần 90% chủ nhà chốt giao dịch trong vòng 90 ngày sau khi chọn TGNP.
                    </p>
                    <div class="option-group">
                        <a class="btn-primary btn-large btn-black-outline" href="{% url 'sellleaseus' %}">
                            Bán | Cho thuê với Thế giới Nhà Phố
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if listing_advertising %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b><a href="{% url 'listing_search' trans='sell' so='priority' %}?adv=True {{ key }}">TIN RAO BÁN/CHO THUÊ (Chưa xác
                        thực)</a></b>
                </div>

                <div class="col-12">
                    {% for listing in listing_advertising %}
                        {% include "listings/_listingCard2.html" %}
                    {% endfor %}
                </div>
                <div><a class="more" href="{% url 'listing_search' trans='rent' so='priority'%}">
                    <span>Xem thêm tin rao khác <i class="zmdi zmdi-chevron-right"></i></span>
                </a></div>

            </div>
        </section>
    {% endif %}

    {% if listing_by_group_advertising %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b>TIN RAO BĐS THEO QUẬN/HUYỆN:</b>
                </div>
                <div class="col-12">
                    {% for district in listing_by_group_advertising %}
                        <a href="{% url 'listing_search' trans='rent' so='priority' %}?district={{ district.district }}"
                           title="{% get_district district.district %}"> {% get_district district.district %} ({{ district.dcount }})</a> &ensp;
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="container col-12">
        <div class="inner pd-top-bottom-block quickly-sell">
            <div class="quickly-sell-cover">
                <img src="{% static 'images/slide01.jpg' %}"
                     srcset="{% static 'images/slide01.jpg' %} 600w, {% static 'images/slide01.jpg' %} 1920w"
                     class="lazy" alt="Thế Giới Nhà Phố - Nhanh chóng tìm được ngôi nhà ưng ý với giá hợp lý!">
            </div>
            <div class="detail-block">
                <div class="content-detail-block">
                    <h2 class="font-tiempos-h2">Nhanh chóng tìm được ngôi nhà ưng ý với giá hợp lý</h2>
                    <p class="font-rvharmonia">
                        Nhà đất giá tốt được cập nhật liên tục trên TGNP với thông tin và hình ảnh chính xác đến từ
                        chủ nhà.
                        Bạn có thể đăng ký xem nhà, thương lượng giá và nhận tư vấn nhanh chóng ngay trên web và ứng
                        dụng.
                        Dịch vụ TGNP sẽ hỗ trợ bạn mọi thứ phát sinh trong quá trình giao dịch (giấy tờ, pháp lý và vay
                        ngân hàng...)
                    </p>
                    <div class="option-group">
                        <a class="btn-primary btn-large btn-black-outline" href="{% url 'buywithus' %}">
                            Mua với TGNP
                        </a> &nbsp;
                        <a class="btn-primary btn-large btn-black-outline" href="{% url 'rentwithus' %}">Thuê với
                            TGNP</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if listings_project %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b><a href="{% url 'listing_search' trans='project' so='priority'%}?{{ key }}">CÁC DỰ ÁN BĐS TIÊU BIỂU:</a></b>
                </div>

                <div class="col-12">
                    {% for listing in listings_project %}
                        {% include "listings/_listingCard2.html" %}
                    {% endfor %}
                </div>
                <div><a class="more" href="{% url 'listing_search' trans='rent' so='priority'%}">
                    <span>Xem thêm dự án khác <i class="zmdi zmdi-chevron-right"></i></span>
                </a></div>

            </div>
        </section>
    {% endif %}

    {% if listing_by_group_project %}
        <section class="container col-12">
            <div class="inner pd-top-bottom-block block-project-listing">
                <div class="heading-05" style="text-align: center;padding-bottom: 10px;">
                    <b>DỰ ÁN ĐANG GIAO DỊCH THEO ĐỊA BÀN:</b>
                </div>
                <div class="col-12">
                    {% for district in listing_by_group_project %}
                        <a href="{% url 'listing_search' trans='project' so='priority' %}?district={{ district.district }}"
                           title="{% get_district district.district %}"> {% get_district district.district %} ({{ district.dcount }})</a> &ensp;
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="container col-12">
        <div class="inner pd-top-bottom-block quickly-sell">
            <div class="quickly-sell-cover">
                <img src="{% static 'images/slide001.jpg' %}"
                     srcset="{% static 'images/slide001.jpg' %} 600w, {% static 'images/slide001.jpg' %} 1920w"
                     class="lazy" alt="Thế Giới Nhà Phố - Giải pháp toàn diện cho các nhu cầu giao dịch bất động sản">
            </div>
            <div class="detail-block">
                <div class="content-detail-block">
                    <h2 class="font-tiempos-h2">Các giải pháp toàn diện cho các nhu cầu giao dịch bất động sản</h2>
                    <p class="font-rvharmonia" style="color: #007fff">
                        Dù bạn đang có nhu cầu bán / cho thuê căn nhà của mình hoặc đang tìm nhà để mua / thuê, TGNP đều
                        có những dịch vụ môi giới phù hợp với nhu cầu của bạn, cùng hàng loạt các dịch vụ bổ sung đi kèm
                        mang lại trải nghiệm tốt nhất, đạt được kết quả nhanh nhất và chi phí tiết kiệm nhất so với
                        trung bình thị trường.
                    </p>
                    <div class="option-group">
                        <a href="#" class="btn-contact btn-primary btn-large btn-black-outline" style="margin-left: 0px"
                           data-target="contact-agent"><i
                                class="zmdi zmdi-email-open"></i>Liên hệ tư vấn</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

    <div class="cta-bottom-wrapper">
        <div class="cta-bottom-inner">
            <div class="phone">
                <a class="cta-hotline" href="tel:0964399436"><span class="font-icon fone-b font-20"> </span>
                    <strong>0964 399 436</strong></a>
            </div>
            <div class="btn-contact">
                <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js defer crossorigin=anonymous
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            referrerpolicy=no-referrer></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js defer crossorigin=anonymous
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            referrerpolicy=no-referrer></script>
    {% comment %}<script>document.addEventListener("DOMContentLoaded",function(){applyImageLazyLoad(document)})</script>{% endcomment %}

{% endblock %}