{% extends 'base.html' %}

{% load static humanize i18n get_cadastral load_static %}

{% block head_script %}
  {{ block.super }}
    <meta name="facebook-domain-verification" content="3g449o0k74keromcp6ksrzkk4t8fxm" />
    <link rel="stylesheet" type="text/css" href="{% load_static 'css/index-merge.css' %}" />
  <link rel="canonical" href="{% url 'index' %}"/>

{% endblock %}

{% block content %}

  <!-- NavBar -->
  {% include 'partials/_navbar.html' %}
  {% include "partials/_loginModal.html" %}
  <!-- Banner -->
  {% comment %}{% include 'partials/_banner.html' %}{% endcomment %}

  <div class="banner-app-tgnp" id="tgnp-banner-prompt" style="display: none">
    <div class="banner-app-content">
      <button onclick="AppPrompt.closePrompt()" class="close-banner-app">
        <i class="zmdi zmdi-close"></i>
      </button>
      <a href="javascript:void(0)" class="cover">
        <img src="{% static 'img/logo.svg' %}" alt="Thế giới Nhà Phố">
      </a>
      <div class="banner-app-info">
        <a href="javascript:void(0)">Thế giới Nhà Phố</a>
        <p>Mua bán nhà dễ dàng</p>
        <div class="rating-star">
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star-half evaluated"></i>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="btn-install">Mở</a>
  </div>

  <section class="container col-12">
    <div class="inner text-center-index block-introduce">
      <h2 class="heading-02">Hỗ trợ từng bước, chi phí thấp nhất</h2>
      <p class="col-8">Thế Giới Nhà Phố (TGNP) với thế mạnh về công nghệ và cung cấp đầy đủ các dịch vụ, cùng với đội ngũ chuyên
        viên hiểu biết sâu sắc thị trường từng khu vực, sẽ đồng hành hỗ trợ bạn từng bước, giúp bạn tiết kiệm
        đáng kể chi phí, công sức và thời gian.</p>
      <a class="btn-primary btn-large btn-black-outline" target="_blank" href="{% url 'whyChoose' %}">Tìm hiểu thêm</a>
    </div>
  </section>

  {% if listings_for_sale %}
    <section class="container col-12">
      <div class="inner pd-top-bottom-block block-project" style="padding-top: 0">
        <h2 class="heading-03">
          <a href="{% url 'listing_search' %} {{ key }}">BẤT ĐỘNG SẢN BÁN </a>
        </h2>
        <div class="col-12">

          {% for listing in listings_for_sale %}
            {% include "listings/_listingCard2.html" %}
          {% endfor %}

          <input type="hidden" value=""/>
          <a class="more" href="{% url "listing_search" %}?trans_type=sell">Xem thêm nhà đất
            <i class="zmdi zmdi-chevron-right"></i>
          </a>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="container col-12">
    <div class="inner pd-top-bottom-block quickly-sell">
      <div class="quickly-sell-cover">
        <img data-src="{% static 'images/background-quick-sell-small@1x.jpg' %}"
             data-srcset="{% static 'images/background-quick-sell-small@1x.jpg' %} 600w, {% static 'images/background-quick-sell-small@1x.jpg' %} 1920w"
             class="lazy" alt="TGNP">
      </div>
      <div class="detail-block">
        <div class="content-detail-block">
          <h2 class="font-tiempos-h2">
            Bán nhanh nhất,<br>cho thuê giá tốt nhất!
            <br>
          </h2>
          <p class="font-rvharmonia">
            Gần 90% chủ nhà chốt giao dịch trong vòng 90 ngày sau khi chọn TGNP.
          </p>
          <div class="option-group">
            <a class="btn-primary btn-large btn-black-outline" href="{% url 'sell_with_us' %}">
              Bán với Thế giới Nhà Phố
            </a>
            <a class="btn-primary btn-large btn-black-outline" href="{% url 'rent_with_us' %}">
              Cho thuê với Thế giới Nhà Phố
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if listings_for_rent %}
    <section class="container col-12">
      <div class="inner pd-top-bottom-block block-project" style="padding-top: 0">
        <h2 class="heading-03">
          <a href="../listings/search?trans_type=rent&district=Hoàn Kiếm">Cho thuê tại Hoàn Kiếm</a>
        </h2>
        <div class="col-12">

          {% for listing in listings_for_rent %}
            {% include "listings/_listingCard2.html" %}
          {% endfor %}

          <input type="hidden" value=""/>
          <a class="more" href="../listings/search?trans_type=sell&district=Hoàn Kiếm">Xem thêm nhà đất
            <i class="zmdi zmdi-chevron-right"></i>
          </a>
        </div>
      </div>
    </section>
  {% endif %}

  {% include "partials/_detailFeedbackForm.html" %}

{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
          integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
          integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% load_static 'js/main.js' %}"></script>

  <script defer src="{% load_static 'js/favorite.min.js' %} "></script>

  <script>
      /*@shinsenter/defer.js*/
      !function (e, i, t, n, r, o) {
          o = /p/.test(i.readyState);
          var c = 0 <= navigator.userAgent.indexOf('Firefox');

          function f(e, t) {
              o ? n(e, t || 32) : r.push(e, t)
          }

          function a(e, t, n, r) {
              return t && i.getElementById(t) || (r = i.createElement(e || 'SCRIPT'), t && (r.id = t), n && (r.onload = n), i.head.appendChild(r)), r || {}
          }

          e.addEventListener('on' + t in e ? t : 'load', function () {
              for (o = 1; r[0];) f(r.shift(), r.shift())
          }), f._ = a, e.defer = f, e.deferscript = function (e, t, n, r) {
              f(function () {
                  a('', t, r).src = e
              }, n)
          }, e.deferPreload = function (e, t) {
              if (t = t || 'script', c) {
                  var n = i.createElement('object');
                  n.data = e, n.width = 0, n.height = 0, i.body.append(n)
              } else {
                  var r = i.createElement('link');
                  r.setAttribute('rel', 'preload'), r.href = e, r.as = t, i.head.append(r)
              }
          }
      }(this, document, 'pageshow', setTimeout, []), function (s, n) {
          var u = 'IntersectionObserver', d = 'lazied', l = 'data-', h = l + d, p = 'load', m = 'forEach',
              y = 'getAttribute', v = 'setAttribute', b = Function(), g = s.defer || b, f = g._ || b;

          function E(e, t) {
              return [].slice.call((t || n).querySelectorAll(e))
          }

          function e(a) {
              return function (e, t, i, o, c, f) {
                  g(function (n, t) {
                      function r(n) {
                          !1 !== (o || b).call(n, n) && ((f || ['srcset', 'src', 'style'])[m](function (e, t) {
                              (t = n[y](l + e)) && n[v](e, t)
                          }), E('SOURCE', n)[m](r), p in n && n[p]()), n.className += ' ' + (i || d)
                      }

                      t = u in s ? (n = new s[u](function (e) {
                          e[m](function (e, t) {
                              e.isIntersecting && (t = e.target) && (n.unobserve(t), r(t))
                          })
                      }, c)).observe.bind(n) : r, E(e || a + '[' + l + 'src]:not([' + h + '])')[m](function (e) {
                          e[y](h) || (e[v](h, a), t(e))
                      })
                  }, t)
              }
          }

          function t() {
              g(function (t, n, r, i, o) {
                  function c(e, t) {
                      for (i in t = t || !1, e.parentNode.removeChild(e), e.removeAttribute('type'), n = f(e.nodeName), t && (n.async = 1), e) 'string' == typeof (o = e[i]) && n[i] != o && (n[i] = o);
                      return n
                  }

                  t = E((r = '[type=deferjs]') + ':not(' + (i = '[async]') + ')'), E(r + i).forEach(function (e) {
                      c(e, !0)
                  }), t.forEach(function (e) {
                      e.src && s.deferPreload(e.src)
                  }), function e() {
                      0 != t && (r = t.shift(), n = c(r), r.src ? n.onload = n.onerror = e : g(e, .1))
                  }()
              }, 4)
          }

          t(), s.deferstyle = function (t, n, e, r) {
              g(function (e) {
                  (e = f('LINK', n, r)).rel = 'stylesheet', e.href = t
              }, e)
          }, s.deferimg = e('IMG'), s.deferiframe = e('IFRAME'), g.all = t
      }(this, document);
  </script>

  <script>deferscript('https://cdn.jsdelivr.net/npm/@shinsenter/defer.js@1.1.7/dist/polyfill.min.js', 'polyfill-js', 1)</script>
  <script>
      function objValue(obj, is, value) { //Access 1 object bằng key
          if (typeof is == 'string')
              return objValue(obj, is.split('.'), value);
          else if (is.length == 1 && value !== undefined)
              return obj[is[0]] = value;
          else if (is.length == 0)
              return obj;
          else if (typeof obj === "undefined")
              return undefined
          else
              return objValue(obj[is[0]], is.slice(1), value);
      }

      function waitFor(objAcc, callback, timeout) {
          if (typeof callback !== "function") {
              return
          }
          timeout = timeout || 0
          var startTime = new Date().getTime()

          function check() {
              if (typeof objValue(window, objAcc) !== "undefined") {
                  callback()
              } else {
                  if (timeout > 0 && new Date().getTime() - startTime > timeout) { //Vượt quá timeout
                      console.error("wait for " + objAcc + " has timeout!")
                  } else {
                      setTimeout(check, 500)
                  }
              }
          }

          check()
      }

      function applyImageLazyLoad(scope) {
          scope = scope || document
          var lazyImages = [].slice.call(scope.querySelectorAll("img.lazy"));

          if ("IntersectionObserver" in window) {
              let ops = {
                  rootMargin: "450px",
                  threshold: 0.1
              }

              let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
                  entries.forEach(function (entry) {
                      if (entry.isIntersecting) {
                          let lazyImage = entry.target;
                          lazyImage.src = lazyImage.dataset.src;
                          if (!!lazyImage.dataset.srcset) {
                              lazyImage.srcset = lazyImage.dataset.srcset;
                          }
                          lazyImage.classList.remove("lazy");
                          lazyImageObserver.unobserve(lazyImage);
                      }
                  });
              }, ops);

              lazyImages.forEach(function (lazyImage) {
                  lazyImageObserver.observe(lazyImage);
              });

              //Lazy for background
              var lazyBackgrounds = [].slice.call(scope.querySelectorAll(".lazy-background"));
              let lazyBackgroundObserver = new IntersectionObserver(function (entries, observer) {
                  entries.forEach(function (entry) {
                      if (entry.isIntersecting) {
                          entry.target.classList.add("visible");
                          entry.target.classList.remove("lazy-background");
                          lazyBackgroundObserver.unobserve(entry.target);
                      }
                  });
              }, ops);
              lazyBackgrounds.forEach(function (lazyBackground) {
                  lazyBackgroundObserver.observe(lazyBackground);
              });
          } else { //Không support observer
              let lazyImages = [].slice.call(scope.querySelectorAll("img.lazy"));
              let active = false;

              const lazyLoad = function () {
                  if (active === false) {
                      active = true;

                      setTimeout(function () {
                          lazyImages.forEach(function (lazyImage) {
                              if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                                  lazyImage.src = lazyImage.dataset.src;
                                  lazyImage.srcset = lazyImage.dataset.srcset;
                                  lazyImage.classList.remove("lazy");

                                  lazyImages = lazyImages.filter(function (image) {
                                      return image !== lazyImage;
                                  });

                                  if (lazyImages.length === 0) {
                                      document.removeEventListener("scroll", lazyLoad);
                                      window.removeEventListener("resize", lazyLoad);
                                      window.removeEventListener("orientationchange", lazyLoad);
                                  }
                              }
                          });

                          active = false;
                      }, 200);
                  }
              };

              document.addEventListener("scroll", lazyLoad);
              window.addEventListener("resize", lazyLoad);
              window.addEventListener("orientationchange", lazyLoad);
          }
      }

      document.addEventListener("DOMContentLoaded", function () {
          applyImageLazyLoad(document)
      });
  </script>



  <script>
      window.hsConversationsSettings = {
          loadImmediately: false // Delay the load of the chat widget
      };
  </script>
  <script>
      window.RFeedback = {
          API: "https://thegioinhaphovietnam.com.vn/mapi",
          email: "",
          name: "",
          phone: "",
          ip: "10.244.0.0"
      }
  </script>
   <script defer src="{% load_static 'js/login-popup.js' %}"></script>

{% endblock %}