{% extends 'base.html' %}

{% load static humanize i18n load_static %}

{% block head %}
  {{ block.super }}

  <link rel="canonical" href="{% url 'termsOfUse' %}"/>

  <link rel="stylesheet" href="{% static 'css/service.css' %}"/>

{% endblock %}

{% block content %}

  <div id="wraps">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
      <div class="cta-bottom-inner">
        <div class="phone">
          <a class="cta-hotline" href="tel:0971841941"><span class="font-icon fone-b font-20"> </span>
            <strong>0971 841 941</strong></a>
        </div>
        <div>
          <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
        </div>
      </div>
    </div>
    <div id="menu" class="s-menu">
      <div class="width-1600">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items ">
              <a href="{% url 'privacyPolicy' %}">Chính sách bảo mật</a>
            </li>
            <li class="s-menu-items active">
              <a href="{% url 'termsOfUse' %}">Điều khoản sử dụng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content  -->
    <div class="service-heading">
      <div class="heading-wrapper">
        <div class="heading-inner">
          <h1>Chính Sách Bảo Mật</h1>
        </div>
      </div>
    </div>

    <section class="bg-white">
      <div class="width1140 s-padding-tb">
        <p class="s-heading-policy" style="max-width:750px;margin:auto">
          Mục đích và phạm vi thu thập
        </p>
        <p class="s-description pdb-30" style="text-align:left;font-size:14px">
          Việc thu thập dữ liệu chủ yếu trên trang Thegioinhaphovietnam.com.vnbao gồm: họ tên, email, điện thoại, tên
          đăng nhập, mật khẩu đăng nhập. Đây là các thông tin mà Thegioinhaphovietnam.com.vncần người dùng cung cấp khi
          đăng ký sử dụng dịch vụ và TGNP chỉ sử dụng nhằm liên hệ xác nhận khi người dùng đăng ký sử dụng dịch vụ trên
          Thegioinhaphovietnam.com.vn, đảm bảo quyền lợi cho Người dùng.<br><br>
          Các người dùng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng
          ký, mật khẩu và hộp thư điện tử của mình. Ngoài ra, người dùng có trách nhiệm thông báo kịp thời cho
          Thegioinhaphovietnam.com.vn về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký
          và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.
        </p>
        <p class="s-heading-policy" style="max-width:750px;margin:auto">
          Phạm vi sử dụng thông tin
        </p>
        <p class="s-description pdb-30" style="text-align:left;font-size:14px">
          Thegioinhaphovietnam.com.vnsử dụng thông tin người dùng cung cấp để:<br>
          • Cung cấp các dịch vụ đến người dùng.<br>
          • Gửi các thông báo về các hoạt động trao đổi thông tin giữa người dùng và Thegioinhaphovietnam.com.vn<br>
          • Ngăn ngừa các hoạt động phá hủy tài khoản của Người dung hoặc các hoạt động giả mạo .<br>
          • Liên lạc và giải quyết với người dùng trong những trường hợp đặc biệt.<br>
          • Không sử dụng thông tin cá nhân của người dùng ngoài mục đích xác nhận và liên hệ có liên quan đến
          giao dịch tại Thegioinhaphovietnam.com.vn.<br>
          • Thegioinhaphovietnam.com.vncó trách nhiệm hợp tác cung cấp thông tin cá nhân Người dung khi có yêu cầu phù
          hợp từ cơ quan nhà nước có thẩm quyền.
        </p>
        <p class="s-heading-policy" style="max-width:750px;margin:auto">
          Thời gian lưu trữ thông tin
        </p>
        <p class="s-description pdb-30" style="text-align:left;font-size:14px">
          Dữ liệu cá nhân của người dùng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự người dùng đăng
          nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân người dùng sẽ được bảo mật trên máy
          chủ của Thegioinhaphovietnam.com.vn.
        </p>
        <p class="s-heading-policy" style="max-width:750px;margin:auto">
          Địa chỉ của đơn vị thu thập, quản lý thông tin và hỗ trợ Khách hàng
        </p>
        <p class="s-description pdb-30" style="text-align:left;font-size:14px">
          • Công ty Cổ phần BĐS TGNP<br>
          • Trụ sở chính: Thanh Xuân - Hà Nội<br>
          • Hotline: <a href="tel:0916286256">0916 286 256</a>
        </p>
        <p class="s-heading-policy" style="max-width:750px;margin:auto">
          Phương tiện và công cụ để Khách hàng tiếp cận và chỉnh sửa dữ liệu của mình
        </p>
        <p class="s-description pdb-30" style="text-align:left;font-size:14px">
          Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh thông tin cá nhân của mình bằng cách đăng nhập
          vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu TGNP thực hiện việc này.<br><br>
          Khách hàng có quyền gửi khiếu nại về việc lộ thông tin các nhân cho bên thứ ba đến Ban quản trị của
          Thegioinhaphovietnam.com.vn. Khi tiếp nhận những phản hồi này, TGNP sẽ xác nhận lại thông tin, phải có trách
          nhiệm trả lời lý do và hướng dẫn Khách hàng khôi phục và bảo mật lại thông tin.
        </p>
        <p class="s-heading-policy" style="max-width:750px;margin:auto">
          Cam kết bảo mật thông tin cá nhân Khách hàng
        </p>
        <p class="s-description" style="text-align:left;font-size:14px">
          Thông tin cá nhân của Khách hàng trên Thegioinhaphovietnam.com.vnđược Thegioinhaphovietnam.com.vncam kết bảo
          mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Thegioinhaphovietnam.com.vn. Việc thu thập và sử
          dụng thông tin của mỗi Khách hàng chỉ được thực hiện khi có sự đồng ý của Khách hàng đó, trừ những trường hợp
          pháp luật có quy định khác. TGNP cam kết:<br><br>
          • Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ ba nào về thông tin cá nhân của
          Khách hàng khi không có sự cho phép hoặc đồng ý từ Khách hàng, trừ những trường hợp pháp luật có quy định
          khác.<br>
          • Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân
          Khách hàng, TGNP sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông
          báo cho Khách hàng được biết.<br>
          • Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của Khách hàng bao gồm thông tin hóa đơn,
          chứng từ kế toán số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của TGNP.<br>
        </p>
      </div>
    </section>

  </div>

  <section class="background-gray">
    <div class="width1140 s-padding-tb">
      <div class="s-grid s-column-4 s-gutters">
        <div class="s-cell s-btn">
          <a href="{% url 'specialist' %}">Gặp chuyên viên tư vấn</a>
        </div>
        <div class="s-cell s-btn">
          <a href="{% url 'sell_with_us' %}">Đăng bán, cho thuê</a>
        </div>
        <div class="s-cell s-btn">
          <a href="https://forms.gle/LM41QBEMSZvwmSta7">Gia nhập TGNP</a>
        </div>
        <div class="s-cell s-btn">
          <a href="{% url 'contacts' %}">Liên hệ</a>
        </div>
      </div>
    </div>
  </section>


  {% include "partials/_detailFeedbackForm.html" %}

  <div id="service-guide-app">

  </div>


  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

  <script>
      $(function () {
          var header = $('#menu')
          var headerY = header.offset().top
          var headerHeight = header.height()

          function processShowingMenus() {
              var y = $(document).scrollTop()
              if (y > headerY) {
                  header.addClass('fixed')
                  $('body').css('padding-top', headerHeight + 'px')
                  header.css('zIndex', 101)
              } else {
                  header.removeClass('fixed')
                  $('body').css('padding-top', '0px')
                  header.css('zIndex', 10)
              }
          }

          //$(document).scroll(processShowingMenus)
          //processShowingMenus()

          var list = $('.nav-mobileShow');
          var overlay = $("#menu > .bg-overlay");
          var link = $('.nav-mobileTab');
          var timing = 300;
          link.click(function (e) {
              e.preventDefault();
              if (overlay.css('display') !== 'none') {
                  list.slideToggle(timing, function () {
                      $("#menu > .bg-overlay").fadeOut(timing);
                  });
              } else {
                  list.slideToggle(timing);
                  $("#menu > .bg-overlay").fadeIn(timing);
              }
          });
          overlay.click(function () {
              list.slideUp(timing, function () {
                  $("#menu > .bg-overlay").fadeOut(timing);
              });
          })
      });
  </script>

{% endblock %}
