{% extends 'base.html' %}

{% load static humanize i18n load_static %}
{% block title %} {% trans "Tuyển dụng TGNP" %} {% endblock %}
{% block head %}
  {{ block.super }}
  <link rel="canonical" href="{% url 'recruitment' %}"/>
  <link rel="stylesheet" href="{% load_static 'css/careers.css' %}"/>
{% endblock %}

{% block content %}

  <div id="wraps">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    {% include 'menu/_secondMenu2.html' %}

    <!-- Main Content  -->
      <h1 class="title-career">Tuyển dụng</h1>
    <section class="header-career"
             style="background-image: url({% static 'images/background-tuyen-dung.jpg' %});">

      <div class="bg-career width1140">

        <div class="title">Với Thế giới Nhà Phố, công việc là đam mê</div>
        <div class="sumary">Bạn yêu thích môi trường làm việc trẻ trung và đậm tinh thần Startup? Gia nhập TGNP
          và khám phá ngay!
        </div>
        <div class="btn"><a class="btn-career" href="#list-career">Các vị trí đang tuyển</a></div>
      </div>
    </section>
    <section class="bg-career-white width1140">
      <div class="content">
        <div class="title-career">Văn hoá Thế giới Nhà Phố</div>
        <div class="title-career-line">
          <div class="line"></div>
        </div>
        <div class="info">
          <div class="shape bg-shape1">
            <div class="shape"><span class="font-icon customer-icon"></span></div>
            <div class="requirement-detail">
              <ul>
                <li>Chính trực</li>
                <li>TGNP luôn xem sự Chính Trực là nền tảng quan trọng trong kinh doanh. Chúng tôi
                  khuyến khích mọi nhân viên sẵn sàng đưa ra và nhận cam kết, chịu trách nhiệm trước
                  hành động và lời nói của mình.
                </li>
              </ul>
            </div>
          </div>
          <div class="shape bg-shape2">
            <div class="shape"><span class="font-icon honest-icon"></span></div>
            <div class="requirement-detail">
              <ul>
                <li>Khách Hàng Là Trọng Tâm</li>
                <li>Mỗi nhân viên tại TGNP luôn đặt Khách Hàng là ưu tiên số một trong mọi suy nghĩ và
                  hành động nhằm mang đến sự hài lòng cao nhất cho mọi Khách Hàng.
                </li>
              </ul>
            </div>
          </div>
          <div class="shape bg-shape3">
            <div class="shape"><span class="font-icon responsibility-icon"></span></div>
            <div class="requirement-detail">
              <ul>
                <li>Tôn Trọng</li>
                <li>Văn hóa TGNP luôn đề cao sự tôn trọng, tôn trọng với Bản Thân, tôn trọng với Đồng
                  Nghiệp, tôn trọng với Khách Hàng và tôn trọng với Đối Tác.
                </li>
              </ul>
            </div>
          </div>
          <div class="shape bg-shape4">
            <div class="shape-r2"><span class="font-icon kind-icon"></span></div>
            <div class="requirement-detail-r2">
              <ul>
                <li>Công nhận</li>
                <li class="style">TGNP luôn coi trọng người lao động như là tài sản quý giá nhất của
                  công ty. Chúng tôi công nhận và tưởng thưởng mọi nỗ lực của mỗi thành viên trong
                  công ty.
                </li>
              </ul>
            </div>
          </div>
          <div class="shape bg-shape5">
            <div class="shape-r2"><span class="font-icon spirit-icon"></span></div>
            <div class="requirement-detail-r2">
              <ul>
                <li class="title">Đồng Đội</li>
                <li class="style">Mỗi cá nhân tại TGNP luôn đoàn kết, hỗ trợ và giúp đỡ lẫn nhau trong
                  công việc. TGNP đặt lợi ích của tập thể lên trên lợi ích của cá nhân.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-career-white width1140">
      <div class="content pdb-0">
        <div class="title-career">Vì sao chọn TGNP?</div>
        <div class="title-career-line">
          <div class="line"></div>
        </div>
        <div class="info">
          <div class="why-detail">
            <div class="icon"><img src="{% static 'images/TuyenDung_03.gif' %}"></div>
            <div class="info">
              <ul>
                <li class="title">Phúc Lợi Cơ Bản</li>
                <li> Các chế độ, bảo hiểm, nghỉ lễ, ký kết hợp đồng lao động theo quy định hiện hành.
                </li>
              </ul>
            </div>
          </div>
          <div class="why-detail">
            <div class="icon"><img src="{% static 'images/TuyenDung_05.gif' %}"></div>
            <div class="info">
              <ul>
                <li class="title">Trợ Cấp</li>
                <li> Trợ cấp ăn trưa, di chuyển, gửi xe và các trợ cấp khác.</li>
              </ul>
            </div>
          </div>
          <div class="why-detail">
            <div class="icon"><img src="{% static 'images/TuyenDung_07.gif' %}"></div>
            <div class="info">
              <ul>
                <li class="title">Môi Trường Làm Việc</li>
                <li> Lương thưởng cạnh tranh, cơ hội thăng tiến cao, môi trường chuyên nghiệp</li>
              </ul>
            </div>
          </div>
          <div class="why-detail">
            <div class="icon"><img src="{% static 'images/TuyenDung_13.gif' %}"></div>
            <div class="info">
              <ul>
                <li class="title">Cập Nhật Công Nghệ</li>
                <li>Vận hành các công cụ tiên tiến nhất trên thế giới trong lĩnh vực 3D, bán hàng, tiếp
                  thị, v.v
                </li>
              </ul>
            </div>
          </div>
          <div class="why-detail">
            <div class="icon"><img src="{% static 'images/TuyenDung_12.gif' %}"></div>
            <div class="info">
              <ul>
                <li class="title">Đào Tạo</li>
                <li>Cập nhật thông tin và hoàn thiện các kỹ năng với lịch học hàng tuần đa dạng của
                  TGNP.
                </li>
              </ul>
            </div>
          </div>
          <div class="why-detail">
            <div class="icon"><img src="{% static 'images/TuyenDung_14.gif' %}"></div>
            <div class="info">
              <ul>
                <li class="title">Thể Thao</li>
                <li> Tham gia miễn phí các hoạt động thể thao như Cầu lông, bơi lội, v.v</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-career-gray">
      <div class="contentpx width1140">
        <div class="title-career">Chúng tôi là TGNP</div>
        <div class="title-career-line">
          <div class="line"></div>
        </div>
        <div class="career-img">
          <ul>
            <li><a href="javascript:void(0)"><img src="{% static 'images/career1.jpg' %}"></a>
            </li>
            <li><a href="javascript:void(0)"><img
              src=".{% static 'images/career/2.jpg' %}"></a>
            </li>
            <li><a href="javascript:void(0)"><img src="{% static 'images/career6.jpg' %}"></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'images/career7.jpg' %}"></a></li>
          </ul>
        </div>
      </div>
    </section>
    <section id="list-career" class="bg-career-white width1140">
      <div class="content">
        <div class="title-career">Các vị trí Thế Giới Nhà Phố đang chờ bạn hợp tác</div>
        <div class="title-career-line">
          <div class="line"></div>
        </div>


        <!--$("a[href=#]").click(function(e){e.preventDefault()});-->

        <div class="form-career-detail">
          <div class="detail">
            <div class="name">
              <a href="apply?position=sale" target="_blank">
                Chuyên viên kinh doanh bất động sản Đầu Chủ/Đầu Khách
              </a>
            </div>
            <div class="pos">Chính thức/Cộng tác</div>
            <div class="loc"></div>
            <div class="btn-app btn-red-boder">
              <a style="display: block"
                {% comment %}href="apply?position=sale"{% endcomment %}
                {% comment %} href="{% url 'contacts' %}"{% endcomment %}
                 href="https://forms.gle/tjhswtmDUQbb1My88"
                 target="_blank">ỨNG TUYỂN</a>
            </div>
          </div>
          <div class="detail">
            <div class="name">
              <a href="apply?position=sales-director" target="_blank">
                Giám đốc Khu vực
              </a>
            </div>
            <div class="pos">Chính thức</div>
            <div class="loc"></div>
            <div class="btn-app btn-red-boder">
              <a style="display: block"
                {% comment %}href="apply?position=sale"{% endcomment %}
                {% comment %} href="{% url 'contacts' %}"{% endcomment %}
                 href="https://forms.gle/tjhswtmDUQbb1My88"
                 target="_blank">ỨNG
                TUYỂN</a>
            </div>
          </div>
          <div class="detail">
            <div class="name">
              <a href="apply?position=software-engineer" target="_blank">
                Lập trình viên phần mềm & Hỗ trợ kỹ thuật
              </a>
            </div>
            <div class="pos">Tech &amp; Product</div>
            <div class="loc"></div>
            <div class="btn-app btn-red-boder">
              <a style="display: block"
                {% comment %} href="{% url 'contacts' %}"{% endcomment %}
                 href="https://forms.gle/tjhswtmDUQbb1My88"
                 target="_blank">ỨNG
                TUYỂN</a>
            </div>
          </div>
          {% comment %}                    <div class="detail">
                        <div class="name">
                            <a href="apply?position=data-engineer" target="_blank">
                                Data Engineer
                            </a>
                        </div>
                        <div class="pos">Tech &amp; Product</div>
                        <div class="loc"></div>
                        <div class="btn-app btn-red-boder">
                            <a style="display: block" href="apply?position=data-engineer"
                               target="_blank">ỨNG TUYỂN</a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="name">
                            <a href="apply?position=qa-specialist" target="_blank">
                                QA Specialist
                            </a>
                            <button onclick="showDescription('QA Specialist', '1EwZzpzfa9_q3LzUUVJ9UDRiiGYOwCOVu', 'apply?position=qa-specialist')"
                                    class="job-desc">Mô tả công việc
                            </button>
                        </div>
                        <div class="pos">CE</div>
                        <div class="loc"></div>
                        <div class="btn-app btn-red-boder">
                            <a style="display: block" href="apply?position=qa-specialist"
                               target="_blank">ỨNG TUYỂN</a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="name">
                            <a href="apply?position=isa-outbound%2Finbound"
                               target="_blank">
                                ISA Outbound/Inbound
                            </a>
                            <button onclick="showDescription('ISA Outbound/Inbound', '1TkzWWPYr1ZUOj5RtlCTM6ulefdPClGMZ', 'apply?position=isa-outbound%2Finbound')"
                                    class="job-desc">Mô tả công việc
                            </button>
                        </div>
                        <div class="pos">CE</div>
                        <div class="loc"></div>
                        <div class="btn-app btn-red-boder">
                            <a style="display: block"
                               href="apply?position=isa-outbound%2Finbound"
                               target="_blank">ỨNG TUYỂN</a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="name">
                            <a href="apply?position=customer-service-executive"
                               target="_blank">
                                Customer Service Executive
                            </a>
                            <button onclick="showDescription('Customer Service Executive', '1xUwW0mkDXn53FzkKZl-UUSIq1j6O4JHd', 'apply?position=customer-service-executive')"
                                    class="job-desc">Mô tả công việc
                            </button>
                        </div>
                        <div class="pos">CE</div>
                        <div class="loc"></div>
                        <div class="btn-app btn-red-boder">
                            <a style="display: block"
                               href="apply?position=customer-service-executive"
                               target="_blank">ỨNG TUYỂN</a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="name">
                            <a href="apply?position=content-research-analyst"
                               target="_blank">
                                Content Research Analyst
                            </a>
                        </div>
                        <div class="pos">Marketing</div>
                        <div class="loc"></div>
                        <div class="btn-app btn-red-boder">
                            <a style="display: block"
                               href="apply?position=content-research-analyst"
                               target="_blank">ỨNG TUYỂN</a>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="name">
                            <a href="apply?position=digital-marketing-specialist"
                               target="_blank">
                                Digital Marketing Specialist
                            </a>
                            <button onclick="showDescription('Digital Marketing Specialist', '1M8OoIp9LTa7XdWmSTwvnlTmSY1vrrzwm', 'apply?position=digital-marketing-specialist')"
                                    class="job-desc">Mô tả công việc
                            </button>
                        </div>
                        <div class="pos">Marketing</div>
                        <div class="loc"></div>
                        <div class="btn-app btn-red-boder">
                            <a style="display: block"
                               href="apply?position=digital-marketing-specialist"
                               target="_blank">ỨNG TUYỂN</a>
                        </div>
                    </div>{% endcomment %}
        </div>
      </div>
    </section>

    <div id="career-desc-popup" class="popup-fade popup-career">
      <div class="popup-dialog popup-dialog-centered popup-dialog-large">
        <div class="popup-content">
          <button class="popup-close">
            <i class="zmdi zmdi-close"></i>
          </button>
          <div class="popup-header">
            <h3 class="popup-title">Nhân viên kinh doanh bất động sản</h3>
          </div>
          <div class="popup-body">
            <iframe class="desc-file" frameborder="0" scrolling="no" width="100%"></iframe>
          </div>
          <div class="popup-footer">
            <a href="https://forms.gle/LM41QBEMSZvwmSta7" class="cta-apply-now" target="_blank">Ứng tuyển ngay</a>
          </div>
        </div>
      </div>
    </div>

     <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

  </div>


  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

  <script async defer src="{% static 'js/career.js' %}"></script>

{% endblock %}
