{% extends 'base.html' %}

{% load static humanize i18n load_static %}
{% block title %}
    <title>{% trans "Thế Giới Nhà Phố Việt Nam|Tất cả các dịch vụ bất động sản" %}</title>
    <meta name="title" content="{% trans "Thế Giới Nhà Phố Việt Nam|Tất cả các dịch vụ bất động sản" %}"/>
    <meta property="og:title" content="{% trans "Thế Giới Nhà Phố Việt Nam|Tất cả các dịch vụ bất động sản" %}"/>
{% endblock %}
{% block description %}
    <meta name="description" content="Các giải pháp Thế Giới Nhà Phố toàn diện cho các nhu cầu giao dịch bất động sản. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="Các giải pháp Thế Giới Nhà Phố toàn diện cho các nhu cầu giao dịch bất động sản. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="dịch vụ thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="dịch vụ thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/services"/>
  {% endblock %}

{% block content %}

  <div id="wrap">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    {% include 'menu/_secondMenu.html' %}

     <!-- Main content -->
    <div class="s-banner-bg"
         style="background: url({% static 'images/all-service-banner.jpg' %}) 50% 50% / cover no-repeat;">
      <div class="s-banner-bg-inner">
        <div class="s-banner-header-wrapper">
          <h1>Các giải pháp toàn diện cho các nhu cầu giao dịch bất động sản</h1>
          <div class="sumary">Dù bạn đang có nhu cầu bán / cho thuê căn nhà của mình hoặc đang tìm nhà để mua
            / thuê, TGNP đều có những dịch vụ môi giới phù hợp với nhu cầu của bạn, cùng hàng loạt các dịch
            vụ bổ sung đi kèm mang lại trải nghiệm tốt nhất, đạt được kết quả nhanh nhất và chi phí tiết
            kiệm nhất so với trung bình thị trường.
          </div>
          <div class="btn-contact">
            <a class="s-btn-red mgb-0" data-target="contact-agent">Liên hệ tư vấn</a>
          </div>
        </div>
      </div>
    </div>
    <section class="background-gray all-service">
      <div class="container">
        <div class="row">
          <div class="col-left">
            <div class="all-service-cover">
              <a href={% url 'sellleaseus' %} target="_blank">
                <img src="{% static 'images/all-service-sale-tgnp.jpg' %}" alt="TGNP">
              </a>
            </div>
          </div>
          <div class="col-right">
            <h2 class="s-heading">
              <a href="{% url 'sellleaseus' %}" target="_blank">Bán &amp; Cho thuê với TGNP</a>
            </h2>
            <p class="all-service-desc">Bán &amp; Cho thuê nhà đất với các dịch vụ hỗ trợ nhanh chóng và tiện lợi, với chi
              phí tiết kiệm và đội ngũ hỗ trợ mọi lúc, cùng các dịch vụ bổ sung đi kèm trong các gói dịch
              vụ linh hoạt. Đặc biệt, người bán có thể theo dõi sát tiến trình bán nhà bằng “Bảng điều
              khiển cho người bán” độc quyền, chỉ có tại TGNP.</p>
            <p class="all-service-desc">Dịch vụ môi giới của TGNP dành cho chủ nhà cần bán | cho thuê, giúp tiếp
              cận khách hàng tiềm năng qua hệ thống trực tuyến, điểm giao dịch TGNP, các website rao vặt
              lớn và quảng cáo Google, facebook. Người cho bán | thuê sẽ nhận được tư vấn trong toàn bộ quá
              trình bán | cho thuê nhà.</p>
            <ul class="all-service-list">
              <p class="title-list">Dịch vụ đi kèm:</p>
              <li>
                <a href="#" target="_blank">Chụp hình chuyên nghiệp</a>
              </li>
              {% comment %}                            <li>
                                <a href="3d.html" target="_blank">Thực tế ảo (3D)</a>
                            </li>{% endcomment %}
              <li>
                <a href="#" target="_blank">Hoàn tất thủ tục giấy tờ</a>
              </li>
            </ul>
            <a href="{% url 'sellleaseus' %}" class="s-btn-red research" target="_blank">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>

    <section class="background-gray all-service">
      <div class="container">
        <div class="row">
          <div class="col-left">
            <div class="all-service-cover">
              <a href="{% url 'buywithus' %}" target="_blank">
                <img src="{% static 'images/all-service-buy-tgnp.jpg' %}" alt="TGNP">
              </a>
            </div>
          </div>
          <div class="col-right">
            <h2 class="s-heading">
              <a href="{% url 'buywithus' %}" target="_blank">Mua với TGNP</a>
            </h2>
            <p class="all-service-desc">Chuyên viên của TGNP sẽ hướng dẫn và hỗ trợ bạn trong suốt quá
              trình mua nhà. Bạn sẽ được tư vấn các ưu điểm, nhược điểm của căn nhà, thông tin về chủ nhà
              và các giao dịch gần nhất của nhà đất lân cận. Chuyên viên TGNP cũng sẽ đề xuất mức giá hợp
              lý nhất và cùng bạn thuyết phục chủ nhà mức giá mong muốn. Ngoài ra, bạn còn được hỗ trợ
              miễn phí các thủ tục pháp lý và được tư vấn các gói vay mua nhà phù hợp.</p>
            <ul class="all-service-list">
              <p class="title-list">Dịch vụ đi kèm:</p>
              <li>
                <a href="#"
                  target="_blank">Tư vấn thủ tục vay thế chấp</a>
              </li>
            </ul>
            <a href="{% url 'buywithus' %}" class="s-btn-red research" target="_blank">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>
    <section class="all-service">
      <div class="container">
        <div class="row">
          <div class="col-left">
            <div class="all-service-cover">
              <a href="{% url 'rentwithus' %}" class="all-service-cover" target="_blank">
                <img src="{% static 'images/all-service-rent-tgnp.jpg' %}" alt="TGNP">
              </a>
            </div>
          </div>
          <div class="col-right">
            <h2 class="s-heading">
              <a href="{% url 'rentwithus' %}" target="_blank">Thuê với TGNP</a>
            </h2>
            <p class="all-service-desc">Chuyên viên của TGNP sẽ hướng dẫn và hỗ trợ bạn mọi thứ trong suốt
              quá trình tìm thuê nhà. Chia sẻ tất cả thông tin về biến động giá thuê, tình hình giao
              thông, các tiện ích xung quanh và cộng đồng dân cư ở những khu vực bạn quan tâm, đồng thời
              gợi ý những căn giá tốt phù hợp với bạn nhất.</p>
            <a href="{% url 'rentwithus' %}" class="s-btn-red research" target="_blank">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>

    <div class="mdialog" id="contact-now-form" style="background: none">
      <div class="popup-520" style="overflow: visible;">

        <div class="header-w-close">
          <button class="close-popup-btn"><i class="zmdi zmdi-hc-2x zmdi-close"></i></button>
          <h3 class="font-tiempos">Đăng ký bán &amp; cho thuê</h3>
        </div>
        <div class="form-info" id="contact-now-form-body">
        </div>
      </div>
    </div>

    <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>
  </div>

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

{% endblock %}

