{% extends 'base_common.html' %}

{% load static humanize i18n %}

{% block head %}
  {{ block.super }}

  <link rel="canonical" href="{% url 'services' %}"/>

  <link rel="stylesheet" href="{% static 'css/style01.min90ca.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style_0706.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/mobile.min90ca.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/temp90ca.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/flexslider.min.css' %}"/>




{% endblock %}

{% block content %}


  <div id="wrap">
    <!-- Search menu -->
    {% include 'partials/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
      <div class="cta-bottom-inner">
        <div class="phone">
          <a class="cta-hotline" href="tel:0964399436"><span class="font-icon fone-b font-20"> </span>
            <strong>0964399436</strong></a>
        </div>
        <div>
          <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
        </div>
      </div>
    </div>
    <div class="s-menu">
      <div class="width-1600">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items ">
              <a href="{% url 'services' %}">Tất cả dịch vụ</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'whyChoose' %}">Vì sao chọn TGNP?</a>
            </li>
            <li class="s-menu-items active">
              <a href="{% url 'sell_with_us' %}">Bán BĐS với Thế giới Nhà Phố</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'buy_with_us' %}">Mua với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'rent_with_us' %}">Thuê với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'specialist_us' %}">Chuyên viên TGNP</a>
            </li>
            {% comment %}                    <li class="s-menu-items ">
                        <a href="tgnp-photo.html">Chụp hình</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="3d.html">Thực tế ảo</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="thu-tuc-giay-to.html">Hành chính</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="bang-dieu-khien.html">Bảng điều khiển</a>
                    </li>{% endcomment %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content  -->
    <div class="sticky-header">
      <div class="stickyTrigger is-stuck sticky-sMenu">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items active">
              <a href="{% url 'services' %}">Tất cả dịch vụ</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'whyChoose' %}">Vì sao chọn TGNP?</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'sell_with_us' %}">Bán với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'buy_with_us' %}">Mua với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'rent_with_us' %}">Thuê với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'specialist_us' %}">Chuyên viên TGNP</a>
            </li>
            {% comment %}                    <li class="s-menu-items ">
                        <a href="tgnp-photo.html">Chụp hình</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="3d.html">Thực tế ảo</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="thu-tuc-giay-to.html">Hành chính</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="bang-dieu-khien.html">Bảng điều khiển</a>
                    </li>{% endcomment %}
            <li class="s-btn-contact">
              <a href="javascript:void(0)" data-action="request-service">Đăng ký ngay</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="s-banner-bg"
         style="background: url({% static 'images/all-service-banner.jpg' %}) 50% 50% / cover no-repeat;">
      <div class="s-banner-bg-inner">
        <div class="s-banner-header-wrapper">
          <h1>Các giải pháp toàn diện cho các nhu cầu giao dịch bất động sản</h1>
          <div class="sumary">Dù bạn đang có nhu cầu bán / cho thuê căn nhà của mình hoặc đang tìm nhà để mua
            / thuê, TGNP đều có những dịch vụ môi giới phù hợp với nhu cầu của bạn, cùng hàng loạt các dịch
            vụ bổ sung đi kèm mang lại trải nghiệm tốt nhất, đạt được kết quả nhanh nhất và chi phí tiết
            kiệm nhất so với trung bình thị trường.
          </div>
          <div class="btn-contact">
            <a class="s-btn-red mgb-0" data-target="contact-agent">Liên hệ tư vấn</a>
          </div>
        </div>
      </div>
    </div>
    <section class="background-gray all-service">
      <div class="container">
        <div class="row">
          <div class="col-left">
            <div class="all-service-cover">
              <a href=sellwithus target="_blank">
                <img src="{% static 'images/all-service-sale-tgnp.jpg' %}" alt="TGNP">
              </a>
            </div>
          </div>
          <div class="col-right">
            <h2 class="s-heading">
              <a href="{% url 'sell_with_us' %}" target="_blank">Bán với TGNP</a>
            </h2>
            <p class="all-service-desc">Bán nhà đất với các dịch vụ hỗ trợ nhanh chóng và tiện lợi, với chi
              phí tiết kiệm và đội ngũ hỗ trợ mọi lúc, cùng các dịch vụ bổ sung đi kèm trong các gói dịch
              vụ linh hoạt. Đặc biệt, người bán có thể theo dõi sát tiến trình bán nhà bằng “Bảng điều
              khiển cho người bán” độc quyền, chỉ có tại TGNP.</p>
            <ul class="all-service-list">
              <p class="title-list">Dịch vụ đi kèm:</p>
              <li>
                <a href="tgnp-photo.html" target="_blank">Chụp hình chuyên nghiệp</a>
              </li>
              {% comment %}                            <li>
                                <a href="3d.html" target="_blank">Thực tế ảo (3D)</a>
                            </li>{% endcomment %}


              <li>
                <a href="thu-tuc-giay-to.html" target="_blank">Hoàn tất thủ tục giấy tờ</a>
              </li>
            </ul>
            <a href="{% url 'sell_with_us' %}" class="s-btn-red research" target="_blank">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>
    <section class="all-service">
      <div class="container">
        <div class="row">
          <div class="col-left">
            <div class="all-service-cover">
              <a href="{% url 'rent_with_us' %}" target="_blank">
                <img src="{% static 'images/all-service-for-rent-tgnp.jpg' %}"
                     alt="TGNP">
              </a>
            </div>
          </div>
          <div class="col-right">
            <h2 class="s-heading">
              <a href="{% url 'rent_with_us' %}" target="_blank">Cho thuê với TGNP</a>
            </h2>
            <p class="all-service-desc">Dịch vụ môi giới của TGNP dành cho chủ nhà cần cho thuê, giúp tiếp
              cận khách hàng tiềm năng qua hệ thống trực tuyến, điểm giao dịch TGNP, các website rao vặt
              lớn và quảng cáo Google, facebook. Người cho thuê sẽ nhận được tư vấn trong toàn bộ quá
              trình thuê nhà và theo dõi được tiến trình cho thuê bằng “Bảng điều khiển” độc quyền tại
              TGNP.</p>
            <ul class="all-service-list">
              <p class="title-list">Dịch vụ đi kèm:</p>
              <li>
                <a href="tgnp-photo.html" target="_blank">Chụp hình chuyên nghiệp</a>
              </li>
              {% comment %}                            <li>
                                <a href="3d.html" target="_blank">Thực tế ảo (3D)</a>
                            </li>{% endcomment %}


              <li>
                <a href="thu-tuc-giay-to.html" target="_blank">Hoàn tất thủ tục giấy tờ</a>
              </li>
            </ul>
            <a href="{% url 'rent_with_us' %}" target="_blank" class="s-btn-red research">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>
    <section class="background-gray all-service">
      <div class="container">
        <div class="row">
          <div class="col-left">
            <div class="all-service-cover">
              <a href="{% url 'buy_with_us' %}" target="_blank">
                <img src="{% static 'images/all-service-buy-tgnp.jpg' %}" alt="TGNP">
              </a>
            </div>
          </div>
          <div class="col-right">
            <h2 class="s-heading">
              <a href="{% url 'buy_with_us' %}" target="_blank">Mua với TGNP</a>
            </h2>
            <p class="all-service-desc">Chuyên viên của TGNP sẽ hướng dẫn và hỗ trợ bạn trong suốt quá
              trình mua nhà. Bạn sẽ được tư vấn các ưu điểm, nhược điểm của căn nhà, thông tin về chủ nhà
              và các giao dịch gần nhất của nhà đất lân cận. Chuyên viên TGNP cũng sẽ đề xuất mức giá hợp
              lý nhất và cùng bạn thuyết phục chủ nhà mức giá mong muốn. Ngoài ra, bạn còn được hỗ trợ
              miễn phí các thủ tục pháp lý và được tư vấn các gói vay mua nhà phù hợp.</p>
            <ul class="all-service-list">
              <p class="title-list">Dịch vụ đi kèm:</p>
              <li>
                <a
                  href="../blog.thegioinhaphovietnam.com.vn/7-cau-hoi-ban-nhat-dinh-phai-lam-ro-truoc-khi-vay-mua-nha-tu-ngan-hang.html"
                  target="_blank">Tư vấn thủ tục vay thế chấp</a>
              </li>
            </ul>
            <a href="{% url 'buy_with_us' %}" class="s-btn-red research" target="_blank">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>
    <section class="all-service">
      <div class="container">
        <div class="row">
          <div class="col-left">
            <div class="all-service-cover">
              <a href="{% url 'rent_with_us' %}" class="all-service-cover" target="_blank">
                <img src="{% static 'images/all-service-rent-tgnp.jpg' %}" alt="TGNP">
              </a>
            </div>
          </div>
          <div class="col-right">
            <h2 class="s-heading">
              <a href="{% url 'rent_with_us' %}" target="_blank">Thuê với TGNP</a>
            </h2>
            <p class="all-service-desc">Chuyên viên của TGNP sẽ hướng dẫn và hỗ trợ bạn mọi thứ trong suốt
              quá trình tìm thuê nhà. Chia sẻ tất cả thông tin về biến động giá thuê, tình hình giao
              thông, các tiện ích xung quanh và cộng đồng dân cư ở những khu vực bạn quan tâm, đồng thời
              gợi ý những căn giá tốt phù hợp với bạn nhất.</p>
            <a href="{% url 'rent_with_us' %}" class="s-btn-red research" target="_blank">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>

    <div class="mdialog" id="contact-now-form" style="background: none">
      <div class="popup-520" style="overflow: visible;">

        <div class="header-w-close">
          <button class="close-popup-btn"><i class="zmdi zmdi-hc-2x zmdi-close"></i></button>
          <h3 class="font-tiempos">Đăng ký bán & cho thuê</h3>
        </div>
        <div class="form-info" id="contact-now-form-body">
        </div>
      </div>
    </div>

    {% include "partials/_detailFeedbackForm.html" %}

  </div>

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script async defer src="{% static 'js/suggest-v2.min90ca.js' %}"></script>
  <script async defer src="{% static 'js/header-v2.min90ca.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min90ca.js' %}"></script>
  <script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}"></script>
  <script async defer src="{% static 'js/login-popup-app.min90ca.js' %}"></script>
  <script defer src="{% static 'js/feedback-modal.min90ca.js' %}"></script>
  <script src="{% static 'js/jquery.flexslider.jfix-0.0.1.min90ca.js' %}"></script>
  <script async defer src="{% static 'js/services.min90ca.js' %}"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script defer src="https://www.google.com/recaptcha/apib091.js?render=explicit"></script>

  <script>
      window["_au_api"] = "thue/api.html";
      window['fap_url'] = "{% static 'js/fap.min90ca.js' %}";
      window['fap.server'] = '//analytics.thegioinhaphovietnam.com.vn/fap';
      window['favorite_api'] = 'mapi/index.html';
      window['googleClientId'] = '539423642927.apps.googleusercontent.com';
      window['staticUrl'] = '../s3-cdn.thegioinhaphovietnam.com.vn/p/v2.33.55';
      window['hotline'] = '0916 286 256';

      window['isLoggedIn'] = false;
  </script>

  <script>
      window.hsConversationsSettings = {
          loadImmediately: false // Delay the load of the chat widget
      };
  </script>

  <script>
      (function () {
          var formQueue = [];

          function queuedForm(opt) {
              if (formQueue && !(hbspt && hbspt.forms && hbspt.forms.deps)) {
                  formQueue.push(opt);
              }
          }

          var awaitTimeout = 0;
          var awaitHSForm = function () {
              awaitHSForm.called = true;
              if (formQueue && hbspt && hbspt.forms && hbspt.forms.deps) {
                  formQueue.forEach(function (_opt) {
                      hbspt.forms.create(_opt);
                  });
                  clearTimeout(awaitTimeout);
                  delete formQueue;
              } else {
                  awaitTimeout = setTimeout(awaitHSForm, 500);
              }
          };
          window['hbspt'] = {
              forms: {
                  create: function (opt) {
                      if (!awaitHSForm.called) {
                          awaitHSForm();
                      }
                      queuedForm(opt);
                  }
              }
          };
      })();

  </script>

  <script>
      function createHSForm(opt) {
          function getClientId() {
              try {
                  return ga.getAll()[0].get('clientId');
              } catch (e) {
                  return ""
              }
          }

          var optFS = opt['onFormSubmit'];
          var defaultOpt = Object.create(opt);
          defaultOpt.onFormSubmit = function () {
              var $gaClientId = $('[name=ga_client_id]');
              if ($gaClientId[0]) {
                  $gaClientId.val(getClientId());
              }
              if (typeof optFS === 'function') {
                  optFS.apply(this, arguments)
              }
          };
          return hbspt.forms.create(defaultOpt);
      }

      var dialogManager = (function DialogService() {
          var fact = this;
          fact.bodyClassSpecs = "mdialog-body";
          fact.bodyLoadingClass = "mdialog-loading";
          fact.cachedBodyStyle = null;
          fact.default = {
              zindex: 99999,
              width: 300,
              minHeight: 100,
              background: "rgba(0,0,0,.5)",
              opacity: 0.5
          };
          fact.key = {
              cachedStyle: "cached-style"
          };
          var v0 = 0.05;
          var a = 0.0002;
          fact.show = function (selectorId, options, hideFn, showFn) {
              options = $.extend(true, {
                  outSideClick: true
              }, options || {});
              options.maxWidth = "100%";
              var dialog, oldStyle = document.body.getAttribute("style");
              document.body.setAttribute(fact.key.cachedStyle, oldStyle);
              if (selectorId && typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              dialog.css("opacity", 0);
              dialog.css("overflow-y", "auto");
              dialog.css("overflow-x", "hidden");
              dialog.addClass("opened");
              var bodyClass = (options ? options.body : "") || ".body";
              dialog.find(bodyClass).css(options);
              dialog.find(bodyClass).addClass(fact.bodyClassSpecs)
              dialog[0] ? dialog[0]["$dialogCallback"] = hideFn : null;
              dialog[0] ? dialog[0]["$dialogInitTime"] = +new Date() : null;
              if (options && options.close) {
                  dialog.find(bodyClass + " " + options.close).off().click(function (e) {
                      e.preventDefault();
                      fact.hide(selectorId, hideFn);
                  });
              }
              if (options && options.outSideClick) {
                  dialog.off().click(function () {
                      fact.hide(selectorId, hideFn);
                  });
              }
              dialog.find(bodyClass).click(function (e) {
                  e.stopPropagation();
              });
              //.preventParentScroll();
              fact.animation(dialog, 0, 0, 1, function () {
                  showFn ? showFn() : null;
              });
              fact.loadingEnd(dialog);
              return dialog;
          };
          fact.animation = function (dialog, opa, t, delta, callback) {
              dialog.css("opacity", opa);
              if ((delta > 0 && opa > 1) || (delta < 0 && opa < 0)) {
                  if (callback) {
                      callback();
                  }
                  return;
              }
              setTimeout(function () {
                  opa += delta * (v0 * t + 1 / 2 * a * t * t);
                  fact.animation(dialog, opa, t + 1, delta, callback);
              }, 10);
          };
          fact.hide = function (selectorId, fn) {
              var dialog;
              if (!selectorId) {
                  dialog = $(".mdialog.opened");
              } else if (typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              fact.animation(dialog, 1, 0, -1, function () {
                  dialog.removeClass("opened");
                  fn ? fn(dialog) : null;
              });
          };
          fact.loadingStart = function (selectorId) {
              var dialog;
              if (!selectorId) {
                  dialog = $(".mdialog.opened");
              } else if (typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              dialog.find("." + fact.bodyClassSpecs).addClass(fact.bodyLoadingClass);
          };
          fact.loadingEnd = function (selectorId) {
              var dialog;
              if (!selectorId) {
                  dialog = $(".mdialog.opened");
              } else if (typeof selectorId === 'string') {
                  dialog = $(document.getElementById(selectorId));
              } else {
                  dialog = selectorId;
              }
              dialog.find("." + fact.bodyClassSpecs + "." + fact.bodyLoadingClass).removeClass(fact.bodyLoadingClass);
          };
          $(window).keydown(function (e) {
              var openedDialog = $(".mdialog.opened");
              if (openedDialog.length && e.keyCode == 27) {
                  var arr = [];
                  arr.length = openedDialog.length;
                  for (var i = 0; i < openedDialog.length; i++) {
                      for (var j = i; j < openedDialog.length; j++) {
                          if (openedDialog[i]["$dialogInitTime"] > openedDialog[j]["$dialogInitTime"]) {
                              arr[j] = openedDialog[i];
                              arr[i] = openedDialog[j];
                          } else {
                              arr[i] = openedDialog[i];
                              arr[j] = openedDialog[j];
                          }
                      }
                  }
                  var lastedOpen = arr[arr.length - 1];
                  if (lastedOpen) {
                      fact.hide($(lastedOpen), lastedOpen ? lastedOpen["$dialogCallback"] : null);
                  }
              }
          });
          fact.initStyles = function () {
              var css = "";
              var style = document.createElement("STYLE");
              var head = document.head || document.getElementsByTagName("head")[0];
              style.type = "text/css";
              if (style.styleSheet) {
                  style.styleSheet.cssText = css;
              } else {
                  style.appendChild(document.createTextNode(this.getCss()));
              }
              head.appendChild(style);
          };
          fact.getCss = function () {
              var options = fact.default;
              var css = "";
              var dialog = {};
              dialog["display"] = "none";
              dialog["position"] = "fixed";
              dialog["top"] = "0";
              dialog["height"] = "100%";
              dialog["left"] = "0";
              dialog["width"] = "100%";
              dialog["z-index"] = options.zindex;
              dialog["background"] = options.background;
              css += fact.assignStyle(".mdialog", dialog);
              css += ".mdialog.opened{display: block;}";
              var body = {};
              body["width"] = options.width + "px";
              body["min-height"] = options.minHeight + "px";
              body["background"] = "#fff";
              body["margin"] = "60px auto 140px auto";
              css += fact.assignStyle(".mdialog .body", body);
              var bodySpecs = {};
              bodySpecs["position"] = "relative"
              css += fact.assignStyle("." + fact.bodyLoadingClass, bodySpecs);
              var loadingFrame = {};
              loadingFrame["content"] = "' '";
              loadingFrame["top"] = 0;
              loadingFrame["left"] = 0;
              loadingFrame["width"] = "100%";
              loadingFrame["height"] = "100%";
              loadingFrame["position"] = "absolute";
              loadingFrame["background"] = "#fff";
              loadingFrame["opacity"] = 0.4;
              loadingFrame["z-index"] = 1;
              css += fact.assignStyle("." + fact.bodyLoadingClass + ":before", loadingFrame);
              var loading = {};
              loading["content"] = "' '";
              loading["border"] = "2px solid #303339";
              loading["border-top"] = "2px solid #fff;";
              loading["border-radius"] = "50%";
              loading["width"] = "30px";
              loading["height"] = "30px";
              loading["position"] = "absolute";
              loading["top"] = "calc(50% - 15px)";
              loading["left"] = "calc(50% - 15px)";
              loading["-webkit-animation"] = "spin 2s linear infinite";
              loading["animation"] = "spin 2s linear infinite";
              loading["z-index"] = 1;
              css += fact.assignStyle("." + fact.bodyLoadingClass + ":after", loading);
              css += "@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }";
              return css;
          };
          fact.assignStyle = function (name, cssobj) {
              var res = name + "{";
              for (var key in cssobj) {
                  var val = cssobj[key];
                  res += key + ":" + val + ";";
              }
              res += "}";
              return res;
          };
          fact.initStyles();
          return fact;
      })();

      if (!window['showDialog']) {
          window['showDialog'] = function (id, closeClass, bodyClass) {
              dialogManager.show("contact-now", {
                  close: closeClass,
                  body: bodyClass
              }, function hideFn() {
              }, function showFn(dialog) {
                  $('#' + id).find("input").first().focus();
                  $(bodyClass).css("max-width", "").css("width", "100%")
                      .find(".popup-contact").scrollTop(0);
              });
          }
      }
  </script>

  <script type="text/javascript">
      var callbackInitMap = function () {
          if (window.vinitMap) {
              window.vinitMap();
          }
          if (window.initMap) {
              initMap.call(this);
          } else {
              setTimeout(callbackInitMap, 500);
          }
      }
  </script>

  <script>
      window.RFeedback = {
          API: "https://thegioinhaphovietnam.com.vn/mapi",
          email: "",
          name: "",
          phone: "",
          ip: "10.244.0.0"
      }
  </script>
  <script>
      /*Footer*/
      let footerContent = $("#footer .info-container li")

      toggleFooterContent()

      footerContent.click(function (e) {
          if (window.matchMedia("(max-width: 640px)").matches) {
              // don't slideUp when click <a>
              if (e.target.tagName === 'A')
                  return

              footerContent.find("ul").slideUp(300)
              footerContent.find(".zmdi").removeClass("zmdi-chevron-up").addClass("zmdi-chevron-down")
              if (!$(this).find("ul").is(":visible")) {
                  $(this).find("ul").slideDown(300)
                  $(this).find(".zmdi").removeClass("zmdi-chevron-down").addClass("zmdi-chevron-up")
              }
          }
      });

      $(window).resize(function () {
          toggleFooterContent()
      })

      /**
       * show/hide footer content depend on max-width
       */
      function toggleFooterContent() {
          if (window.matchMedia("(max-width: 640px)").matches) {
              footerContent.find("ul").hide()
              footerContent.find(".zmdi").removeClass("zmdi-chevron-up").addClass("zmdi-chevron-down")
          } else {
              footerContent.find("ul").show()
          }
      }

      /*Footer - END*/
  </script>

  <script>
      $('.slider-cus').flexslider({
          animation: "slide",
          controlNav: true,
          animationLoop: false,
          slideshow: true,
          itemMargin: 0,
          maxItems: 1,
          touch: true,
          slideshowSpeed: 4000,
          prevText: "<i class='zmdi zmdi-chevron-left'></i>",
          nextText: "<i class='zmdi zmdi-chevron-right'></i>",
      });

      function show3DTour(src) {
          let $wrapper = $(".full-3d-tour")
          $wrapper.find('iframe').attr('src', src)
          $wrapper.show()
      }

      $(".close-3d-tour").click(function (e) {
          $(".full-3d-tour").hide();
          e.stopPropagation()
      });

      //Show demo căn hộ
      $("#demo-apart").click(function () {
          show3DTour("https://my.matterport.com/show/?m=yYDQY6WGVXi")
      })
  </script>

{% endblock %}

