{% extends 'base.html' %}

{% load static load_static humanize i18n %}

{% block head %}
{{ block.super }}
    <link rel="canonical" href="{% url 'specialist_us' %}"/>
    <link rel="stylesheet" href="{% static 'css/browse-agent.css' %}"/>

{% endblock %}

{% block content %}

    <div id="wraps">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu.html' %}

        <!-- Main Content  -->
        <div id="agent-intro-app">
            <div class="banner-agents-top">
                <div class="banner-agents-inner">
                    <div class="banner-agents-contain">
                        <h1 class="font-tiempos">Trải nghiệm hoàn hảo cùng với chuyên viên TGNP</h1>
                        <p>Chúng tôi hiểu rõ những lo lắng của bạn khi giao dịch bất động sản. Hãy để chuyên viên TGNP
                            đồng hành cùng bạn để mang đến nụ cười và sự an tâm đến cho bạn.</p>
                        <a href="{% url 'specialist' %}">
                            <button class="btn-primary-agent btn-red">Gặp chuyên viên</button>
                        </a>
                    </div>
                </div>
            </div>
            <section class="introduce">
                <div class="agents-container col-12">
                    <div class="agents-inner">
                        <ul>
                            <li>
                                <img src="{% static 'images/ring.png' %}">
                                <h4>Hỗ trợ đầy đủ</h4>
                                <p>Mỗi chuyên viên TGNP luôn được hỗ trợ bởi 1 đội nhóm phía sau, do đó chúng tôi đảm
                                    bảo sẽ đáp ứng toàn bộ yêu cầu của bạn.</p>
                            </li>
                            <li>
                                <img src="{% static 'images/messenger.png' %}">
                                <h4>Đàm phán như ý</h4>
                                <p>Mỗi chuyên viên của từng khu vực luôn trang bị các thông tin và kiến thức về khu vực
                                    đó để giúp bạn thương lượng được một giao dịch tốt nhất có thể.</p>
                            </li>
                            <li>
                                <img src="{% static 'images/person.png' %}">
                                <h4>Hiệu quả, tin cậy</h4>
                                <p>Có hơn 90% khách hàng của TGNP bán được nhà trong vòng 90 ngày, đó là bởi vì họ đã
                                    chọn đúng chuyên viên - những người am hiểu tường tận khu vực của bạn.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="agents-container col-12">
                <div class="agents-inner">
                    <div class="divide-bar"></div>
                </div>
            </div>
            <section class="find-expert">
                <div class="agents-container col-12">
                    <div class="">
                        <h2 class="font-tiempos">Tìm kiếm nhanh chuyên viên TGNP</h2>
                        <div class="expert-rv">
                            <img src="{% static 'images/isa-team-v2.png' %}">
                            <p>Chúng tôi luôn sẵn sàng 24/7</p>
                        </div>
                        <div class="find-expert-form-search">
                            <agent-home-search-box :auto-focus="false"></agent-home-search-box>
                        </div>
                    </div>
                </div>
            </section>
            <section class="training">
                <div class="agents-container col-12">
                    <div class="agents-inner">
                        <div class="visible-pc">
                            <div class="col-left">
                                <img src="{% static 'images/help-desk-staff.png' %}"
                                     alt="Professional training">
                            </div>
                            <div class="col-right">
                                <h2 class="font-tiempos">Được đào tạo chuyên nghiệp</h2>
                                <p>Bất kể là môi giới mới tham gia vào ngành BĐS hay là những môi giới đã có kinh
                                    nghiệm, khi bắt đầu gia nhập TGNP họ đều phải trải qua các bài kiểm tra cũng như
                                    được đào tạo, huấn luyện đạt chuẩn.<br><br>
                                    Chuyên viên TGNP luôn hiểu rõ và cùng có chung quan điểm rằng hiệu quả công việc và
                                    giá trị mang lại, là từ chính những lợi ích mà chúng tôi mang lại cho khách hàng của
                                    mình.</p>
                            </div>
                        </div>
                        <div class="visible-sm">
                            <div class="col-right">
                                <h2 class="font-tiempos">Được đào tạo chuyên nghiệp</h2>
                                <p>Bất kể là môi giới mới tham gia vào ngành BĐS hay là những môi giới đã có kinh
                                    nghiệm, khi bắt đầu gia nhập TGNP họ đều phải trải qua các bài kiểm tra cũng như
                                    được đào tạo, huấn luyện đạt chuẩn.<br><br>
                                    Chuyên viên TGNP luôn hiểu rõ và cùng có chung quan điểm rằng hiệu quả công việc và
                                    giá trị mang lại, là từ chính những lợi ích mà chúng tôi mang lại cho khách hàng của
                                    mình.</p>
                            </div>
                            <div class="col-left">
                                <img src="{% static 'images/help-desk-staff.png' %}"
                                     alt="Professional training">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="customers">
                <div class="agents-container col-12">
                    <div class="agents-inner">
                        <div class="col-left">
                            <h2 class="font-tiempos">Đứng về phía khách hàng</h2>
                            <p>Mỗi chuyên viên TGNP sẽ là người đại diện cho khách hàng trong các giao dịch mua/bán,
                                thuê/cho thuê. Chúng tôi sẽ giúp bạn tìm được căn nhà ưng ý với mức giá phù hợp
                                nhất.<br><br>
                                Để giúp bạn dễ dàng hơn trong việc lựa chọn chuyên viên phù hợp với mình, chúng tôi luôn
                                cập nhật các kinh nghiệm cũng như phản hồi mà mỗi chuyên viên nhận được để bạn có cơ sở
                                lựa chọn họ.</p>
                        </div>
                        <div class="col-right">
                            <img src="{% static 'images/customers-is-the-best.png' %}"
                                 alt="Customers is the best">
                        </div>
                    </div>
                </div>
            </section>
            <section class="always-sp-you">
                <div class="agents-container col-12">
                    <div class="agents-inner">
                        <h2 class="font-tiempos">Chúng tôi luôn hỗ trợ bạn</h2>
                        <p class="intro">Tất cả các chuyên viên của TGNP luôn nhận được sự hỗ trợ từ các chủ đầu tư
                            hoặc chủ nhà để luôn sẵn sàng đưa bạn đến tham quan nhà, trả lời bất cứ câu hỏi nào từ phía
                            bạn và hỗ trợ mọi vấn đề khác. Quyết định là ở bạn, không có sự gấp rút hay áp lực nào từ
                            phía chúng tôi hay chủ nhà.</p>
                        <div class="function">
                            <ul>
                                <li>
                                    <img src="{% static 'images/press-the-phone.png' %}"
                                         alt="Enthusiastic support">
                                    <h3>Hỗ trợ nhiệt tình</h3>
                                    <p>Các chuyên viên luôn chu đáo trong việc hỗ trợ bạn lên lịch xem nhà cũng như chọn
                                        các địa điểm thuận tiện đi lại nhất cho bạn.</p>
                                </li>
                                <li>
                                    <img src="{% static 'images/meet-customers.png' %}"
                                         alt="Accompany you">
                                    <h3>Đồng hành cùng bạn</h3>
                                    <p>Mỗi chuyên viên TGNP như là một "thư ký riêng" trong bất cứ vấn đề nào liên quan
                                        đến quá trình tìm kiếm và giao dịch BĐS của bạn.</p>
                                </li>
                                <li>
                                    <img src="{% static 'images/work-together.png' %}"
                                         alt="Work professionally">
                                    <h3>Làm việc chuyên nghiệp</h3>
                                    <p>Trong bất cứ giao dịch nào giữa người bán/cho thuê và bạn, chuyên viên TGNP luôn
                                        kiểm tra kỹ lưỡng mọi thông tin và hỗ trợ bạn thương lượng được một giao dịch
                                        tốt nhất.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="cus-say-what">
                <div class="dot"></div>
                <div class="agents-container col-12">
                    <div class="agents-inner">
                        <div class="oh-yeah">
                            <h2 class="font-tiempos">Khánh hàng nói gì</h2>
                            <div class="owl-carousel owl-theme" data-slider-id="1">
                                <div class="item">
                                    <p>Cuối cùng thì tôi đã sở hữu được căn hộ tuyệt đẹp tại Quận Hoàn Kiếm với giá quá tốt sau
                                        thời gian dài chuẩn bị và tìm hiểu thông tin. Nếu biết TGNP ngay từ đầu thì tôi
                                        đã tiết kiệm được bao nhiêu thời gian. Thật không ngờ làm việc với TGNP lại
                                        hiệu quả như vậy. Các bạn chuyên viên quá tận tâm và chuyên nghiệp. </p>
                                    <img src="{% static 'images/double-quotes.png' %}">
                                </div>
                                <div class="item">
                                    <p>Thật không ngờ làm việc với TGNP lại hiệu quả như vậy. Các bạn chuyên viên quá
                                        tận tâm và chuyên nghiệp. Cuối cùng thì tôi đã sở hữu được căn hộ tuyệt đẹp tại
                                        Quận Hoàn Kiếm với giá quá tốt sau thời gian dài chuẩn bị và tìm hiểu thông tin. Nếu
                                        biết TGNP ngay từ đầu thì tôi đã tiết kiệm được bao nhiêu thời gian.</p>
                                    <img src="{% static 'images/double-quotes.png' %}">
                                </div>
                                <div class="item">
                                    <p>Nếu biết TGNP ngay từ đầu thì tôi đã tiết kiệm được bao nhiêu thời gian. Thật
                                        không ngờ làm việc với TGNP lại hiệu quả như vậy. Các bạn chuyên viên quá tận
                                        tâm và chuyên nghiệp. Cuối cùng thì tôi đã sở hữu được căn hộ tuyệt đẹp tại Quận
                                        Hoàn Kiếm với giá quá tốt sau thời gian dài chuẩn bị và tìm hiểu thông tin. </p>
                                    <img src="{% static 'images/double-quotes.png' %}">
                                </div>
                            </div>
                            <div class="owl-thumbs" data-slider-id="1">
                                <button class="owl-thumb-item">
                                    <img src="{% static 'images/dinhtam.jpg' %}">
                                    <div class="name-job">
                                        <h4>Hoàng Quốc Huy</h4>
                                        <p>Giám đốc tuyển dụng, <br>Công ty Tiến Phát.</p>
                                    </div>
                                </button>
                                <button class="owl-thumb-item active">
                                    <img src="{% static 'images/user.jpg' %}">
                                    <div class="name-job">
                                        <h4>An Vy Cute</h4>
                                        <p>Giám đốc tuyển dụng, <br>Công ty Tiến Phát.</p>
                                    </div>
                                </button>
                                <button class="owl-thumb-item">
                                    <img src="{% static 'images/diemnhi.jpg' %}">
                                    <div class="name-job">
                                        <h4>Diễm Nhi</h4>
                                        <p>Giám đốc tuyển dụng, <br>Công ty Tiến Phát.</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-agent">
                <div class="agents-container">
                    <p>Sau khi làm việc với chuyên viên TGNP, khách hàng luôn cảm thấy an tâm và tin tưởng bởi sự
                        chuyên nghiệp, tận tâm và sự thấu hiểu về sản phẩm và thị trường bất động sản.</p>
                    <a href="{% url 'specialist' %}">
                        <button class="btn-primary-agent btn-red">Gặp chuyên viên</button>
                    </a>
                </div>
                <div class="overlay-contact"></div>
            </section>

        </div>

        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>
    </div>


    <!-- Footer content below-->
{% endblock %}

{% block scripts %}

    {% comment %}  <script>
      window.AGENT_PREFIX = "[Cần gặp chuyên viên tư vấn]\n";
      window.RHome = {
          searchUrl: "../listings/search?specialist=",
          loadMoreAgentUrl: "../listings/search?specialist=loadMoreHomeAgent",
          totalAgent: 291,
          numAgentShow: 24, //Số lượng hiển thị trước tại trang chủ
          numAgentLoadMore: 24, //Số lượng load thêm agent
      }

      window.initAgentHome();
  </script>{% endcomment %}

{% endblock %}



