{% extends 'base.html' %}

{% load static load_static listing humanize i18n %}
{% block title %}
    <title>{% trans "Danh sách Chuyên viên Thế Giới Nhà Phố" %} </title>
    <meta name="title" content="{% trans "Danh sách Chuyên viên Thế Giới Nhà Phố" %} "/>
    <meta property="og:title" content="{% trans "Danh sách Chuyên viên Thế Giới Nhà Phố" %} "/>
{% endblock %}
{% block description %}
    <meta name="description" content="Chuyên viên của TGNP mang đến sự khác biệt so với thị trường chung, đó là sự tin cậy, tận
                            tâm, được đào tạo kỹ càng, và am hiểu thị trường. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="Chuyên viên của TGNP mang đến sự khác biệt so với thị trường chung, đó là sự tin cậy, tận
                            tâm, được đào tạo kỹ càng, và am hiểu thị trường. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="chuyên viên thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="chuyên viên thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/specialist"/>
    <link rel="stylesheet" href="{% static 'css/browse-agent.css' %}"/>
{% endblock %}

{% block content %}

    <div id="wrap">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu.html' %}

        <!-- Main Content  -->
        <div class="agent-home-app">
            <div class="banner-agents-top">
                <div class="banner-agents-inner">
                    <div class="banner-agents-contain">
                        <h1 class="font-tiempos">Chuyên viên môi giới bất động sản</h1>
                        <p>Chuyên viên của TGNP mang đến sự khác biệt so với thị trường chung, đó là sự tin cậy, tận
                            tâm, được đào tạo kỹ càng, và am hiểu thị trường.</p>
                        <div class="banner-agents-form-search">
                            <agent-home-search-box :auto-focus="false"/>
                        </div>
                    </div>
                </div>
            </div>

            <section class="block-agents">
                        <div class="top-search" id="topSearchFormRealtor" style="text-align: center">
                        <form action="{% url 'realtor_search' %}">
                            <div tabindex="1" class="search-type top-menu">
                                    <h5>Tìm chuyên gia tư vấn BĐS</h5>
                            </div>
                            <i class="zmdi zmdi-search"></i>
                            <input style="width: 300px" placeholder="Nhập tên, SĐT chuyên viên cần tìm" type="search" autocomplete="disabled"
                                   v-model="query" v-on:input="handleQueryChange"
                                   v-bind:class="{ inputInProgress: isLoading, }"
                                   v-on:focus="handleFocus"
                                   spellcheck="false" dir="auto" name="keys">
                        </form>
                    </div>
            <br/>
                <div class="agents-container col-12">

                    <div class="agents-inner">

                        <div class="col-12 agents__grid">
                            {% for realtor in specialists %}
                                {% include "home/_specialist_card.html" %}
                            {% endfor %}
                            <component v-for="html in moreAgentHTML" :is="html"></component>
                        {% if specialists %}
                <div class="pagination">
                    <span class="step-links">
                        {% if specialists.has_previous %}
                            <a href="?page={{ specialists.previous_page_number }}">Trước </a> &nbsp;
                        {% endif %}
                    </span>

                    <span class="current">
                        (trang {{ specialists.number }} / {{ specialists.paginator.num_pages }})
                    </span>

                    <span>
                        {% if specialists.has_next %}
                            <a href="?page={{ specialists.next_page_number }}">
                            &nbsp;Tiếp</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                        </div>
                        <span class="view-more-agent">  <div v-show="loadingMoreAgent" v-cloak
                                                             class="loading-gif"></div> </span>

                    </div>
                </div>

            </section>
            <section class="agents-contact">
                <div class="agents-container col-12">
                    <div class="agents-contact-content">
                        <h2>Gặp ngay chuyên viên tư vấn</h2>
                        <p class="pb-20">Chuyên viên TGNP luôn sẵn sàn lắng nghe và hỗ trợ bạn mọi lúc</p>
                        <div class="btn-contact">
                            <a class="agent-contact-modal btn-primary-agent btn-red s-btn-red mgb-0"
                               data-target="contact-agent">Liên hệ tư vấn</a>
                        </div>
                    </div>
                </div>
            </section>

            <dialogs-wrapper wrapper-name="default"/>
        </div>

        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>
    </div>

    <!-- Footer content below-->
{% endblock %}

{% block scripts %}
    {% comment %}  <script>
      window.AGENT_PREFIX = "[Cần gặp chuyên viên tư vấn]\n";
      window.RHome = {
          searchUrl: "../listings/search?specialist=",
          loadMoreAgentUrl: "../listings/search?specialist=loadMoreHomeAgent",
          totalAgent: 291,
          numAgentShow: 24, //Số lượng hiển thị trước tại trang chủ
          numAgentLoadMore: 24, //Số lượng load thêm agent
      }

      window.initAgentHome();
  </script>{% endcomment %}

{% endblock %}



