{% extends 'base.html' %}

{% load static humanize i18n %}

{% block head %}
  {{ block.super }}
  <link rel="canonical" href="{% url 'specialist' %}"/>

  <link rel="stylesheet" href="{% static 'css/browse-agent.css' %}"/>

{% endblock %}

{% block content %}

  <div id="wrap">
    <!-- Search menu -->
    {% include 'partials/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
      <div class="cta-bottom-inner">
        <div class="phone">
          <a class="cta-hotline" href="tel:0971841941"><span class="font-icon fone-b font-20"> </span>
            <strong>0971 841 941</strong></a>
        </div>
        <div>
          <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
        </div>
      </div>
    </div>
    <div class="s-menu">
      <div class="width-1600">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items ">
              <a href="{% url 'services' %}">Tất cả dịch vụ</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'whyChoose' %}">Vì sao chọn TGNP?</a>
            </li>
            <li class="s-menu-items active">
              <a href="{% url 'sell_with_us' %}">Bán BĐS với Thế giới Nhà Phố</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'buy_with_us' %}">Mua với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'rent_with_us' %}">Thuê với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'specialist_us' %}">Chuyên viên TGNP</a>
            </li>
            {% comment %}                    <li class="s-menu-items ">
                        <a href="tgnp-photo.html">Chụp hình</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="3d.html">Thực tế ảo</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="thu-tuc-giay-to.html">Hành chính</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="bang-dieu-khien.html">Bảng điều khiển</a>
                    </li>{% endcomment %}
            <li class="s-btn-contact">
              <a href="javascript:void(0)" data-action="contact-agent" style="font-size: 14px">Liên hệ ngay</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sticky-header">
      <div class="stickyTrigger is-stuck sticky-sMenu">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items ">
              <a href="{% url 'services' %}">Tất cả dịch vụ</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'whyChoose' %}">Vì sao chọn TGNP?</a>
            </li>
            <li class="s-menu-items active">
              <a href="{% url 'sell_with_us' %}">Bán với TG Nhà Phố</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'buy_with_us' %}">Mua với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'rent_with_us' %}">Thuê với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'specialist_us' %}">Chuyên viên TGNP</a>
            </li>
            {% comment %}                    <li class="s-menu-items ">
                        <a href="tgnp-photo.html">Chụp hình</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="3d.html">Thực tế ảo</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="thu-tuc-giay-to.html">Hành chính</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="bang-dieu-khien.html">Bảng điều khiển</a>
                    </li>{% endcomment %}
            <li class="s-btn-contact">
              <a href="javascript:void(0)" data-action="request-service">Đăng ký ngay</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content  -->
    <div class="agent-home-app">
      <div class="banner-agents-top">
        <div class="banner-agents-inner">
          <div class="banner-agents-contain">
            <h1 class="font-tiempos">Chuyên viên môi giới bất động sản</h1>
            <p>Chuyên viên của TGNP mang đến sự khác biệt so với thị trường chung, đó là sự tin cậy, tận
              tâm, được đào tạo kỹ càng, và am hiểu thị trường.</p>
            <div class="banner-agents-form-search">
              <agent-home-search-box :auto-focus="false"/>
            </div>
          </div>
        </div>
      </div>
      <section class="block-agents">
        <div class="agents-container col-12">
          <div class="agents-inner">
            <div class="col-12 agents__grid">
              <div class="agents-listing">
                <div class="agents-image">
                  <a href="">
                   <img src="{% static 'img/logo tgnp brown.jpg' %}" alt="Chuyên viên Thế giới Nhà Phố"/>
                 <button v-favorite-icon="{
                                    id: 'gg-103107983737927056479',
                                    alias: 'gg-103107983737927056479',
                                    type: 'agent',
                                    favorited: 'false'
                                  }" class=" btn-favorite zmdi zmdi-favorite"></button>

                  </a>
                </div>
                <div class="agents-content">
                  <a href=""><h3 class="font-tiempos"></h3></a>
                  <p class="team-name-sale">Sales Director</p>
                  <div class="agents-email">
                    <a href=""><span  class="__cf_email__" data-cfemail="">[email&#160;protected]</span></a>
                  </div>


                </div>
              </div>
              <div class="agents-listing">
                <div class="agents-image">
                  <a href="">
                   <img src="{% static 'img/logo tgnp brown.jpg' %}" alt="Chuyên viên Thế giới Nhà Phố"/>
                  <button v-favorite-icon="{
                                    id: 'gg-103107983737927056479',
                                    alias: 'gg-103107983737927056479',
                                    type: 'agent',
                                    favorited: 'false'
                                  }" class=" btn-favorite zmdi zmdi-favorite"></button>

                  </a>
                </div>
                <div class="agents-content">
                  <a href=""><h3 class="font-tiempos"></h3></a>
                  <p class="team-name-sale">Sales Director</p>
                  <div class="agents-email">
                    <a href=""><span  class="__cf_email__" data-cfemail="">[email&#160;protected]</span></a>
                  </div>


                </div>
              </div>
              <div class="agents-listing">
                <div class="agents-image">
                  <a href="">
                     <img src="{% static 'img/logo tgnp brown.jpg' %}" alt="Chuyên viên Thế giới Nhà Phố"/>
                    <button v-favorite-icon="{
                                    id: 'gg-103107983737927056479',
                                    alias: 'gg-103107983737927056479',
                                    type: 'agent',
                                    favorited: 'false'
                                  }" class=" btn-favorite zmdi zmdi-favorite"></button>

                  </a>
                </div>
                <div class="agents-content">
                  <a href=""><h3 class="font-tiempos"></h3></a>
                  <p class="team-name-sale">Sales Director</p>
                  <div class="agents-email">
                    <a href=""><span  class="__cf_email__" data-cfemail="">[email&#160;protected]</span></a>
                  </div>


                </div>
                </div>
              <div class="agents-listing">
                <div class="agents-image">
                  <a href="">
                    <img src="{% static 'img/logo tgnp brown.jpg' %}" alt=""/>
                    <button v-favorite-icon="{
                                    id: 'gg-103107983737927056479',
                                    alias: 'gg-103107983737927056479',
                                    type: 'agent',
                                    favorited: 'false'
                                  }" class=" btn-favorite zmdi zmdi-favorite"></button>

                  </a>
                </div>
                <div class="agents-content">
                  <a href=""><h3 class="font-tiempos"></h3></a>
                  <p class="team-name-sale">Sales Director</p>
                  <div class="agents-email">
                    <a href=""><span  class="__cf_email__" data-cfemail="">[email&#160;protected]</span></a>
                  </div>


                </div>
              </div>
              <component v-for="html in moreAgentHTML" :is="html"></component>
            </div>
            <span class="view-more-agent">
                        <div v-show="loadingMoreAgent" v-cloak class="loading-gif"></div>

                        </span>
          </div>
        </div>
      </section>
      <section class="agents-contact">
        <div class="agents-container col-12">
          <div class="agents-contact-content">
            <h2>Gặp ngay chuyên viên tư vấn</h2>
            <p class="pb-20">Chuyên viên TGNP luôn sẵn sàn lắng nghe và hỗ trợ bạn mọi lúc</p>
            <button class="agent-contact-modal btn-primary-agent btn-red">Liên hệ tư vấn</button>
          </div>
        </div>
      </section>

      <dialogs-wrapper wrapper-name="default"/>
    </div>

  </div>

  {% include "partials/_detailFeedbackForm.html" %}

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}
  {% comment %}<script src="{% static 'js/agent-home-app.min.js' %}"></script>{% endcomment %}

{% comment %}  <script>
      window.AGENT_PREFIX = "[Cần gặp chuyên viên tư vấn]\n";
      window.RHome = {
          searchUrl: "../listings/search?specialist=",
          loadMoreAgentUrl: "../listings/search?specialist=loadMoreHomeAgent",
          totalAgent: 291,
          numAgentShow: 24, //Số lượng hiển thị trước tại trang chủ
          numAgentLoadMore: 24, //Số lượng load thêm agent
      }

      window.initAgentHome();
  </script>{% endcomment %}

{% endblock %}



