{% extends 'base.html' %}

{% load static humanize i18n %}

{% block head %}
  {{ block.super }}

  <link rel="canonical" href="{% url 'termsOfUse' %}"/>

  <link rel="stylesheet" href="{% static 'css/terms-of-use90ca.css' %}"/>

{% endblock %}

{% block content %}

  <div id="wraps">
    <!-- Search menu -->
    {% include 'partials/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
      <div class="cta-bottom-inner">
        <div class="phone">
          <a class="cta-hotline" href="tel:0971841941"><span class="font-icon fone-b font-20"> </span>
            <strong>0971 841 941</strong></a>
        </div>
        <div>
          <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
        </div>
      </div>
    </div>
    <div id="menu" class="s-menu">
      <div class="width-1600">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items ">
              <a href="chinh-sach-bao-mat.html">Chính sách bảo mật</a>
            </li>
            <li class="s-menu-items active">
              <a href="dieu-khoan-su-dung.html">Điều khoản sử dụng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content  -->
    <div class="content">
      <div id="terms-of-use" class="terms-of-use">
        <div class="banner-terms-of-use">
          <h1 class="font-tiempos">Điều khoản sử dụng</h1>
        </div>
        <div class="terms-of-use-content">
          <div class="container">
            <div class="info-content">
              <p>Đầu tiên, TGNP xin chân thành cám ơn các bạn đã quan tâm và có mong muốn sử dụng dịch vụ của chúng tôi.
                Trước khi bắt đầu tham quan thegioinhaphovietnam.com.vn cũng như sử dụng các dịch vụ trên website, xin
                vui lòng đọc cẩn thận và ghi nhớ Điều khoản sử dụng này. Việc sử dụng hoặc truy cập vào website
                thegioinhaphovietnam.com.vn sẽ được hiểu là sự chấp nhận và đồng ý ràng buộc vào Điều khoản sử dụng.</p>
              <p>Điều khoản sử dụng này được ký kết bởi và giữa thegioinhaphovietnam.com.vn với bất kỳ một cá nhân tổ
                chức, những người truy cập hoặc sử dụng website thegioinhaphovietnam.com.vn (được gọi chung dưới đây là
                "Người sử dụng” hoặc "bạn").</p>
              <p>
              </p>
              <ul>thegioinhaphovietnam.com.vn là một website cho phép người dùng tìm kiếm thông tin về bất động sản và
                các lĩnh vực liên quan, bao gồm:
                <li>Cung cấp thông tin trong các bài đăng trên Website với mục đích hỗ trợ kết nối thực hiện các giao
                  dịch về nhà đất/dự án giữa người cho thuê/bán và người muốn thuê/mua.
                </li>
                <li>Thông tin bán/cho thuê bất động sản cùng với hình ảnh, nội dung, tin tức, phần mềm được hỗ trợ và
                  đăng từ TGNP.
                </li>
                <li>Chúng tôi cũng hoạt động như một kênh giao tiếp giữa Chủ Nhà và Khách hàng để có thể giải quyết bất
                  kỳ tranh chấp nào giữa hai bên.
                </li>
              </ul>
              <p></p>
              <p class="terms-of font-tiempos">Các điều khoản sử dụng</p>
              <p>Truy cập tới website thegioinhaphovietnam.com.vn, bạn đồng ý:</p>
              <p class="terms-of-use-heading font-tiempos">Thông tin, nội dung trên website:</p>
              <p>
              </p>
              <ul>
                <li>Không sử dụng bất kỳ thiết bị, phần mềm, quy trình, phương tiện để can thiệp hay cố gắng can thiệp
                  vào hoạt động đúng đắn trên web.
                </li>
                <li>Bạn có thể tải các tài liệu tham khảo trên website của TGNP về làm thông tin tham khảo, nhưng tuyết
                  đối không điều chỉnh các thông tin đó thành thông tin sai, hoặc vi phạm pháp luật và sau đó truyền tải
                  đến những người dùng khác.
                </li>
                <li>thegioinhaphovietnam.com.vn sẽ không sắp đặt, uỷ quyền hay cho phép bất cứ một tổ chức nào đối với
                  các tài liệu của thegioinhaphovietnam.com.vn trừ khi có văn bản đồng ý chính thức.
                </li>
                <li>thegioinhaphovietnam.com.vn sẽ chịu trách nhiệm cho sự an toàn, hợp pháp, tính toàn vẹn của các dữ
                  liệu, thông tin được đăng trên website
                </li>
              </ul>
              <p></p>
              <p class="terms-of-use-heading font-tiempos">Sử dụng Dịch vụ</p>
              <p>
              </p>
              <ul>
                <li>Liên quan đến việc bạn sử dụng Dịch vụ, chúng tôi có thể gửi cho bạn các thông báo dịch vụ, thông
                  báo quản trị và thông tin khác. Bạn có thể chọn không nhận một số thông báo này.
                </li>
                <li>Một số các Dịch vụ của chúng tôi có sẵn trên các thiết bị di động. Không sử dụng các Dịch vụ đó theo
                  cách khiến bạn bị mất tập trung và ngăn cản bạn tuân thủ các luật về an toàn hoặc giao thông.
                </li>
                <li>thegioinhaphovietnam.com.vn không ngừng thay đổi và cải tiến Dịch vụ của mình. Chúng tôi có thể thêm
                  hoặc xóa các chức năng hoặc tính năng và chúng tôi cũng có thể tạm ngừng hoặc ngừng hoàn toàn một Dịch
                  vụ. Chúng tôi sẽ gửi thông báo đến cho bạn để bạn nắm bắt các thông tin này một cách nhanh nhất và
                  chính xác nhất.
                </li>
              </ul>
              <p></p>
              <p class="terms-of-use-heading font-tiempos">Gửi thông tin hỗ trợ</p>
              <p>
              </p>
              <ul>
                <li>Bạn chỉ gửi yêu cầu hỗ trợ về các thông tin hỗ trợ trên website của TGNP qua các kênh như điện
                  thoại, email, chat. Nếu bạn nhận được bất kỳ thông tin hỗ trợ nào nhưng không phải từ các kênh này của
                  chúng tôi, thì vui lòng bỏ qua thông tin đó. Chúng tôi không chịu trách nhiệm cho các thông tin giả
                  mạo đó.
                </li>
                <li>Không gửi hàng loạt các thông tin rác, yêu cầu hỗ trợ giả mạo hoặc mang tính chất đùa giỡn đến
                  TGNP.
                </li>
                <li>Chỉ nhập các thông tin được yêu cầu trong phần liên hệ. Không đính kèm hoặc sử dụng các từ ngữ mang
                  tính chất xấu như các từ ngữ phản động hoặc sử dụng các từ ngữ khiếm nhã…
                </li>
                <li>Thành thật trong việc cung cấp các thông tin BĐS, các thông tin được cung cấp sau khi chuyên viên
                  chúng tôi xác thực lại, sẽ bị bỏ đi nếu chua đúng với thực tế.
                </li>
              </ul>
              <p></p>
              <p class="terms-of-use-heading font-tiempos">Chia sẻ thông tin trên các trang mạng xã hội</p>
              <p>
              </p>
              <ul>
                <li>Các thông tin, bài viết, chia sẻ hữu ích trên website của chúng tôi bạn có thể chia sẻ trên các
                  trang mạng xã hội cá nhân của bạn như: Facebook, Twitter, Messenger, Email. Khi bạn muốn chia sẻ các
                  thông tin của chúng tôi trên các trang cá nhân này của bạn, đồng nghĩa với việc bạn đã đồng ý thực
                  hiện các thao tác chia sẻ thông tin các tài khoản này với TGNP, như vậy chúng tôi mới có thể hỗ trợ
                  bạn việc chia sẻ này.
                </li>
              </ul>
              <p></p>
              <p class="terms-of-use-heading font-tiempos">Tài khoản cá nhân</p>
              <p>
              </p>
              <ul>
                <li>Tài khoản cá nhân khi bạn đăng ký trên thegioinhaphovietnam.com.vn sẽ chỉ thuộc sỡ hữu của bạn. Bạn
                  có thể xóa tài khoản bất cứ lúc nào bạn không có nhu cầu sử dụng nữa.
                </li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
        <div class="terms-of-use-col">
          <div class="container">
            <ul>
              <li><a href="{% url 'specialist' %}" target="_blank" class="font-tiempos">Gặp chuyên viên tư vấn</a></li>
              <li><a href="{% url 'sell_with_us' %}" target="_blank" class="font-tiempos">Đăng bán, cho thuê</a></li>
              <li><a href="https://forms.gle/LM41QBEMSZvwmSta7" target="_blank" class="font-tiempos">Gia nhập TGNP</a>
              </li>
              <li><a href="{% url 'contacts' %}" target="_blank" class="font-tiempos">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include "partials/_detailFeedbackForm.html" %}

  </div>

  <div id="service-guide-app">

  </div>


  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

  <script>
      $(function () {
          var header = $('#menu')
          var headerY = header.offset().top
          var headerHeight = header.height()

          function processShowingMenus() {
              var y = $(document).scrollTop()
              if (y > headerY) {
                  header.addClass('fixed')
                  $('body').css('padding-top', headerHeight + 'px')
                  header.css('zIndex', 101)
              } else {
                  header.removeClass('fixed')
                  $('body').css('padding-top', '0px')
                  header.css('zIndex', 10)
              }
          }

          //$(document).scroll(processShowingMenus)
          //processShowingMenus()

          var list = $('.nav-mobileShow');
          var overlay = $("#menu > .bg-overlay");
          var link = $('.nav-mobileTab');
          var timing = 300;
          link.click(function (e) {
              e.preventDefault();
              if (overlay.css('display') !== 'none') {
                  list.slideToggle(timing, function () {
                      $("#menu > .bg-overlay").fadeOut(timing);
                  });
              } else {
                  list.slideToggle(timing);
                  $("#menu > .bg-overlay").fadeIn(timing);
              }
          });
          overlay.click(function () {
              list.slideUp(timing, function () {
                  $("#menu > .bg-overlay").fadeOut(timing);
              });
          })
      });
  </script>

{% endblock %}
