{% extends 'base.html' %}

{% load static humanize i18n %}

{% block head %}
    {{ block.super }}

    <link rel="canonical" href="{% url 'termsOfUse' %}"/>

    <link rel="stylesheet" href="{% static 'css/service.css' %}"/>

{% endblock %}

{% block content %}

    <div id="wraps">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
        <div class="cta-bottom-inner">
            <div class="phone">
                <a class="cta-hotline" href="tel:0971841941"><span class="font-icon fone-b font-20"> </span>
                    <strong>0971 841 941</strong></a>
            </div>
            <div>
                <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
            </div>
        </div>
    </div>
    <div id="menu" class="s-menu">
        <div class="width-1600">
            <div class="s-menu-wrapper">
                <ul>
                    <li class="s-menu-items ">
                        <a href="{% url 'privacyPolicy' %}">Chính sách bảo mật</a>

                    <li class="s-menu-items active">
                        <a href="{% url 'termsOfUse' %}">Điều khoản sử dụng</a>

                </ul>
            </div>
        </div>
    </div>

    <!-- Main Content  -->
    <div class="service-heading">
        <div id="terms-of-use" class="heading-wrapper">
            <div class="heading-inner">
                <h1>Điều khoản sử dụng</h1>
            </div>
        </div>
    </div>
    <section class="bg-white">
        <div class="width1140 s-padding-tb">
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                Đầu tiên, TGNP xin chân thành cám ơn các bạn đã quan tâm và có mong muốn sử dụng dịch vụ của
                chúng tôi.
                Trước khi bắt đầu tham quan thegioinhaphovietnam.com.vn cũng như sử dụng các dịch vụ trên
                website, xin
                vui lòng đọc cẩn thận và ghi nhớ Điều khoản sử dụng này. Việc sử dụng hoặc truy cập vào website
                thegioinhaphovietnam.com.vn sẽ được hiểu là sự chấp nhận và đồng ý ràng buộc vào Điều khoản sử
                dụng.
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                Điều khoản sử dụng này được ký kết bởi và giữa thegioinhaphovietnam.com.vn với bất kỳ một cá nhân
                tổ
                chức, những người truy cập hoặc sử dụng website thegioinhaphovietnam.com.vn (được gọi chung dưới
                đây là
                "Người sử dụng” hoặc "bạn").</p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                thegioinhaphovietnam.com.vn là một website cho phép người dùng tìm kiếm thông tin về bất động
                sản và
                các lĩnh vực liên quan, bao gồm:
                Cung cấp thông tin trong các bài đăng trên Website với mục đích hỗ trợ kết nối thực hiện các
                giao
                dịch về nhà đất/dự án giữa người cho thuê/bán và người muốn thuê/mua.

                Thông tin bán/cho thuê bất động sản cùng với hình ảnh, nội dung, tin tức, phần mềm được hỗ
                trợ và
                đăng từ TGNP.

                Chúng tôi cũng hoạt động như một kênh giao tiếp giữa Chủ Nhà và Khách hàng để có thể giải
                quyết bất
                kỳ tranh chấp nào giữa hai bên.

            </p>
            <p class="s-heading-policy" style="max-width:750px;margin:auto">Các điều khoản sử dụng</p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">Truy cập tới website
                thegioinhaphovietnam.com.vn, bạn đồng ý:</p>
            <p class="s-heading-policy" style="max-width:750px;margin:auto">Thông tin, nội dung trên website:</p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                Không sử dụng bất kỳ thiết bị, phần mềm, quy trình, phương tiện để can thiệp hay cố gắng can
                thiệp
                vào hoạt động đúng đắn trên web.

                Bạn có thể tải các tài liệu tham khảo trên website của TGNP về làm thông tin tham khảo,
                nhưng tuyết
                đối không điều chỉnh các thông tin đó thành thông tin sai, hoặc vi phạm pháp luật và sau đó
                truyền tải
                đến những người dùng khác.

                thegioinhaphovietnam.com.vn sẽ không sắp đặt, uỷ quyền hay cho phép bất cứ một tổ chức nào
                đối với
                các tài liệu của thegioinhaphovietnam.com.vn trừ khi có văn bản đồng ý chính thức.

                thegioinhaphovietnam.com.vn sẽ chịu trách nhiệm cho sự an toàn, hợp pháp, tính toàn vẹn của
                các dữ
                liệu, thông tin được đăng trên website

            </p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px"></p>
            <p class="s-heading-policy" style="max-width:750px;margin:auto">Sử dụng Dịch vụ</p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                Liên quan đến việc bạn sử dụng Dịch vụ, chúng tôi có thể gửi cho bạn các thông báo dịch vụ,
                thông
                báo quản trị và thông tin khác. Bạn có thể chọn không nhận một số thông báo này.

                Một số các Dịch vụ của chúng tôi có sẵn trên các thiết bị di động. Không sử dụng các Dịch vụ
                đó theo
                cách khiến bạn bị mất tập trung và ngăn cản bạn tuân thủ các luật về an toàn hoặc giao
                thông.

                thegioinhaphovietnam.com.vn không ngừng thay đổi và cải tiến Dịch vụ của mình. Chúng tôi có
                thể thêm
                hoặc xóa các chức năng hoặc tính năng và chúng tôi cũng có thể tạm ngừng hoặc ngừng hoàn
                toàn một Dịch
                vụ. Chúng tôi sẽ gửi thông báo đến cho bạn để bạn nắm bắt các thông tin này một cách nhanh
                nhất và
                chính xác nhất.

            </p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px"></p>
            <p class="s-heading-policy" style="max-width:750px;margin:auto">Gửi thông tin hỗ trợ</p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                Bạn chỉ gửi yêu cầu hỗ trợ về các thông tin hỗ trợ trên website của TGNP qua các kênh như
                điện
                thoại, email, chat. Nếu bạn nhận được bất kỳ thông tin hỗ trợ nào nhưng không phải từ các
                kênh này của
                chúng tôi, thì vui lòng bỏ qua thông tin đó. Chúng tôi không chịu trách nhiệm cho các thông
                tin giả
                mạo đó.

                Không gửi hàng loạt các thông tin rác, yêu cầu hỗ trợ giả mạo hoặc mang tính chất đùa giỡn
                đến
                TGNP.

                Chỉ nhập các thông tin được yêu cầu trong phần liên hệ. Không đính kèm hoặc sử dụng các từ
                ngữ mang
                tính chất xấu như các từ ngữ phản động hoặc sử dụng các từ ngữ khiếm nhã…

                Thành thật trong việc cung cấp các thông tin BĐS, các thông tin được cung cấp sau khi chuyên
                viên
                chúng tôi xác thực lại, sẽ bị bỏ đi nếu chua đúng với thực tế.

            </p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px"></p>
            <p class="s-heading-policy" style="max-width:750px;margin:auto">Chia sẻ thông tin trên các trang mạng xã
                hội</p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                Các thông tin, bài viết, chia sẻ hữu ích trên website của chúng tôi bạn có thể chia sẻ trên
                các
                trang mạng xã hội cá nhân của bạn như: Facebook, Twitter, Messenger, Email. Khi bạn muốn
                chia sẻ các
                thông tin của chúng tôi trên các trang cá nhân này của bạn, đồng nghĩa với việc bạn đã đồng
                ý thực
                hiện các thao tác chia sẻ thông tin các tài khoản này với TGNP, như vậy chúng tôi mới có thể
                hỗ trợ
                bạn việc chia sẻ này.

            </p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px"></p>
            <p class="s-heading-policy" style="max-width:750px;margin:auto">Tài khoản cá nhân</p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px">
                Tài khoản cá nhân khi bạn đăng ký trên thegioinhaphovietnam.com.vn sẽ chỉ thuộc sỡ hữu của
                bạn. Bạn
                có thể xóa tài khoản bất cứ lúc nào bạn không có nhu cầu sử dụng nữa.

            </p>
            <p class="s-description pdb-30" style="text-align:left;font-size:14px"></p>
        </div>
    </section>
    <section class="background-gray">
        <div class="width1140 s-padding-tb">
            <div class="s-grid s-column-4 s-gutters">
                <div class="s-cell s-btn">
                    <a href="{% url 'specialist' %}">Gặp chuyên viên tư vấn</a>
                </div>
                <div class="s-cell s-btn">
                    <a href="{% url 'sell_with_us' %}">Đăng bán, cho thuê</a>
                </div>
                <div class="s-cell s-btn">
                    <a href="https://forms.gle/LM41QBEMSZvwmSta7">Gia nhập TGNP</a>
                </div>
                <div class="s-cell s-btn">
                    <a href="{% url 'contacts' %}">Liên hệ</a>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/_detailFeedbackForm.html" %}

    <!-- Footer content below-->
{% endblock %}

{% block scripts %}

    <script>
        $(function () {
            var header = $('#menu')
            var headerY = header.offset().top
            var headerHeight = header.height()

            function processShowingMenus() {
                var y = $(document).scrollTop()
                if (y > headerY) {
                    header.addClass('fixed')
                    $('body').css('padding-top', headerHeight + 'px')
                    header.css('zIndex', 101)
                } else {
                    header.removeClass('fixed')
                    $('body').css('padding-top', '0px')
                    header.css('zIndex', 10)
                }
            }

            //$(document).scroll(processShowingMenus)
            //processShowingMenus()

            var list = $('.nav-mobileShow');
            var overlay = $("#menu > .bg-overlay");
            var link = $('.nav-mobileTab');
            var timing = 300;
            link.click(function (e) {
                e.preventDefault();
                if (overlay.css('display') !== 'none') {
                    list.slideToggle(timing, function () {
                        $("#menu > .bg-overlay").fadeOut(timing);
                    });
                } else {
                    list.slideToggle(timing);
                    $("#menu > .bg-overlay").fadeIn(timing);
                }
            });
            overlay.click(function () {
                list.slideUp(timing, function () {
                    $("#menu > .bg-overlay").fadeOut(timing);
                });
            })
        });
    </script>

{% endblock %}
