{% extends 'base.html' %}

{% load static load_static humanize i18n %}

{% block title %}
    <title>{% trans "Vì sao chọn dịch vụ Thế Giới Nhà Phố" %}</title>
    <meta name="title" content="{% trans "Vì sao chọn dịch vụ Thế Giới Nhà Phố" %}"/>
    <meta property="og:title" content="{% trans "Vì sao chọn dịch vụ Thế Giới Nhà Phố" %}"/>
{% endblock %}
{% block description %}
    <meta name="description" content="TGNP mong muốn mang đến cho bạn trải nghiệm tốt nhất trong việc tìm kiếm và giao
                        dịch bất động sản. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="TGNP mong muốn mang đến cho bạn trải nghiệm tốt nhất trong việc tìm kiếm và giao
                        dịch bất động sản. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="Vì sao chọn dịch vụ Thế Giới Nhà Phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="Vì sao chọn dịch vụ Thế Giới Nhà Phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="canonical" href="{% url 'whyChoose' %}"/>
    <link rel="stylesheet" href="{% static 'css/service.css' %}"/>

{% endblock %}

{% block content %}

    <div id="wrap">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu.html' %}

        <!-- Main Content  -->
        <div id="s-all" class="s-banner-bg"
             style=" background: url({% static 'images/bg-service-sell.jpg' %}) 50% 50% / cover no-repeat;
                     ">
            <div class="s-banner-bg-inner">
                <div class="s-banner-header-wrapper">
                    <h1>Mua bán nhà đất theo phương thức mới</h1>
                    <div class="sumary">TGNP mong muốn mang đến cho bạn trải nghiệm tốt nhất trong việc tìm kiếm và giao
                        dịch bất động sản. Lợi thế về
                        công nghệ từ TGNP sẽ giúp bạn tiết kiệm đáng kể chi phí, công sức và thời gian
                    </div>
                </div>
            </div>
        </div>

        <section class="background-gray">
            <div class="width1140 s-padding-tb">
                <ul>
                    <li class="s-col-3">
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/ho-tro-icon.svg' %}" alt="icon-save">
                            </div>
                            <h4>Được hỗ trợ mọi lúc</h4>
                            <p>Chuyên viên TGNP am hiểu từng khu vực sẽ hỗ trợ bạn tất cả mọi vấn đề và đưa ra lời khuyên phù hợp nhất
                            </p>
                        </div>
                    </li>
                    <li class="s-col-3">
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/chi-phi-icon.svg' %}" alt="icon-price">
                            </div>
                            <h4>Chi phí thấp nhất</h4>
                            <p>Với lợi thế công nghệ và miễn phí các dịch vụ, TGNP giúp bạn tiết kiệm đến 15% so với thị trường</p>
                        </div>
                    </li>
                    <li class="s-col-3">
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/dich-vu-icon.svg' %}" alt="icon-buy">
                            </div>
                            <h4>Đầy đủ các dịch vụ</h4>
                            <p>Dịch vụ TGNP được tối ưu để hỗ trợ bạn từng bước, từ lúc tìm kiếm, thương lượng cho đến khi giao dịch hoàn tất
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section id="rv-guide" class="service-all">
            <div class="s-padding-tb bg-gray">
                <div class="guide-item">
                    <div class="s-col">
                        <div class="img-wrapper">
                            <img src="{% static 'images/dong-hanh.jpg' %}"
                                 alt="Chuyên viên TGNP đồng hành cùng bạn">
                        </div>
                    </div>
                    <div class="s-col">
                        <div class="s-content mgr-l-0">
                            <h2 class="s-feature-heading">Đồng hành hỗ trợ từng bước</h2>
                            <p>
                                Chuyên viên TGNP - được đào tạo chuyên nghiệp, luôn đặt sự hài lòng của khách hàng là mục tiêu cao nhất. Với vai trò là
                                người đồng hành hỗ trợ bạn trong suốt quá trình mua / bán, sẽ tư vấn kỹ càng cho bạn về xu hướng & biến động
                                thị trường, thông tin quy hoạch, tiện ích và cộng đồng cư dân ở khu vực bạn quan tâm,
                                đưa ra những gợi ý phù hợp nhất ứng với nhu cầu và tình hình tài chính của bạn.
                            </p>
                            <p class="s-btn-inner">
                                <a class="s-btn-red" href="{% url 'specialist' %}">Tìm hiểu Chuyên viên TGNP</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-padding-tb background-gray">
                <div class="guide-item">
                    <div class="s-col">
                        <div class="img-wrapper">
                            <img src="{% static 'images/ban-voi-gia-tot-nhat.jpg' %}"
                                 alt="Miễn phí quảng bá">
                        </div>
                    </div>
                    <div class="s-col">
                        <div class="s-content">
                            <h2 class="s-feature-heading">Bán với giá tốt nhất, chi phí bỏ ra thấp nhất</h2>
                            <p>
                                TGNP hỗ trợ miễn phí cho chủ nhà mọi thứ từ hình ảnh chuyên nghiệp, scan 3D đến việc
                                quảng bá nhà của bạn ở tất cả các kênh
                                phổ biến và hỗ trợ các thủ tục khi giao dịch. Công nghệ mới đưa thông tin chính xác đến
                                người có nhu cầu phù hợp giúp cho chủ nhà tìm được khách mua | thuê nhanh nhất.
                            </p>
                            <p class="s-btn-inner">
                                <a class="s-btn-red" href="{% url 'sellLeaseUs' %}">Bán & Cho thuê với TGNP</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-padding-tb">
                <div class="guide-item">
                    <div class="s-col">
                        <div class="img-wrapper">
                            <img src="{% static 'images/nhanh-chong.jpg' %}"
                                 alt="Hỗ trợ đầy đủ các thủ tục pháp lý">
                        </div>
                    </div>
                    <div class="s-col">
                        <div class="s-content mgr-l-0">
                            <h2 class="s-feature-heading">Nhanh chóng tìm được ngôi nhà ưng ý với giá hợp lý</h2>
                            <p>Nhà đất giá tốt được cập nhật liên tục trên TGNP với thông tin và hình ảnh chính xác đến từ
                                chủ nhà. Bạn có thể đăng ký xem nhà, thương lượng giá và nhận tư vấn nhanh chóng ngay trên web và ứng dụng.
                                Dịch vụ TGNP sẽ hỗ trợ bạn mọi thứ phát sinh trong quá trình giao dịch (giấy tờ, pháp lý và vay ngân hàng...)</p>
                            <div class="s-btn-inner">
                                <a class="s-btn-red s-btn-red2" href="{% url 'buyWithUs' %}">Mua với TGNP</a>
                                <a class="s-btn-red s-btn-red2" href="{% url 'rentWithUs' %}">Thuê với TGNP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-padding-tb background-gray">
                <div class="guide-item">
                    <div class="s-col">
                        <div class="img-wrapper">
                            <img src="{% static 'images/agent-contact-mobile.png' %}" alt="Miễn phí quảng bá">
                        </div>
                    </div>
                    <div class="s-col">
                        <div class="s-content">
                            <h2 class="s-feature-heading">Văn phòng của TGNP hiện diện tại các điểm nóng</h2>
                            <p>TGNP hiện đã có văn phòng giao dịch tại các Quận nội thành Hà Nội...
                                và không ngừng mở rộng sự hiện diện rộng khắp ở các khu vực khác, nhằm mang đến sự hỗ
                                trợ tốt nhất cho nhu cầu về bất động sản của bạn.</p>
                            <p class="s-btn-inner">
                                <a href="{% comment %}san-giao-dich.html{% endcomment %}" class="s-btn-red">Tìm văn phòng gần bạn</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="width1140 s-padding-tb">
                <div class="s-heading pd-bt-30">Thông tin chính xác, liên tục cập nhật</div>
                <p class="s-description" style="">
                    Thông tin nhà đất được xác thực và cập nhật liên tục theo biến động thị trường nhờ mối liên kết chặt chẽ giữa TGNP với chủ
                    nhà. Số liệu và trạng thái của nhà đất được hiển thị rõ ràng cho cả chủ nhà lẫn khách hàng tiềm năng.
                    Ngoài ra, công nghệ phân tích dữ liệu sẽ cung cấp các thông tin tham khảo hữu ích khác dựa vào thống kê từ thị trường chung.
                </p>
            </div>
        </section>

        <section class="serivce-slider">
            <div id="service-all" class="flexslider">
                <ul class="slides">
                    <li class="flex-active-slide">
                        <div class="section-container">
                            <img class="img" src="{% static 'images/service-all-slider1.jpg' %}" alt="">
                            <div class="section-content">
                                <span class="line-header"></span>
                                <h4 class="section-heading">Tìm kiếm nhà đất dễ dàng</h4>
                                <p>Tìm và xem danh mục nhà đất đang bán và cho thuê cập nhật mới nhất theo quận, khu dân cư hoặc tên dự án.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="section-container">
                            <img class="img" src="{% static 'images/service-all-slider2.jpg' %}" alt="">
                            <div class="section-content">
                                <span class="line-header"></span>
                                <h4 class="section-heading">Giá tốt mỗi ngày</h4>
                                <p>Bạn luôn theo dõi được những căn giá tốt hoặc mới cập nhật giảm giá từ chủ nhà.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="section-container">
                            <img class="img" src="{% static 'images/service-all-slider4.jpg' %}" alt="">
                            <div class="section-content">
                                <span class="line-header"></span>
                                <h4 class="section-heading">Thương lượng giá, đăng ký xem nhà</h4>
                                <p>TGNP kết nối bạn với chủ nhà để giúp quá trình thương lượng, giao dịch diễn ra nhanh chóng và tin cậy.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="section-container">
                            <img class="img" src="{% static 'images/service-all-slider3.jpg' %}" alt="">
                            <div class="section-content">
                                <span class="line-header"></span>
                                <h4 class="section-heading">Theo dõi nhà đất của tôi</h4>
                                <p>Công cụ dành cho chủ nhà giúp theo dõi tình trạng nhà đất đang đăng trên TGNP mọi lúc mọi nơi.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        {% comment %}<section class="cus-say-what">
    <div class="agents-container col-12">
      <div class="agents-inner">
          <div class="s-heading s-text-w">Khách hàng nói gì</div>
          <div id="customer" class="s-customer-rating">
        <div class="s-customer-rating-btn">
          <a href="#">
            <span class="btn-next flex-next s-text-w"></span>
          </a>
          <a href="#">
            <span class="btn-pre flex-prev s-text-w"></span>
          </a>
        </div>
        <ul class="slides">
          <li class="flex-active-slide">
            <p class="description s-text-w">"Trước đây tôi không có ấn tượng tốt với môi giới nhà đất, bởi
              vì đã trải qua vài lần tìm thuê nhà và phải
              làm việc với họ, tôi cảm thấy mất thời gian và rước vào những phiền nhiễu không đáng có.
              Nhưng vừa rồi, các
              bạn chuyên viên đến từ TGNP đã khiến tôi thay đổi quan niệm đó, tôi đã được bạn ấy chia sẻ
              tận tình những
              ưu và nhược điểm của ngôi nhà tôi đang muốn thuê, ngoài ra bạn ấy còn gợi ý cho tôi nhiều
              căn khác lân cận
              với mức giá tốt cũng như hỗ trợ tôi thương lượng giá thuê và gói trang bị nội thất với chủ
              nhà rất suôn sẻ,
              tôi đã thuê được căn hộ rất đẹp với giá theo tôi là khá hợp lý, chắc chắn tôi sẽ giới thiệu
              TGNP cho bạn
              bè của mình."</p>
            <div class="customer">
              <div class="avatar">
                <img src="{% static 'images/diemnhi.jpg' %}" alt="" draggable="false">
              </div>
              <div class="info">
                <p class="name s-text-w">Hồ Thị Duyên Trang</p>
                <p class="s-text-w">Trưởng phòng, Thiên Hoà Group.</p>
              </div>
            </div>
          </li>
          <li>
            <p class="description s-text-w">"Tôi không ngờ mua nhà dự án lại đơn giản và dễ dàng như vậy,
              TGNP đã cung cấp cho tôi hầu như tất cả thông
              tin cần thiết về dự án Empire City Thủ Thiêm và hướng dẫn tôi mọi thủ tục cần thiết, tôi rất
              an tâm khi làm
              việc với bạn môi giới của TGNP, bạn ấy rất tận tình, hiểu biết rất tốt thị trường, phong
              cách chuyên nghiệp
              và cũng rất dễ thương nữa."</p>
            <div class="customer">
              <div class="avatar">
                <img src="{% static 'images/trongkhoi.jpg' %}" alt="" draggable="false">
              </div>
              <div class="info">
                <p class="name s-text-w">Phan Thành Tâm</p>
                <p class="s-text-w">Kỹ sư phần mềm - FPT Software</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </section>{% endcomment %}

        <section class="s-bg-subcription">
            <div class="width1140 s-padding-tb">
                <div class="s-subcription-inner">
                    <div class="s-heading s-text-w pd-bt-20">Liên hệ tư vấn miễn phí</div>
                    <div class="title">TGNP hoạt động 24/7 để sẵn sàng hỗ trợ bạn các nhu cầu, thắc mắc về nhà đất</div>
                    <div class="btn-contact">
                        <a href="#" class="s-btn-red" data-action="contact-agent">Liên hệ ngay</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="mdialog" id="contact-now-form" style="background: none">
            <div class="popup-520" style="overflow: visible;">
                <div class="header-w-close">
                    <button class="close-popup-btn">
                        <i class="zmdi zmdi-hc-2x zmdi-close"></i>
                    </button>
                    <h3 class="font-tiempos">Liên hệ chuyên viên tư vấn</h3>
                </div>
                <div class="form-info" id="contact-now-form-body">
                </div>
            </div>
        </div>

        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>
    </div>
    <!-- Footer content below-->
{% endblock %}

{% block scripts %}

  <script>
  // Can also be used with $(document).ready()

        $(window).load(function() {
          $('.flexslider').flexslider({
            animation: "slide", animationLoop: !0, minItems: 1, maxItems: 1
          });
        });
  </script>
{% endblock %}