Django==3.1.7
gunicorn==20.1.0
gevent==21.8.0
paytmchecksum==1.7.0
Pillow==8.1.0
pycryptodome==3.10.1
whitenoise==5.2.0
psycopg2-binary==2.8.6
django-location-field==2.1.0
djangorestframework==3.12.4
django-ajax-selects==2.1.0
django-embed-video==1.4.0
django-role-permissions==3.1.1
django-debug-toolbar==3.2
django-adminplus==0.5
geopy==2.1.0
pydantic==1.8.1
django_filter==2.4.0
python-dotenv==0.17.1
django-redis==4.12.1
django-cachalot==2.4.1
django-ipware==3.0.2
django-allauth==0.44.0
meilisearch>=0.15.1
python-gettext==4.0
requests==2.25.1
