{% load static %}
{% include "accounts/_loginModal.html" %}
{% include "partials/_detailFeedbackForm.html" %}

<footer id="footer">
    <div class="inner">
        <div class="row">
            <ul class="contact-group">
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-phone"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Hotline (24/7)</p>
                        <a href="tel:0964399436" style="color: yellow">0964399436</a><br>
                        <a href="tel:0976679577" style="color: yellow">Ms Thu: 0976679577</a>
                    </div>
                </li>
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-phone"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Khiếu nại, phản hồi</p>
                        <a href="tel:0964399436" style="color: yellow">0964399436</a>
                    </div>
                </li>
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Kinh doanh</p>
                        <a href="tel:0916286256" style="color: yellow">Mr Hải:0916286256</a>
                        <br>
                        <a href="tel:0971841941" style="color: yellow">Mr Dương:0971841941</a>

                    </div>
                </li>
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Ban đầu tư</p>
                        <a href="tel:0964399436" style="color: yellow"><i class="zmdi zmdi-phone"></i> 0964399436</a>
                        <a href="mailto:thegioinhaphovietnam@gmail.com" style="color: yellow">thegioinhaphovietnam@gmail.com</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row" style="color: orange">
            <ul class="info-container">
                <li class="address" style="color: #85aee2">
                    <a href="{% url 'index' %}" title="Thế giới Nhà Phố" style="margin-left: 30px">
                        <img style="height: 100px; width: auto" src="{% static 'img/logo-nen-trang-co-chu.svg' %}"
                             alt="Thế giới Nhà Phố" title="Thế giới Nhà Phố">
                    </a>
                    <br>
                    <p> A3 KĐT Đại Kim, đường Nguyễn Cảnh Dị, P. Định Công, Q. Hoàng Mai, HN</p>
                    {% comment %}          <p> MST/ĐKKD: 0109548789</p>{% endcomment %}
                    <p>thegioinhaphovietnam@gmail.com</p>
                    <div>
                        <a class="facebook-color" title="Share Facebook"> <i
                                class="zmdi zmdi-facebook-box"></i></a>
                        <a class="twitter-color" title="Share Messenger"><i class="zmdi zmdi-twitter"></i></a>
                        <a class="twitter-color" href="https://www.instagram.com/thegioinhaphovietnam"
                           title="Instagram TGNP" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                        <a class="twitter-color"
                           href="https://www.youtube.com/channel/UCiW13E8_8AHnHGiJGeZliug"
                           title="Kênh Youtube chính của TGNP"
                           target="_blank"><i class="zmdi zmdi-youtube"></i></a>
                        {% comment %}<a class="addthis_button_sms kmq-blog-post-share-post in-color"> <i
                                class="zmdi zmdi-comment-text"></i>SMS</a>

                        <a class="addthis_button_mailto kmq-blog-post-share-post gray "> <i
                                class="zmdi zmdi-email"></i>Email</a>{% endcomment %}

                    </div>
                </li>
                <li>
                    <span class="link-cty"> CHÚNG TÔI <i class="zmdi zmdi-chevron-down"></i> </span>
                    <ul id="mn-01">
                        <li>
                            <a href="{% url 'about' %}" title="Về TGNP">Về TGNP</a>
                        </li>
                        {% comment %}<li>
                            <a href="#" title="Đội ngũ">Ban lãnh đạo</a>
                        </li>{% endcomment %}
                        <li>
                            <a href="{% url 'specialistus' %}" title="Đội ngũ">Chuyên viên TGNP</a>
                        </li>
                        {% comment %}<li>
                            <a href="#" title="Sàn giao dịch">Phòng giao dịch</a>
                        </li>{% endcomment %}

                    </ul>
                    <ul>
                        <li><a href="https://www.youtube.com/channel/UC2YIBjJIw4jL5aQ9LEoCQDg"
                               title="Fanpage TGNP"
                               target="_blank"><i class="zmdi zmdi-facebook"></i> /TheGioiNhaPhoVietNam</a></li>
                        <li><a href="https://www.youtube.com/channel/UC2YIBjJIw4jL5aQ9LEoCQDg"
                               title="Youtube Kho hàng TGNP"
                               target="_blank"><i class="zmdi zmdi-youtube-play"></i> Youtube Kho hàng TGNP</a>
                        </li>
                    </ul>
                    <span class="link-ud"> LIÊN HỆ <i class="zmdi zmdi-chevron-down"></i> </span>
                    <ul id="mn-04">
                        <li>
                            <a class="btn-contact" style="margin-left: 0px" data-target="contact-agent"><i
                                    class="zmdi zmdi-email-open"></i>Liên hệ đăng ký dịch vụ</a>
                        </li>
                        <li>
                            <a href="{% url 'contacts' %}" title="Liên hệ với chúng tôi"><i
                                    class="zmdi zmdi-email-open"></i>Liên hệ</a>
                        </li>
                        <li>
                            <a href="mailto:thegioinhaphovietnam@gmail.com"> <i class="zmdi zmdi-email-open"></i>Gửi
                                email liên hệ</a>
                        </li>
                        <li>
                            <a href="javascript:showFeedbackModal()"> <i class="zmdi zmdi-email-open"></i>Phản hồi ý
                                kiến</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="link-dv"> DỊCH VỤ <i class="zmdi zmdi-chevron-down"></i> </span>
                    <ul id="mn-02">
                        <li>
                            <a href="{% url 'buywithus' %}" title="Mua với TGNP">Mua với TGNP</a>
                        </li>
                        <li>
                            <a href="{% url 'rentwithus' %}" title="Thuê với TGNP">Thuê với TGNP</a>
                        </li>
                        <li>
                            <a href="{% url 'sellleaseus' %}" title=" Bán &amp; Cho thuê"> Bán &amp; Cho thuê</a>
                        </li>
                        <li>
                            <a href="{% url 'sellleaseus' %}" title="Đăng tin bán & cho thuê miễn phí">Đăng tin
                                bán &amp; cho thuê miễn phí</a>
                        </li>
                        <li>
                            <a href="#" title="Giới thiệu người Mua">Giới thiệu người Mua</a>
                        </li>
                        <li>
                            <a href="#" title="Giới thiệu sản phẩm Bán">Giới thiệu sản phẩm Bán</a>
                        </li>
                    </ul>
                    <span class="link-cty"> TUYỂN DỤNG <i class="zmdi zmdi-chevron-down"></i> </span>
                    <ul id="mn-05">
                        <li>
                            <a href="{% url 'recruitment' %}" title="Tuyển dụng">Thông tin tuyển dụng</a>
                        </li>
                        <li>
                            <a href="https://forms.gle/LM41QBEMSZvwmSta7" title="Liên hệ">Ứng tuyển ngay</a>
                        </li>
                    </ul>
                    {% comment %}                        <li>
                            <a href="#" target="_blank" title="Hướng dẫn sử dụng">Hướng dẫn sử dụng</a>
                        </li>
                        <li>
                            <a href="../agent.thegioinhaphovietnam.com.vn/blog.html" target="_blank" title="Kiến thức cho môi giới">Kiến
                                thức cho môi giới</a>
                        </li>{% endcomment %}
            </li>
            <li>
                <span class="link-cty">FANPAGE CỦA CHÚNG TÔI</span>
                <div style="width: 100%" class="fb-page" data-href="https://www.facebook.com/TheGioiNhaPhoVietNam/" data-tabs="timeline"
                     data-width="" data-height="" data-small-header="true" data-adapt-container-width="true"
                     data-hide-cover="true" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/TheGioiNhaPhoVietNam/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/TheGioiNhaPhoVietNam/">Thế Giới Nhà Phố Việt Nam</a>
                    </blockquote>
                </div>
            </li>
            </ul>
        </div>
        <div class="row" style="color: black; padding: 15px 5px">
            <div class="left">
                Bản quyền © 2020 - <span class="year"> &copy; </span> - Thế giới Nhà Phố.
            </div>
            <div class="right">
                <a href="{% url 'privacypolicy' %}">Chính sách bảo mật</a>
                <a href="{% url 'termsofuse' %}">Điều khoản sử dụng</a>
            </div>
        </div>
    </div>

    <div class="zalo-chat-widget" data-oaid="3185197174223735931" data-welcome-message="Rất vui khi được hỗ trợ bạn!"
         data-autopopup="0" data-width="" data-height="" style="border: none; visibility: visible; bottom: 52px; right: 0px; position: fixed; z-index: 2147483644 !important;"></div>
</footer>

