{% load static %}

<!-- Footer -->
{% include "accounts/_loginModal.html" %}
{% include "partials/_detailFeedbackForm.html" %}

<footer id="footer">
  <div class="inner">
    <div class="row">
      <ul class="info-container">
        <li class="address">
          <a href="{% url 'index' %}" title="Thế giới Nhà Phố" style="margin-left: 30px">
            <img style="height: 100px; width: auto" src="{% static 'img/logo-nen-trang-co-chu.svg' %}"
                 alt="Thế giới Nhà Phố" title="Thế giới Nhà Phố">
          </a>
          <br>
          <p> Bùi Xương Trạch, P. Khương Đình, Q. Thanh Xuân, HN</p>
{% comment %}          <p> MST/ĐKKD: 0109548789</p>{% endcomment %}
          <p><i class="zmdi zmdi-email"></i> thegioinhaphovietnam@gmail.com</p>
          <p><i class="zmdi zmdi-facebook"></i>  <a style="color: white" href="https://www.youtube.com/channel/UC2YIBjJIw4jL5aQ9LEoCQDg" title="Fanpage TGNP"
                  target="_blank"> /TheGioiNhaPhoVietNam</a> </p>
          <p><i class="zmdi zmdi-youtube-play"></i><a style="color: white" href="https://www.youtube.com/channel/UC2YIBjJIw4jL5aQ9LEoCQDg" title="Youtube Kho hàng TGNP"
               target="_blank">Youtube Kho hàng TGNP</a>


          <div class="social-group">
            <a class="facebook-color" title="Share Facebook"> <i
              class="zmdi zmdi-facebook-box"></i></a>
            <a class="twitter-color" title="Share Messenger"> </a>
            <a class="zmdi zmdi-instagram" href="www.instagram.com/thegioinhaphovietnam"
               title="Instagram TGNP" target="_blank"></a>
            <a class="zmdi zmdi-youtube-play"
               href="https://www.youtube.com/channel/UCiW13E8_8AHnHGiJGeZliug" title="Kênh Youtube chính của TGNP"
               target="_blank"></a>
            <a class="addthis_button_sms kmq-blog-post-share-post in-color"> <i
              class="zmdi zmdi-comment-text"></i></a>

            <a class="addthis_button_mailto kmq-blog-post-share-post gray "> <i
              class="zmdi zmdi-email"></i></a>

          </div>
        </li>
        <li>
          <span class="link-cty"> CHÚNG TÔI <i class="zmdi zmdi-chevron-down"></i> </span>
          <ul id="mn-01">
            <li>
              <a href="{% url 'about' %}" title="Về TGNP">Về TGNP</a>
            </li>
            {% comment %}<li>
                            <a href="#" title="Đội ngũ">Ban lãnh đạo</a>
                        </li>{% endcomment %}
            <li>
              <a href="{% url 'specialist_us' %}" title="Đội ngũ">Chuyên viên TGNP</a>
            </li>
            {% comment %}<li>
                            <a href="#" title="Sàn giao dịch">Phòng giao dịch</a>
                        </li>{% endcomment %}
            <li>
              <a href="{% url 'contacts' %}" title="Liên hệ">Liên hệ làm việc</a>
            </li>

          </ul>
        </li>
        <li>
          <span class="link-dv"> DỊCH VỤ <i class="zmdi zmdi-chevron-down"></i> </span>
          <ul id="mn-02">
            <li>
              <a href="{% url 'buy_with_us' %}" title="Mua với TGNP">Mua với TGNP</a>
            </li>
            <li>
              <a href="{% url 'rent_with_us' %}" title="Thuê với TGNP">Thuê với TGNP</a>
            </li>
            <li>
              <a href="{% url 'sell_lease_with_us' %}" title="Bán & Cho thuê">Bán & Cho thuê</a>
            </li>
            <li>
              <a href="#" title="Giới thiệu người Mua">Giới thiệu người Mua</a>
            </li>
            <li>
              <a href="#" title="Giới thiệu sản phẩm Bán">Giới thiệu sản phẩm Bán</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="link-ud"> CHĂM SÓC KHÁCH HÀNG <i class="zmdi zmdi-chevron-down"></i> </span>
          <ul id="mn-04">
            <li>
              <a href="tel:0971841941"><i class="zmdi zmdi-phone"></i> Mr Dương: 0971 841 941</a>
            </li>
            <li>
              <a href="tel:0916 413 599"><i class="zmdi zmdi-phone"></i> - 0916 413 599</a>
            </li>
            <li>
              <a href="tel:0916 286 256"><i class="zmdi zmdi-phone"></i> Mr Hải: 0916 286 256</a>
            </li>
            <li>
              <a href="tel:09 6439 9436"><i class="zmdi zmdi-phone"></i> Mr Hải: 09 6439 9436</a>
            </li>
            <li>
              <a href="mailto:thegioinhaphovietnam@gmail.com"> <i class="zmdi zmdi-email-open"></i>Gửi email liên hệ</a>
            </li>
            <li>
              <a href="javascript:showFeedbackModal()"> <i class="zmdi zmdi-email-open"></i>Phản hồi ý kiến</a>
            </li>
            {% comment %}                        <li>
                            <a href="#" target="_blank" title="Hướng dẫn sử dụng">Hướng dẫn sử dụng</a>
                        </li>
                        <li>
                            <a href="../agent.thegioinhaphovietnam.com.vn/blog.html" target="_blank" title="Kiến thức cho môi giới">Kiến
                                thức cho môi giới</a>
                        </li>{% endcomment %}
          </ul>
        </li>
        <li>
          <span class="link-cty"> TUYỂN DỤNG <i class="zmdi zmdi-chevron-down"></i> </span>
          <ul id="mn-04">
            <li>
              <a href="{% url 'recruitment' %}" title="Tuyển dụng">Thông tin tuyển dụng</a>
            </li>
            <li>
              <a href="https://forms.gle/LM41QBEMSZvwmSta7" title="Liên hệ">Ứng tuyển ngay</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="row" style="background-color: #4b4b4c; color: black; padding: 15px 5px">
      <div class="left">
        Bản quyền © 2020 - <span class="year"> &copy; </span> - Thế giới Nhà Phố.
      </div>
      <div class="right">
        <a href="{% url 'privacyPolicy' %}">Chính sách bảo mật</a>
        <a href="{% url 'termsOfUse' %}">Điều khoản sử dụng</a>
      </div>
    </div>
  </div>

</footer>

