{% load static %}

<!-- Footer -->

<footer id="footer" class="py-4 text-white text-center">
    <div class="inner">
        <div class="row">
            <ul class="contact-group">
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-phone"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Hotline phản hồi, khiếu nại miễn phí (24/7)</p>
                        <p class="link">
                            <a href="tel:1800234546">1800 234 546</a>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Ký gửi Bán/Cho thuê</p>
                        <p class="link">
                            <a href="/cdn-cgi/l/email-protection#9be8faf7fee8dbe9feedfee9b5edf5"><span
                                    class="__cf_email__" data-cfemail="4d1e2c21283e0d3f283b283f633b23">[email&#160;protected]</span></a>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Đặt mua/Thuê nhà</p>
                        <p class="link">
                            <a href="/cdn-cgi/l/email-protection#88fbfdf8f8e7fafcc8faedfeedfaa6fee6"><span
                                    class="__cf_email__" data-cfemail="44173134342b36300436213221366a322a">[email&#160;protected]</span></a>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Liên hệ đầu tư</p>
                        <p class="link">
                            <a href="/cdn-cgi/l/email-protection#66160e09080102130708261403100314481008"><span
                                    class="__cf_email__" data-cfemail="94e4fcfbfaf3f0e1f5fad4e6f1e2f1e6bae2fa">[email&#160;protected]</span></a>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="icon">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                    <div class="detail">
                        <p class="title">Đóng góp ý kiến</p>
                        <p class="link">
                            <a href="/cdn-cgi/l/email-protection#66160e09080102130708261403100314481008"><span
                                    class="__cf_email__" data-cfemail="94e4fcfbfaf3f0e1f5fad4e6f1e2f1e6bae2fa">[email&#160;protected]</span></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="info-container">
                <li class="address">
                    <div>
                    <a class="logo" href="/" title="Thế giới Nhà Phố">
                        <img src="{% static 'img/logo.png' %}" alt="Thế giới Nhà Phố" title="Thế giới Nhà Phố">
                    </a>

                    <p class="address">Số nhà 21A Ngách 7 Ngõ 207 Bùi Xương Trạch, Phường Khương Đình, Quận Thanh Xuân, Thành phố Hà
                        Nội</p>
                        </div>
                    <div class="social-group">
                        <a class="zmdi zmdi-facebook" href="https://www.facebook.com/rever.vn" title="Facebook Rever"
                           target="_blank"></a>
                        <a class="zmdi zmdi-twitter" href="https://twitter.com/VnRever" title="Twitter Rever"
                           target="_blank"></a>
                        <a class="zmdi zmdi-linkedin-box" href="https://www.linkedin.com/company/rever-real-estate"
                           title="Linkedin Rever" target="_blank"></a>
                        <a class="zmdi zmdi-instagram" href="https://www.instagram.com/rever.vn/"
                           title="Instagram Rever" target="_blank"></a>
                        <a class="zmdi zmdi-youtube-play"
                           href="https://www.youtube.com/channel/UCGqD_zho0DQyxXJ3G65NmSQ" title="Youtube Rever"
                           target="_blank"></a>
                    </div>
                </li>
                <li>
<span class="link-cty">
CÔNG TY
<i class="zmdi zmdi-chevron-down"></i>
</span>
                    <ul id="mn-01">
                        <li>
                            <a href="/gioi-thieu" title="Về Rever">Về Thế Giới Nhà Phố</a>
                        </li>
                        <li>
                            <a href="/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="/doi-ngu" title="Đội ngũ">Đội ngũ</a>
                        </li>
                        <li>
                            <a href="/san-giao-dich" title="Sàn giao dịch">Sàn giao dịch</a>
                        </li>
                        <li>
                            <a href="/lien-he" title="Liên hệ">Liên hệ</a>
                        </li>
                    </ul>
                </li>
                <li>
<span class="link-dv">
DỊCH VỤ
<i class="zmdi zmdi-chevron-down"></i>
</span>
                    <ul id="mn-02">


                        <li>
                            <a href="/ban-nha-voi-rever" title="Bán & Cho thuê">Bán & Cho thuê</a>
                        </li>
                        <li>
                            <a href="/mua-nha-voi-rever" title="Mua với Rever">Mua với Thế Giới Nhà Phố</a>
                        </li>
                        <li>
                            <a href="/thue-nha-voi-rever" title="Thuê với Rever">Thuê với Thế Giới Nhà Phố</a>
                        </li>
                        <li>
                            <a href="https://academy.rever.vn" title="Rever Academy">Thế Giới Nhà Phố Academy</a>
                        </li>
                        <li>
                            <a href="https://agent.rever.vn" title="Rever Agents">Thế Giới Nhà Phố Agents</a>
                        </li>
                    </ul>
                </li>
                <li>
<span class="link-tt">
THÔNG TIN
<i class="zmdi zmdi-chevron-down"></i>
</span>
                    <ul id="mn-03">
                        <li>
                            <a href="https://blog.rever.vn/topic/thị-trường" target="_blank" title="Tin tức thị trường">Tin
                                tức thị trường</a>
                        </li>
                        <li>
                            <a href="https://blog.rever.vn/topic/phân-tích" target="_blank" title="Báo cáo & phân tích">Báo
                                cáo & phân tích</a>
                        </li>
                        <li>
                            <a href="https://blog.rever.vn/topic/cập-nhật-sản-phẩm" target="_blank"
                               title="Cập nhật sản phẩm">Cập nhật sản phẩm</a>
                        </li>
                        <li>
                            <a href="https://agent.rever.vn/blog" target="_blank" title="Kiến thức cho môi giới">Kiến
                                thức cho môi giới</a>
                        </li>
                        <li>
                            <a href="https://help.rever.vn" target="_blank" title="Hướng dẫn sử dụng">Hướng dẫn sử
                                dụng</a>
                        </li>
                    </ul>
                </li>
                <li>
<span class="link-ud">
ỨNG DỤNG
<i class="zmdi zmdi-chevron-down"></i>
</span>
                    <ul id="mn-04">
                        <li>
                            <a href="https://itunes.apple.com/vn/app/rever/id1101768201" target="_blank"
                               title="Rever trên iOS">Rever trên iOS</a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.rever.app.android"
                               target="_blank" title="Rever trên Android">Rever trên Android</a>
                        </li>


                    </ul>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="left">
                Copyright © 2020 -
                <span class="year"> &copy; </span> - Thế giới Nhà Phố
            </div>
            <div class="right">
                <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
                <a href="/dieu-khoan-su-dung">Điều khoản sử dụng</a>
                <a href="javascript:showFeedbackModal()">Phản hồi</a>
            </div>
        </div>
    </div>
</footer>