{% load static humanize i18n load_static %}

<title> Thế giới Nhà Phố {% block title %}| Mua thổ cư, căn hộ tốt nhất {% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8"/>
<meta name="description"
      content="Mua bán bất động sản, chung cư, căn hộ Hà Nội sở hữu vị trí vàng, đầy đủ tiện nghi, sang trọng, an ninh, không gian sống hiện đại. bất động sản, chung cư, căn hộ Hà Nội cập nhật hình ảnh thật, thông tin xác thực."/>
<meta name="keywords"
      content="nha pho, mua ban, cho thue, bat dong san, nha dat, van phong, dat nen, biet thu, villa"/>
<meta name="author" content="thegioinhaphovietnam.com.vn"/>
<link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta property="fb:app_id" content="268342061639747"/>
<meta property="og:url" content="mua.html"/>
<meta property="og:title" content="Mua Bán Nhà Đất Căn Hộ Tốt Nhất | Thế giới Nhà Phố"/>
<meta property="og:description"
      content="Mua bán bất động sản, chung cư, căn hộ Hà Nội sở hữu vị trí vàng, đầy đủ tiện nghi, sang trọng, an ninh, không gian sống hiện đại. bất động sản, chung cư, căn hộ Hà Nội cập nhật hình ảnh thật, thông tin xác thực."/>
<meta property="og:image" content="{% static '/img/logo-chi-chu.svg' %}"/>
<meta property="og:image:url" content="{% static '/img/logo-chi-chu.svg' %}"/>
<meta property="og:image:width" content="600"/>
<meta property="og:image:height" content="320"/>
<meta property="og:site_name" content="thegioinhaphovietnam.com.vn"/>
<meta property="og:rich_attachment" content="true"/>
<meta property="og:type" content="article"/>
<meta property="hotline" content="0964399436"/>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://thegioinhaphovietnam.com.vn",
  "name": "TGNP",
  "logo": "{% static 'img/logo-ko-chu.svg' %}",
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "0916 286 256",
      "contactType": "customer service"
    }
  ],
  "sameAs": [
    "https://www.facebook.com/thegioinhaphovietnam.com.vn",
    "../www.linkedin.com/company/thegioinhaphovietnam.com.vn",
    "../www.instagram.com/thegioinhaphovietnam.com.vn",
    "../https://www.youtube.com/channel/UC2YIBjJIw4jL5aQ9LEoCQDg"
  ],
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://thegioinhaphovietnam.com.vn/search",
    "query-input": "required name=keywords"
  }
}
</script>

<style>
    [v-cloak] {
        display: none !important;
    }

    /* Ẩn các element khi vue chưa load */
    picture img {
        display: inline-block;
        vertical-align: middle;
    }

    /*hide tracking img*/
    img[src^="//analytics.thegioinhaphovietnam.com.vn/fap"], img[src^="/fap/debug/track"] {
        display: none;
    }

    ._hj_feedback_container button { /* Fix lỗi hotjar */
        text-align: center;
    }

    #msform a.butt-primary[disabled] {
        opacity: 0.4
    }

</style>
<style>
    img {
        max-width: 100%;
    }

    @media screen and (max-width: 600px) {
        picture img {
            width: 100%;
        }
    }

    img.lazy, img.lazy-background {
        filter: blur(15px);
    }
</style>

<link rel="stylesheet" type="text/css" href="{% load_static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% load_static "css/font-icon.css" %}">
<link rel="stylesheet" type="text/css" href="{% load_static 'css/pop-up.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% load_static 'css/material-design-iconic-font.2.css' %}">
<link rel="stylesheet" type="text/css" href="{% load_static 'css/fontawsome-5.5.0.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% load_static 'css/footer.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% load_static 'css/menu.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% load_static 'css/style_0706.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% load_static 'css/styles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% load_static 'css/mobile.css' %}"/>

<link rel="stylesheet" href="{% load_static 'css/flexslider.min.css' %}"/>
<link rel="stylesheet" href="{% load_static 'css/header-live.css' %}"/>
