{% load static i18n %}

<header id="home" class="main-header">
    <div class="col-left">
        <div class="top-menu">
            <ul>
                <li class="sub-menu">
                    <a href="{% url 'index' %}">Trang chủ</a>
                </li>
                <li class="sub-menu">
                    <a>Mua<i class="zmdi zmdi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a href="listings/search?trantype=sell"
                               data-mix-header-click="group: buy, action: select_all_buy">Tất cả nhà đất bán</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=apartment"
                               data-mix-header-click="group: buy, action: select_apartment_buy">Căn
                                hộ</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=house"
                               data-mix-header-click="group: buy, action: select_house_buy">Nhà
                                phố</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=villa"
                               data-mix-header-click="group: buy, action: select_villa_buy">Biệt
                                thự</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=shophouse"
                               data-mix-header-click="group: buy, action: select_shophouse_buy">Shophouse</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=Officetel"
                               data-mix-header-click="group: buy, action: select_shophouse_buy">Văn phòng</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=land"
                               data-mix-header-click="group: buy, action: select_land_buy">Đất
                                nền</a>
                        </li>
                        <li class="divide"></li>
                        <li>
                            <a href="hoanghai123"
                               data-mix-header-click="group: buy, action: select_zone_buy">Khu dân cư</a>
                        </li>
                        <li>
                            <a href="buywithus"
                               data-mix-header-click="group: buy, action: select_lp_buy">Mua ngay với TGNP</a>
                        </li>
                        <li>
                            <a href="buywithus"
                               data-mix-header-click="group: buy, action: select_lp_buy">Giới thiệu người mua</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                <a>
                    <span>Thuê</span>
                    <i class="zmdi zmdi-chevron-down"></i>
                </a>
                <ul>
                    <li>
                        <a href="listings/search?trantype=rent"
                           data-mix-header-click="group: rent, action: select_all_rent">Tất cả nhà cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=apartment"
                           data-mix-header-click="group: rent, action: select_apartment_rent">Căn hộ
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=shophouse"
                           data-mix-header-click="group: rent, action: select_shophouse_rent">Cửa hàng
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=house"
                           data-mix-header-click="group: rent, action: select_house_rent">Nhà
                            phố cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=villa"
                           data-mix-header-click="group: rent, action: select_villa_rent">Biệt thự
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=office"
                           data-mix-header-click="group: rent, action: select_office_rent">Văn phòng
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=land"
                           data-mix-header-click="group: rent, action: select_land_rent">Mặt
                            bằng cho thuê</a>
                    </li>
                    <li class="divide"></li>
                    <li>
                        <a href="hoanghai123" data-mix-header-click="group: rent, action: select_zone_buy">Khu
                            dân cư</a>
                    </li>
                    <li>
                        <a href="rentwithus"
                           data-mix-header-click="group: rent, action: select_lp_rent">Thuê với TGNP</a>
                    </li>
                    <li>
                        <a href="rentwithus"
                           data-mix-header-click="group: rent, action: select_lp_rent">Giới thiệu người thuê</a>
                    </li>
                </ul>
            </li>
                <li class="sub-menu">
                    <a>
                        <span>Bán & Cho thuê</span>
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="sellwithus"
                               data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Đăng
                                bán</a>
                        </li>
                        <li>
                            <a href="rentwithus"
                               data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Đăng
                                thuê</a>
                        </li>
                        <li class="divide"></li>
                        <li>
                            <a href="contact"
                               data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS bán</a>
                        </li>
                        <li>
                            <a href="contact"
                               data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS cho thuê</a>
                        </li>
                         <li>
                            <a href="whyChoose"
                               data-mix-header-click="group: sell_lease, action: select_pr_sell_lease">Vì
                                sao chọn TGNP?</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                        <a>
                            <span>Dự án</span>
                            <i class="zmdi zmdi-chevron-down"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="listings/search?trantype=project" data-mix-header-click="group: rent, action: select_all_project">Tất
                                    cả dự án</a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hoàn Kiếm"
                                   data-mix-header-click="group: rent, action: select_district_two_project">
                                    Hoàn Kiếm
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Ba Đình"
                                   data-mix-header-click="group: rent, action: select_district_four_project">
                                    Ba Đình
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Tây Hồ"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Tây Hồ
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Đống Đa"
                                   data-mix-header-click="group: rent, action: select_district_seven_project">
                                    Đống Đa
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hai Bà Trưng"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Hai Bà Trưng
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Thanh Xuân"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Thanh Xuân
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hà Đông"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Hà Đông
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district= Bắc Từ Liêm"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Bắc Từ Liêm
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Nam Từ Liêm"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Nam Từ Liêm
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hoàng Mai"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Hoàng Mai
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Thanh Trì"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Thanh Trì
                                </a>
                            </li>
                             <li>
                                <a href="listings/search?trantype=project&district=Đông Anh"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Đông Anh
                                </a>
                            </li>
                           <li class="divide"></li>
                            <li>
                                <a href="specialist"
                                   data-mix-header-click="group: rent, action: select_agent_project">Gặp chuyên viên tư
                                    vấn</a>
                            </li>
                            {% comment %}<li>
                                <a href="chu-dau-tu.html"
                                   data-mix-header-click="group: rent, action: select_investor_project">Danh mục Chủ đầu
                                    tư</a>
                            </li>{% endcomment %}
                        </ul>
                    </li>
                <li class="sub-menu">
                    <a>Hỗ trợ<i class="zmdi zmdi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a href="specialist"
                               data-mix-header-click="group: buy, action: select_agent_buy">Gặp chuyên viên tư
                                vấn</a>
                        </li>
                        <li>
                            <a href="whyChoose"
                               data-mix-header-click="group: buy, action: select_pr_buy">Lý do chọn TG Nhà Phố?</a>
                        </li>
{% comment %}                        <li>
                            <a href="guideBuy"
                               data-mix-header-click="group: info, action: select_guideline_buy_info">Hướng dẫn
                                mua nhà</a>
                        </li>
                        <li>
                            <a href="guideSell"
                               data-mix-header-click="group: info, action: select_guideline_sell_info">Hướng dẫn
                                bán nhà</a>
                        </li>
                        <li>
                            <a href="#"
                               data-mix-header-click="group: info, action: select_guideline_sell_info">Kiến thức môi giới</a>
                        </li>{% endcomment %}
                        <li class="divide"></li>
                        <li>
                            <a href="recruitment" title="Tuyển dụng">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="contact" title="Liên hệ">Liên hệ</a>
                        </li>
                        <li>
                            <a href="about" title="Về TGNP">Giới thiệu Về TGNP</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="logo">
            <a href="{% url 'index' %}" data-mix-header-click="group: logo, action: click_logo" title="Thế giới Nhà Phố logo">
                <img src="{% static 'img/logo-nen-trang.svg' %}" alt="Thế giới Nhà Phố">

            </a>
            <div class="main-nav-menu">
                <div class="main-nav-menu__head">
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'img/logo-ko-chu.svg' %}" alt="Thế giới Nhà Phố">
                    </a>
                    <button class="close__main-menu">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                </div>
                <div class="login">

                    <div class="user-login">
                        <a href="#login" data-mix-header-click="group: authen, action: click_login"
                           title="Đăng nhập / Đăng ký"
                           class="btn-primary btn-black-outline btn-medium btn-login">Đăng
                            nhập</a>
                        <a href="#register" data-mix-header-click="group: authen, action: click_sign_up"
                           class="btn-primary btn-red-outline btn-medium btn-signup">Đăng ký</a>
                    </div>


                </div>
                <ul>
                    <li>
                        <a href="{% url 'index' %}">
                            <span>Trang chủ</span>
                        </a>
                    </li>
                <li class="sub-menu">
                    <a>Mua<i class="zmdi zmdi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a href="listings/search?trantype=sell"
                               data-mix-header-click="group: buy, action: select_all_buy">Tất cả nhà đất bán</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=apartment"
                               data-mix-header-click="group: buy, action: select_apartment_buy">Căn
                                hộ</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=shophouse"
                               data-mix-header-click="group: buy, action: select_shophouse_buy">Shophouse</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=house"
                               data-mix-header-click="group: buy, action: select_house_buy">Nhà
                                phố</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=villa"
                               data-mix-header-click="group: buy, action: select_villa_buy">Biệt
                                thự</a>
                        </li>
                        <li>
                            <a href="listings/search?trantype=sell&housetype=land"
                               data-mix-header-click="group: buy, action: select_land_buy">Đất
                                nền</a>
                        </li>
                        <li class="divide"></li>
                        <li>
                            <a href="hoanghai123"
                               data-mix-header-click="group: buy, action: select_zone_buy">Khu dân cư</a>
                        </li>
                        <li>
                            <a href="buywithus"
                               data-mix-header-click="group: buy, action: select_lp_buy">Mua ngay với TGNP</a>
                        </li>
                        <li>
                            <a href="buywithus"
                               data-mix-header-click="group: buy, action: select_lp_buy">Giới thiệu người mua</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                <a>
                    <span>Thuê</span>
                    <i class="zmdi zmdi-chevron-down"></i>
                </a>
                <ul>
                    <li>
                        <a href="listings/search?trantype=rent"
                           data-mix-header-click="group: rent, action: select_all_rent">Tất cả nhà cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=apartment"
                           data-mix-header-click="group: rent, action: select_apartment_rent">Căn hộ
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=shophouse"
                           data-mix-header-click="group: rent, action: select_shophouse_rent">Cửa hàng
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=house"
                           data-mix-header-click="group: rent, action: select_house_rent">Nhà
                            phố cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=villa"
                           data-mix-header-click="group: rent, action: select_villa_rent">Biệt thự
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=office"
                           data-mix-header-click="group: rent, action: select_office_rent">Văn phòng
                            cho thuê</a>
                    </li>
                    <li>
                        <a href="listings/search?trantype=rent&housetype=land"
                           data-mix-header-click="group: rent, action: select_land_rent">Mặt
                            bằng cho thuê</a>
                    </li>
                    <li class="divide"></li>
                    <li>
                        <a href="hoanghai123" data-mix-header-click="group: rent, action: select_zone_buy">Khu
                            dân cư</a>
                    </li>
                    <li>
                        <a href="rentwithus"
                           data-mix-header-click="group: rent, action: select_lp_rent">Thuê với TGNP</a>
                    </li>
                    <li>
                        <a href="rentwithus"
                           data-mix-header-click="group: rent, action: select_lp_rent">Giới thiệu người thuê</a>
                    </li>
                </ul>
            </li>
                <li class="sub-menu">
                    <a>
                        <span>Bán & Cho thuê</span>
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="sellwithus"
                               data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Đăng
                                bán</a>
                        </li>
                        <li>
                            <a href="rentwithus"
                               data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Đăng
                                thuê</a>
                        </li>
                        <li class="divide"></li>
                        <li>
                            <a href="contact"
                               data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS bán</a>
                        </li>
                        <li>
                            <a href="contact"
                               data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS cho thuê</a>
                        </li>
                         <li>
                            <a href="whyChoose"
                               data-mix-header-click="group: sell_lease, action: select_pr_sell_lease">Vì
                                sao chọn TGNP?</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                        <a>
                            <span>Dự án</span>
                            <i class="zmdi zmdi-chevron-down"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="listings/search?trantype=project" data-mix-header-click="group: rent, action: select_all_project">Tất
                                    cả dự án</a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hoàn Kiếm"
                                   data-mix-header-click="group: rent, action: select_district_two_project">
                                    Hoàn Kiếm
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Ba Đình"
                                   data-mix-header-click="group: rent, action: select_district_four_project">
                                    Ba Đình
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Tây Hồ"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Tây Hồ
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Đống Đa"
                                   data-mix-header-click="group: rent, action: select_district_seven_project">
                                    Đống Đa
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hai Bà Trưng"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Hai Bà Trưng
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Thanh Xuân"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Thanh Xuân
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hà Đông"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Hà Đông
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district= Bắc Từ Liêm"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Bắc Từ Liêm
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Nam Từ Liêm"
                                   data-mix-header-click="group: rent, action: select_district_nine_project">
                                    Nam Từ Liêm
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Hoàng Mai"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Hoàng Mai
                                </a>
                            </li>
                            <li>
                                <a href="listings/search?trantype=project&district=Thanh Trì"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Thanh Trì
                                </a>
                            </li>
                             <li>
                                <a href="listings/search?trantype=project&district=Đông Anh"
                                   data-mix-header-click="group: rent, action: select_district_binhthanh_project">
                                    Đông Anh
                                </a>
                            </li>
                           <li class="divide"></li>
                            <li>
                                <a href="specialist"
                                   data-mix-header-click="group: rent, action: select_agent_project">Gặp chuyên viên tư
                                    vấn</a>
                            </li>
                            {% comment %}<li>
                                <a href="chu-dau-tu.html"
                                   data-mix-header-click="group: rent, action: select_investor_project">Danh mục Chủ đầu
                                    tư</a>
                            </li>{% endcomment %}
                        </ul>
                    </li>
                <li class="sub-menu">
                    <a>Hỗ trợ<i class="zmdi zmdi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a href="specialist"
                               data-mix-header-click="group: buy, action: select_agent_buy">Gặp chuyên viên tư
                                vấn</a>
                        </li>
                        <li>
                            <a href="whyChoose"
                               data-mix-header-click="group: buy, action: select_pr_buy">Lý do chọn TG Nhà Phố?</a>
                        </li>
{% comment %}                        <li>
                            <a href="guideBuy"
                               data-mix-header-click="group: info, action: select_guideline_buy_info">Hướng dẫn
                                mua nhà</a>
                        </li>
                        <li>
                            <a href="guideSell"
                               data-mix-header-click="group: info, action: select_guideline_sell_info">Hướng dẫn
                                bán nhà</a>
                        </li>
                        <li>
                            <a href="#"
                               data-mix-header-click="group: info, action: select_guideline_sell_info">Kiến thức môi giới</a>
                        </li>{% endcomment %}
                        <li class="divide"></li>
                        <li>
                            <a href="recruitment" title="Tuyển dụng">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="contact" title="Liên hệ">Liên hệ</a>
                        </li>
                        <li>
                            <a href="about" title="Về TGNP">Giới thiệu Về TGNP</a>
                        </li>
                    </ul>
                </li>
                    <li>
                        <a href="sellwithus">Đăng/Giới thiệu Bán/Cho thuê</a>
                    </li>
                    <li>
                        <a href="sellwithus">Giới thiệu người Mua/Thuê</a>
                    </li>
                    <li>
                        <a href="tel:0916286256" data-mix-header-click="group: hotline, action: click_hotline">
                            <span>Đường dây nóng: <strong>0916286256</strong></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-nav-menu__overlay"></div>
        </div>
    </div>
    <div class="col-center">
        <div class="logo-large">
            <a data-mix-header-click="group: logo, action: click_logo" href="{% url 'index' %}" title="Thế giới Nhà Phố logo">
                <img src="{% static 'img/logo-nen-trang-co-chu.svg' %}" alt="Thế giới Nhà Phố">
            </a>
        </div>
    </div>
    <div class="col-right">
        <div class="top-menu">
            <ul>
                <li>
                    <a href="tel:0916286256" data-mix-header-click="group: hotline, action: click_hotline">
                        <i class="zmdi zmdi-phone"></i>
                        <span>0916286256</span>
                    </a>
                    <a href="javascript:void(0)" class="menu-humber" style="opacity: 0.7">
                        <i class="zmdi zmdi-menu"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="login">

            <style>
                a[waiting-login-js] {
                    opacity: 0.2;
                }
            </style>
            <a href="#login" data-mix-header-click="group: authen, action: click_login" waiting-login-js
               title="Đăng nhập / Đăng ký" class="btn-login">Đăng nhập</a>


            <div class="agency-tgnp">
                <a href="sellwithus" title="Đăng tin nhà đất">Đăng bán nhà đất</a>
            </div>
        </div>
    </div>

    <div class="search-mobile-component" init-title="TP. Hà Nội" keyword="TP. Hà Nội"
         placeholder="Nhập địa điểm, khu dân cư, tòa nhà cần tìm"></div>
</header>
