{% load static i18n %}

<header class="main-header" style="position:sticky; top:0">
  <div class="col-left">
    <div class="logo-large">
      <a href="{% url 'index' %}" title="Thế giới Nhà Phố logo">
        <img src="{% static 'img/logo-ko-chu.svg' %}" alt="Thế giới Nhà Phố">
      </a>
    </div>
    <div class="logo">
      <a href="{% url 'index' %}" data-mix-header-click="group: logo, action: click_logo" title="Thế giới Nhà Phố logo">
        <img src="{% static 'img/logo-ko-chu.svg' %}" alt="Thế giới Nhà Phố">
      </a>
      <div class="main-nav-menu">
        <div class="main-nav-menu__head">
          <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'img/logo-ko-chu.svg' %}" alt="Thế giới Nhà Phố">
          </a>
          <button class="close__main-menu">
            <i class="zmdi zmdi-close"></i>
          </button>
        </div>
        <div class="login">
          <div class="user-login">
            <a href="#login" data-mix-header-click="group: authen, action: click_login"
               title="Đăng nhập / Đăng ký" class="btn-primary btn-black-outline btn-medium btn-login">
              Đăng nhập
            </a>
            <a href="#register" data-mix-header-click="group: authen, action: click_sign_up"
               class="btn-primary btn-red-outline btn-medium btn-signup">Đăng ký</a>
          </div>
        </div>
        <ul>
          <li class="sub-menu">
            <a href="{% url 'index' %}">Trang chủ</a>
          </li>
          {% include "menu/_subMenuBuy.html" %}
          {% include "menu/_subMenuSell.html" %}
          {% include "menu/_subMenuBuySell.html" %}
          {% include "menu/_subMenuProject.html" %}
          {% include "menu/_subMenuSupport.html" %}
        </ul>
      </div>
      <div class="main-nav-menu__overlay"></div>
    </div>
    <div class="top-search" id="topSearchForm">
      <a href="#"></a>
      <form action="{% url 'listing_search' %}">
        <div tabindex="0" class="search-type"><span>Mua nhà</span>
          <ul class="hide">
            <li>
              Thuê nhà
            </li>
            <li>
              Dự án
            </li>
          </ul>
        </div>
        <i class="zmdi zmdi-search"></i>
        <div class="search-type-mobile">
          Mua •
        </div>
        <input placeholder="Nhập địa điểm, khu dân cư, tòa nhà" type="search" autocomplete="disabled"
               spellcheck="false" dir="auto" name="keywords">
      </form>
    </div>
  </div>
  <div class="col-right">
    <div class="top-menu">
      <ul>
        <li>
          <a href="tel:0971841941" data-mix-header-click="group: hotline, action: click_hotline">
            <i class="zmdi zmdi-phone"></i>
            <span>0971 841 941</span>
          </a>
          <a href="javascript:void(0)" class="menu-humber" style="opacity: 0.7">
            <i class="zmdi zmdi-menu"></i>
          </a>
        </li>
        {% include "menu/_subMenuBuy.html" %}
        {% include "menu/_subMenuSell.html" %}
        {% include "menu/_subMenuBuySell.html" %}
        {% include "menu/_subMenuProject.html" %}
        {% include "menu/_subMenuSupport.html" %}
      </ul>
    </div>
    <div class="login">

      <style>
          a[waiting-login-js] {
              opacity: 0.2;
          }
      </style>
      {% if user.is_authenticated %}
        <span style="font-size: smaller; line-height: 1.1em">Chào {{ user.name }}</span>
      {% else %}
        <a href="#login" data-mix-header-click="group: authen, action: click_login" waiting-login-js
           title="Đăng nhập / Đăng ký" class="btn-login">Đăng nhập</a>
      {% endif %}
      <div class="agency-tgnp">
        <a href="{% url 'sell_with_us' %}" title="Đăng tin nhà đất">Đăng bán nhà đất</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      try {
          window.$dialog = function () {
              var e = {
                  bodyClassSpecs: "mdialog-body",
                  bodyLoadingClass: "mdialog-loading",
                  cachedBodyStyle: null,
                  default: {zindex: 99999, width: 300, minHeight: 100, background: "rgba(0,0,0,.5)", opacity: .5},
                  key: {cachedStyle: "cached-style"}
              };
              return e.show = function (t, n, i, o) {

                  (n = $.extend(!0, {outSideClick: !0}, n || {})).maxWidth = "100%";
                  var a, d = document.body.getAttribute("style");
                  document.body.setAttribute(e.key.cachedStyle, d), (a = t && "string" == typeof t ? $(document.getElementById(t)) : t).css("opacity", 0), a.css("overflow-y", "auto"), a.css("overflow-x", "hidden"), a.addClass("opened");
                  var s = (n ? n.body : "") || ".body";
                  return a.find(s).css(n), a.find(s).addClass(e.bodyClassSpecs), a[0] && (a[0].$dialogCallback = i), a[0] && (a[0].$dialogInitTime = +new Date), n && n.close && a.find(s + " " + n.close).off().click(function (n) {
                      n.preventDefault(), e.hide(t, i)
                  }), n && n.outSideClick && a.off().click(function () {
                      e.hide(t, i)
                  }), a.find(s).click(function (e) {
                      e.stopPropagation()
                  }), e.animation(a, 0, 0, 1, function () {
                      o && o()
                  }), e.loadingEnd(a), a
              }, e.animation = function (t, n, i, o, a) {
                  t.css("opacity", n), o > 0 && n > 1 || o < 0 && n < 0 ? a && a() : setTimeout(function () {
                      n += o * (.05 * i + 1e-4 * i * i), e.animation(t, n, i + 1, o, a)
                  }, 10)
              }, e.hide = function (t, n) {
                  var i;
                  i = t ? "string" == typeof t ? $(document.getElementById(t)) : t : $(".mdialog.opened"), e.animation(i, 1, 0, -1, function () {
                      i.removeClass("opened"), n && n(i)
                  })
              }, e.loadingStart = function (t) {
                  (t ? "string" == typeof t ? $(document.getElementById(t)) : t : $(".mdialog.opened")).find("." + e.bodyClassSpecs).addClass(e.bodyLoadingClass)
              }, e.loadingEnd = function (t) {
                  (t ? "string" == typeof t ? $(document.getElementById(t)) : t : $(".mdialog.opened")).find("." + e.bodyClassSpecs + "." + e.bodyLoadingClass).removeClass(e.bodyLoadingClass)
              }, $(window).keydown(function (t) {
                  var n = $(".mdialog.opened");
                  if (n.length && 27 == t.keyCode) {
                      var i = [];
                      i.length = n.length;
                      for (var o = 0; o < n.length; o++) for (var a = o; a < n.length; a++) n[o].$dialogInitTime > n[a].$dialogInitTime ? (i[a] = n[o], i[o] = n[a]) : (i[o] = n[o], i[a] = n[a]);
                      var d = i[i.length - 1];
                      d && e.hide($(d), d ? d.$dialogCallback : null)
                  }
              }), e.initStyles = function () {
                  var e = document.createElement("STYLE"),
                      t = document.head || document.getElementsByTagName("head")[0];
                  e.type = "text/css", e.styleSheet ? e.styleSheet.cssText = "" : e.appendChild(document.createTextNode(this.getCss())), t.appendChild(e)
              }, e.getCss = function () {
                  var t = e.default, n = "",
                      i = {display: "none", position: "fixed", top: "0", height: "100%", left: "0", width: "100%"};
                  i["z-index"] = t.zindex, i.background = t.background, n += e.assignStyle(".mdialog", i), n += ".mdialog.opened{display: block;}";
                  var o = {};
                  o.width = t.width + "px", o["min-height"] = t.minHeight + "px", o.background = "#fff", o.margin = "60px auto 140px auto", n += e.assignStyle(".mdialog .body", o);
                  var a = {position: "relative"};
                  n += e.assignStyle("." + e.bodyLoadingClass, a);
                  var d = {
                      content: "' '",
                      top: 0,
                      left: 0,
                      width: "100%",
                      height: "100%",
                      position: "absolute",
                      background: "#fff",
                      opacity: .4,
                      "z-index": 1
                  };
                  n += e.assignStyle("." + e.bodyLoadingClass + ":before", d);
                  var s = {
                      content: "' '",
                      border: "2px solid #303339",
                      "border-top": "2px solid #fff;",
                      "border-radius": "50%",
                      width: "30px",
                      height: "30px",
                      position: "absolute",
                      top: "calc(50% - 15px)",
                      left: "calc(50% - 15px)",
                      "-webkit-animation": "spin 2s linear infinite",
                      animation: "spin 2s linear infinite",
                      "z-index": 1
                  };
                  return n += e.assignStyle("." + e.bodyLoadingClass + ":after", s), n += "@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }"
              }, e.assignStyle = function (e, t) {
                  var n = e + "{";
                  for (var i in t) {
                      n += i + ":" + t[i] + ";"
                  }
                  return n += "}"
              }, e.initStyles(), e
          }();
      } catch (e) {

      }

  </script>

  <div class="search-mobile-component" keyword="" init-title=""
       placeholder="Nhập địa điểm, khu dân cư, tòa nhà"></div>
</header>


<script type="text/x-template" id="topSearchTemplate">
  <div class="top-search">
    <a href="#"></a>
    <form action="{% url "listing_search" %}">
      <div tabindex="0" class="search-type"><span>Mua nhà</span>
        <ul class="hide">
          <li>
            Thuê nhà
          </li><!---->
          <li>
            Dự án
          </li>
        </ul>
      </div>
      <i v-show="!isLoading" class="zmdi zmdi-search" style="opacity: 0.3"></i>
      <i v-show="isLoading" class="zmdi zmdi-refresh zmdi-hc-spin"></i>
      <div class="search-type-mobile">
        Mua •
      </div>
      <div style="width: 100%" v-click-outside="handleFocus">
        <input placeholder="Nhập địa điểm, khu dân cư, tòa nhà" type="search" autocomplete="disabled"
               name="keywords"
               spellcheck="false" dir="auto" v-model="query"
               v-on:input="handleQueryChange"
               v-bind:class="{ inputInProgress: isLoading, }"
               v-on:focus="handleFocus"
        />
        <ul class="search-suggest-list" v-show="suggestions.length && isFocus">
          <li v-for="suggestion in suggestions" :key="suggestion.type" class=""
              v-bind:class="{'search-result-type-heading': suggestion.isHeader}">
            <span v-if="suggestion.isHeader">
              <strong>${ suggestion.text }$</strong>
            </span>
            <span v-else><a v-bind:href="suggestion.link"><span>${ suggestion.text }$</span> </a></span>
          </li>
        </ul>
      </div>

    </form>
  </div>
</script>