{% load static i18n %}

    <div class="banner-top-bg">
        <script type="deferjs"
                src="https://maps.googleapis.com/maps/api/jsbc52?key=AIzaSyB_J7TCgptlDrvjaFaHrayYb1C2F8ZaeBg&amp;libraries=drawing,places,geometry&amp;language=vi"></script>

        {% include 'partials/_menu.html' %}

        <div class="banner-cover">
            <img srcset="{% static 'img/banner_trang_chupsd.png' %}"
                 src="{% static 'img/banner_trang_chupsd.png' %}" alt="Thế giới Nhà Phố">
        </div>
        <div class="banner-content" style="">
            <div class="banner-content-inner">
                <h1 class="heading-01">Tìm kiếm ngôi nhà mơ ước</h1>
                <h5 class="heading-04">Hàng ngàn căn nhà trong kho giúp bạn tìm kiếm ngôi nhà mơ ước</h5>
                <form class="search-desktop-component" action="search" keyword="TP. Hà Nội"
                      init-title="TP. Hà Nội" placeholder="Nhập địa điểm, khu dân cư, tòa nhà">
                    <div class="tab-container">
                        <div class="tab">
                            <input type="radio" name="service-type" value="sell" checked id="buy-house">
                            <label for="buy-house">Mua nhà</label>
                        </div>
                        <div class="tab">
                            <input type="radio" name="service-type" value="rent" id="rent-house">
                            <label for="rent-house">Thuê nhà</label>
                        </div>
                    </div>
                    <input type="hidden" placeholder="Nhập địa điểm, khu dân cư, tòa nhà" id="hidServiceTypeChecked"/>
                    <div class="search-container">
                        <i class="zmdi zmdi-search" style="opacity: 0.3"></i>
                        <input class="search-input" style="cursor: progress" disabled type="search" autocomplete="off"
                               spellcheck="false" dir="auto" placeholder="TP. Hà Nội">
                        <button type="submit" class="btn-primary btn-ultra btn-red btn-search">
                            <i class="zmdi zmdi-search"></i>
                            <span>Tìm Kiếm</span>
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>