{% load static i18n load_static %}
<!-- Scripts -->
<script src="{% static 'js/all.js' %}" async></script>
{% comment %}<script src="{% static 'js/feedback-modal.js' %}" async></script>
<script src="{% static 'js/header-v2.min.js' %}" async></script>
<script src="{% static 'js/vendors.min.js' %}" async></script>
<script src="{% static 'js/service-sale.min.js' %}" async></script>
<script src="{% static 'js/login-popup.js' %}" async></script>
<script src="{% static 'js/property-contact-box.js' %}" async></script>
<script src="{% static 'js/common.js' %}" async></script>{% endcomment %}
{% comment %}<script src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60d864aab9d3c079" async></script>{% endcomment %}
<script src="{% static 'js/zalosdk.js' %}" defer></script>
{% comment %}<script src=https://sp.zalo.me/plugins/sdk.js defer></script>{% endcomment %}
{% comment %}
<script src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0&appId=643586863046523&autoLogAppEvents=1" async crossorigin=anonymous></script>
{% endcomment %}

/* vue click outside */
<script>
    function VueClickOutside() {
    const e = "__v-click-outside", t = "undefined" != typeof window, n = "undefined" != typeof navigator,
        a = t && ("ontouchstart" in window || n && navigator.msMaxTouchPoints > 0) ? ["touchstart"] : ["click"];
}
    Vue.directive('click-outside', VueClickOutside());
</script>
