   <!-- Top Bar -->
  <section id="top-bar" class="p-1" style="background-color: orange">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> Hotline: 0916286256
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> thegioinhaphovietnam@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://www.facebook.com/TheGioiNhaPhoVietNam.com.vn">
              <i class="fab fa-facebook"></i>
            </a>
              <a href="https://www.youtube.com/channel/UC2YIBjJIw4jL5aQ9LEoCQDg">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://cong-ty-co-phan-bat-ong-san-the-gioi-nha-pho.business.site/">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>