{% load static account %}

<div id="login-modal"></div>

<script type="text/x-template" id="LoginPopupTemplate">
    <div class="popup-login-rv" v-if="isShowPopup">

        <div class="popup-fixed">
            <form class="popup-form-login-rv" method="POST" action="{% url 'login' %}">
                <span class="popup-close-btn" v-on:click="closeModal"><i class="zmdi zmdi-hc-2x zmdi-close"></i></span>
                <div class="popup-info-form-up-login"><p class="login--title mb-40">Đăng nhập hệ thống</p>
                    {% csrf_token %}
                    <input type="hidden" name="remember" id="id_remember" checked="checked">
                    <div class="form-group username">
                        <input name="username" type="text" placeholder="" required/>
                        <label class="error__star"><i
                                class="zmdi zmdi-account"></i><span> Tên đăng nhập hoặc điện thoại hoặc email</span></label>
                        <p class="error username-error" style="display: none;"></p>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" placeholder="" required/>
                        <label class="error__star"><i class="zmdi zmdi-lock"></i><span> Mật khẩu</span></label>
                        <p class="error password-error" style="display: none;"></p>
                    </div>
                    <div class="butt-groups">
                        <button type="submit" class="butt-primary large-butt-red btn-login">
                            <i class="zmdi zmdi-accounts"></i>
                            &nbsp;ĐĂNG NHẬP TÀI KHOẢN
                        </button>
                        <div class="btn-group__account">
                           {% comment %} <a class="btn-facebook" href="{%  provider_login_url "facebook" method="oauth2" %}">
                                Đăng nhập bằng Facebook
                            </a>{% endcomment %}
                            {% comment %}<a class="btn-blue" href="{% url 'login_zalo'%}">
                                Đăng nhập bằng Zalo
                            </a>{% endcomment %}
                            {#            <a href="#" class="btn-google">Đăng nhập với Google</a>#}
                            {#            <a href="#" class="btn-apple" style="opacity: 1;">Đăng nhập với Apple</a>#}
                        </div>
                        <p class="or-type"><span>Nếu bạn chưa có tài khoản</span></p>
                    </div>
                </div>

                <div class="butt-groups"> <b><button class="butt-primary large-butt-red btn-login"><i class="zmdi zmdi-account-add"></i>&nbsp; <a href={% url 'register' %}>Đăng ký tài khoản thành viên mới</a></button></b>
</div>
            </form>

        </div>
    </div>

</script>