{% extends 'base.html' %}

{% load static i18n account %}

{% block title %}
    <title>{% trans "Đăng nhập hệ thống Thế Giới Nhà Phố" %} </title>
    <meta name="title" content="{% trans "Đăng nhập hệ thống Thế Giới Nhà Phố" %}"/>
    <meta property="og:title" content="{% trans "Đăng nhập hệ thống Thế Giới Nhà Phố" %} "/>
{% endblock %}
{% block description %}
    <meta name="description" content="Sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang quản trị hệ thống Thế Giới Nhà Phố. ĐT:0916286256 - 0964399436"/>
<meta property="og:description"
      content="Sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang quản trị hệ thống Thế Giới Nhà Phố. ĐT:0916286256 - 0964399436"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="đăng nhập thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="đăng nhập thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}
  {{ block.super }}
  <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/accounts/login"/>
{% endblock %}
{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5" >
        <div class="row" style="justify-content: center">

            <div class="col-lg-5 col-md-7">

                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5">
                        <div class="text-center text-muted mb-4">
                            {% if msg %}
                                <p>{{ msg | safe }}</p>
                            {% endif %}
                        </div>

                        <form method="POST" action="{% url 'login' %}">

                            {% csrf_token %}
                            <p><h1>Đăng nhập trang quản trị:</h1></p>
                            <p><h5>Mời bạn sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang quản trị hệ thống Thế Giới Nhà Phố</h5></p>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i>&nbsp; Người dùng</span>
                                    {{ form.username }}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend" style="width: -moz-available">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i>&nbsp; Mật khẩu</span>
                                            {{ form.password }}
                                    </div>

                                </div>
                            </div>

                            {% comment %}                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span class="text-muted">Ghi nhớ</span>
                  </label>
                </div>{% endcomment %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Đăng nhập với tài khoản TGNP</button>
                            </div>
                        </form>
                        <div class="btn-wrapper text-center">
                            {% comment %}<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="{% static 'img/Facebook.svg' %} "></span>
                                <span class="btn-inner--text">Đăng nhập với tài khoản Facebook</span>
                            </a>{% endcomment %}
                            {% comment %}<a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="{% static 'img/google.svg' %} "></span>
                                <span class="btn-inner--text">Google</span>
                            </a>{% endcomment %}
                        </div>
                    <hr/>
                     <div class="text-muted text-center mt-2 mb-3"><small>Nếu bạn chưa có tài khoản</small></div>
                        <b><h4 align="center"><a href={% url 'register' %}>Tạo tài khoản thành viên mới</a></h4></b>
                    </div>
{% comment %}                    <div class="card-header bg-transparent">
                        <div class="text-muted text-center mt-2 mb-3"><small>Đăng nhập với</small></div>

                    </div>{% endcomment %}
                </div>
                {% comment %}<div class="row mt-3">
            <div class="col-6"><h4>
              <a href="{% url 'register' %}" class="text-blue"><small>Đăng ký</small></a>
                </h4>
            </div>
            <div class="col-6 text-right">
              <a target="_blank"
                 href="#" class="text-blue"><small>Hỗ trợ trực tiếp</small></a>
            </div>
          </div>{% endcomment %}
            </div>
        </div>
    </div>

{% endblock content %}

