{% load static socialaccount %}

<div id="login-modal">
</div>

<script type="text/x-template" id="LoginPopupTemplate">
    <div class="popup-login-rv" v-if="isShowPopup">

        <div class="popup-fixed">
            <form class="popup-form-login-rv" method="POST" action="{% url 'login' %}">
                <span class="popup-close-btn" v-on:click="closeModal"><i class="zmdi zmdi-hc-2x zmdi-close"></i></span>
                <div class="popup-info-form-up-login"><p class="login--title mb-40">Đăng nhập</p>
                    {% csrf_token %}
                    <input type="hidden" name="remember" id="id_remember" checked="checked">
                    <div class="form-group username">
                        <input name="username" type="text" placeholder="" required/>
                        <label class="error__star"><i
                                class="fas fa-user"></i><span>Tên đăng nhập hoặc email</span></label>
                        <p class="error username-error" style="display: none;"></p>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" placeholder="" required/>
                        <label class="error__star"><i class="fas fa-lock"></i><span>Mật khẩu</span></label>
                        <p class="error password-error" style="display: none;"></p>
                    </div>
                    <div class="butt-groups">
                        <button type="submit" class="butt-primary large-butt-red btn-login">
                            Đăng nhập với tài khoản trên
                        </button>
                        <div class="btn-group__account">
                            <a class="btn-facebook" href="{% provider_login_url "facebook" method="oauth2" %}">
                                Đăng nhập với tài khoản Facebook
                            </a>
                            {#            <a href="#" class="btn-google">Đăng nhập với Google</a>#}
                            {#            <a href="#" class="btn-apple" style="opacity: 1;">Đăng nhập với Apple</a>#}
                        </div>
                        <p class="or-type"><span>Nếu bạn chưa có tài khoản</span></p>
                    </div>
                </div>

                <div class="butt-groups"> <b><button><a href={% url 'register' %}>Đăng ký tài khoản thành viên mới</a></button></b>
</div>
            </form>

        </div>
    </div>

</script>