{% extends 'base.html' %}

{% load static listing i18n %}
{% block title %} {% trans 'Thông tin cá nhân' %} {% endblock title %}

{% block content %}
    <div id="wrap">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu2.html' %}

        <!-- Main Content  -->
        <!-- Header -->
        <div class="header d-flex align-items-center">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-2"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                {% comment %}            <div class="row mt--7">
                <div class="col-lg-7 col-md-10">
                    <h4 class="text-blue">{% trans 'Trang cá nhân của' %} {{ user.first_name }} {{ user.last_name }} </h4>
                </div>
            </div>{% endcomment %}
            </div>
        </div>

        <div class="container-fluid mt--6">

            <div class="row col-xl-12">
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-body">
                            <form action="{% url 'profile' %}" method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <h5 class="h5 heading-small text-muted mb-4">Thông tin cá nhân</h5>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="username">{% trans "Tên tài khoản đăng nhập" %}</label>
                                                <input class="form-control" required type="text" name="username"
                                                        {% if reg_user.username %}
                                                       value="{{ reg_user.username }}"
                                                       {% else %}value="{{ request.user.username }}"{% endif %}
                                                       placeholder="Nhập tài khoản đăng nhập"/>
                                                {% if form.username.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.username.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="first_name">{% trans "Họ đệm" %}</label>
                                                <input class="form-control" required type="text" name="first_name"
                                                        {% if reg_user.first_name %}
                                                       value="{{ reg_user.first_name }}"
                                                       {% else %}value="{{ request.user.first_name }}"{% endif %}
                                                       placeholder="Nhập họ tên đệm"/>
                                                {% if form.firstname.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.first_name.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="last_name">{% trans "Tên" %}</label>
                                                <input class="form-control" required type="text" name="last_name"
                                                        {% if reg_user.last_name %}
                                                       value="{{ reg_user.last_name }}"
                                                       {% else %}value="{{ request.user.last_name }}"{% endif %}
                                                       placeholder="Nhập tên của bạn"/>
                                                {% if form.lastname.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.last_name.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="dob">Ngày
                                                    sinh</label>
                                                <input type="date" name="dob"
                                                       class="form-control form-control-alternative"
                                                        {% if reg_user.dob %}
                                                       value="{{ reg_user.dob }}"
                                                       {% else %}value="{{ request.user.dob }}"{% endif %}
                                                       placeholder="{{ request.user.dob }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Giới
                                                    tính</label>
                                                <fieldset name="gendergroup">
                                                    <input type="radio" name="gender" id="male" value="male"
                                                            {% if reg_user.gender == 'male' or request.user.gender == 'male' %}
                                                           checked{% endif %}> Nam
                                                    <input type="radio" name="gender" id="female" value="female"
                                                            {% if reg_user.gender == 'female' or request.user.gender == 'female' %}
                                                           checked{% endif %}> Nữ
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="avatar">Ảnh đại diện</label>
                                                <input type="file" name="avatar" id="avatar"
                                                       class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4"/>
                                <!-- Address -->
                                <h6 class="h5 heading-small text-muted mb-4">Thông tin liên hệ</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="address">Địa chỉ</label>
                                                <input name="address" class="form-control form-control-alternative"
                                                       placeholder="{{ reg_user.address }}"
                                                        {% if reg_user.address %}
                                                       value="{{ reg_user.address }}"
                                                       {% else %}value="{{ request.user.address }}"{% endif %}
                                                       type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="phone">{% trans "Số điện thoại" %}</label>
                                                <input class="form-control" required type="text" name="phone"
                                                        {% if reg_user.phone %}
                                                       value="{{ reg_user.phone }}"
                                                       {% else %}value="{{ request.user.phone }}"{% endif %}
                                                       placeholder="Số điện thoại"/>
                                                {% if form.phone.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.phone.errors.as_text }}</span>{% endif %}

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="email">{% trans "Email" %}</label>
                                                <input class="form-control" required type="text" name="email"
                                                        {% if reg_user.email %}
                                                       value="{{ reg_user.email }}"
                                                       {% else %}value="{{ request.user.email }}"{% endif %}
                                                       placeholder="Thư điện tử"/>
                                                {% if form.email.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.email.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                     </div>
                                <hr class="my-4"/>
                                <div class="row">
                                         <div class="col-md-6">
                                                <label class="form-control-label" for="is_broker">Tôi muốn làm môi giới&nbsp;</label>
                                                  {% if request.user.is_broker == True or reg_user.is_broker == True%}
                                                    <input type="checkbox" name="is_broker" checked>
                                                      {% else %}
                                                      <input type="checkbox" name="is_broker">
                                              {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                                <label class="form-control-label" for="is_investor">Tôi muốn đầu tư &nbsp;</label>
                                                {% if request.user.is_investor == True or reg_user.is_investor == True%}
                                                    <input type="checkbox" name="is_broker" checked>
                                                      {% else %}
                                                      <input type="checkbox" name="is_broker">
                                            {% endif %}
                                        </div>
                                </div>

                                </div>
                                <hr class="my-4"/>
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">Giới thiệu về bạn</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group">
                                    <textarea rows="4" class="form-control form-control-alternative" name="bio"
                                              placeholder="{{ reg_user.bio }}">{% if reg_user.bio %}
                                        {{ reg_user.bio }}{% else %}{{ request.user.bio }}{% endif %}</textarea>
                                    </div>
                                </div>

                               <div class="card-footer text-center border-0">
                                    <input type="submit" style="font-size: large; font-weight: bold" value="{% trans "Ghi nhớ thông tin" %}" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center border-0">

                        </div>
                    </div>
                <br>
                    {% include 'transactions/list_transactions.html' %}
                </div>
                <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
                    {% include 'accounts/_profilePanelRight.html' %}
                </div>
            </div>
            <br/>
        </div>
        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

    </div>
    <br/>
    <!-- Footer content below-->
{% endblock %}



