{% extends 'base.html' %}

{% load static humanize i18n %}
{% block title  %}
    <title>{% trans "Đăng ký gia nhập Thế Giới Nhà Phố thành công" %} </title>
    <meta name="title" content="{% trans "Đăng ký gia nhập Thế Giới Nhà Phố thành công" %}"/>
    <meta property="og:title" content="{% trans "Đăng ký gia nhập Thế Giới Nhà Phố thành công" %} "/>
{% endblock %}
{% block description %}
    <meta name="description" content="Đăng ký gia nhập Thế Giới Nhà Phố thành công, bạn sẽ được trải nghiệm và hưởng rất nhiều lợi ích trong lĩnh vực bđs. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="Đăng ký gia nhập Thế Giới Nhà Phố thành công, bạn sẽ được trải nghiệm và hưởng rất nhiều lợi ích trong lĩnh vực bđs. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="Đăng ký gia nhập Thế Giới Nhà Phố thành công, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="Đăng ký gia nhập Thế Giới Nhà Phố thành công, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}
  {{ block.super }}
  <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/accounts/register_success"/>
{% endblock %}
{% block content %}
    <div id="wraps">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu2.html' %}

        <!-- Main Content  -->
        <section class="background-gray">
            <div class="width1140 s-padding-tb">
                <div style="align-content: center">
                    <h4>{% translate "Chào mừng bạn!" %}</h4>
                    <br/>
                    <h4>{% translate "Bạn đã đăng ký thành công tài khoản trên hệ thống THẾ GIỚI NHÀ PHỐ." %}</h4>
                    <br/>
                    <h6>{% translate "- Để sử dụng hệ thống mời bạn đăng nhập với tài khoản & mật khẩu vừa đăng ký." %}</h6>
                    <p><a class="btn btn-primary" href="#login">{% translate 'Đăng nhập khai thác BĐS' %}</a></p>
                    <br/>
                    <br/><br/>
                </div>
                <div class="s-grid s-column-4 s-gutters">
                    <div class="s-cell s-btn">
                        <a href="{% url 'specialist' %}">Gặp chuyên viên tư vấn</a>
                    </div>
                    <div class="s-cell s-btn">
                        <a href="{% url 'sellleaseus' %}">Đăng bán, cho thuê</a>
                    </div>
                    <div class="s-cell s-btn">
                        <a href="https://forms.gle/LM41QBEMSZvwmSta7">Gia nhập TGNP</a>
                    </div>
                    <div class="s-cell s-btn">
                        <a href="{% url 'contacts' %}">Liên hệ</a>
                    </div>
                </div>
            </div>
        </section>

        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

    </div>

    <!-- Footer content below-->
{% endblock %}

{% block scripts %}

{% endblock %}
