{% extends "admin/includes/_layout_base.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block content %}
    <div id="content-main">
        <h2>{% blocktranslate with username=original %}Nhập mật khẩu mới cho người dùng
            <strong>{{ user }}</strong>:{% endblocktranslate %}</h2>
        {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}
                    {% translate "Hãy hoàn thành các lỗi bên dưới." %}{% else %}
                    {% translate "Hãy hoàn thành các lỗi bên dưới." %}{% endif %}
            </p>
        {% endif %}

        <form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">
            {% csrf_token %}{% block form_top %}{% endblock %}

            {{ form }}

            <div class="submit-row">
                <input type="submit" value="{% translate 'Đổi mật khẩu' %}" class="default">
            </div>

        </form>
    </div>
{% endblock %}
