{% extends 'admin/layout_admin.html' %}
{% load i18n %}

{% block title %} | {% trans "Quản lý tài khoản" %} {% endblock %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{% trans "Trang quản lý tài khoản thành viên" %}</h1>
                    <p class="lead">{% trans "Quản lý tài khoản thành viên Nhà Phố" %}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i> {% trans "Trang chủ" %}</a>
                    </li>
                    <li class="breadcrumb-item active"> {% trans "Quản lý tài khoản" %}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <section id="dashboard" class="py-4">

        <table>
            <td><a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-coins"></i>
                {% trans "Đăng Bán/Cho thuê/Ký gửi" %}
            </a>
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fas fa-coins"></i>
                    {% trans "Giới thiệu BĐS/Người mua" %}
                </a></td>
            <td>
                <div style="text-align-all: center">
                    <h2>{% trans "Quản lý tài khoản cá nhân" %} {{ user.first_name }}</h2>
                </div>
                <h4>{% trans "Chào mừng" %} {{ user.first_name }}</h4>
                {% if contacts %}
                    <p>{% trans "Danh sách sản phẩm đã yêu cầu" %}</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{% trans "Thuộc tính" %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.id }}</td>
                                <td>{{ contact.listing }}</td>
                                <td>
                                    <a class="btn btn-light"
                                       href="{% url 'listing' contact.listing_id %}">{% trans "Xem danh sách" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "Bạn chưa có tương tác sản phẩm nào" %}</p>
                {% endif %}
            </td>
        </table>
    </section>
{% endblock %}
