{% extends "admin/includes/_layout_base.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block content %}
    <div id="content-main">
        <h3>{% blocktranslate with username=original %}Nhập mật khẩu mới cho người dùng
            <strong>{{ user }}</strong>:{% endblocktranslate %}</h3>
        {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}
                    {% translate "Hãy hoàn thành các lỗi bên dưới." %}{% else %}
                    {% translate "Hãy hoàn thành các lỗi bên dưới." %}{% endif %}
            </p>
        {% endif %}

        <form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">
            {% csrf_token %}{% block form_top %}{% endblock %}

            {% comment %}{{ form }}{% endcomment %}
<fieldset class="module aligned">

<div class="form-row">
  {{ form.oldpassword.errors }}
  Mật khẩu cũ: {{ form.oldpassword }}
  {% if form.oldpassword.help_text %}
  <div class="help">
    Nhập mật khẩu hiện tại<br>
  </div>
  {% endif %}
</div>

<div class="form-row">
  {{ form.password1.errors }}
  Mật khẩu mới: {{ form.password1 }}
  {% if form.password1.help_text %}
  <div class="help">{% comment %}{{ form.password1.help_text|safe }}{% endcomment %}
    Mật khẩu của bạn không được quá giống với thông tin cá nhân khác của bạn.<br>
    Mật khẩu của bạn phải chứa ít nhất 8 ký tự.<br>
    Mật khẩu của bạn không được là mật khẩu thường dùng.<br>
    Mật khẩu của bạn không được hoàn toàn bằng số.
  </div>
  {% endif %}
</div>

<div class="form-row">
  {{ form.password2.errors }}
  Gõ lại mật khẩu: {{ form.password2 }}
  {% if form.password2.help_text %}
  <div class="help">Nhập mật khẩu lại giống như trên, để xác nhận.</div>
  {% endif %}
</div>

</fieldset>

            <div class="submit-row">
                <input type="submit" value="{% translate 'Đổi mật khẩu' %}" class="default">
            </div>

        </form>
    </div>
{% endblock %}
