{% extends 'base.html' %}

{% load humanize i18n %}
{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            {% trans "Tìm kiếm nhà phố dễ dàng" %}
          </h1>
          <p class="lead">{% trans "Hàng ngàn căn nhà phố, nhà riêng trong kho hàng của chúng tôi giúp bạn tìm kiếm ngôi nhà ở mở ước" %}</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">{% trans "Từ khóa" %}</label>
                  <input type="text" name="keywords" class="form-control" placeholder="{% trans "Từ khóa (khu vực, địa chỉ)" %}">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">{% trans "Thành phố" %}</label>
                  <input type="text" name="city" class="form-control" placeholder="{% trans "Thành phố" %}">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">{% trans "Quận huyện" %}</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">{% trans "Quận huyện" %}</option>
                    {% for key,value in state_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">{% trans "Phòng ngủ" %}</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">{% trans "Tất cả phòng ngủ" %}</option>
                    {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">{% trans "Giá tối đa (tất cả)" %}</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">{% trans "Tìm kiếm" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">{% trans "Nhà mới nhất" %}</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">
                {% include 'listings/_listing_card.html' %}
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>{% trans "Không có kết quả phù hợp!" %}</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}