<script type="text/x-template" id="contactPopupTemplate">
    <div v-show="showContactPopup" wrapper-name="default">
        <div class="popup-overlay">
            <div class="popup-container">
                <div class="popup-send-info">
                    <div class="header-w-close">
                        <button class="close-popup-btn" v-on:click="closePopup">
                            <i class="zmdi zmdi-hc-2x zmdi-close"></i>
                        </button>
                        <h3 class="font-tiempos">Liên hệ tư vấn</h3>
                    </div>
                    <div id="contact-now-form-body" class="form-info" style="background: rgb(255, 255, 255);">
                        <div class="server-message">
                        </div>
                        <form id="quoteContactForm" data-formtype="property-form" method="post"
                              action="{% url "request_quote" %}"
                              v-on:submit="handleFormSubmit">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-element per50-left"
                                     v-bind:class="{focused: shouldFocusedClass('firstname')}">
                                    <div class="placeholder">Họ</div>
                                    <label>
                                        <input type="text" name="firstname" class="input" required
                                               v-model="data.firstname"
                                               v-on:focus="onFocusField('firstname')"
                                               v-on:blur="onBlur('firstname')"
                                               v-on:input="e => handleInputChange('firstname', e)"
                                        />
                                    </label>
                                    <span class="error-text" v-if="errors.firstname">[[errors.firstname]]</span>
                                </div>
                                <div class="form-element per50-right"
                                     v-bind:class="{focused: shouldFocusedClass('lastname')}">
                                    <div class="placeholder">Tên</div>
                                    <input type="text" name="lastname" class="input" required
                                           v-model="data.lastname"
                                           v-on:focus="onFocusField('lastname')"
                                           v-on:blur="onBlur('lastname')"
                                           v-on:input="e => handleInputChange('lastname', e)"
                                    />
                                    <span class="error-text" v-if="errors.lastname">[[errors.lastname]]</span>
                                </div>
                                <div class="form-element per50-left"
                                     v-bind:class="{focused: shouldFocusedClass('email')}">
                                    <div class="placeholder">Email (Không bắt buộc)</div>
                                    <input type="text" name="email" class="input"
                                           v-model="data.email"
                                           v-on:focus="onFocusField('email')"
                                           v-on:blur="onBlur('email')"/>
                                    <span class="error-text">[[errors.email]]</span>
                                </div>
                                <div class="form-element per50-right"
                                     v-bind:class="{focused: shouldFocusedClass('phone')}">
                                    <div class="placeholder">Số điện thoại</div>
                                    <input type="text" name="phone" class="input" required
                                           v-model="data.phone"
                                           v-on:focus="onFocusField('phone')"
                                           v-on:blur="validatePhone"
                                           v-on:input="e => handleInputChange('phone', e)"
                                    />
                                    <span class="error-text">[[errors.phone]]</span>
                                </div>
                                <div class="form-element form-dropdown"
                                     v-bind:class="{focused: focusedField==='district' || data.district.code !== ''}">
                                    <div class="placeholder">Khu vực bạn quan tâm (Không bắt buộc)</div>
                                    <div class="" v-bind:class="{active: focusedField==='district'}">
                                        <input type="hidden" name="district" v-model="data.district.code"/>
                                        <input type="text" autocomplete="false" class="input"
                                               v-model="data.district.text"
                                               v-on:focus="onFocusField('district')"
                                               v-on:blur="onBlur('district')"/>
                                        <ul tabindex="-1" class="form-dropdown-content">
                                            {#                      <li class="active"><a href="#">Quận 2</a></li>#}
                                            <li v-for="item in districtData"
                                                v-bind:class="{active: data.district.code===item.code}"
                                                @click.prevent="onSelectDistrict(item)">
                                                <a href="#">[[item.text]]</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="error-text"></span>
                                </div>
                                <div class="form-element form-dropdown focused"
                                     v-bind:class="{active: focusedField==='houseType'}">
                                    <div class="placeholder">Loại nhà đất bạn muốn mua</div>
                                    <div class="">
                                         <span class="input" style="color: initial; padding: 8px 10px 5px;"
                          v-on:click="toggleFocusField('houseType')">[[getSelectedHouseTypeText()]]</span>
                                        <select name="house_type" style="display: none">
                                            <option v-for="item in houseTypes" :value="item.type">[[item.text]]</option>
                                        </select>
                                        <ul tabindex="-1" class="form-dropdown-content">
                                            <li v-for="item in houseTypes"
                                                v-bind:class="{active: data.houseType===item.type}"
                                                @click.prevent="onSelectHouseType(item.type)">
                                                <a href="#">[[item.text]]</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="error-text"></span>
                                </div>
                                <div class="form-element" :class="{focused: shouldFocusedClass('requestPrice')}">
                                    <div class="placeholder">Mức giá cần mua - Tỷ đồng (Không bắt buộc)</div>
                                    <input type="text" name="request_price" class="input"
                                           v-model="data.requestPrice"
                                           v-on:focus="onFocusField('requestPrice')"
                                           v-on:blur="onBlur('requestPrice')"
                                    />
                                    <span class="error-text">[[errors.requestPrice]]</span>
                                </div>
                                <div class="form-element textarea-height"
                                     :class="{focused: focusedField === 'message' || data.message!==''}">
                                    <div class="placeholder">Lời nhắn</div>
                                    <input name="message" type="hidden" :value="data.message"/>
                                    <textarea required
                                              v-model="data.message"
                                              v-on:focus="onFocusField('message')"
                                              v-on:blur="onBlur('message')"
                                              v-on:input="e => handleInputChange('message', e)"
                                    >
                  </textarea>
                                    <span class="error-text">[[errors.message]]</span>
                                </div>
                            </fieldset>
                            <div class="action">
                                <button type="submit" class="large-btn-red ld-ext-right">
                                    Gửi thông tin
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>
                            <div class="or-direct-call">
                                <p> Hoặc gọi ngay <a
                                        href="tel:0916286256"><strong>0916286256 - 0971841941</strong></a> để được tư vấn miễn phí
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="withUs_ContactPopupTemplate">
    <div v-show="showContactPopup" class="popup-fade popup-property popup__listing--contact show">
        <div class="popup-dialog popup-dialog-centered">
            <div class="popup-content">
                <button class="popup-close" @click.prevent="closePopup"><i class="zmdi zmdi-close"></i></button>
                <div class="popup-right">
                    <div class="popup-right-form-up show ask-view" style="">
                        <div class="popup-header"><h5 class="popup-title">Đăng ký dịch vụ BĐS với TGNP</h5>
                            <button class="popup-back back-negotiate"><i
                                    class="zmdi zmdi zmdi-hc-2x zmdi-long-arrow-left"></i>
                            </button>
                        </div>
                        <div class="form-info">

                             <form data-formtype="contact-now-form" data-formitem="selling-leasing" method="post" action="{% url "post_contact" %}"
                              {% comment %}v-on:submit="handleFormSubmit"{% endcomment %}>
                            {% csrf_token %}
                                 <input type="hidden" name="listing_id" value="none"/>

                            <fieldset>
                                <div class="form-element per50-left" v-bind:class="{focused: shouldFocusedClass('firstname')}">
                                    <div class="placeholder">Họ</div>
                                    <input type="text" name="firstname" class="input" required v-model="data.firstname"
                                           v-on:focus="onFocusField('firstname')" v-on:blur="onBlur('firstname')" v-on:input="e => handleInputChange('firstname', e)"/>
                                    <span class="error-text" v-if="errors.firstname">[[errors.firstname]]</span>
                                </div>
                                <div class="form-element per50-right" v-bind:class="{focused: shouldFocusedClass('lastname')}">
                                    <div class="placeholder">Tên</div>
                                    <input type="text" name="lastname" class="input" required v-model="data.lastname" v-on:focus="onFocusField('lastname')"
                                           v-on:blur="onBlur('lastname')" v-on:input="e => handleInputChange('lastname', e)"/>
                                    <span class="error-text" v-if="errors.lastname">[[errors.lastname]]</span>
                                </div>
                                <div class="form-element per50-left" v-bind:class="{focused: shouldFocusedClass('email')}">
                                    <div class="placeholder">Email (Không bắt buộc)</div>
                                    <input type="text" name="email" class="input" v-model="data.email"
                                           v-on:focus="onFocusField('email')" {% comment %}v-on:blur="onBlur('email')"{% endcomment %}/>
                                    <span class="error-text" v-if="errors.lastname">[[errors.email]]</span>
                                </div>
                                <div class="form-element per50-right"  v-bind:class="{focused: shouldFocusedClass('phone')}">
                                    <div class="placeholder">Số điện thoại</div>
                                    <input type="text" name="phone" class="input" required v-model="data.phone"
                                           v-on:focus="onFocusField('phone')" v-on:blur="validatePhone" v-on:input="e => handleInputChange('phone', e)"/>
                                    <span class="error-text" v-if="errors.lastname">[[errors.phone]]</span>
                                </div>
                                <div class="form-element per50-left">
                                    <div class="placeholder">Nhu cầu của bạn?</div>
                                      <select class="option-group" style="width: 100%; margin-bottom: 0; height: 44px; border: 1px solid rgba(131, 131, 131, .3) " data-model="type" name="trantype" required id="">
                                           <option value=""></option>
                                          <option value="buy">Mua</option>
                                          <option value="rent">Thuê</option>
                                          <option value="sell">Cần Bán</option>
                                          <option value="lease">Cho Thuê</option>
                                      </select>
                                  </div>
                                    <div class="form-element per50-left">
                                        <div class="placeholder">Loại BĐS bạn muốn giao dịch</div>
                                              <select class="option-group" style="width: 100%; margin-bottom: 0; height: 44px; border: 1px solid rgba(131, 131, 131, .3) " data-model="type" required name="houseType" id="">
                                                   <option value=""></option>
                                                  <option value="town_house">Nhà trong ngõ</option>
                                                  <option value="street_house">Nhà mặt phố</option>
                                                  <option value="apartment">Căn hộ</option>
                                                  <option value="villa">Biệt thự</option>
                                                  <option value="shop_house">Cửa hàng</option>
                                                  <option value="land">Đất</option>
                                                  <option value="other">Loại hình khác</option>
                                              </select>
                                   </div>
                                <div class="form-element per50-left" {% comment %}v-bind:class="{focused: shouldFocusedClass('location')}"{% endcomment %}>
                                 <div class="placeholder">Địa chỉ BĐS hoặc Khu vực quan tâm</div>
                                    <input class="input" type="text" name="location" required {% comment %}v-model="data.address"{% endcomment %}
                                           v-on:focus="onFocusField('location')" v-on:blur="onBlur('location')" v-on:input="e => handleInputChange('location', e)"
                                           value="" data-fr-optional data-fr="string" data-suggest=""/>
                                    <span class="error-text" v-if="errors.lastname">[[errors.location]]</span>
                                </div>
                                <div class="form-element per50-right" v-bin:class="{focused: shouldFocusedClass('price')}">
                                    <div class="placeholder">Giá mong muốn (tỷ)</div>
                                    <label>
                                        <input type="text" name="price" class="input" v-model="data.requestPrice"
                                               v-on:focus="onFocusField('price')" v-on:blur="onBlur('price')"/>
                                    </label>
                                    <span class="error-text" v-if="errors.lastname">[[errors.price]]</span>
                                </div>
                                <div class="form-element per50-right textarea-height" v-bin:class="{focused: shouldFocusedClass('message')}">
                                    <div class="placeholder">Lời nhắn gửi Thế Giới Nhà Phố</div>
                                        <textarea name="message" required  v-model="data.message" v-on:focus="onFocusField('message')"
                                              v-on:blur="onBlur('message')" v-on:input="e => handleInputChange('message', e)"></textarea>
                                    <span class="error-text" v-if="errors.lastname">[[errors.message]]</span>
                                </div>
                            </fieldset>
                            <div class="action">
                                <button type="submit" class="large-btn-red ld-ext-right">Gửi thông tin<div class="ld ld-ring ld-spin"></div></button>
                            </div>
                            <div class="or-direct-call">
                                 <p> Hoặc gọi ngay <a
                                        href="tel:0916286256"><strong>0916286256 - 0971841941</strong></a> để được tư vấn miễn phí
                                </p>  </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>