<script type="text/x-template" id="detailPopupContactTemplate">
  <div v-show="showContactPopup" class="popup-fade popup-property popup__listing--contact show">
    <div class="popup-dialog popup-dialog-centered popup-dialog-large">
      <div class="popup-content">
        <button class="popup-close" @click.prevent="closePopup"><i class="zmdi zmdi-close"></i></button>
        <div class="popup-left">
          <div class="popup-left-cover"><a href="javascript:void(0)">
              {% with listing.main_photo as photo %}
                    <img class="card-img-top" src="{{ photo.url }}"  alt="TGNP">
                {% endwith %}
              </a> <label class="status status-top status-monopoly" style="display: none;">Độc
            quyền</label></div>
          <div class="popup-left-content"><h3 class="popup-left-title"><a
            href="javascript:void(0)">{{ lisitng.title }}</a></h3>
            <div class="popup-left-address"></div>
            <ul class="popup-left-info">
              {% if listing.bedrooms %}
                <li><p>Phòng ngủ:</p> <strong>{{ listing.bedrooms }}</strong></li>
              {% endif %}
              <li><p>Diện tích:</p> <strong>{{ listing.area }}</strong></li>
              {% if listing.bathrooms %}
                <li><p>Phòng tắm:</p> <strong>None</strong></li>
              {% endif %}
              <li><p>Giá:</p> <strong class="color-red-base">{{ listing.price }} tỷ</strong></li>
            </ul>
          </div>
        </div>
        <div class="popup-right">
          <div class="popup-right-content" style="display: none;">
            <div class="popup-header"><h5 class="popup-title">Liên hệ tư vấn</h5>
            </div>
            <div class="popup-body">
              <div class="popup-right-rva">
                <div class="rva-cover"><img src="/static/images/isa-team-v2.png"
                                            alt="TGNP"></div>
                <div class="rva-info">
                  <h3 class="rva-info-name">Chuyên viên đã sẵn sàng hỗ trợ!</h3>
                  <p class="rva-info-job-title">Tư vấn hoàn toàn miễn phí</p>
                </div>
              </div>
              <a href="tel:0916 286 256"
                 class="phone-hidden_popup btn-primary btn-large btn-red popup-right-phone"><i
                class="zmdi zmdi-phone"></i>
                <span class="text">Liên hệ chuyên viên ngay</span></a> <span
              class="text-small-centered">Hoặc</span>
              <div class="popup-right-cta">
                <button class="btn-primary btn-large btn-black-outline">Thương lượng giá</button>
                <button class="btn-primary btn-large btn-black-outline">Liên hệ lại tôi</button>
              </div>
            </div>
          </div>
          <div class="popup-right-form-up show ask-view" style="">
            <div class="popup-header"><h5 class="popup-title">Liên hệ lại tôi</h5>
              <button class="popup-back back-negotiate"><i
                class="zmdi zmdi zmdi-hc-2x zmdi-long-arrow-left"></i>
              </button>
            </div>
            <div class="popup-body">
              <form id="detailContactForm" data-formtype="property-form" data-formitem="property-request-info"
                    method="post" action="{% url 'post_contact' %}">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                <div class="form-element">
                  <input required type="text" name="firstname"
                         v-model="data.firstname"
                         v-on:blur="validateRequired('firstname')"
                         v-on:input="e => handleInputChange('firstname', e)"
                  />
                  <span class="text-error" v-if="errors.firstname">[[errors.firstname]]</span>
                  <label>Họ</label>
                </div>
                <div class="form-element">
                  <input required type="text" name="lastname"
                         v-model="data.lastname"
                         v-on:blur="validateRequired('lastname')"
                         v-on:input="e => handleInputChange('lastname', e)"
                  />
                  <span class="text-error" v-if="errors.lastname">[[errors.lastname]]</span>
                  <label>Tên</label>
                </div>
                <div class="form-element">
                  <input type="text" name="phone" required
                         v-model="data.phone"
                         v-on:blur="validatePhone"
                         v-on:input="e => handleInputChange('phone', e)"
                  />
                  <span v-if="errors.phone" class="text-error">[[errors.phone]]</span>
                  <label>Số điện thoại</label>
                </div>
                <div class="form-element">
                  <input type="text" name="email"
                         v-model="data.email"
                         v-on:input="e => handleInputChange('email', e)"
                         v-on:blur="validateEmail"/>
                  <span class="text-error">[[errors.email]]</span>
                  <label>Email (không bắt buộc)</label>
                </div>
                <div class="form-element focused" style="display: none;">
                  <input inputmode="decimal"/>
                  <div style="display: none;"><span class="text-error">Giá thương lượng không hợp lệ</span>
                  </div>
                  <label>Giá mong muốn</label></div>
                <div class="form-element" style="">
                  <input required name="message" type="text"
                         value="Tôi muốn biết thêm thông tin về căn hộ {{ listing.code }}"/>
                  <label>Lời nhắn</label>
                </div>
                <div class="form-element">
                  <button type="submit" class="btn-primary btn-red btn-medium">Gửi ngay</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
