{% load static humanize i18n get_cadastral listing %}

<article class="listingCard">
    <div class="cover-image">
        <a href="{% url "listing_detail" listing.id %}" title="{{ listing.title }}">
            {% if listing.main_photo %}
                {% with listing.main_photo as photo %}
                    <img src="{% static "img/default.png" %}"
                         data-src="{{ photo.url }}"
                         alt="{{ listing.title }}"
                         title="{{ listing.title }}"
                         class="lazy" draggable="false"
                         onerror="this.src='{% static "img/default.png" %}'"
                    />
                {% endwith %}
            {% else %}
                <img src="{% static "img/default.png" %}"
                     data-src="{{ listing.house_type|default_img_by_house_type }}"
                     alt="{{ listing.title }}"
                     title="{{ listing.title }}"
                     class="lazy" draggable="false"
                     onerror="this.src='{% static "img/default.png" %}'"
                />
            {% endif %}

        </a>
        <div class="label-group">
         <label class="label-primary unique"
                   style="font-family: 'tgnp-font2'"><b>{{ listing.status|get_listing_status }}
                {% if listing.transaction_type == "rent" %}{% trans "CHO THUÊ" %} {% else %}
                    {% trans "BÁN" %} {% endif %}</b></label>
            {% if listing.average_price and listing.transaction_type != "rent" %}
                <label class="label-primary unique" title="Giá/m2"><b>{{ listing.average_price }} tr/m2</b></label>
            {% endif %}
            {% if listing.is_exclusive %}
                <label class="label-primary unique p-3">{% trans "Độc quyền" %}</label>
            {% endif %}
        </div>
        {% comment %}<button data-action="favorite" data-id="{{ listing.id }}" data-alias="{{ listing.title }}"
                data-type="sale_property" data-favorited="false"
                class="btn-favorite btn-favorite__v2 zmdi zmdi-favorite-outline"></button>{% endcomment %}
    </div>
    <div class="info-container">

        <div class="flex align-items-center justify-content-space-between">
            <ul class="listing-info">
                <li><b style="font-size: medium; color: limegreen">{{ listing.price.normalize }}
                    {% if listing.transaction_type == "rent" %}{% trans "triệu" %} {% else %}
                        {% trans "tỷ" %} {% endif %}</b></li>
                &nbsp;
                &nbsp;
                {% if listing.area > 0 %}
                    <li>
                        <i class="zmdi zmdi-photo-size-select-small"></i>{{ listing.area.normalize }}{% trans "m2" %}
                    </li>
                {% endif %}
                {% if listing.width > 0 %}
                    <li><i class="zmdi zmdi-home"></i>{{ listing.floors }} {% trans "tầng" %}
                    </li> {% endif %}
                {% if listing.width != 0 and listing.width > 3.5 %}
                    <li><i class="fa fas fa-road"></i>{{ listing.width.normalize }}{% trans "m" %}</li>
                {% endif %}
                {% if listing.bedrooms %}
                    <li>
                        <i class="zmdi zmdi-airline-seat-individual-suite"></i>{{ listing.bedrooms }} {% trans "ngủ" %}
                    </li>
                {% endif %}
                {% if listing.bathrooms %}
                    <li><i class="fa fa-bath"></i>{{ listing.bathrooms }} {% trans "tắm" %}
                    </li> {% endif %}
            </ul>
        </div>

        {% comment %}    <h3>
      <a class="listing-name" href="{% url 'listing' listing.id %}"
         title="{{ listing.title }}">{{ listing.title }}</a>
    </h3>{% endcomment %}

        <div class="listing-address">
            {% if listing.urban_area %}
                <h4>
                    <a href="{% url 'listing_search' %}?keywords={{ listing.urban_area }}&sort=priority"
                       title="{{ listing.urban_area }}">{{ listing.urban_area }},</a>
                </h4>
            {% endif %}
            {% if listing.street %}
                <h4>
                    <a href="{% url 'listing_search' %}?keywords={{ listing.street }}&sort=priority"
                       title="{{ listing.street }}">{{ listing.street }},</a>
                </h4>
            {% endif %}
            {% comment %}{% if listing.ward %}
                <h4>
                    <a href="{% url 'listing_search' %}?ward={{ listing.ward }}&sort=priority"
                       title="Phường/Xã">{{ listing.ward_name }}</a>
                </h4>
            {% endif %}{% endcomment %}
            {% if listing.district %}
                <h4><b><a href="{% url 'listing_search' %}?district={{ listing.district }}&sort=priority"
                          title="{% get_district listing.district %}">&nbsp{% get_district listing.district %},</a></b>
                </h4>
            {% endif %}
            {% if listing.state %}
                <h4><b><a href="{% url 'listing_search' %}?state={{ listing.state }}&sort=priority"
                          title="{% get_state listing.state %}">&nbsp{% get_state listing.state %}</a></b></h4>
            {% endif %}
        </div>

        <div class="listing-name"><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></div>
        {% comment %}<div class="listing-name"><i class="zmdi zmdi-key"></i><b><a href="{% url 'listing_detail' listing.id %}">{{ listing.code }}</a> </b></div>{% endcomment %}
    </div>
</article>