{#{% load text_money %}#}
{% load humanize i18n get_cadastral%}

<div class="card listing-preview">
    {% with listing.main_photo as photo %}
        <img class="card-img-top" src="{{ photo.url }}" style="height: 200px; width: auto" alt="">
    {% endwith %}
    <div class="card-img-overlay">
        <h2>
            <span class="badge badge-secondary text-white">{{ listing.price }} tỷ</span>
        </h2>
    </div>
    <div class="card-body">
        <div class="listing-heading text-center">
            <h6 class="text-primary"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h6>
            <p>
                <i class="fas fa-map-marker text-secondary"></i>
                {% if listing.urban_area %}
                  <h4>
                    <a href="{% url 'listing_search' %}?urban_area={{ listing.urban_area }}"
                       title="">{{ listing.urban_area }}</a>
                  </h4>
                  {% endif %}
                <h4>
                    <a href="{% url 'listing_search' %}?street={{ listing.street }}"
                       title="">{{ listing.street }}</a>
                  </h4>
                {% if listing.ward %}
                  <h2><a href="{% url 'listing_search' %}?ward={{ listing.ward }}"
                         title="Phường/Xã">{{ listing.ward }}</a></h2>
                 {% endif %}
                  <h4>
                    <a href="{% url 'listing_search' %}?district={{ listing.district }}"
                       title="Quận/Huyện"> {% get_district listing.district %}</a>
                  </h4>
                    {% if listing.state %}
                              <h2><a href="{% url 'listing_search' %}?ward={{ listing.state }}"
                                     title="Tỉnh/TP">{{ listing.state }}</a></h2>
                 {% endif %}
                {{ listing.city }}
            </p>
        </div>
        <hr>
        <div class="row py-2 text-secondary">
            <div class="col-6">
                <i class="fas fa-th-large"></i> {% trans "Diện tích" %}: {{ listing.area }}</div>
              {% if listing.bedrooms and listing.bedrooms > 0 %}
              <div class="col-6">
                  <i class="fas fa-bed"></i> {% trans "Phòng ngủ" %}: {{ listing.bedrooms }}
              </div>
              {% endif %}
            {% comment %}<div class="col-6">
                <i class="fas fa-car"></i> {% trans "Để xe" %}: {{ listing.garage }}</div>{% endcomment %}
            <div class="col-6">
                <i class="fas fa-h-square"></i> {% trans "Số tầng" %}: {{ listing.floors }}
            </div>
            {% if listing.bathrooms %}
            <div class="col-6">
                <i class="fas fa-bath"></i> {% trans "Phòng tắm" %}: {{ listing.bathrooms }}
            </div>
            {% endif %}
        </div>
      </div>
</div>