{% load i18n static listing %}

<div class="article">
  <div class="img">
    <a class="cover"
       href="{% url "listing_detail" listing.id %}"
       title="{{ listing.title }}">
            {% if listing.main_photo %}
                {% with listing.main_photo as photo %}
                    <img
                         src="{{ photo.url }}"
                         srcset="{{ photo.url }}"
                         alt="{{ listing.title }}"
                         title="{{ listing.title }}"
                         class="lazy" loading="lazy" draggable="false"
                         onerror="this.src='{% static "img/default.png" %}'"
                    />
                {% endwith %}
            {% else %}
                <img
                     src="{{ listing.house_type|default_img_by_house_type }}"
                     srcset="{{ listing.house_type|default_img_by_house_type }}"
                     alt="{{ listing.title }}"
                     title="{{ listing.title }}"
                     class="lazy" draggable="false"
                     onerror="this.src='{% static "img/default.png" %}'"
                />
            {% endif %}
    </a>
  </div>
  <div class="title">
    <h3><a href="{% url 'listing_detail' listing.id %}"
           title="{{ listing.title }}">{{ listing.title }}</a></h3>
  </div>
  <div class="info">
    <ul>
        {% if listing.average_price %}
             <li title="Giá/m2"><strong>$</strong><b>{{ listing.average_price.normalize }} tr/m2</b></li>
        {% endif %}
      <li class="marea" title="Diện tích"><span
        class="zmdi zmdi-photo-size-select-small"></span> {{ listing.area.normalize }} m2
      </li>
          {% if listing.floors %}
          <li><span class="zmdi zmdi-layers"></span> {{ listing.floors }} tầng
          </li> {% endif %}
      {% if listing.bedrooms %}
        <li title="Phòng ngủ">
          <span class="zmdi zmdi-airline-seat-individual-suite"></span> {{ listing.bedrooms }}
        </li>
      {% endif %}
      {% if listing.bathrooms %}
        <li title="Phòng tắm" class="icon-bath-room"><span></span> {{ listing.bathrooms }} </li>
      {% endif %}
        <li title="Giá"><b>{{ listing.price.normalize }} tỷ</b></li>
      {% if listing.sale_price and listing.sale_price < listing.price %}
        <li title="Bán nhanh">Còn {{ listing.sale_price.normalize }} tỷ</li> {% endif %}
    </ul>

  </div>
  <div class="status tgnp-color"><b>{{ listing.status|get_listing_status }} {%if listing.transaction_type == "rent" %}{% trans "CHO THUÊ" %} {% else %} {% trans "BÁN" %} {% endif %}</b></div>
   <input name="url" type="hidden" value="{% url 'listing_detail' listing.id %}">
  <input name="lat" type="hidden" value="{{ listing.lat }}">
  <input name="lon" type="hidden" value="{{ listing.long }}">
</div>
