{% load get_cadastral %}
<li class="featured">
  <a href="{% url "listing_detail" listing.id %}"
     title="{{ listing.title }}" data-imp-click>
    <div class="cover">
      {% with listing.main_photo as photo %}
        <img class="image-pixelated lazy"
             data-src="{{ photo.url }}"
             alt="{{ listing.title }}"
             title="{{ listing.title }}"/>
      {% endwith %}
    </div>
  </a>
  <header>
    <a href="{% url "listing_detail" listing.id %}"
       title="{{ listing.title }}" data-imp-click>
      <h3 class="heading">{{ listing.title }}</h3>
    </a>
    <a href="{% url 'listing_search' %}?street={{ listing.street }}"
           title="Đường">{{ listing.street }}</a>
    {% if listing.ward %}
      <a href="{% url 'listing_search' %}?ward={{ listing.ward }}"
             title="Phường/Xã">{{ listing.ward_name }}</a>
    {% endif %}
    <b><a href="{% url 'listing_search' %}?district={{ listing.district }}"
           title="Quận/Huyện">{% get_district listing.district %}</a></b>
    <ul>
      <li title="Diện tích"><span
        class="zmdi zmdi-photo-size-select-small"></span> {{ listing.area }} {{ listing.area_unit }}
      </li>
    </ul>
    <div class="price">{{ listing.price }} tỷ</div>
     <div class="unique p-1"><i class="zmdi zmdi-key"></i><b>{{listing.code}}</b></div>
  </header>
</li>