{% load get_cadastral i18n static listing%}
<li class="featured">
  <a href="{% url 'listing_detail' listing.id %}"
     title="{{ listing.title }}" data-imp-click>
    <div class="cover">
            {% if listing.main_photo %}
                {% with listing.main_photo as photo %}
                    <img src=""
                         data-src="{{ photo.url }}"
                         alt="{{ listing.title }}"
                         title="{{ listing.title }}"
                         class="lazy" draggable="false"
                         onerror="this.src='{% static "img/default.png" %}'"/>
                {% endwith %}
            {% else %}
                <img src=""
                     data-src="{{ listing.house_type|default_img_by_house_type }}"
                     alt="{{ listing.title }}"
                     title="{{ listing.title }}"
                     class="lazy" draggable="false"
                     onerror="this.src='{% static "img/default.png" %}'"
                />
            {% endif %}
    </div>
   <b>{{ listing.status|get_listing_status }} {%if listing.transaction_type == "rent" %}{% trans "CHO THUÊ" %} {% else %} {% trans "BÁN" %} {% endif %}</b>

     </a>
  <header>
    <a href="{% url 'listing_detail' listing.id %}"
       title="{{ listing.title }}" data-imp-click>
      <h3 class="heading">{{ listing.title }}</h3>
    </a>
    <a href="{% url 'listing_search' %}?street={{ listing.street }}"
           title="Đường">{{ listing.street }}</a>
    {% if listing.ward %}
      <a href="{% url 'listing_search' %}?ward={{ listing.ward }}"
             title="Phường/Xã">{{ listing.ward_name }}</a>
    {% endif %}
    <b><a href="{% url 'listing_search' %}?district={{ listing.district }}"
           title="Quận/Huyện">{% get_district listing.district %}</a></b>
    <ul>
      {% if listing.average_price %}
             <li title="Giá/m2"><strong>$</strong><b>{{ listing.average_price.normalize }} tr/m2</b></li>
        {% endif %}
      <li title="Diện tích"><span
        class="zmdi zmdi-photo-size-select-small"></span> {{ listing.area.normalize }}m2
      </li>
      {% if listing.floors %}
          <li><span class="fa fa-h-square"></span> {{ listing.floors }} tầng
          </li> {% endif %}
      {% if listing.bedrooms %}
        <li title="Phòng ngủ">
          <span class="zmdi zmdi-airline-seat-individual-suite"></span> {{ listing.bedrooms }}
        </li>
      {% endif %}
      {% if listing.bathrooms %}
        <li title="Phòng tắm" class="icon-bath-room"><span></span> {{ listing.bathrooms }} </li>
      {% endif %}
    </ul>
    <div class="unique price">{{ listing.price.normalize }} tỷ</div>
     {% comment %}<div class="unique p-1"><i class="zmdi zmdi-key"></i><b>{{listing.code}}</b></div>{% endcomment %}
  </header>

</li>