<div class="actionBar" v-cloak>
  <div class="filter">
    <ul>
      <li class="filter-item filter-item--mobile">
        <a href="#" class="btnMobileFilter">
          <span>Bộ lọc</span>
        </a>
      </li>
      <li class="filter-item" v-click-outside="hideHouseFilters">
        <a href="#" v-on:click="toggleFilterType('houseType')" v-bin:class="{active: houseTypeFilter.length>0}">
          <span>Loại hình</span>
          <span v-if="houseTypeFilter.length>0" class="mark">[[houseTypeFilter.length]]</span>
        </a>
        <div class="DropdownMenu" v-bind:class="{expanded: showFilterType=='houseType'}">
          <div>
            <div class="row">
              <div class="col col-ful">
                <div class="inner">
                  <p>Chọn loại bất động sản</p>
                  <ul>
                    <li v-for="item in houseTypes">
                      <input v-bind:id="`list-check-item-${item.type}`" type="checkbox" name="houseTypeFilter"
                             class="check" :value="item.type"/>
                      <label v-bind:for="`list-check-item-${item.type}`">[[item.text]]</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
{#              <button class="btn-primary btn-small btn-reset" v-on:click="resetHouseFilter">Đặt lại </button>#}
              <button class="btn-primary btn-small btn-black-outline" v-on:click="cancelHouseFilter">Huỷ</button>
              <button class="btn-primary btn-small btn-red-outline" v-on:click="applyHouseFilter">Áp dụng</button>
            </div>
          </div>
        </div>
      </li>
      <li class="filter-item filter__price">
        <a href="#" v-on:click="toggleFilterType('pricing')" v-bind:class="{active: minPrice!==0 && maxPrice!==1000}">
          <span>[[ filterPriceText ]]</span>
        </a>
        <div class="DropdownMenu" v-bind:class="{expanded: showFilterType=='pricing'}">
          <div class="row">
            <div class="col col-ful">
              <div class="inner">
                <p>Chọn nhanh khoảng giá</p>
                <ul class="quickly-choose">
                  <li><a href="#" @click.prevent="setPrices(0, 2)">Dưới 2 tỷ</a></li>
                  <li><a href="#" @click.prevent="setPrices(7, 10)">Từ 7 - 10 tỷ</a></li>
                  <li><a href="#" @click.prevent="setPrices(2, 3)">Từ 2 - 3 tỷ</a></li>
                  <li><a href="#" @click.prevent="setPrices(10, 15)">Từ 10 - 15 tỷ</a></li>
                  <li><a href="#" @click.prevent="setPrices(3, 5)">Từ 3 - 5 tỷ</a></li>
                  <li><a href="#" @click.prevent="setPrices(15, 20)">Từ 15 - 20 tỷ</a></li>
                  <li><a href="#" @click.prevent="setPrices(5, 7)">Từ 5 - 7 tỷ</a></li>
                  <li><a href="#" @click.prevent="setPrices(20, 1000)">Trên 20 tỷ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row border-bottom charcoal-grey">
            <div class="col col-ful">
              <div class="inner"><p>Hoặc chọn giá (tỷ)</p>
                <input ref="priceInput"/>
              </div>
            </div>
          </div>
          <div class="row">
{#            <button v-on:click="resetPriceSlider" class="btn-primary btn-small btn-reset">Đặt lại</button>#}
            <button v-on:click="hideHouseFilters" class="btn-primary btn-small btn-black-outline"> Huỷ</button>
            <button class="btn-primary btn-small btn-red-outline" @click.prevent="applySliderPrice"> Áp dụng</button>
          </div>
        </div>
      </li>
      <li class="filter-item filter__acreage">
        <a href="#" v-on:click="toggleFilterType('area')"><span>[[ filterAreaText ]]</span> </a>
        <div class="DropdownMenu" v-bind:class="{expanded: showFilterType=='area'}">
          <div class="row">
            <div class="col col-ful">
              <div class="inner"><p>Chọn nhanh diện tích</p>
                <ul class="quickly-choose">
                  <li><a href="#" @click.prevent="setArea(0, 30)">Dưới 30 m²</a></li>
                  <li><a href="#" @click.prevent="setArea(100, 150)">Từ 100 - 150 m²</a></li>
                  <li><a href="#" @click.prevent="setArea(30, 50)">Từ 30 - 50 m²</a></li>
                  <li><a href="#" @click.prevent="setArea(150, 300)">Từ 150 - 300 m²</a></li>
                  <li><a href="#" @click.prevent="setArea(50, 80)">Từ 50 - 80 m²</a></li>
                  <li><a href="#" @click.prevent="setArea(300, 500)">Từ 300 - 500 m²</a></li>
                  <li><a href="#" @click.prevent="setArea(80, 100)">Từ 80 - 100 m²</a></li>
                  <li><a href="#" @click.prevent="setArea(500, 20000)">Trên 500 m²</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row border-bottom charcoal-grey">
            <div class="col col-ful">
              <div class="inner">
                <p>Hoặc chọn diện tích (m²)</p>
                <input ref="areaInput"/>
              </div>
            </div>
          </div>
          <div class="row">
{#            <button v-on:click="resetAreaSlider" class="btn-primary btn-small btn-reset disabled">Đặt lại</button>#}
            <button v-on:click="hideHouseFilters" class="btn-primary btn-small btn-black-outline">Huỷ</button>
            <button @click.prevent="applySliderArea" class="btn-primary btn-small btn-red-outline">Áp dụng</button>
          </div>
        </div>
      </li>
      {% comment %}<li class="filter-item" v-click-outside="hideHouseFilters">
        <a href="#" v-on:click="toggleFilterType('otherFilters')"><span>Thêm</span></a>
        <div class="DropdownMenu fix--width__dropdown" v-bind:class="{expanded: showFilterType=='otherFilters'}">
          <div class="fix--width__dropdown--inner">
            <div class="row">
              <div class="col">
                <div>
                  <div class="col col-ful">
                    <div class="inner"><p>Chọn số phòng ngủ</p>
                      <ul>
                        <li>
                          <input id="list-check-item-1-24" type="checkbox" class="check" value="1"/>
                          <label for="list-check-item-1-24">
                            1 phòng ngủ
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-2-24" type="checkbox" class="check" value="2"/>
                          <label for="list-check-item-2-24">
                            2 phòng ngủ
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-3-24" type="checkbox" class="check" value="3"/>
                          <label for="list-check-item-3-24">
                            3 phòng ngủ
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-4-24" type="checkbox" class="check" value="4"/>
                          <label for="list-check-item-4-24">
                            4 phòng ngủ
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-5-24" type="checkbox" class="check" value="5"/>
                          <label for="list-check-item-5-24">
                            5 phòng ngủ
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-6+-24" type="checkbox" class="check" value="6+"/>
                          <label for="list-check-item-6+-24">
                            6+ phòng ngủ
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div>
                  <div class="col col-ful">
                    <div class="inner"><p>Chọn số phòng tắm</p>
                      <ul>
                        <li>
                          <input id="list-check-item--25" type="radio" value=""/>
                          <label for="list-check-item--25" class="radio">
                            Tất cả
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-1-25" type="radio" value="1"/>
                          <label for="list-check-item-1-25" class="radio">
                            1 phòng tắm
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-2-25" type="radio" value="2"/>
                          <label for="list-check-item-2-25" class="radio">
                            2 phòng tắm
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-3-25" type="radio" value="3"/>
                          <label for="list-check-item-3-25" class="radio">
                            3 phòng tắm
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-4-25" type="radio" value="4"/>
                          <label for="list-check-item-4-25" class="radio">
                            4 phòng tắm
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-5+-25" type="radio" value="5+"/>
                          <label for="list-check-item-5+-25" class="radio">
                            5+ phòng tắm
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div>
                  <div class="col col-ful">
                    <div class="inner"><p>Chọn trạng thái</p>
                      <ul>
                        <li>
                          <input id="list-check-item-1-26" type="checkbox" class="check" value="1"/>
                          <label for="list-check-item-1-26">
                            Đăng thường
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-2-26" type="checkbox" class="check" value="2"/>
                          <label for="list-check-item-2-26">
                            TGNP độc quyền
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-3-26" type="checkbox" class="check" value="3"/>
                          <label for="list-check-item-3-26">
                            Đang GD
                          </label>
                        </li>
                        <li>
                          <input id="list-check-item-4-26" type="checkbox" class="check" value="4"/>
                          <label for="list-check-item-4-26">
                            Đã bán/thuê
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-ful">
                <div class="inner"><p>Chọn
                  loại nội dung</p>
                  <ul>
                    <li>
                      <input id="list-check-item-has-3d-desktop" type="checkbox" class="check"/>
                      <label for="list-check-item-has-3d-desktop">Có 3D</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row fixed-footer">
            <button disabled="disabled"
                    class="btn-primary btn-small btn-reset disabled">Đặt lại
            </button>
            <button class="btn-primary btn-small btn-black-outline">
              Huỷ
            </button>
            <button class="btn-primary btn-small btn-red-outline">
              Áp dụng
            </button>
          </div>
        </div>
      </li>{% endcomment %}
    </ul>
  </div>
  <div class="view">
    <button @click.prevent="viewAsGrid()" :class="{active: isViewGrid}" class="zmdi zmdi-view-module"></button>
    <button @click.prevent="viewAsList()" :class="{active: !isViewGrid}" class="zmdi zmdi-view-stream"></button>
  </div>
</div>