{% load static humanize i18n %}

<div class="results-sc">
  <span class="results" v-show="listings.length > 0">
    Hiển thị <strong>[[displayListingNumText]]</strong>
  </span>
  <div class="sort-listing" ref="projectSort">
    <a href="#" @click.prevent="toggleShowSortOptions">
      <span ref="labelSortProperty" v-text="sortString || 'Mới nhất'"></span>
      <i class="zmdi zmdi-chevron-down" style="cursor: pointer"></i>
    </a>
    <ul v-show="showSortOptions" class="sort-listing--option">
      <li style="cursor: pointer" :class="{active: sortOption=='created'}" title="Mới nhất"
          @click.prevent="sortBy('created')">Mới nhất
      </li>
      <li style="cursor: pointer" :class="{active: sortOption=='price_higher'}" title="Giá tăng dần"
          @click.prevent="sortBy('price_ascend')">Giá tăng dần
      </li>
      <li style="cursor: pointer" :class="{active: sortOption=='price_lower'}" title="Giá giảm dần"
          @click.prevent="sortBy('price_descend')">Giá giảm dần
      </li>
    </ul>
  </div>
</div>

<div class="result-body">
  <div class="row grid" v-if="isLoading">
    <div class="col lazy-loading">
      <div class="box listView vue-content-placeholders vue-content-placeholders-is-animated">
        <div class="cover-image vue-content-placeholders-img"></div>
        <div class="info-container vue-content-placeholders-text">
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
        </div>
      </div>
    </div>
    <div class="col lazy-loading">
      <div class="box listView vue-content-placeholders vue-content-placeholders-is-animated">
        <div class="cover-image vue-content-placeholders-img"></div>
        <div class="info-container vue-content-placeholders-text">
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
        </div>
      </div>
    </div>
    <div class="col lazy-loading">
      <div class="box listView vue-content-placeholders vue-content-placeholders-is-animated">
        <div class="cover-image vue-content-placeholders-img"></div>
        <div class="info-container vue-content-placeholders-text">
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
        </div>
      </div>
    </div>
    <div class="col lazy-loading">
      <div class="box listView vue-content-placeholders vue-content-placeholders-is-animated">
        <div class="cover-image vue-content-placeholders-img"></div>
        <div class="info-container vue-content-placeholders-text">
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
          <div class="vue-content-placeholders-text__line"></div>
        </div>
      </div>
    </div>
  </div>
  <property-list v-bind:listings="listings" v-bind:is-view-grid="isViewGrid" v-bind:pagination="pagination"
                 v-bind:is-loading="isLoading" v-bind:show-contact-project="showContactProject"
                 v-bind:go-to="goTo"
  />

</div>
