{% load static i18n get_cadastral listing %}

<script type="text/x-template" id="propertyListTemplate" xmlns:v="http://www.w3.org/1999/html">
    <div id="propertyList"  class="row " v-bind:class="{grid: isViewGrid}">
        <div v-if="isViewGrid" v-for="listing in listings" :key="listing.id" class="col property-itemz"
             :id="`property-tgnp-${listing.id}`">
            <article class="box listView">
                <div class="cover-image realty-search pic-realty-search" style="height: 240px;">
                    <img :src="listing.main_photo || `/static/img/default_house_type/${listing.house_type}.jpg`"
                         onerror="this.src='{% static "img/default.png" %}'"
                         v-bind:alt="listing.title"/>
                    <a class="view-realty-search transition" :href="getListingDetailURL(listing.id)" target="_blank"
                       :title="listing.title">
                        <span><i>Xem chi tiết</i></span>
                    </a>
                    {% comment %}<button data-action="favorite" data-id="{{ listing.id }}"
                            data-alias="{{ listing.title }}"
                            data-type="sale_property" data-favorited="false"
                            class="btn-favorite btn-favorite__v2 zmdi zmdi-favorite-outline"></button>{% endcomment %}
                    <div class="label-group">
                        <label v-if="listing.is_exclusive"
                               class="label-primary unique p-1">{% trans "Độc quyền" %}</label>
                        <label class="label-primary unique p-1">
                            <a v-if="listing.status == 'selling'" :href="getListingDetailURL(listing.id)" target="_blank"
                               :title="listing.title">Đang GD</a>
                            <a v-if="listing.status == 'sold'" :href="getListingDetailURL(listing.id)" target="_blank"
                               :title="listing.title">Đã GD</a>
                            <a v-if="listing.status == 'stop_selling'" :href="getListingDetailURL(listing.id)"
                               target="_blank"
                               :title="listing.title">Dừng GD</a>
                            <a v-if="listing.status == 'sale'" :href="getListingDetailURL(listing.id)" target="_blank"
                               :title="listing.title">Hạ giá</a></label>
                         <label v-if="listing.average_price && listing.transaction_type != 'rent'" class="label-primary unique p-1">[[ listing.average_price ]] tr/m2</label>
                    </div>
                </div>
                <div class="info-container">
                    <div class="group-grid__view">
                        <div v-if="listing.transaction_type == 'rent'" class="listing-price">[[ listing.price ]] {% trans "triệu" %} </div>
                        <div v-if="listing.transaction_type != 'rent'" class="listing-price">[[ listing.price ]] {% trans "tỷ" %} </div>
                        <ul class="listing-info">
                            <li v-if="listing.area && listing.area > 0">
                                <i class="zmdi zmdi-photo-size-select-small"></i>[[listing.area]] {% trans "m2" %}
                            </li>
                            <li v-if="listing.floors && listing.floors > 0">
                                <i class="fa fa-h-square"></i> [[listing.floors]] {% trans "tầng" %}
                            </li>
                            <li v-if="listing.width > 3.5 && listing.width != 0 ">
                               <i class="fa fas fa-arrows-alt-h"></i> [[listing.width]] {% trans "m" %}
                            </li>
                            <li v-if="listing.bedrooms && listing.bedrooms > 0">
                                <i class="fa fas fa-bed"></i> [[listing.bedrooms]] {% trans "ngủ" %}
                            </li>
                            <li v-if="listing.bathrooms && listing.bathrooms > 0">
                                <i class="fa fa-bath"></i> [[listing.bathrooms]] {% trans "tắm" %}
                            </li>
                        </ul>

                    </div>
                    <h3>
                        <a class="listing-name" :href="getListingDetailURL(listing.id)" :title="listing.title">[[listing.title]]</a>
                    </h3>
                    <div class="listing-address">
                        <h4 v-if="listing.urban_area">
                            <a :href="`/listings/search?keywords=${listing.urban_area}&sort=priority`" title="">[[listing.urban_area]]</a>
                        </h4>
                        <h4>
                            <a :href="`/listings/search?keywords=${listing.street}&sort=priority`" title="">[[listing.street]]</a>
                        </h4>
                        <h4 v-if="listing.ward"><a :href="`/listings/search?ward=${listing.ward}&sort=priority`" title="Phường/Xã">[[listing.ward_name]]</a>
                        </h4>
                        <h4 v-if="listing.district">
                            <a :href="`/listings/search?district=${listing.district}&sort=priority`"
                               title=""><b>[[listing.district_name]]</b></a>
                        </h4>
                        <h4 v-if="listing.state">
                            <a :href="`/listings/search?state=${listing.state}&sort=priority`"
                               title=""><b>[[listing.state_name]]</b></a>
                        </h4>
                    </div>
                    <div class="listing-name" :href="getListingDetailURL(listing.id)" :title="listing.title" ><i class="zmdi zmdi-key"></i><b>[[listing.code]]</b></div>

                    <ul class="listing-info">
                        <li v-if="listing.floors && listing.area > 0"><i class="zmdi zmdi-photo-size-select-small"></i>[[listing.area]] {% trans "m2" %}</li>
                        <li v-if="listing.floors && listing.floors > 0">
                            <i class="fa fa-h-square"></i> [[listing.floors]] {% trans "tầng" %}
                        </li>
                        <li v-if="listing.width > 3.2 && listing.width != 0">
                           <i class="fa fas fa-arrows-alt-h"></i> [[listing.width]] {% trans "m" %}
                        </li>

                        <li v-if="listing.bedrooms && listing.bedrooms > 0">
                            <i class="fa fas fa-bed"></i> [[listing.bedrooms]] {% trans "ngủ" %}
                        </li>
                        <li v-if="listing.bathrooms && listing.bathrooms > 0">
                            <i class="fa fa-bath"></i> [[listing.bathrooms]] {% trans "tắm" %}
                        </li>
                    </ul>
                    <div class="action-group">
                        <div class="action-group--left">
                              <div v-if="listing.transaction_type == 'rent'" class="listing-price">[[ listing.price ]] {% trans "triệu" %} </div>
                            <div v-if="listing.transaction_type == 'sell' | listing.transaction_type == 'project'" class="listing-price">[[ listing.price ]] {% trans "tỷ" %} </div>
                            <label v-if="listing.is_exclusive"
                                   class="label-primary unique p-1">{% trans "Độc quyền" %}</label>
                        </div>
                        <div class="action-group--right action-group--cta">
                            <button data-action="favorite" data-id="{{ listing.id }}"
                                    data-alias="{{ listing.title }}"
                                    data-type="sale_property" data-favorited="false"
                                    class="btn-favorite btn-favorite__v2 zmdi zmdi-favorite-outline"></button>
                        </div>
                    </div>
                </div>

            </article>
        </div>
        <div v-if="!isViewGrid" class="col" style="padding-top: 20px">
           <table class="col-md-12 col-sm-12" style="border-style: dotted; border: 1px solid; font-size: small;" >
            <th class="col-md-4 col-sm-4">Địa chỉ</th>
            <th class="col-md-2 col-sm-2">Diện tích</th>
            <th class="col-md-2 col-sm-2">Số tầng</th>
            <th class="col-md-2 col-sm-2">Mặt tiền</th>
            <th class="col-md-1 col-sm-1">Giá</th>
            <th class="col-md-2 col-sm-2">TB</th>
            <th class="unique col-md-2 col-sm-2"></th>
            <tbody>
            <tr v-for="listing in listings" :key="listing.id" :id="`property-tgnp-${listing.id}`"
                :title="listing.title" style="border-top: dotted 0.5px;" :href="`/listings/search?id=${listing.id}`"
                           title="">
                <td class="unique">
                    <label v-if="listing.urban_area">
                        <a :href="`/listings/search?keywords=${listing.urban_area}&sort=priority`"
                           title="">[[listing.urban_area]]</a>
                    </label>
                    <label v-if="listing.street">
                        <a :href="`/listings/search?keywords=${listing.street}&sort=priority`" title="">[[listing.street]]</a>
                    </label>
                    <label v-if="listing.ward"><a :href="`/listings/search?ward=${listing.ward}&sort=priority`" title="Phường/Xã">[[listing.ward_name]]</a>
                    </label>
                    <label v-if="listing.district">
                        <a :href="`/listings/search?district=${listing.district}&sort=priority`"
                           title=""><b>[[listing.district_name]]</b></a>
                    </label>
                    {% comment %}<span v-if="listing.state">
                        <a :href="`/listings/search?state=${listing.state}&sort=priority`"
                           title=""><b>[[listing.state_name]]</b></a>
                    </span>{% endcomment %}
                </td>
                <td>
                    <span v-if="listing.area > 0"><i class="zmdi zmdi-photo-size-select-small"></i>[[listing.area]] {% trans "m2" %}</span>
                </td>
                <td>
                    <i class="fa fa-h-square"></i> [[listing.floors]] {% trans "tầng" %}
                </td>
                <td>
                    <span v-if="listing.width > 3.2 && listing.width != 0"><i class="fa fas fa-arrows-alt-h"></i> [[listing.width]] {% trans "m" %}</span>
                </td>
                <td ><a  v-if="listing.status != 'rent'" :href="getListingDetailURL(listing.id)" target="_blank"
                                                      :title="listing.title">[[ listing.price ]] {% trans "tỷ" %}</a>
                    <a  v-if="listing.status == 'rent'" :href="getListingDetailURL(listing.id)" target="_blank"
                                                      :title="listing.title">[[ listing.price ]] {% trans "tỷ" %}</a>

                </td>
                <td><a :href="getListingDetailURL(listing.id)" target="_blank"
                                                      :title="listing.title">[[ listing.average_price ]] {% trans "tr/m" %}</a>
                </td>
                <td style="word-wrap: break-word; ">
                    <a v-if="listing.status == 'selling'" :href="getListingDetailURL(listing.id)" target="_blank"
                       :title="listing.title">Đang giao dịch</a>
                    <a v-if="listing.status == 'sale'" :href="getListingDetailURL(listing.id)" target="_blank"
                       :title="listing.title">Giao dịch nhanh</a>
                    <a v-if="listing.status == 'sold'" :href="getListingDetailURL(listing.id)" target="_blank"
                       :title="listing.title">Đã giao dịch</a>
                    <a v-if="listing.status == 'stop_selling'" :href="getListingDetailURL(listing.id)" target="_blank"
                       :title="listing.title">Dừng giao dịch</a>
                    <a :href="getListingDetailURL(listing.id)" target="_blank"
                       :title="listing.title">
                        {% comment %}                        <b>{{ listing.house_type|get_house_type }}</b>
                        {% if listing.house_type == HouseType.VILLA %} <b>Biệt thự</b>
                        {% elif listing.house_type == HouseType.VILLA_REST %} <b>Biệt thự nghỉ dưỡng</b>
                        {% elif listing.house_type == HouseType.LAND or HouseType.INDUSTRIAL_LAND %} <b>Đất</b>
                        {% elif listing.house_type == HouseType.PLOT %} <b>Đất phân lô</b>
                        {% elif listing.house_type == HouseType.LAND_BUSINESS %} <b>Mặt bằng</b>
                        {% elif listing.house_type == HouseType.WAREHOUSE_WORKSHOP %} <b>Kho xưởng</b>
                        {% elif listing.house_type == HouseType.SHOP_HOUSE %} <b>Cửa hàng</b>
                        {% elif listing.house_type == HouseType.APARTMENT or house_type.PENT_HOUSE %} <b>Căn hộ</b>
                        {% elif listing.house_type == HouseType.CONDO_TEL or HouseType.ERVICE_APARTMENT %} <b>Căn hộ nghỉ dưỡng</b>
                        {% elif listing.house_type == HouseType.OFFICE or HouseType.OFFICE_TEL %} <b>Văn phòng</b>
                        {% elif listing.house_type == HouseType.BUILDING or HouseType.BUILDING_BUSINESS %} <b>Tòa nhà</b>
                        {% elif listing.house_type == HouseType.STREET_HOUSE %} <b>Nhà mặt phố</b>
                        {% elif listing.house_type == 'town_house' %} <b>Nhà trong ngõ</b>
                        {% elif listing.house_type == HouseType.STREET_HOUSE %} <b>Loại khác</b>
                        {% endif %}{% endcomment %}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="search-noresult">
            <div v-if="!listings.length && !isLoading" class="search-noresult-main">
                <img src="{% static 'images/icon-home-empty.svg' %}" alt="No data"/><br/>
                <h2>Không tìm thấy bất động sản nào!</h2>
                <ul> Vui lòng thử lại bằng cách:
                    <li>Kiểm tra lại địa điểm được nhập hoặc mở rộng phạm vi tìm kiếm bằng cách di chuyển bản đồ.</li>
                    <li>Thay đổi hoặc huỷ bỏ bộ lọc đang áp dụng.</li>
                </ul>
                <a class="btn-primary btn-view-agent" @click.prevent="showContactProject">Liên hệ tư vấn</a>
            </div>
        </div>
        <div v-if="listings.length" class="paginator-search">
            <ul class="paginator">
                <li v-if="pagination.previous_page">
                    <a class="btnPre" @click.prevent="goTo(pagination.previous_page)">
                        <i class="zmdi zmdi-chevron-left"></i>
                    </a>
                </li>

{% comment %}                <li v-else class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>{% endcomment %}

                <li v-for="i in pagination.next_5_pages">
                    <a :class="{active: pagination.current_page == i}" @click.prevent="goTo(i)">[[i]]</a>
                </li>

                <li v-if="pagination.next_page">
                    <a class="btnNext" @click.prevent="goTo(pagination.next_page)">
                        <i class="zmdi zmdi-chevron-right"></i>
                    </a>
                </li>

{% comment %}                <li v-else class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>{% endcomment %}

            </ul>
        </div>

    </div>

</script>

<script type="text/x-template" id="infoWindowTemplate">
    <div class="searchlisting">
        <section class="exclusive">
            <article class="featured">
                <a target="_blank"
                   :title="listing.title"
                   :href="getListingDetailURL(listing.id)"
                   class="property_detail">
                    <div class="cover">
                        <img :src="listing.main_photo || `/static/img/default_house_type/${listing.house_type}.jpg`"
                             onerror="this.src='{% static "img/default.png" %}'"
                             v-bind:alt="listing.title"/>
                    </div>
                </a>
                <header>
                    <a target="_blank"
                       :href="getListingDetailURL(listing.id)"
                       :title="listing.title">
                        <h2 class="title"> [[listing.title]]</h2>
                    </a>
                    <div>
                        <ul>
                            <li title="Diện tích">
                                <span class="zmdi zmdi-photo-size-select-small"></span> [[listing.area]]{% trans "m2" %}
                            </li>
                            <li v-if="listing.floors > 1" title="Số tầng">
                                <span class="fas fa-h-square"></span> [[listing.floors]]
                            </li>
                            <li v-if="listing.bathrooms > 1" title="Số tầng">
                                <span class="fas fa-bath"></span> [[listing.bathrooms]]
                            </li>
                            <li v-if="listing.bedrooms > 0" title="Phòng ngủ">
                                <span class="zmdi zmdi-airline-seat-individual-suite"></span> [[listing.bedrooms]]
                            </li>
                        </ul>
                        <div class="price-marker">[[listing.price]] {% trans "tỷ" %}</div>
                    </div>
                </header>
            </article>
        </section>
    </div>
</script>
