{% load static i18n %}

<script type="text/x-template" id="propertyListTemplate">
  <div id="propertyList" class="row" v-bind:class="{grid: isViewGrid}">
    <div v-for="listing in listings" :key="listing.id" class="col property-itemz" :id="`property-tgnp-${listing.id}`">
      <article class="box listView">
        <div class="cover-image realty-search pic-realty-search">
          <img :src="listing.main_photo || '{% static 'img/default.png' %}'" v-bind:alt="listing.title"/>
          <a class="view-realty-search transition" :href="getListingDetailURL(listing.id)" target="_blank"
             :title="listing.title"
          >
            <span><i>Xem chi tiết</i></span>
          </a>
          <button class="btn-favorite btn-favorite__v2 ">
          </button>
          <div class="label-group">
            <label v-if="listing.is_exclusive" class="label-primary unique">{% trans "TGNP độc quyền" %}</label>
            <label class="label-primary unique p-1"
                   style="font-size: 16px">[[listing.price]] {% trans "tỷ" %}</label>
          </div>
          <div style="display: none" class="overview-quick-look">
            <div class="btn-quick-look">
              <a class="btn-primary" id="quick-look" href="#">
                Xem nhanh
              </a>
              <a class="btn-primary" target="_blank"
                 :href="getListingDetailURL(listing.id)"
                 title="{{ listing.title }}">
                Xem chi tiết
              </a>
            </div>
          </div>
        </div>
        <div class="info-container">
          <div class="group-grid__view">
            <ul class="listing-info">
              <li v-if="listing.bedrooms && listing.bedrooms > 0">
                <i class="fa fas fa-bed"></i>[[listing.bedrooms]] {% trans "ngủ" %}
              </li>
              <li>
                <i class="zmdi zmdi-photo-size-select-small"></i>[[listing.area]]{% trans "m2" %}
              </li>
              <li v-if="listing.floors > 0">
                <i class="fa fa-h-square"></i> [[listing.floors]] {% trans "tầng" %}
              </li>
              <li v-if="listing.bathrooms > 0">
                <i class="fa fa-bath"></i>[[listing.bathrooms]] {% trans "tắm" %}
              </li>
            </ul>
          </div>
          <h3>
            <a class="listing-name" :href="getListingDetailURL(listing.id)" :title="listing.title">[[listing.title]]</a>
          </h3>
          <div class="listing-address">
            <h4><a :href="getListingDetailURL(listing.id)">[[listing.code]]</a></h4>
            <h4>
              <a :href="`/listings/search?keywords=${listing.street}`" title="">[[listing.street]]</a>
            </h4>
            <h4 v-if="listing.urban_area">
              <a :href="`/listings/search?keywords=${listing.urban_area}`" title="">[[listing.urban_area]]</a>
            </h4>
            <h4>
              <a :href="`/listings/search?keywords=${listing.district}`" title="">[[getDistrict(listing.district)]]</a>
            </h4>
          </div>
          <ul class="listing-info">
            <li v-if="listing.bedrooms > 0"><i
              class="fa fas fa-bed"></i>[[listing.bedrooms]] {% trans "ngủ" %}</li>
            <li><i class="zmdi zmdi-photo-size-select-small"></i>[[listing.area]]{% trans "m2" %}</li>
            <li v-if="listings.floors && listing.floors > 0"><i class="fa fa-h-square"></i>
              [[listing.floors]] {% trans "tầng" %}</li>
            <li v-if="listing.bathrooms > 0"><i
              class="fa fa-bath"></i>[[listing.bathrooms]] {% trans "tắm" %} </li>
          </ul>
          <div class="action-group">
            <div class="action-group--left">
              <div class="listing-price">[[listing.price]] {% trans "tỷ" %}</div>
              <span v-if="listing.is_exclusive" class="label-primary unique">{% trans "TGNP độc quyền" %}</span>
            </div>
            <div class="action-group--right action-group--cta">
              <button class="btn-favorite btn-favorite__v2 " @click.prevent="handleFavorite(listing.id)"></button>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="search-noresult">
      <div v-if="!listings.length && !isLoading" class="search-noresult-main">
        <img src="{% static 'images/icon-home-empty.svg' %}" alt="No data"/><br/>
        <h2>Không tìm thấy dự án nào!</h2>
        <ul> Vui lòng thử lại bằng cách:
          <li>Kiểm tra lại địa điểm được nhập hoặc mở rộng phạm vi tìm kiếm bằng cách di chuyển bản đồ.</li>
          <li>Thay đổi hoặc huỷ bỏ bộ lọc đang áp dụng.</li>
        </ul>
        <a class="btn-primary btn-view-agent" @click.prevent="showContactProject">Liên hệ tư vấn</a>
      </div>
    </div>
    <div v-if="listings.length" class="paginator-search">
      <ul class="paginator">
        {% if listings.has_previous %}
          <li>
            <a class="btnPre" @click.prevent="goTo({{ listings.paginator.previous_page }})">
              <i class="zmdi zmdi-chevron-left"></i>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
          </li>
        {% endif %}

        <li v-for="i in pagination.next_5_pages">
          <a :class="{active: pagination.current_page == i}" @click.prevent="goTo(i)">[[i]]</a>
        </li>

        {#        {% for i in pagination.next_5_pages %}#}
        {#          <li><a class="{% if listings.number == i %}active{% endif %}"#}
        {#                 @click.prevent="goTo({{ i }})">{{ i }}</a></li>#}
        {#        {% endfor %}#}

        {% if listings.has_next %}
          <li>
            <a class="btnNext">
              <i class="zmdi zmdi-chevron-right"></i>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled" @click.prevent="goTo({{ listings.paginator.next_page }})">
            <a class="page-link">&raquo;</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</script>

<script type="text/x-template" id="infoWindowTemplate">
  <div class="searchlisting" >
    <section class="exclusive">
      <article class="featured">
        <a target="_blank"
           :title="listing.title"
           :href="getListingDetailURL(listing.id)"
           class="property_detail">
          <div class="cover">
            <img :src="listing.main_photo || '{% static 'img/default.png' %}'" v-bind:alt="listing.title"/>
          </div>
        </a>
        <header>
          <a target="_blank"
             :href="getListingDetailURL(listing.id)"
             :title="listing.title">
            <h2 class="title"> [[listing.title]]</h2>
          </a>
          <div class="address">[[listing.street]]</div>
          <div>
            <ul>
              <li v-if="listing.bedrooms > 0" title="Phòng ngủ">
                <span class="zmdi zmdi-airline-seat-individual-suite"></span> [[listing.bedrooms]]
              </li>
              <li title="Diện tích">
                <span class="zmdi zmdi-photo-size-select-small"></span> [[listing.area]]{% trans "m2" %}
              </li>
            </ul>
            <div class="price-marker">[[listing.price]] {% trans "tỷ" %}</div>
          </div>
        </header>
      </article>
    </section>
  </div>
</script>

<script type="text/x-template" id="contactPopupTemplate">
  <span v-show="showContactPopup" wrapper-name="default">
    <div class="popup-overlay">
      <div class="popup-container">
        <div class="popup-send-info">
          <div class="header-w-close">
            <button class="close-popup-btn" v-on:click="closePopup">
              <i class="zmdi zmdi-hc-2x zmdi-close"></i>
            </button>
            <h3 class="font-tiempos">Liên hệ tư vấn</h3>
          </div>
          <div id="contact-now-form-body" class="form-info" style="background: rgb(255, 255, 255);">
            <form data-formtype="property-form">
              <fieldset>
                <div class="form-element per50-left" v-bind:class="{focused: focusedField==='lastName'}">
                  <div class="placeholder">Họ</div>
                  <input type="text" name="lastname" class="input" v-bind:value="lastName"
                         v-on:focus="onFocusField('lastName')" v-on:blur="onBlur"/>
                  <span class="error-text">Thông tin bắt buộc</span>
                </div>
                <div class="form-element per50-right" v-bind:class="{focused: focusedField==='firstName'}">
                  <div class="placeholder">Tên</div>
                  <input type="text" name="firstname" class="input" v-bind:value="firstName"
                         v-on:focus="onFocusField('firstName')" v-on:blur="onBlur"/>
                  <span class="error-text">Thông tin bắt buộc</span>
                </div>
                <div class="form-element per50-left" v-bind:class="{focused: focusedField==='email'}">
                  <div class="placeholder">Email</div>
                  <input type="text" name="email" class="input" v-bind:value="email" v-on:focus="onFocusField('email')"
                         v-on:blur="onBlur"/>
                  <span class="error-text">Thông tin bắt buộc</span>
                </div>
                <div class="form-element per50-right" v-bind:class="{focused: focusedField==='phone'}">
                  <div class="placeholder">Số điện thoại</div>
                  <input type="text" name="phone" class="input" v-bind:value="phone"
                         v-on:focus="onFocusField('phone')" v-on:blur="onBlur"/>
                  <span class="error-text">Thông tin bắt buộc</span>
                </div>
                <div class="form-element form-dropdown"
                     v-bind:class="{focused: focusedField==='district' || district.code !== ''}">
                  <div class="placeholder">Khu vực bạn quan tâm</div>
                  <div class="" v-bind:class="{active: focusedField==='district'}">
                    <input type="hidden" name="district" v-bind:value="district.code"/>
                    <input type="text" autocomplete="false" class="input" v-bind:value="district.text"
                           v-on:focus="onFocusField('district')" v-on:blur="onBlur"/>
                    <ul tabindex="-1" class="form-dropdown-content">
{#                      <li class="active"><a href="#">Quận 2</a></li>#}
                        <li v-for="item in districtData" v-bind:class="{active: district.code===item.code}"
                            @click.prevent="onSelectDistrict(item)">
                          <a href="#">[[item.text]]</a>
                        </li>
                    </ul>
                  </div>
                  <span class="error-text"></span>
                </div>
                <div class="form-element form-dropdown focused"
                     v-bind:class="{active: focusedField==='houseType'}">
                  <div class="placeholder">Loại nhà đất bạn muốn mua</div>
                  <div class="">
                    <span class="input" style="color: initial; padding: 8px 10px 5px;"
                          v-on:click="toggleFocusField('houseType')">[[getSelectedHouseTypeText()]]</span>
                    <select name="houseType" style="display: none">
                      <option v-for="item in houseTypes" :value="item.type">[[item.text]]</option>
                    </select>
                    <ul tabindex="-1" class="form-dropdown-content">
                      <li v-for="item in houseTypes" v-bind:class="{active: selectedHouseType===item.type}"
                          @click.prevent="onSelectHouseType(item.type)">
                        <a href="#">[[item.text]]</a>
                      </li>
                    </ul>
                  </div>
                  <span class="error-text"></span>
                </div>
                <div class="form-element" :class="{focused: focusedField === 'price'}">
                  <div class="placeholder">Mức giá cần mua</div>
                  <input type="text" name="price" class="input" v-on:focus="onFocusField('price')"
                         v-on:blur="onBlur"/>
                  <span class="error-text"></span>
                </div>
                <div class="form-element textarea-height" :class="{focused: focusedField === 'description_note'}">
                  <div class="placeholder">Lời nhắn </div>
                  <textarea name="description_note" v-on:focus="onFocusField('description_note')" v-on:blur="onBlur">
                  </textarea>
                </div>
              </fieldset>
              <div class="action">
                <button type="submit" class="large-btn-red">Gửi thông tin</button>
              </div>
              <div class="or-direct-call">
                <p> Hoặc gọi ngay <a href="tel:1800 234 546"><strong>1800 234 546</strong></a> để gặp chuyên viên tư vấn </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </span>
</script>