{% extends 'base.html' %}

{% load static humanize i18n load_static %}

{% block title %}
    <title>{% trans "Thế Giới Nhà Phố Việt Nam|Mua bán nhà trên hệ thống" %}</title>
    <meta name="title" content="{% trans "Thế Giới Nhà Phố Việt Nam|Mua bán nhà trên hệ thống" %}"/>
    <meta property="og:title" content="{% trans "Thế Giới Nhà Phố Việt Nam|Mua bán nhà trên hệ thống" %}"/>
{% endblock %}
{% block description %}
    <meta name="description" content="Tìm nhà dễ dàng, mua nhanh chóng, được hỗ trợ mọi lúc bởi chuyên viên. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="Tìm nhà dễ dàng, mua nhanh chóng, được hỗ trợ mọi lúc bởi chuyên viên. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="mua bán bất động sản, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="mua bán bất động sản, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}

  {{ block.super }}
  <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/listings/buywithus"/>
{% endblock %}

{% block content %}

  <div id="whybuy-app">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    {% include 'menu/_secondMenu.html' %}

    <!-- Main Content  -->
    <div id="s-rv-buy" class="s-banner-bg"
         style=" background: url({% static 'images/bg-service-buy.jpg' %}) 50% 50% / cover no-repeat;">
      <div class="s-banner-bg-inner">
        <div class="s-banner-header-wrapper">
          <h1>Mua nhà ưng ý với giá hợp lý</h1>
          <div class="sumary">Tìm nhà dễ dàng, mua nhanh chóng, được hỗ trợ mọi lúc bởi chuyên viên.</div>
          <div class="btn-contact">
            <a href="#" style="opacity: 0.6" class="s-btn-red ">Liên hệ Mua ngay</a>
          </div>
        </div>
       {% comment %} <div id="whybuy-search-form" class="s-sreach-cover">
          <form id="search-form-app" ref="searchFormApp" @submit.prevent="startSearch" action="#"
                class="s-sreach-cover-inner">
            <div class="s-sreach-type s-dropdown">
              <select title="Loại nhà đất" name="property_type" data-placeholder="Loại nhà đất" style="display: none;">
                <option value="town_house">Nhà phố</option>
                <option value="loft_house">Nhà gác xép/Cấp 4</option>
                <option value="street_house">Nhà mặt phố</option>
                <option value="shop_house">Cửa hàng</option>
                <option value="villa">Biệt thự</option>
                <option value="villa_rest">Biệt thự nghỉ dưỡng</option>
                <option value="building">Toà nhà</option>
                <option value="building_business">Toà nhà kinh doanh</option>
                <option value="apartment">Căn hộ</option>
                <option value="pent_house">Căn hộ áp mái</option>
                <option value="service_apartment">Căn hộ dịch vụ</option>
                <option value="condo_tel">Căn hộ khách sạn</option>
                <option value="office">Văn phòng</option>
                <option value="office_tel">Văn phòng khách sạn</option>
                <option value="land">Đất nền</option>
                <option value="plot">Đất phân lô</option>
                <option value="industrial_land">Đất công nghiệp</option>
                <option value="warehouse_workshop">Kho xưởng</option>
                <option value="land_business">Mặt bằng kinh doanh</option>
                <option value="other">Khác</option>
              </select>
            </div>
            <div class="s-sreach-type s-dropdown">
              <select name="bedroom" title="Số phòng ngủ" data-placeholder="Số phòng ngủ"
                      style="display: none;">
                <option value="1-phong-ngu">1 phòng</option>
                <option value="2-phong-ngu">2 phòng</option>
                <option value="3-phong-ngu">3 phòng</option>
                <option value="4-phong-ngu">4 phòng</option>
                <option value="5+-phong-ngu">5+ phòng</option>
              </select>
            </div>
            <suggest-input placeholder="Địa điểm, dự án bạn muốn mua?" hide-button ref="suggestInput"
                           :value="keyword" @select="onSelectSuggest"
                           suggest-list-class="suggest-result"
                           class="search-desktop-component s-sreach-type s-sreach-input">
            </suggest-input>
            <div class="s-sreach-type s-sreach-btn">
              <button type="submit">Tìm ngay</button>
            </div>

          </form>
        </div>{% endcomment %}
      </div>
    </div>

    <section class="background-gray">
      <div class="width1140 s-padding-tb pd-t-100">
        <ul>
          <li class="s-col-3">
            <div class="item">
              <div class="icon-wrapper">
                <img src="{% static 'images/buy-icon1.svg' %}" alt="icon-save"/>
              </div>
              <h4>Hàng ngàn nhà đất mới cập nhật liên tục</h4>
              <p>Theo dõi thông tin nhà đất mới nhất, đăng ký xem nhà miễn phí và thương lượng mức giá
                mong muốn.</p>
            </div>
          </li>
          <li class="s-col-3">
            <div class="item">
              <div class="icon-wrapper">
                <img src="{% static 'images/icon-save.svg' %}" alt="icon-price"/>
              </div>
              <h4>Chi phí thấp hơn 15% so với thị trường</h4>
              <p>Với lợi thế về công nghệ và dịch vụ hoàn hảo, TGNP giúp bạn tiết kiệm đáng kể chi
                phí, công sức và thời gian.</p>
            </div>
          </li>
          <li class="s-col-3">
            <div class="item">
              <div class="icon-wrapper">
                <img src="{% static 'images/buy-team.svg' %}" alt="icon-buy"/>
              </div>
              <h4>Đội ngũ chuyên viên hỗ trợ mọi lúc</h4>
              <p>TGNP đồng hành cùng bạn ở mỗi bước để tìm ra giải pháp hợp lý nhất nhằm giúp bạn có
                được ngôi nhà ưng ý.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section id="rv-guide">
      <div class="s-padding-tb bg-gray pdb-0">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/service girl.png' %}"
                   alt="Chuyên viên TGNP đồng hành cùng bạn"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content mgr-l-0">
              <h2 class="s-feature-heading">Được đồng hành hỗ trợ mọi thứ</h2>
              <p>
                Chuyên viên của TGNP sẽ hướng dẫn và hỗ trợ bạn trong suốt quá trình mua nhà. Tư
                vấn kỹ càng cho bạn về biến động giá cả thị trường, thông tin quy hoạch, các tiện
                ích và cư dân ở những khu vực bạn quan tâm và đồng thời
                đưa ra lời khuyên hợp lý cũng như gợi ý những căn giá tốt phù hợp với bạn nhất. Hoàn
                toàn miễn phí !
              </p>
              <p class="btn-contact">
                  <a href="#" style="opacity: 0.6" class="s-btn-red ">Liên hệ Mua ngay</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-padding-tb background-gray">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/for-sale.jpg' %}" alt="Miễn phí quảng bá"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content">
              <h2 class="s-feature-heading">Thương lượng dễ dàng mức giá hợp lý</h2>
              <p>Đội ngũ chuyên viên chuyên nghiệp từ TGNP sẽ:</p>
              <ul>
                <li>Chỉ ra những ưu điểm và nhược điểm của căn nhà.</li>
                <li>Cho bạn xem giá giao dịch gần đây của các căn lân cận.</li>
                <li>Giúp bạn tìm hiểu rõ thông tin chủ nhà.</li>
                <li>Đề xuất giúp bạn một mức giá có thể chấp nhận được.</li>
                <li>Ứng dụng công nghệ để đẩy nhanh quá trình thương lượng.</li>
                <li>Cùng bạn thuyết phục chủ nhà mức giá mong muốn.</li>
              </ul>
              <p class="btn-contact">
                  <a href="#" style="opacity: 0.6" class="s-btn-red ">Liên hệ Mua ngay</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-padding-tb bg-black">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/service-computer.png' %}"
                   alt="Miễn phí hình ảnh chuyên nghiệp"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content mgr-l-0 s-text-w">
              <h2 class="s-feature-heading">Thông tin thật, xem nhà ngay</h2>
              <p>
                Danh mục nhà đất được xác thực với thông tin thật được cập nhật liên tục, bạn luôn
                nắm được thông tin mới nhất để chọn căn ưng ý nhất đúng thời điểm. Đăng ký đặt lịch
                xem nhà hay thương lượng &amp; đề xuất giá ngay trên
                TGNP và theo dõi, quản lý thông tin này ngay trong mục Cá nhân.
              </p>
              <p class="btn-contact">
                  <a href="#" style="opacity: 0.6" class="s-btn-red ">Liên hệ Mua ngay</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-padding-tb background-gray">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/screen-shot-2017-11-09-at-2-19-41-pm.jpg' %}"
                   alt="Miễn phí quảng bá"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content">
              <h2 class="s-feature-heading">Vay mua nhà dễ dàng, nhanh chóng</h2>
              <p>
                Hàng ngàn người đã chọn vay ngân hàng để sớm sở hữu ngôi nhà mơ ước. Bạn sẽ không
                phải lo lắng khi TGNP sẵn sàng tư vấn cho bạn giải pháp vay tối ưu và chọn ngân
                hàng phù hợp nhất, tương ứng với loại nhà đất và dự án mà
                bạn chọn. Chuyên viên TGNP sẽ giải thích cặn kẽ và hỗ trợ bạn miễn phí mọi thủ tục
                liên quan đến quá trình vay.
              </p>
              <p class="btn-contact">
                  <a href="#" style="opacity: 0.6" class="s-btn-red ">Liên hệ Mua ngay</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-padding-tb">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/service-policy.jpg' %}"
                   alt="Hỗ trợ đầy đủ các thủ tục pháp lý"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content mgr-l-0">
              <h2 class="s-feature-heading">Được hỗ trợ miễn phí các thủ tục pháp lý</h2>
              <p>
                Không cần phải lo lắng về những rắc rối và phức tạp về pháp lý liên quan đến giao
                dịch bất động sản. Chuyên viên TGNP được đào tạo chuyên nghiệp sẽ hỗ trợ và hướng
                dẫn bạn mọi thủ tục và quy trình cần thiết để việc hoàn
                tất giao dịch diễn ra an toàn và nhanh chóng.
              </p>
              <p class="btn-contact">
                 <a href="#" style="opacity: 0.6" class="s-btn-red ">Liên hệ Mua ngay</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% comment %}<section style="background: orange;">
      <div class="width1140 s-padding-tb">
        <div class="s-heading s-text-w">Khách hàng nói gì?</div>
        <div id="customer" class="s-customer-rating">
          <div class="s-customer-rating-btn">
            <a href="#">
              <span class="btn-next flex-next s-text-w"></span>
            </a>
            <a href="#">
              <span class="btn-pre flex-prev s-text-w"></span>
            </a>
          </div>
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides">
              <li class="flex-active-slide">
                <p class="description s-text-w">
                  Dự án chưa mở bán nên thông tin trên mạng rất rối loạn và không đồng bộ. Cảm ơn
                  bạn chuyên viên của TGNP đã chia sẻ thông tin được tổng hợp đầy đủ kỹ càng,
                  giúp tôi tiết kiệm được rất nhiều thời gian tìm hiểu và dễ
                  dàng đưa ra quyết định hơn.
                </p>
                <div class="customer">
                  <div class="avatar">
                    <img src="{% static 'images/dinhtam.jpg' %}" alt=""
                         draggable="false"/>
                  </div>
                  <div class="info">
                    <p class="name s-text-w">Hoàng Quốc Huy</p>
                    <p class="s-text-w">Giám đốc tuyển dụng,Công ty Tiến Phát.</p>
                  </div>
                </div>
              </li>
              <li>
                <p class="description s-text-w">
                  Thật sự xem hình ảnh và 3D trên TGNP rất tuyệt vời, dù có thể đăng ký đi xem
                  nhà cùng chuyên viên của TGNP rất nhanh chóng nhưng tôi vẫn đánh giá cao vấn đề
                  thông tin thật, hình ảnh thật và trực quan trên TGNP. Điều
                  này giúp cho những người có nhu cầu mua nhà như tôi cảm thấy tin tưởng hơn khi
                  chọn dịch vụ của các bạn.
                </p>
                <div class="customer">
                  <div class="avatar">
                    <img src="{% static 'images/nguyenthao.jpg' %}" alt=""
                         draggable="false"/>
                  </div>
                  <div class="info">
                    <p class="name s-text-w">Nguyễn Nguyên Thảo</p>
                    <p class="s-text-w">Nhân viên văn phòng</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>{% endcomment %}

    <section class="s-bg-subcription">
      <div class="width1140 s-padding-tb">
        <div class="s-subcription-inner">
          <div class="title">Hàng ngàn khách hàng đã chọn Mua nhà cùng TGNP và hài lòng khi sở hữu được
            căn nhà ưng ý nhanh chóng với giá hợp lý dưới sự đồng hành hỗ trợ bởi chuyên viên TGNP.
          </div>
          <div class="btn-contact">
              <a href="#" style="opacity: 0.6" class="s-btn-red ">Liên hệ Mua ngay</a>
          </div>
        </div>
      </div>
    </section>

{% comment %}    <section class="ft-line">
      <div class="width1140 pdt-40 ft-browser">
        <div class="browser-heading">Địa điểm nổi bật</div>
        <ul class="popular-location">
          <li class="city"><a href="du-an/masteri-an-phu.html">Dự án Masteri An Phú</a></li>
          </li>
        </ul>
      </div>
    </section>{% endcomment %}
    <div class="mdialog" id="contact-now-form" style="background: none;">
      <div class="popup-520" style="overflow: visible;">
        <div class="header-w-close">
          <button class="close-popup-btn"><i class="zmdi zmdi-hc-2x zmdi-close"></i></button>
          <h3 class="font-tiempos">Mua nhà với TGNP</h3>
        </div>
        <div class="form-info" id="contact-now-form-body"></div>
      </div>
    </div>

  </div>

   <div id="property-contactbox-v2-app"></div>
   <div id="withUs_PopupContact">
       <script type="text/x-template" id="withUs_ContactPopupTemplate">
         <div v-show="showContactPopup" class="popup-fade popup-property popup__listing--contact show">
            <div class="popup-dialog popup-dialog-centered">
                <div class="popup-content">
                    <button class="popup-close" @click.prevent="closePopup"><i class="zmdi zmdi-close"></i></button>
                    <div class="popup-right">
                        <div class="popup-right-form-up show ask-view" style="">
                            <div class="popup-header"><h5 class="popup-title">Mua BĐS với TGNP</h5>
                                <button class="popup-back back-negotiate"><i
                                        class="zmdi zmdi zmdi-hc-2x zmdi-long-arrow-left"></i>
                                </button>
                            </div>
                            <div class="form-info">
                            <form data-formtype="contact-now-form" data-formitem="contact-agent" method="post" action="{% url 'post_contact' %}">
                                {% csrf_token %}
                                    <input type="hidden" name="listing_id" value="none"/>
                                    <input type="hidden" name="trantype" value="buy">
                                <fieldset>
                                    <div class="form-element per50-left" v-bind:class="{focused: shouldFocusedClass('firstname')}">
                                        <div class="placeholder">Họ</div>
                                        <input type="text" name="firstname" class="input" required v-model="data.firstname"
                                               v-on:focus="onFocusField('firstname')" v-on:blur="onBlur('firstname')" v-on:input="e => handleInputChange('firstname', e)"/>
                                        <span class="error-text" v-if="errors.firstname">[[errors.firstname]]</span>
                                    </div>
                                    <div class="form-element per50-right" v-bind:class="{focused: shouldFocusedClass('lastname')}">
                                        <div class="placeholder">Tên</div>
                                        <input type="text" name="lastname" class="input" required v-model="data.lastname" v-on:focus="onFocusField('lastname')"
                                               v-on:blur="onBlur('lastname')" v-on:input="e => handleInputChange('lastname', e)"/>
                                        <span class="error-text" v-if="errors.lastname">[[errors.lastname]]</span>
                                    </div>
                                    <div class="form-element per50-left" v-bind:class="{focused: shouldFocusedClass('email')}">
                                        <div class="placeholder">Email (Không bắt buộc)</div>
                                        <input type="text" name="email" class="input" v-model="data.email"
                                               v-on:focus="onFocusField('email')" {% comment %}v-on:blur="onBlur('email')"{% endcomment %}/>
                                        <span class="error-text" v-if="errors.lastname">[[errors.email]]</span>
                                    </div>
                                    <div class="form-element per50-right"  v-bind:class="{focused: shouldFocusedClass('phone')}">
                                    <div class="placeholder">Số điện thoại</div>
                                    <input type="text" name="phone" class="input" required v-model="data.phone"
                                           v-on:focus="onFocusField('phone')" v-on:blur="onBlur('phone')" v-on:input="e => handleInputChange('phone', e)"/>
                                    <span class="error-text" v-if="errors.lastname">[[errors.phone]]</span>
                                </div>
                                    <div class="form-element per50-left" >
                                        <div class="placeholder">Khu vực mà bạn quan tâm</div>
                                        <input class="input" type="text" name="location" required value="" data-fr-optional data-fr="string"/>
                                        <span class="error-text"></span>
                                    </div>
                                    <div class="form-element per50-left">
                                        <div class="placeholder">Loại BĐS bạn muốn mua</div>
                                              <select class="option-group" style="width: 100%; margin-bottom: 0; height: 44px; border: 1px solid rgba(131, 131, 131, .3) " data-model="type" required name="houseType" id="">
                                                   <option value=""></option>
                                                  <option value="town_house">Nhà trong ngõ</option>
                                                  <option value="street_house">Nhà mặt phố</option>
                                                  <option value="apartment">Căn hộ</option>
                                                  <option value="villa">Biệt thự</option>
                                                  <option value="shop_house">Cửa hàng</option>
                                                  <option value="land">Đất</option>
                                                  <option value="other">Loại hình khác</option>
                                              </select>
                                   </div>
                                    <div class="form-element per50-left" >
                                        <div class="placeholder">Tầm tài chính đầu tư (tỷ)</div>
                                        <input class="input" type="text" name="price" required value="" data-fr-optional data-fr="string"/>
                                        <span class="error-text"></span>
                                    </div>
                                    <div class="form-element textarea-height per50-right">
                                        <div class="placeholder">Lời nhắn</div>
                                        <textarea name="message" required></textarea>
                                    </div>
                                </fieldset>
                                <div class="action">
                                    <button type="submit" class="large-btn-red">Gửi thông tin</button>
                                </div>
                                <div class="or-direct-call">
                                    <p>Hoặc gọi trực tiếp vào Hotline (24/7)
                                        {% comment %}<a href="tel:%hotline%"><strong>%hotline%</strong></a>{% endcomment %}
                                        <a href="tel:0916286256"><strong>0916286256</strong></a>
                                    </p>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </script>
   </div>

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

{% endblock %}









