{% load get_cadastral listing %}{{ listing.house_type|get_house_type }} {{ desc }} tại {{ listing.street }}, {{ listing.district_name }}.
Diện tích {{ listing.area.normalize }} mét{% if listing.house_type|get_house_type == "Căn hộ"  %}, tầng {{ listing.floors }} {% elif listing.floors > 1 %}, {{ listing.floors }} tầng{% endif %}{% if listing.width > 3.5%}, mặt tiền {{ listing.width.normalize }} mét{% endif %}.

{{ listing.house_type|get_house_type }}{% if listing.salient_features %}{{ listing.salient_features }} ,{% endif %} nằm tại {% if listing.urban_area %}khu {{ listing.urban_area }},{% endif %} phố {{ listing.street }}, ở vị trí trung tâm {{ listing.state_name }} khu vực sầm uất, nhiều tiện ích, gần trường, chợ, dân trí cao, an ninh tốt, giao thông tiện lợi.{% if listing.direction %}
{% if listing.get_choice_display %}
Hướng {{ listing.get_choice_display }}{% endif %}
{% endif %}
Sổ đỏ chính chủ, sẵn sàng giao dịch.

Giá: {{ listing.price.normalize}} tỷ.

Chú ý: Thông tin thật, ảnh thật, được xác thực bởi Thế Giới Nhà Phố.