{% extends 'base.html' %}

{% load static i18n get_cadastral load_static listing %}
{% block title  %}
    <title>{% trans "Tin đăng rao vặt chính chủ" %} </title>
    <meta name="title" content="{% trans "Tin đăng rao vặt chính chủ" %}"/>
    <meta property="og:title" content="{% trans "Tin đăng rao vặt chính chủ" %} "/>
{% endblock %}
{% block description %}
    <meta name="description" content="Đăng tin rao vặt BĐS chính chủ miễn phí với Thế Giới Nhà Phố, bạn sẽ được trải nghiệm và hưởng rất nhiều lợi ích trong lĩnh vực bđs. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="Đăng tin rao vặt BĐS chính chủ miễn phí với Thế Giới Nhà Phố, bạn sẽ được trải nghiệm và hưởng rất nhiều lợi ích trong lĩnh vực bđs. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="Đăng tin rao vặt miễn phí Thế Giới Nhà Phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="Đăng tin rao vặt BĐS chính chủ miễn phí với Thế Giới Nhà Phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block content %}
    <div id="wrap">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu2.html' %}

        <!-- Main Content  -->
        <!-- Header -->
        <div class="header d-flex align-items-center">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-2"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                {% comment %}            <div class="row mt--7">
                <div class="col-lg-7 col-md-10">
                    <h4 class="text-blue">{% trans 'Trang cá nhân của' %} {{ user.first_name }} {{ user.last_name }} </h4>
                </div>
            </div>{% endcomment %}
            </div>
        </div>

        <div class="container-fluid mt--6">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <div class="row col-xl-12">

                <div class="col-xl-9 order-xl-2 mb-7" style="overflow-y: scroll; height:700px;">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5 class="mb-0">ĐĂNG TIN BẤT ĐỘNG SẢN</h5>
                                </div>
                                {% comment %}<div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">ĐĂNG</a>
                                </div>{% endcomment %}
                            </div>
                        </div>
                        <div class="card-body">

                            <form method="POST" action="{% url 'postListings' %}" id="listingForm" enctype='multipart/form-data' data-districts-url="{% url 'ajax_load_districts' %}">
                           {% comment %} <form id="listingForm" action="{% url 'postListings' %}" method="POST" enctype='multipart/form-data' data-districts-url="{% url 'ajax_load_districts' %}" novalidate>
                          {% endcomment %}      {% csrf_token %}
                                {% comment %}<h5 class="h5 heading-small text-muted mb-4">CHI TIẾT TIN ĐĂNG:</h5>{% endcomment %}
                                {% comment %}<div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="radio" name="trans_type" value="sell" checked
                                                       id="buy-house">
                                                Bán &nbsp;&nbsp;
                                                <input type="radio" name="trans_type" value="rent" id="rent-house"> Cho
                                                thuê
                                                &nbsp;&nbsp;
                                                <input type="radio" name="trans_type" value="project" id="project"> Dự
                                                án
                                            </div>
                                        </div>

                                    </div>
                                                                        <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="housetype">{% trans "Loại bất động sản " %}<span style="color: red">*</span></label>
                                                <select name="housetype" id="housetype" class="form-control">
                                                    <option value="town_house"
                                                            {% if reg_user.housetype == "town_house" or transaction.housetype == "town_house" %}
                                                            selected{% endif %}>{% trans "Nhà trong ngõ" %}</option>
                                                    <option value="street_house"
                                                            {% if reg_user.housetype == "street_house" or transaction.housetype == "street_house" %}
                                                            selected{% endif %}>{% trans "Nhà mặt phố" %}</option>
                                                    <option value="apartment"
                                                            {% if reg_user.housetype == "apartment" or transaction.housetype == "apartment" %}
                                                            selected{% endif %}>{% trans "Nhà trong ngõ" %}</option>
                                                    <option value="shop_house"
                                                            {% if reg_user.housetype == "shop_house" or transaction.housetype == "shop_house" %}
                                                            selected{% endif %}>{% trans "Cửa hàng" %}</option>
                                                    <option value="villa"
                                                            {% if reg_user.housetype == "villa" or transaction.housetype == "villa" %}
                                                            selected{% endif %}>{% trans "Biệt thự" %}</option>
                                                    <option value="plot"
                                                            {% if reg_user.housetype == "plot" or transaction.housetype == "plot" %}
                                                            selected{% endif %}>{% trans "Liền kề/Phân lô" %}</option>
                                                    <option value="land"
                                                            {% if reg_user.housetype == "land" or transaction.housetype == "land" %}
                                                            selected{% endif %}>{% trans "Đất/Mặt bằng" %}</option>
                                                    <option value="office"
                                                            {% if reg_user.housetype == "office" or transaction.housetype == "office" %}
                                                            selected{% endif %}>{% trans "Văn phòng" %}</option>
                                                    <option value="building"
                                                            {% if reg_user.housetype == "building" or transaction.housetype == "building" %}
                                                            selected{% endif %}>{% trans "Tòa nhà" %}</option>
                                                </select>
                                                {% if form.housetype.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.housetype.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="title">{% trans "Tiêu đề tin đăng:" %}</label>
                                                <input class="form-control" required type="text" name="title"
                                                        {% if reg_user.title %}
                                                       value="{{ reg_user.listing.title }}"
                                                       {% else %}value="{{ listing.title }}"{% endif %}
                                                       placeholder="Nhập tiêu đề tin ở đây"/>
                                                {% if form.title.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.title.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="description">{% trans "Nội dung tin đăng:" %}</label>
                                                <textarea name="description" required
                                                          placeholder="Nhập nội dung tin rao">{% if listing.description %}
                                                    {{ listing.description }}{% endif %}</textarea>
                                                {% if form.description == '' %}
                                                    <span style="color: red; font-size: 12px">{{ form.description.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="street">{% trans "Đường/Phố/Thôn:" %}</label>
                                                <input class="form-control" required type="text" name="street"
                                                       placeholder="Nhập tên đường/thôn"
                                                        {% if reg_user.street %}
                                                       value="{{ reg_user.listing.street }}"
                                                       {% else %}value="{{ listing.street }}"{% endif %}/>
                                                {% if form.street.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.street.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="district">{% trans "Quận/Huyện:" %}</label>
                                                <input class="form-control" required type="text" name="district"
                                                       placeholder="Nhập tên Quận/Huyện"
                                                        {% if reg_user.district %}
                                                       value="{{ reg_user.listing.district }}"
                                                       {% else %}value="{{ listing.district }}"{% endif %}/>
                                                {% if form.district.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.district.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="state">{% trans "Thành phố/Tỉnh:" %}</label>
                                                <input class="form-control" required type="text" name="state"
                                                       placeholder="Nhập tên Tỉnh/Thành phố"
                                                        {% if reg_user.state %}
                                                       value="{{ reg_user.listing.state }}"
                                                       {% else %}value="{{ listing.state }}"{% endif %}/>
                                                {% if form.state.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.state.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="address">{% trans "Địa chỉ đầy đủ của bất động sản:" %}</label>
                                                <input class="form-control" required type="text" name="address"
                                                        {% if reg_user.address %}
                                                       value="{{ reg_user.listing.address }}"
                                                       {% else %}value="{{ listing.address }}"{% endif %}
                                                       placeholder="Nhập địa chỉ đầy đủ định dạng: Ngõ/Ngách/Hẻm/Số nhà, Khu dân cư, Phố, Quận/Huyện, Tỉnh/TP"/>
                                                {% if form.address.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.address.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="form-control-label" for="area">Diện tích:</label>
                                                <input class="form-control" required type="text" name="area"
                                                       placeholder="Chỉ nhập số"
                                                        {% if reg_user.area %} value="{{ reg_user.listing.area }}"
                                                       {% else %}value="{{ listing.area }}"{% endif %} />
                                                {% if form.area.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.area.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="form-control-label" for="floor">Số tầng:</label>
                                                <input class="form-control" required type="text" name="floor"
                                                       placeholder="Chỉ nhập số"
                                                        {% if reg_user.floor %} value="{{ reg_user.listing.floor }}"
                                                       {% else %}value="{{ listing.floor }}"{% endif %}/>
                                                {% if form.floor.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.floor.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="form-control-label" for="width">Mặt tiền:</label>
                                                <input class="form-control" required type="text" name="width"
                                                       placeholder="Chỉ nhập số"
                                                        {% if reg_user.width %} value="{{ reg_user.listing.width }}"
                                                       {% else %}value="{{ listing.width }}"{% endif %}/>
                                                {% if form.width.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.width.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" style="font-weight: bold" for="price">Giá
                                                    bán:</label>
                                                <input class="form-control" required type="text" name="price"
                                                       placeholder="Chỉ nhập số"
                                                        {% if reg_user.price %} value="{{ reg_user.listing.price }}"
                                                       {% else %}value="{{ listing.price }}"{% endif %}/>
                                                {% if form.price.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.price.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="form-control-label" for="price">Đơn vị tính:</label>
                                            <select class="form-control">
                                                <option value="ty">Tỷ</option>
                                                <option value="trieu">Triệu</option>
                                            </select></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="photomain">Ảnh đại diện</label>
                                                <input type="file" name="photomain" id="photomain"
                                                       class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                    </div>
                                </div>{% endcomment %}
                                {% comment %}{{ form.as_p }}{% endcomment %}
                                <table>
                                    {{ form.as_table }}
                                </table>


                                <div class="card-footer text-center border-0">
                                    <input type="submit" value="{% trans "Đăng ngay" %}" class="btn btn-primary">
                                </div>

                            </form>

                        </div>
                        <div class="card-footer text-center border-0">

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 order-xl-1 mb-5 mb-xl-0">
                    {% include 'accounts/_profilePanelRight.html' %}
                </div>
            </div>
        </div>
        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

    </div>
    <br/>
    <!-- Footer content below-->

{% endblock %}



