{% extends 'base.html' %}

{% load static i18n %}
{% block title %} Thế Giới Nhà Phố Việt Nam|{% trans 'Thông tin cá nhân' %} {% endblock title %}

{% block content %}
  <div id="wrap">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    {% include 'menu/_secondMenu2.html' %}

    <!-- Main Content  -->
    <!-- Header -->
    <div class="header d-flex align-items-center">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-2"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row mt--12">
                <div class="col-lg-12 col-md-12">
                    <h6 class="display-6 text-blue">{% trans 'Chào bạn' %} {{ user.first_name }} {{ user.last_name }} </h6>
                 </div>
            </div>
        </div>
    </div>
  <!-- Main -->
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
    <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

  </div>

  <!-- Footer content below-->
{% endblock %}



