{% extends 'base.html' %}

{% load static i18n %}
{% block title %} {% trans 'TIN RAO ĐĂNG CHÍNH CHỦ' %} {% endblock title %}

{% block content %}
    <div id="wrap">
        <!-- Search menu -->
        {% include 'menu/_menuSearch.html' %}

        <!-- Header -->
        {% include 'menu/_secondMenu2.html' %}

        <!-- Main Content  -->
        <!-- Header -->
        <div class="header d-flex align-items-center">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-2"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                {% comment %}            <div class="row mt--7">
                <div class="col-lg-7 col-md-10">
                    <h4 class="text-blue">{% trans 'Trang cá nhân của' %} {{ user.first_name }} {{ user.last_name }} </h4>
                </div>
            </div>{% endcomment %}
            </div>
        </div>

        <div class="container-fluid mt--6">

            <div class="row col-xl-12">
                <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
                    {% include 'accounts/_profilePanelRight.html' %}
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5 class="mb-0">ĐĂNG TIN BẤT ĐỘNG SẢN</h5>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">ĐĂNG</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'post_contact' %}" method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <h5 class="h5 heading-small text-muted mb-4">CHI TIẾT GIAO DỊCH</h5>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="trantype">{% trans "Loại giao dịch" %}</label>
                                                <select name="trantypes" id="trantypes" class="form-control">
                                                    <option value="contact"
                                                            {% if reg_user.trantype == "contact" or transaction.trantype == "contact" %}
                                                            selected{% endif %}>{% trans "Liên hệ" %}</option>
                                                    <option value="view"
                                                            {% if reg_user.trantype == "view" or transaction.trantype == "view" %}
                                                            selected{% endif %}>{% trans "Liên hệ xem BĐS" %}</option>
                                                    <option value="oder"
                                                            {% if reg_user.trantype == "oder" or transaction.trantype == "oder" %}
                                                            selected{% endif %}>{% trans "Đặt hàng" %}</option>
                                                    <option value="buy"
                                                            {% if reg_user.trantype == "buy" or transaction.trantype == "buy" %}
                                                            selected{% endif %}>{% trans "Mua" %}</option>
                                                    <option value="sell"
                                                            {% if reg_user.trantype == "sell" or transaction.trantype == "sell" %}
                                                            selected{% endif %}>{% trans "Bán" %}</option>
                                                    <option value="rent"
                                                            {% if reg_user.trantype == "rent" or transaction.trantype == "rent" %}
                                                            selected{% endif %}>{% trans "Thuê" %}</option>
                                                    <option value="lease"
                                                            {% if reg_user.trantype == "lease" or transaction.trantype == "lease" %}
                                                            selected{% endif %}>{% trans "Cho thuê" %}</option>
                                                    <option value="intro_estate"
                                                            {% if reg_user.trantype == "intro_estate" or transaction.trantype == "intro_estate" %}
                                                            selected{% endif %}>{% trans "Giới thiệu BĐS" %}</option>
                                                    <option value="intro_custo"
                                                            {% if reg_user.trantype == "intro_custo" or transaction.trantype == "intro_custo" %}
                                                            selected{% endif %}>{% trans "Giới thiệu Khách" %}</option>
                                                </select>
                                                {% if form.trantype.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.trantype.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="listing">{% trans "Bất động sản quan tâm" %}</label>
                                                <input class="form-control" required type="text" name="listing"
                                                        {% if reg_user.listing %}
                                                       value="{{ reg_user.listing.code }}"
                                                       {% else %}value="{{ transaction.listing.code }}"{% endif %}
                                                       placeholder="Nhập mã BĐS"/>
                                                {% if form.listing.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.listing.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="customer">{% trans "Tên khách hàng" %}</label>
                                                <input class="form-control" required type="text" name="customer"
                                                        {% if reg_user.customer %}
                                                       value="{{ reg_user.customer }}"
                                                       {% else %}value="{{ transaction.customer.name }}"{% endif %}
                                                       placeholder="Nhập tên khách hàng"/>
                                                {% if form.lastname.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.customer.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="house_type">{% trans "Loại bất động sản quan tâm" %}</label>
                                                <select name="houseType" id="housetypes" class="form-control">
                                                    {% for c in houseType %}
                                                        <option value="{{ c }}"
                                                                {% if reg_user.house_type == c or transaction.house_type == c %}
                                                                selected{% endif %}>{{ c }}</option>
                                                    {% endfor %}

                                                </select>
                                                {% if form.houseType.errors %}
                                                    <span style="color: red; font-size: 12px">{{ form.houseType.errors.as_text }}</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-caring_area">Khu vực bạn quan tâm</label>
                                                <input type="text" name="caring_area" id="caring_area" value="{{ transaction.caring_area }}">
                                            </div>
                                        </div>

                                    </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="message">Lời nhắn gửi</label>
                                                 <textarea rows="3" cols="20" name="message">
                                                  {{ transaction.message }}
                                                </textarea>
                                            </div>
                                        </div>
                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="comment">Lời nhắn gửi</label>
                                                 <textarea rows="3" cols="20" name="comment">
                                                  {{ transaction.comment }}
                                                </textarea>
                                            </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="message">Thời gian giao dịch: {{ transaction.date }}</label>
                                            </div>
                                        </div>
                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="comment">Trạng thái giao dịch {{ transaction.status }}</label>
                                            </div>
                                      </div>
                                </div>
                                </div>
                                <hr class="my-4"/>

                                <div class="card-footer text-center border-0">
                                    <input type="submit" value="{% trans "Đăng tin" %}" class="btn btn-primary">
                                </div>

                            </form>
                        </div>
                        <div class="card-footer text-center border-0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

    </div>
    <br/>
    <!-- Footer content below-->
{% endblock %}



