{% extends 'base.html' %}

{% load static i18n %}
{% block title %}
    <title>{% trans "Thế Giới Nhà Phố Việt Nam|Đăng tin bất động sản thành công" %}</title>
    <meta name="title" content="{% trans "Thế Giới Nhà Phố Việt Nam|Đăng tin bất động sản thành công" %}"/>
    <meta property="og:title" content="{% trans "Thế Giới Nhà Phố Việt Nam|Đăng tin bất động sản thành công" %}"/>
{% endblock %}
{% block description %}
    <meta name="description" content="Đăng tin bất động sản thành công! Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="Đăng tin bất động sản thành công! Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="Danh sách bất động sản của tôi, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="Danh sách bất động sản của tôi, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}
{% block content %}
  <div id="wrap">
    <!-- Search menu -->
    {% include 'menu/_menuSearch.html' %}

    <!-- Header -->
    {% include 'menu/_secondMenu2.html' %}

    <!-- Main Content  -->
    <!-- Header -->
    <div class="header d-flex align-items-center">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-2"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row mt--12">
                <div class="col-lg-12 col-md-12">
                    <h6 class="display-6 text-blue">{% trans 'Chào bạn' %} {{ user.first_name }} {{ user.last_name }} </h6>
                 </div>
            </div>
        </div>
    </div>
  <!-- Main -->
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
    <div id="withUs_PopupContact">{% include "listings/_contactPopupTemplate.html" %}</div>

  </div>

  <!-- Footer content below-->
{% endblock %}



