{% extends 'base.html' %}

{% load static humanize i18n load_static %}

{% block head %}
  {{ block.super }}

  <link rel="canonical" href="{% url 'rent_with_us' %}"/>

  <link rel="stylesheet" href="{% static 'css/service.css' %}"/>

{% endblock %}

{% block content %}


  <div id="whyrent-app">
    <!-- Search menu -->
    {% include 'partials/_menuSearch.html' %}

    <!-- Header -->
    <div class="cta-bottom-wrapper">
      <div class="cta-bottom-inner">
        <div class="phone">
          <a class="cta-hotline" href="tel:0971841941"><span class="font-icon fone-b font-20"> </span>
            <strong>0971 841 941</strong></a>
        </div>
        <div>
          <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
        </div>
      </div>
    </div>
    <div class="s-menu">
      <div class="width-1600">
        <div class="s-menu-wrapper">
          <ul>
            <li class="s-menu-items ">
              <a href="{% url 'services' %}">Tất cả dịch vụ</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'whyChoose' %}">Vì sao chọn TGNP?</a>
            </li>
            <li class="s-menu-items active">
              <a href="{% url 'sell_with_us' %}">Bán BĐS với Thế giới Nhà Phố</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'buy_with_us' %}">Mua với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'rent_with_us' %}">Thuê với TGNP</a>
            </li>
            <li class="s-menu-items ">
              <a href="{% url 'specialist_us' %}">Chuyên viên TGNP</a>
            </li>
            {% comment %}                    <li class="s-menu-items ">
                        <a href="tgnp-photo.html">Chụp hình</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="3d.html">Thực tế ảo</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="thu-tuc-giay-to.html">Hành chính</a>
                    </li>
                    <li class="s-menu-items ">
                        <a href="bang-dieu-khien.html">Bảng điều khiển</a>
                    </li>{% endcomment %}
            <li class="s-btn-contact">
              <a href="javascript:void(0)" data-action="contact-agent" style="font-size: 14px">Liên hệ ngay</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content  -->
    <div id="s-rv-buy" class="s-banner-bg"
         style=" background: url({% static 'images/bg-service-rent.jpg' %}) 50% 50% / cover no-repeat;">
      <div class="s-banner-bg-inner">
        <div class="s-banner-header-wrapper">
          <h1>Thuê được nhà phù hợp với giá tốt</h1>
          <div class="sumary">Thấu hiểu nhu cầu về chỗ ở của bạn, hỗ trợ bạn thuê được nhà dễ dàng và nhanh
            chóng.
          </div>
          <div class="btn-contact">
            <a class="s-btn-red mgb-0" data-action="contact-agent">Liên hệ ngay</a>
          </div>
        </div>
        <div id="whyrent-search-form" class="s-sreach-cover">
          <form id="search-form-app" ref="searchFormApp" @submit.prevent="startSearch" action="#"
                class="s-sreach-cover-inner">
            <div class="s-sreach-type s-dropdown">
              <select title="Loại nhà đất" name="property_type" data-placeholder="Loại nhà đất" style="display: none;">
                <option value="town_house">Nhà phố</option>
                <option value="loft_house">Nhà gác xép/Cấp 4</option>
                <option value="street_house">Nhà mặt phố</option>
                <option value="shop_house">Cửa hàng</option>
                <option value="villa">Biệt thự</option>
                <option value="villa_rest">Biệt thự nghỉ dưỡng</option>
                <option value="building">Toà nhà</option>
                <option value="building_business">Toà nhà kinh doanh</option>
                <option value="apartment">Căn hộ</option>
                <option value="pent_house">Căn hộ áp mái</option>
                <option value="service_apartment">Căn hộ dịch vụ</option>
                <option value="condo_tel">Căn hộ khách sạn</option>
                <option value="office">Văn phòng</option>
                <option value="office_tel">Văn phòng khách sạn</option>
                <option value="land">Đất nền</option>
                <option value="plot">Đất phân lô</option>
                <option value="industrial_land">Đất công nghiệp</option>
                <option value="warehouse_workshop">Kho xưởng</option>
                <option value="land_business">Mặt bằng kinh doanh</option>
                <option value="other">Khác</option>
              </select>
            </div>
            <div class="s-sreach-type s-dropdown">
              <select name="bedroom" title="Số phòng ngủ" data-placeholder="Số phòng ngủ"
                      style="display: none;">
                <option value="1">1 phòng</option>
                <option value="2">2 phòng</option>
                <option value="3">3 phòng</option>
                <option value="4">4 phòng</option>
                <option value="5">5+ phòng</option>
              </select>
            </div>
            <suggest-input placeholder="Địa điểm, dự án bạn muốn mua?" hide-button ref="suggestInput"
                           :value="keyword" :search-service-type="searchServiceType"
                           @select="onSelectSuggest" suggest-list-class="suggest-result"
                           class="search-desktop-component s-sreach-type s-sreach-input">
            </suggest-input>
            <div class="s-sreach-type s-sreach-btn">
              <button type="submit">Tìm ngay</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <section class="background-gray">
      <div class="width1140 s-padding-tb pd-t-100">
        <ul>
          <li class="s-col-3">
            <div class="item">
              <div class="icon-wrapper">
                <img src="{% static 'images/icon-real-info.svg' %}" alt="icon-save"/>
              </div>
              <h4>Thông tin thật, hình ảnh thật</h4>
              <p>Nhà đất được xác thực và cập nhật liên tuc từ chủ nhà. Xem nhà nhanh chóng, thương lượng
                giá dễ dàng.</p>
            </div>
          </li>
          <li class="s-col-3">
            <div class="item">
              <div class="icon-wrapper">
                <img src="{% static 'images/icon-price.svg' %}" alt="icon-price"/>
              </div>
              <h4>Chi phí luôn thấp nhất</h4>
              <p>Với lợi thế công nghệ và miễn phí một số dịch vụ, TGNP giúp bạn tiết kiệm đáng kể chi
                phí, công sức và thời gian.</p>
            </div>
          </li>
          <li class="s-col-3">
            <div class="item">
              <div class="icon-wrapper">
                <img src="{% static 'images/buy-team.svg' %}" alt="icon-buy"/>
              </div>
              <h4>Được hỗ trợ mọi lúc</h4>
              <p>TGNP hỗ trợ mọi vấn đề để giúp bạn tìm được ngôi nhà ưng ý. Sự hài lòng của bạn chính là
                mục tiêu cao nhất.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="rv-guide">
      <div class="s-padding-tb">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/dong-hanh.jpg' %}"
                   alt="Chuyên viên TGNP đồng hành cùng bạn"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content mgr-l-0">
              <h2 class="s-feature-heading">Được đồng hành hỗ trợ bởi chuyên viên</h2>
              <p>
                Chuyên viên của TGNP sẽ hướng dẫn và hỗ trợ bạn mọi thứ trong suốt quá trình tìm thuê
                nhà. Chia sẻ tất cả thông tin về biến động giá thuê, tình hình giao thông, các tiện ích
                xung quanh và cộng đồng dân cư ở những khu
                vực bạn quan tâm, đồng thời gợi ý những căn giá tốt phù hợp với bạn nhất. Hoàn toàn miễn
                phí !
              </p>
              <p class="s-btn-inner"><a class="s-btn-red" data-action="contact-agent">Liên hệ ngay</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-padding-tb background-gray">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/real-info.jpg' %}"
                   alt="Chuyên viên TGNP đồng hành cùng bạn"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content">
              <h2 class="s-feature-heading">Thông tin thật, được xác thực bởi chủ nhà</h2>
              <p>
                Hàng ngàn nhà đất cho thuê giá tốt được cập nhật mỗi ngày, cho bạn nhiều sự lựa chọn và
                so sánh để tìm được căn ưng ý nhất. Thông tin đầy đủ, rõ ràng và đều được xác thực chính
                xác từ chủ nhà. TGNP kiên quyết nói KHÔNG
                với tin đăng ảo.
              </p>
              <p class="s-btn-inner"><a class="s-btn-red" data-action="contact-agent">Liên hệ ngay</a></p>
            </div>
          </div>
        </div>
      </div>
      <div id="sell-photo" class="s-padding-tb">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/group18%402x.png' %}"
                   alt="Miễn phí hình ảnh chuyên nghiệp"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content mgr-l-0">
              <h2 class="s-feature-heading">Hình ảnh rõ ràng, 3D tour trực quan</h2>
              <p>
                Hình ảnh chất lượng cao không qua chỉnh sửa sẽ thể hiện rõ từng vị trí, đặc điểm của
                ngôi nhà, cho bạn cái nhìn chân thực nhất. Ngoài ra, với nội dung 3D trực quan (chỉ có
                trên TGNP) bạn sẽ không bỏ sót bất kỳ chi tiết
                nào của ngôi nhà, qua đó dễ dàng đưa ra quyết định mà không cần phải đi xem tận nơi.
              </p>
              <p class="s-btn-inner"><a class="s-btn-red" data-action="contact-agent">Liên hệ ngay</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-padding-tb background-gray">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/rent.jpg' %}" alt="Miễn phí quảng bá"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content">
              <h2 class="s-feature-heading">Giá thuê tốt nhất, chi phí thấp nhất</h2>
              <p>TGNP giúp bạn thương lượng mức giá hợp lý, bằng cách:</p>
              <ul>
                <li>Chỉ ra những ưu điểm và nhược điểm của căn nhà.</li>
                <li>Cùng xem giá thuê trung bình của các căn lân cận.</li>
                <li>Giúp bạn tìm hiểu rõ thông tin chủ nhà.</li>
                <li>Đề xuất giúp bạn mức giá thuê có thể chấp nhận được.</li>
                <li>Nền tảng công nghệ giúp đẩy nhanh quá trình thương lượng.</li>
                <li>Thuyết phục chủ nhà mức giá bạn mong muốn.</li>
              </ul>
              <p class="s-btn-inner"><a href="#" class="s-btn-red" data-action="contact-agent">Liên hệ
                ngay</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-padding-tb">
        <div class="guide-item">
          <div class="s-col">
            <div class="img-wrapper">
              <img src="{% static 'images/screenShot20171025At92331Am.jpg' %}"
                   alt="Hỗ trợ đầy đủ các thủ tục pháp lý"/>
            </div>
          </div>
          <div class="s-col">
            <div class="s-content mgr-l-0">
              <h2 class="s-feature-heading">Hỗ trợ đầy đủ các thủ tục pháp lý</h2>
              <p>
                Không cần phải lo lắng về những rắc rối và phức tạp về pháp lý liên quan đến giao dịch
                bất động sản. Chuyên viên TGNP được đào tạo chuyên nghiệp sẽ hỗ trợ và hướng dẫn bạn
                mọi thủ tục và quy trình cần thiết để việc hoàn
                tất giao dịch diễn ra an toàn và nhanh chóng.
              </p>
              <p class="s-btn-inner"><a class="s-btn-red" data-action="contact-agent">Liên hệ ngay</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="background: orange;">
      <div class="width1140 s-padding-tb">
        <div class="s-heading s-text-w">Khách hàng nói gì</div>
        <div id="customer" class="s-customer-rating">
          <div class="s-customer-rating-btn">
            <a href="#">
              <span class="btn-next flex-next s-text-w"></span>
            </a>
            <a href="#">
              <span class="btn-pre flex-prev s-text-w"></span>
            </a>
          </div>
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides">
              <li class="flex-active-slide">
                <p class="description s-text-w">
                  Tôi có nhu cầu thuê biệt thự cho gia đình 7 người tại Quận Hoàn Kiếm, các bạn chuyên viên
                  bên TGNP rất tận tình tư vấn cho tôi nên ở khu nào, chọn đường nào để tiện cho công
                  việc và học hành của con cái tôi, và căn biệt thự
                  đó nên có những đặc điểm gì để phù hợp cho cuộc sống của gia đình có người già và
                  trẻ nhỏ. Tôi được xem 3D của các căn tôi quan tâm và thấy trải nghiệm rất trực quan,
                  rõ ràng, một công cụ vô cùng tiện lợi và khiến tôi
                  nhanh chóng đưa ra quyết định đi xem nhà và thương lượng thuê cho căn phù hợp nhất.
                </p>
                <div class="customer">
                  <div class="avatar">
                    <img src="{% static 'images/ntmlinh.jpg' %}" alt=""
                         draggable="false"/>
                  </div>
                  <div class="info">
                    <p class="name s-text-w">Nguyễn Thị Mỹ Linh</p>
                    <p class="s-text-w">Giáo viên - Trường mầm non Hoa Mai</p>
                  </div>
                </div>
              </li>
              <li>
                <p class="description s-text-w">
                  Xem nhà đăng cho thuê trên TGNP thật sự là trải nghiệm thú vị, hình ảnh chất lượng
                  cao, rõ ràng với nhiều góc chụp và thể hiện tất cả các chi tiết của căn nhà. Đặc
                  biệt hơn với những căn được quay 3D thì xem trên web
                  giống như đang đi xem tận nơi vậy. Tôi đã quyết định thuê căn hộ ở Masteri Thảo Điền
                  rất nhanh, ngay sau khi cùng bạn chuyên viên đi xem nhà.
                </p>
                <div class="customer">
                  <div class="avatar">
                    <img src="{% static 'images/dttoan.jpg' %}" alt=""
                         draggable="false"/>
                  </div>
                  <div class="info">
                    <p class="name s-text-w">Đỗ Thanh Toàn</p>
                    <p class="s-text-w">Nhân viên ngân hàng, VCB</p>
                  </div>
                </div>
              </li>
              <li>
                <p class="description s-text-w">
                  Công ty tôi đã thuê được văn phòng làm việc tại Quận Đống Đa với giá thuê theo tôi nghĩ là
                  khá tốt, điều đặc biệt hơn cả là tôi có ấn tượng rất tốt với chuyên viên bên TGNP,
                  các bạn vô cùng chuyên nghiệp, cung cấp đầy đủ
                  thông tin chính xác về những địa điểm bên tôi quan tâm và đáp ứng các yêu cầu phát
                  sinh trong giao dịch cho công ty tôi rất nhanh.
                </p>
                <div class="customer">
                  <div class="avatar">
                    <img src="{% static 'images/nvnam.jpg' %}" alt=""
                         draggable="false"/>
                  </div>
                  <div class="info">
                    <p class="name s-text-w">Nguyễn Văn Nam</p>
                    <p class="s-text-w">Trưởng phòng kinh doanh, Viettel Telecom</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="s-bg-subcription">
      <div class="width1140 s-padding-tb">
        <div class="s-subcription-inner">
          <div class="title">Hàng ngàn khách hàng đã chọn <strong>Thuê nhà cùng TGNP</strong> và hài lòng khi
            sở hữu được căn nhà ưng ý nhanh chóng với giá hợp lý dưới sự đồng hành hỗ trợ bởi chuyên viên
            TGNP.
          </div>
          <div class="btn-contact">
            <a class="s-btn-red mgb-0" data-action="contact-agent">Liên hệ ngay</a>
          </div>
        </div>
      </div>
    </section>
    <section class="ft-line">
      <div class="width1140 pdt-40 ft-browser">
        <div class="browser-heading">Địa điểm nổi bật</div>
        <ul class="popular-location">
          <li class="city"><a href="s/quan-2/thue.html">Cho thuê Quận Hoàn Kiếm</a></li>
          <li class="city"><a href="s/quan-4/thue.html">Cho thuê Quận Đống Đa</a></li>
          <li class="city"><a href="s/quan-7/thue.html">Cho thuê Quận Ba Đình</a></li>
    </ul>
      </div>
    </section>
    <div class="mdialog" id="contact-now-form" style="background: none;">
      <div class="popup-520" style="overflow: visible;">
        <div class="header-w-close">
          <button class="close-popup-btn"><i class="zmdi zmdi-hc-2x zmdi-close"></i></button>
          <h3 class="font-tiempos">Thuê nhà với TGNP</h3>
        </div>
        <div class="form-info" id="contact-now-form-body"></div>
      </div>
    </div>

    {% include "partials/_detailFeedbackForm.html" %}

  </div>

  <!-- Footer content below-->
{% endblock %}

{% block scripts %}

  <script async defer src="{% static 'js/whyrent-old.min.js' %}"></script>
  <script async defer src="{% static 'js/whyrent.min.js' %}"></script>

  <script type="text/javascript" src="https://www.googleadservices.com/pagead/f.txt"></script>

{% endblock %}









