{% extends 'base.html' %}

{% load humanize i18n %}

{% block title %} | {% trans "Kết quả tìm kiếm" %} {% endblock %}

{% block content %}
    <section id="showcase-inner" class="showcase-search text-white py-5">
        <div class="container">
            <div class="row text-center" style="justify-content: center">
                <div class="col-md-8">
                    {% include "partials/_searchComponent.html" %}
                </div>
            </div>
        </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-4">
        <div class="container">
            <div class="row">
                {% if listings %}
                    {% for listing in listings %}
                        <div class="col-md-6 col-lg-4 mb-4">
                            {% include 'listings/_listing_card.html' %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% include 'partials/_noResultComponent.html' %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}