{% extends 'base.html' %}

{% load static humanize i18n load_static get_cadastral listing %}

{% block title %}
    <title>Tìm {{ advertising }}BĐS {{ keywords }}{{ transtype }}{{ housetype }}{{ sort }}{% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %} tốt nhất</title>
    <meta name="title" content="Tìm {{ advertising }}BĐS {{ keywords }}{{ transtype }}{{ housetype }}{{ sort }}{% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %} tốt nhất"/>
    <meta property="og:title" content="Tìm {{ advertising }}BĐS {{ keywords }}{{ transtype }}{{ housetype }}{{ sort }}{% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %} tốt nhất"/>
{% endblock %}
{% block description %}
    <meta name="description" content="Tìm kiếm {{ advertising }}BĐS {{ keywords }}{{ transtype }}{{ housetype }}{{ sort }}{% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %} tốt nhất, nhanh chóng và tiện lợi, với chi phí
                        thấp và đội ngũ hỗ trợ mọi lúc. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
<meta property="og:description"
      content="ìm kiếm {{ advertising }}BĐS {{ keywords }}{{ transtype }}{{ housetype }}{{ sort }}{% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %} tốt nhất, nhanh chóng và tiện lợi, với chi phí
                        thấp và đội ngũ hỗ trợ mọi lúc. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords"
      content="{{ transtype }}{{ housetype }}{{ keywords }}{{ sort }},{% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %}, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    <meta property="og:keywords"
      content="{{ transtype }}{{ housetype }}{{ keywords }}{{ sort }}, {% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %}, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/listing_search"/>

  <link rel="stylesheet" href="{% load_static 'css/search-transition.css' %}"/>
  <link rel="stylesheet" href="{% load_static 'css/loading.min.css' %}"/>
  <link rel="stylesheet" href="{% load_static 'css/normalize.css' %}"/>
  <link rel="stylesheet" href="{% load_static 'css/ion.rangeSlider.css' %}"/>
  <link rel="stylesheet" href="{% load_static 'css/search.css' %}"/>
  {% include 'listings/_vueTemplate.html' %}
{% endblock %}
{% block optional_styles %}
{% endblock %}

{% block content %}
    <h1 class="hidden">TGNP Việt Nam|Tìm kiếm {{ advertising }}BĐS {{ transtype }}{{ housetype }}{{ keywords }}{{ sort }}{% if district %} {% get_district district %} {% endif %} {% if state %} {% get_state state %} {% endif %} tốt nhất</h1>
  <!-- Search menu -->
  {% include 'menu/_menuSearch.html' %}

  <input id="elInitSearchPage" type="hidden" value="true"/>

  <div class="banner-app-tgnp" id="tgnp-banner-prompt" style="display: none">
    <div class="banner-app-content">
      <button onclick="AppPrompt.closePrompt()" class="close-banner-app">
        <i class="zmdi zmdi-close"></i>
      </button>
      <a href="javascript:void(0)" class="cover">
        <img src="{% static 'img/logo.svg' %}" alt="Thế giới Nhà Phố">
      </a>
      <div class="banner-app-info">
        <a href="javascript:void(0)">TGNP</a>
        <h2>Mua bán Bất động sản nhanh chóng, chính xác, tin cậy</h2>
        <div class="rating-star">
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star evaluated"></i>
          <i class="zmdi zmdi-star-half evaluated"></i>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="btn-install">Mở</a>
  </div>

  <div id="search-content" class="block-search-noresult page--search" v-cloak>
    <div class="search-container">
      <div class="search-result">
        <div id="leads" class="panel">
          {% include "listings/_searchFilterBar.html" %}
          {% include "listings/_searchResult.html" %}
        </div>
      </div>

{% comment %}      <contact-popup v-bind:show-contact-popup="showContactPopup"
                     v-bind:close-popup="closeContactProject"></contact-popup>{% endcomment %}
      <div class="search-map">
        <div class="map-container" id="search-map"></div>
      </div>

    </div>

  </div>


  <div>
    {% include "partials/_relativeDescription.html" %}
  </div>

  <div id="withUs_PopupContact"></div>

{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
      var map;
      var markerData = [];
      var markers = [];
      var districts = [];
      {% for district in districts %}
          districts.push({
              code: '{{ district.code }}',
              text: '{{ district.name }}'
          })
      {% endfor %}

      // on:hover -> markers[index].setIcon(highlightedIcon());
      // on:hover -> markers[index].setIcon(normalIcon());

      function initialize() {
          if (window.initMap) {
              window.initMap();
          } else {
              setTimeout(initialize, 200);
          }
      }

     {% comment %} function normalIcon() {
          return {
              url: 'http://1.bp.blogspot.com/_GZzKwf6g1o8/S6xwK6CSghI/AAAAAAAAA98/_iA3r4Ehclk/s1600/marker-green.png'
          };
      }

      function highlightedIcon() {
          return {
              url: 'http://steeplemedia.com/images/markers/markerGreen.png'
          };
      }{% endcomment %}

      function callbackInitMap() {
          initialize();
      }

  </script>
  <script src="{% load_static 'js/ion.rangeSlider.min.js' %}"></script>
  {% comment %}<script defer src="{% load_static 'js/favorite.min.js' %}"></script>{% endcomment %}
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
          integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
          integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script async src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  {% if environment != 'development' %}
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWKbev18w2O63PfjhgpyU6DWvL6G4DCCc&libraries=drawing,places,geometry&language=vi&callback=callbackInitMap">
    </script>
  {% endif %}


  <script src="{% load_static 'js/search.js' %}"></script>

  {#  <script defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>#}


{% endblock %}



