{% extends 'base.html' %}

{% load humanize i18n %}

{% block title %} | {% trans "Kết quả tìm kiếm" %} {% endblock %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">{% trans "Từ khóa" %}</label>
                <input type="text" name="keywords" class="form-control" placeholder="{% trans "Từ khóa" %}" value="{{ values.keywords }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">{% trans "Thành phố" %}</label>
                <input type="text" name="city" class="form-control" placeholder="{% trans "Thành phố" %}" value="{{ values.city }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">{% trans "Huyện" %}</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">{% trans "Huyện (Tất cả)" %}</option>
                  {% for key,value in state_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.state %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">{% trans "Phòng ngủ" %}</label>
                <select name="bedrooms" class="form-control">
                  <option selected="true" disabled="disabled">{% trans "Phòng ngủ (Tất cả)" %}</option>
                  {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.bedrooms %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected="true" disabled="disabled">{% trans "Giá tối đa (Tất cả)" %}</option>
                  {% for key,value in price_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.price %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">{% trans "Tìm kiếm" %}</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> {% trans "Trang chủ" %}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">{% trans "Danh sách nhà" %}</a>
          </li>
          <li class="breadcrumb-item active"> {% trans "Kết quả tìm kiếm" %}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
          <div class="col-md-6 col-lg-4 mb-4">
            {% include 'listings/_listing_card.html' %}
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>{% trans "Không có kết quả phù hợp!" %}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endblock %}