*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html * {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button
}

::-webkit-input-placeholder {
    color: rgba(0, 4, 68, .3)
}

button, input, keygen, select, textarea {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0
}

button:focus, input:focus, keygen:focus, select:focus, textarea:focus {
    outline: 0
}

li {
    list-style: none
}

body {
    background: #f3f4f7 !important
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}

a {
    color: #303330;
    text-decoration: none
}

@font-face {
    font-family: harmonia;
    src: url(../fonts/RV-Harmonia-Regular.eot);
    src: url(../fonts/RV-Harmonia-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/RV-Harmonia-Regular.woff) format('woff'), url(../fonts/RV-Harmonia-Regular.ttf) format('truetype'), url(../fonts/RV-Harmonia-Regular.svg#roboto_condensedregular) format('svg');
    font-weight: 400
}

@font-face {
    font-family: harmonia;
    src: url(../fonts/RV-Harmonia-Light.eot);
    src: url(../fonts/RV-Harmonia-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/RV-Harmonia-Light.woff) format('woff'), url(../fonts/RV-Harmonia-Light.ttf) format('truetype'), url(../fonts/RV-Harmonia-Light.svg#roboto_condensedregular) format('svg');
    font-weight: 200
}

@font-face {
    font-family: harmonia;
    src: url(../fonts/RV-Harmonia-SemiBold.eot);
    src: url(../fonts/RV-Harmonia-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/RV-Harmonia-SemiBold.woff) format('woff'), url(../fonts/RV-Harmonia-SemiBold.ttf) format('truetype'), url(../fonts/RV-Harmonia-SemiBold.svg#roboto_condensedregular) format('svg');
    font-weight: 500
}

@font-face {
    font-family: harmonia;
    src: url(../fonts/RV-Harmonia-Bold.eot);
    src: url(../fonts/RV-Harmonia-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/RV-Harmonia-Bold.woff) format('woff'), url(../fonts/RV-Harmonia-Bold.ttf) format('truetype'), url(../fonts/RV-Harmonia-Bold.svg#roboto_condensedregular) format('svg');
    font-weight: 600
}

@font-face {
    font-family: Tiempos;
    src: url(../fonts/TiemposHeadline-Medium.eot);
    src: url(../fonts/TiemposHeadline-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/TiemposHeadline-Medium.woff) format('woff'), url(../fonts/TiemposHeadline-Medium.ttf) format('truetype'), url(../fonts/TiemposHeadline-Medium.svg#roboto_condensedregular) format('svg');
    font-weight: 400
}

@font-face {
    font-family: Tiempos;
    src: url(../fonts/TiemposHeadline-Regular.eot);
    src: url(../fonts/TiemposHeadline-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/TiemposHeadline-Regular.woff) format('woff'), url(../fonts/TiemposHeadline-Regular.ttf) format('truetype'), url(../fonts/TiemposHeadline-Regular.svg#roboto_condensedregular) format('svg');
    font-weight: 200
}

@font-face {
    font-family: tgnp-icon;
    src: url(../fonts/TGNPIcons.eot);
    src: url(../fonts/TGNPIcons.eot?#iefix) format('embedded-opentype'), url(../fonts/TGNPIcons.woff) format('woff'), url(../fonts/TGNPIcons.ttf) format('truetype'), url(../fonts/TGNPIcons.svg#roboto_condensedregular) format('svg')
}

body {
    font-family: harmonia, Arial, Helvetica, sans-serif
}

.col-2 {
    width: 16.67%
}

.col-4 {
    width: 33.33%
}

.col-6 {
    width: 50%
}

.col-8 {
    width: 66.67%
}

.col-12 {
    width: 100%
}

.pt-30 {
    padding-top: 30px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-5 {
    padding-top: 5px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-25 {
    padding-left: 25px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-8 {
    margin-top: 8px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-30 {
    margin-right: 30px !important
}

.font-icon {
    font-family: tgnp-icon, Verdana, Geneva, sans-serif;
    text-rendering: auto;
    line-height: 20px;
    font-size: 18px;
    font-style: normal;
    vertical-align: middle
}

.fone:before {
    content: "\f115"
}

.email-icon-pro:before {
    content: "\f114"
}

.btn-primary-agent {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    max-width: fit-content;
    min-width: 200px;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    border: 0
}

.btn-red {
    background: orange;
    color: #fff
}

.btn-red:hover {
    background: #cf373a;
    color: #fff
}

.btn-transparent {
    background: 0 0;
    color: #30333a;
    border: 1px solid rgba(48, 51, 58, .2)
}

.btn-transparent:hover {
    background: #30333a;
    color: #fff
}

.btn-gray {
    background: #838383;
    color: #fff
}

.btn-gray:hover {
    background: rgba(131, 131, 131, .8);
    color: #fff
}

.btn-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 24px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background: rgba(48, 51, 58, .3);
    z-index: 9;
    display: none
}

.btn-view-all {
    display: none;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    min-width: 200px;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    border: solid 1px #337588;
    color: #337588;
    height: 40px;
    margin: 0 auto;
    align-items: center;
    justify-content: center
}

@media only screen and (max-width: 667px) {
    .btn-view-all {
        display: block
    }
}

.visible-pc {
    display: block
}

.visible-sm {
    display: none
}

.agents-container {
    max-width: 1176px;
    margin: auto;
    padding: 0 18px
}

.agents-container .agents-inner {
    display: block;
    overflow: hidden
}

.font-tiempos {
    font-family: Tiempos, Arial, Helvetica, sans-serif
}

.banner-agents-top > h2 {
    font-family: Tiempos, Arial, Helvetica, sans-serif
}

.banner-agents-top {
    background: url(../images/banner-agent-intro.png) 50% 50%/cover no-repeat;
    width: 100%;
    padding: 70px 0 115px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center
}

.banner-agents-top .banner-agents-inner {
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
    text-align: left
}

.banner-agents-top .banner-agents-inner .banner-agents-contain {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center
}

.banner-agents-top .banner-agents-inner .banner-agents-contain h1 {
    text-align: left;
    opacity: .86;
    font-size: 40px;
    line-height: 1.5;
    color: #fff;
    font-weight: 500;
    max-width: 700px
}

.banner-agents-top .banner-agents-inner .banner-agents-contain p {
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    color: #fff;
    opacity: .86;
    font-family: RVHarmonia, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    max-width: 650px
}

.banner-agents-top button.btn-red {
    margin-top: 30px
}

@media (max-width: 768px) {
    .banner-agents-top .banner-agents-inner {
        text-align: center
    }

    .banner-agents-top .banner-agents-inner .banner-agents-contain {
        padding: 0 20px
    }

    .banner-agents-top .banner-agents-inner .banner-agents-contain h1 {
        text-align: center
    }

    .banner-agents-top .banner-agents-inner .banner-agents-contain p {
        text-align: center;
        max-width: 100%
    }
}

@media (max-width: 480px) {
    .banner-agents-top {
        padding: 50px 0 85px
    }

    .banner-agents-top .banner-agents-inner .banner-agents-contain h1 {
        font-size: 30px
    }

    .banner-agents-top .banner-agents-inner .banner-agents-contain p {
        font-size: 18px
    }

    .banner-agents-top button.btn-red {
        font-size: 16px
    }
}

.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 1px rgba(236, 236, 236, .5);
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 #e4e4e4;
    z-index: 999999;
    background-color: #fff;
    transition: padding .15s ease-in-out .15s, width .15s ease-in-out
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all .3s ease;
    color: #fff;
    font-size: 20px;
    width: 55px
}

.icon-bar .zmdi-facebook {
    color: #6e8ad3
}

.icon-bar .zmdi-youtube-play {
    color: orange
}

.icon-bar .zmdi-google-plus {
    color: #e17f70
}

.icon-bar .zmdi-comment-text {
    color: #dfa967
}

.icon-bar .zmdi-email {
    color: #8a8a8a
}

.icon-bar .zmdi-share {
    color: #b28cce
}

.icon-bar a:hover {
    background-color: orange;
    color: #fff
}

.icon-bar .divide-bar {
    width: 37px;
    margin: 0 auto;
    border: solid .6px rgba(131, 131, 131, .2)
}

@media (max-width: 960px) {
    .icon-bar {
        display: none
    }
}

.introduce {
    padding: 60px 0 55px
}

.introduce ul li {
    width: calc(33.33% - 60px);
    margin-right: 90px;
    float: left;
    text-align: center;
    transition: all .3s
}

.introduce ul li:last-child {
    margin-right: 0
}

.introduce ul li h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin: 25px 0 10px
}

.introduce ul li p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    text-align: center
}

@media (max-width: 768px) {
    .introduce ul li {
        width: calc(33.33% - 14px);
        margin-right: 20px
    }
}

@media (max-width: 480px) {
    .introduce {
        padding: 40px 0 25px
    }

    .introduce ul li {
        width: 100%;
        margin-right: 0
    }

    .introduce ul li:nth-child(n+2) {
        margin-top: 30px
    }

    .introduce ul li h4 {
        margin: 20px 0 5px;
        font-size: 18px
    }

    .introduce ul li p {
        font-size: 14px
    }
}

.divide-bar {
    border-top: 1px solid rgba(48, 51, 58, .1)
}

.find-expert {
    padding: 40px 0 60px;
    text-align: center
}

.find-expert h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.53;
    text-align: center
}

.find-expert .expert-rv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0
}

.find-expert .expert-rv p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    padding-left: 10px
}

.find-expert-form-search {
    width: 100%;
    max-width: 555px;
    height: 55px;
    margin: auto
}

.find-expert-form-search form {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center
}

.find-expert-form-search form:before {
    content: "\f1c3";
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    color: #30333a;
    font-size: 30px;
    left: 15px;
    top: 15px
}

.find-expert-form-search form input {
    float: left;
    width: 100%;
    height: 55px;
    padding: 0 20px 0 50px;
    font-size: 18px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    -webkit-appearance: none;
    font-family: harmonia, Arial, Helvetica, sans-serif
}

.find-expert-form-search form input:focus {
    border: 0 !important
}

.find-expert-form-search form button {
    outline: 0;
    border: none;
    height: 55px;
    width: 100%;
    max-width: 55px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: orange;
    cursor: pointer;
    margin: 0;
    padding: 0
}

.find-expert-form-search form button .zmdi {
    color: #fff;
    font-size: 35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center
}

@media (max-width: 480px) {
    .find-expert {
        padding: 40px 0 40px
    }

    .find-expert h2 {
        font-size: 24px
    }

    .find-expert .expert-rv p {
        font-size: 14px
    }

    .find-expert .expert-rv {
        display: block;
        margin: 20px 0
    }
}

.find-expert-form-search form {
    position: relative
}

.search-agent-suggestions {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border: 1px solid rgba(131, 131, 131, .2);
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    top: 55px;
    background: #fff;
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto
}

.search-agent-suggestions li {
    text-align: left
}

.search-agent-suggestions li a {
    display: block;
    padding: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    line-height: 22px
}

.search-agent-suggestions li a:hover {
    background: #f3f4f7
}

.search-agent-suggestions li a:hover {
    background: #f3f4f7
}

.search-agent-suggestions li a.active {
    background: #f3f4f7
}

.search-agent-suggestions li a img {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    object-position: 0 0;
    margin-right: 10px
}

.search-agent-suggestions-noresult {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border: 1px solid rgba(131, 131, 131, .2);
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    top: 55px;
    background: #fff;
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto
}

.search-agent-suggestions-noresult li {
    text-align: left;
    padding: 15px 0
}

@media (max-width: 480px) {
    .search-agent-suggestions {
        top: 50px
    }
}

.search-agent-suggestions::-webkit-scrollbar {
    width: 5px
}

.search-agent-suggestions::-webkit-scrollbar-track {
    background: #f1f1f1
}

.search-agent-suggestions::-webkit-scrollbar-thumb {
    background: #888
}

.search-agent-suggestions::-webkit-scrollbar-thumb:hover {
    background: #555
}

.training {
    background: #fff;
    padding: 60px 0 0
}

.training .agents-container {
    max-width: 100%
}

.training .col-left {
    text-align: center;
    width: 50%;
    float: left
}

.training .col-right {
    width: 50%;
    float: left
}

.training .col-right h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.39
}

.training .col-right p {
    max-width: 490px;
    opacity: .86;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 20px
}

@media (max-width: 768px) {
    .training .visible-pc {
        display: none
    }

    .training .visible-sm {
        display: block
    }

    .training .visible-sm .col-left, .training .visible-sm .col-right {
        width: 100%;
        float: none;
        text-align: center
    }

    .training .visible-sm .col-left {
        padding-top: 30px
    }

    .training .visible-sm .col-right p {
        max-width: 100%
    }
}

@media (max-width: 480px) {
    .training {
        padding: 40px 0 0
    }

    .training .col-right h2 {
        font-size: 24px
    }

    .training .col-right p {
        font-size: 14px;
        padding-top: 10px
    }
}

.customers {
    padding: 80px 0 60px
}

.customers .col-left {
    width: 50%;
    float: left
}

.customers .col-right {
    width: 50%;
    float: left
}

.customers .col-left h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.39
}

.customers .col-left p {
    max-width: 490px;
    opacity: .86;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 20px;
    padding-right: 20px
}

@media (max-width: 768px) {
    .customers .col-left, .customers .col-right {
        width: 100%;
        float: none;
        text-align: center
    }

    .customers .col-right {
        padding-top: 30px
    }

    .customers .col-left p {
        max-width: 100%;
        padding-right: 0
    }
}

@media (max-width: 480px) {
    .customers {
        padding: 40px 0 0
    }

    .customers .col-left h2 {
        font-size: 24px
    }

    .customers .col-left p {
        font-size: 14px;
        padding-top: 10px
    }
}

.always-sp-you {
    padding: 55px 0;
    background: #fff;
    text-align: center
}

.always-sp-you h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.67;
    text-align: center
}

.always-sp-you .intro {
    opacity: .86;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 15px
}

.always-sp-you .function {
    max-width: 860px;
    margin: 0 auto
}

.always-sp-you .function ul {
    margin-top: 50px
}

.always-sp-you .function ul li {
    width: calc(33.33% - 30px);
    margin-right: 45px;
    float: left;
    text-align: center;
    transition: all .3s
}

.always-sp-you .function ul li:last-child {
    margin-right: 0
}

.always-sp-you .function ul li h3 {
    opacity: .86;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    text-align: center;
    margin: 25px 0 20px
}

.always-sp-you .function ul li p {
    font-size: 14px;
    line-height: 1.57;
    text-align: center
}

@media (max-width: 767px) {
    .always-sp-you .function ul li {
        width: 100%;
        margin-right: 0
    }

    .always-sp-you .function ul li:nth-child(n+2) {
        margin-top: 30px
    }

    .always-sp-you .function ul li h4 {
        margin: 20px 0 15px
    }

    .always-sp-you .function ul li p {
        max-width: 240px;
        margin: 0 auto
    }
}

@media (max-width: 480px) {
    .always-sp-you {
        padding: 40px 0 30px
    }

    .always-sp-you h2 {
        font-size: 24px
    }

    .always-sp-you .intro {
        font-size: 14px;
        margin-top: 5px
    }

    .always-sp-you .function ul {
        margin-top: 20px
    }

    .always-sp-you .function ul li h4 {
        margin: 15px 0 5px
    }

    .always-sp-you .function ul li:nth-child(n+2) {
        margin-top: 20px
    }
}

.cus-say-what {
    background: orange;
    padding: 45px 0 55px;
    position: relative;
    text-align: center
}

.cus-say-what h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.53;
    text-align: center;
    color: #fff
}

.cus-say-what .dot {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 550px;
    height: 355px;
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 10px 10px
}

.cus-say-what .owl-carousel {
    margin-top: 30px
}

.cus-say-what .owl-carousel .item {
    max-width: 890px;
    position: relative;
    margin: 0 auto
}

.cus-say-what .owl-carousel .item p {
    max-width: 718px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.72;
    text-align: center;
    color: #fff
}

.cus-say-what .owl-carousel .item img {
    width: 53px;
    height: 58px;
    max-width: unset;
    position: absolute;
    top: 0;
    right: 30px
}

.cus-say-what .owl-carousel .owl-nav button.owl-next, .cus-say-what .owl-carousel .owl-nav button.owl-prev {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: -50%;
    transform: translate(-50%, -50%)
}

.cus-say-what .owl-carousel .owl-nav button.owl-prev {
    left: 20px
}

.cus-say-what .owl-carousel .owl-nav button.owl-next {
    right: 0
}

.cus-say-what .owl-carousel .owl-nav button .zmdi {
    font-size: 50px
}

.cus-say-what .owl-thumbs {
    display: table;
    width: 100%;
    text-align: center;
    padding: 50px 0 0
}

.cus-say-what .owl-thumbs button {
    margin-right: 60px
}

.cus-say-what .owl-thumbs button:last-child {
    margin-right: 0
}

.cus-say-what .owl-thumbs img {
    width: 60px;
    border-radius: 50%
}

.cus-say-what .owl-thumb-item {
    display: table-cell;
    border: none;
    background: 0 0;
    padding: 0;
    opacity: .7;
    color: #fff;
    text-align: center
}

.name-job {
    display: none
}

.cus-say-what .owl-thumb-item.active {
    opacity: .9
}

.cus-say-what .owl-thumb-item.active img {
    transition: all .3s;
    width: 80px
}

.cus-say-what .owl-thumb-item.active .name-job {
    display: block
}

.cus-say-what .owl-thumb-item h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: .88;
    text-align: center;
    padding: 25px 0 10px
}

.cus-say-what .owl-thumb-item p {
    opacity: .86;
    font-size: 16px;
    line-height: 1.38;
    text-align: center
}

.cus-say-what .oh-yeah {
    max-width: 945px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    text-align: center
}

@media (max-width: 768px) {
    .cus-say-what .dot {
        width: 350px;
        height: 250px
    }

    .cus-say-what .owl-thumbs button {
        margin-right: 30px
    }
}

@media (max-width: 480px) {
    .cus-say-what {
        padding: 40px 0 40px
    }

    .cus-say-what h2 {
        font-size: 24px
    }

    .cus-say-what .owl-carousel .item p {
        font-size: 14px
    }

    .cus-say-what .owl-carousel {
        margin-top: 20px
    }

    .cus-say-what .owl-thumb-item p {
        font-size: 14px
    }

    .cus-say-what .owl-thumb-item h4 {
        padding: 15px 0 8px
    }

    .cus-say-what .owl-thumbs img {
        width: 40px
    }

    .cus-say-what .owl-thumb-item.active img {
        width: 60px
    }

    .cus-say-what .dot {
        width: 220px;
        height: 190px
    }

    .cus-say-what .owl-thumbs button {
        margin-right: 15px
    }

    .cus-say-what .owl-thumbs {
        padding: 40px 0 0
    }
}

.agents-location {
    padding: 30px 0;
    width: 100%;
    background: #f3f4f7
}

.agents-location h2 {
    font-weight: 500;
    line-height: 2.5;
    font-size: 24px
}

.agents-location .detail-block {
    display: flex;
    flex-flow: row nowrap
}

.agents-location .detail-block .col-link {
    width: 20%
}

.agents-location .detail-block .col-link li {
    height: 30px;
    line-height: 30px;
    padding-right: 20px
}

.agents-location .detail-block .col-link li a {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #337588;
    font-family: harmonia
}

@media (max-width: 768px) {
    .agents-location {
        display: none
    }
}

#overlay-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    z-index: 9999999;
    display: none
}

.contact-agent {
    background: url(../images/agent-intro-contact-bg.png) 100% 50%/cover no-repeat;
    padding: 55px 0 60px;
    text-align: center;
    position: relative
}

.contact-agent .agents-container {
    position: relative;
    z-index: 2
}

.contact-agent p {
    max-width: 705px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: normal;
    color: #fff
}

.contact-agent button {
    margin-top: 30px;
    font-size: 16px
}

.overlay-contact {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: none
}

@media (max-width: 480px) {
    .overlay-contact {
        display: block
    }

    .contact-agent p {
        font-size: 14px
    }

    .contact-agent button {
        font-size: 14px
    }

    .contact-agent .btn-primary-agent {
        height: 40px;
        line-height: 40px
    }
}

@media (max-width: 320px) {
    .contact-agent {
        background: url(../images/agent-intro-contact-bg.png) 90% 50%/cover no-repeat
    }
}

@media (max-width: 768px) {
    #footer {
        padding-bottom: 60px
    }
}