.agents-container {
    max-width: 1176px;
    margin: auto;
    padding: 0 18px;
}

.agents-container .agents-inner {
    display: block;
    overflow: hidden;
}

.intro-staff-agent{
    width: 100%;
}
.intro-staff-agent .view-all>i{
    color: #337588;
    font-size: 15px;
    padding-top: 88px;
}
.intro-staff-agent .view-all>i a{
    font-family: 'Harmonia', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #337588;
    margin-left: 5px;
    vertical-align: middle;
}
.intro-staff-agent .view-all>i a:hover{
    cursor: pointer;
}
.intro-staff-agent .info-staff{
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 18px;
}
.intro-staff-agent .info-staff .agent-img-staff{
    position: relative;
    max-width: 320px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.intro-staff-agent .info-staff .agent-img-staff .img-info{
    width: 320px;
    display: block;
    overflow: hidden;
    height: 320px;
    position: relative;
}
.intro-staff-agent .info-staff .agent-img-staff .img-info img{
    position: absolute;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 0%;
    object-position: 0% 0%;
}
.intro-staff-agent .info-staff .agent-contact{
    margin-left: 70px;
    position: relative;
}
.intro-staff-agent .info-staff .agent-contact .agent-name h1{
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: #30333a;
    margin-top: -5px;
}
.intro-staff-agent .info-staff .agent-contact .agent-name p{
    font-size: 16px;
    line-height: 24px;
    color: #337588;
}
.intro-staff-agent .info-staff .agent-contact table{
    margin-top: 10px;
    margin-left: -2px;
}
.intro-staff-agent .info-staff .agent-contact table tr td:nth-child(1){
    opacity: 0.76;
    font-size: 16px;
    line-height: 2;
    color: #444c59;
    width: 155px;
}
.intro-staff-agent .info-staff .agent-contact table tr td:nth-child(2){
    font-family: 'Harmonia', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    color: #444c59;
}
.intro-staff-agent .info-staff .agent-contact table tr td:nth-child(2) a{
    text-decoration: unset;
    color: #444c59;
    font-size: 16px;
    line-height: 22px;
}
.agent-btn{
    margin-top: 22px;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.agent-btn a{
    font-size: 16px;
    font-weight: 600;
    font-family: 'harmonia', Arial, Helvetica, sans-serif;
    line-height: 52px;
    color: #fff;
    cursor: pointer;
}

.agent-btn a .zmdi{
    font-size: 20px;
    padding-right: 6px;
    font-weight: normal;
}
/* BUTTON */
.btn-primary-agent {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    min-width: 200px;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    border: 0;
}
/*.btn-primary-agent i a{
  font-family: 'Harmonia', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 8px;
}*/
.btn-red {
    background: #c72528;
    color: #fff;
    margin-right: 10px;
}

.btn-red:hover {
    background: #cf373a;
    color: #fff;
}

.btn-transparent {
    font-family: 'Harmonia', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #444c59;
    background: transparent;
    border: 1px solid rgba(48, 51, 58, .2);
    margin-right: 10px;
}
.btn-transparent:hover {
    background: #30333a;
    color: #fff;
}
.btn-transparent-two {
    font-family: 'Harmonia', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-transparent-two:hover{
    background: #c52728;
    color: #fff;
}
.btn-gray {
    background: #838383;
    color: #fff;
    border: 0;
}

.btn-gray:hover {
    background: rgba(131, 131, 131, .8);
    color: #fff;
}

.btn-favorite {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 24px;
    outline: none;
    border: 1px solid rgba(48, 51, 58, .2);
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #337588;
    background: transparent;
    z-index: 9;
}
.btn-favorite.active{
    background: #00a6bd;
}
.btn-favorite:hover{
    background: #c72528;
    color: #fff;
}
.divide{
    width: 100%;
    height: 0.1px;
    opacity: 0.1;
    border: solid 1px #30333a;
    margin: 26px 0 40px;
}
.intro-staff-agent .intro-exp-agent{
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.intro-staff-agent .intro-exp-agent h2{
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #30333a;
}
.intro-staff-agent .intro-exp-agent .experience {
    margin-right: 68px;
}
.intro-staff-agent .intro-exp-agent .experience table{
    margin-top: 25px;
    width: 320px;
}
.intro-staff-agent .intro-exp-agent .experience table tr{
    height: 30px;
}
.intro-staff-agent .intro-exp-agent .experience table.exp tr td:nth-child(1){
    font-size: 16px;
    line-height: 24px;
    color: #444c59;
    opacity: 0.76;
    padding-bottom: 8px;
    width: 100px;
}
.intro-staff-agent .intro-exp-agent .experience table.exp tr td:nth-child(2){
    font-size: 16px;
    line-height: 24px;
    color: #444c59;
}
.intro-staff-agent .intro-exp-agent .experience table.social tr td:nth-child(2){
    max-width: 290px;
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.intro-staff-agent .intro-exp-agent .experience table.social tr td a{
    font-size: 16px;
    line-height: 24px;
    color: #337588;
}
.intro-staff-agent .intro-exp-agent .experience table.social tr td:nth-child(1){
    text-align: center;
}
.intro-staff-agent .intro-exp-agent .experience i a{
    font-family: 'Harmonia', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #337588;
}
.intro-staff-agent .intro-exp-agent .intro-staff .normal{
    width: 100%;
    margin-top: 25px;
    padding-right: 20px;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
}
.see-more{
    color: #337588;
    cursor: pointer;
}
/* END BUTTON */
@media (max-width: 860px){
    .agent-btn{
        width: 100%;
        display: block;
        margin: 0;
        margin-top: 20px;
        position: unset;
    }
    .agent-btn a{
        display: block;
        max-width: 100%;
        width: 100%;
    }
    .btn-transparent{
        position: relative;
        margin-top: 10px;
        max-width: 100%;
        width: 100%;
    }

    .agent-btn .btn-favorite{
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
        max-width: 100%;
        width: 100%;
    }

    .agent-btn .btn-favorite .zmdi{
        vertical-align: text-bottom;
    }
}
@media (max-width: 768px){
    .pd-bt-10{
        padding-bottom: 20px;
    }
    .pd-t-55, .pd-t-60{
        padding-top: 35px;
    }
    .intro-staff-agent .info-staff{
        display: block;
    }
    .intro-staff-agent .info-staff .agent-img-staff{
        margin: 0 auto;
    }
    .intro-staff-agent .info-staff .agent-contact{
        margin-left: 0;
    }
    .intro-staff-agent .info-staff .agent-contact .agent-name{
        text-align: center;
        width: 100%;
    }
    .intro-staff-agent .info-staff .agent-contact .agent-name h1{
        margin-top: 30px;
    }
    .agent-btn{
        max-width: 340px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        position: unset;
    }
    .btn-primary-agent{
        max-width: 340px;
    }

    .btn-favorite{
        max-width: 340px;
        width: 100%;
        margin-top: 10px;
    }
    .intro-staff-agent .intro-exp-agent{
        display: block;
        margin-top: 40px;
    }
    .intro-staff-agent .intro-exp-agent .intro-staff{
        margin-left: 0;
        margin-top: 40px;
        position: unset;
    }
    .intro-staff-agent .intro-exp-agent .experience table{
        width: 100%;
    }
    .intro-staff-agent .info-staff .agent-contact table tr td:nth-child(1){
        width: 110px;
    }
    .intro-staff-agent .info-staff .agent-img-staff .img-info img{
        border-radius: 50%;
    }
}
@media (max-width: 640px){
    /*#staff{
      height: 223px;
    }*/
}
@media (max-width: 425px){
    .intro-staff-agent .info-staff .agent-img-staff{
        max-width: 183px;
    }
    .intro-staff-agent .info-staff .agent-img-staff .img-info{
        width: 183px;
        height: 183px;
    }
    .intro-staff-agent .info-staff .agent-contact .agent-name h1{
        font-size: 20px;
        line-height: normal;
        padding-bottom: 10px;
    }
    .intro-staff-agent .info-staff .agent-contact table tr td:nth-child(1){
        width: 100px;
        font-size: 14px;
    }
    .intro-staff-agent .info-staff .agent-contact table tr td:nth-child(2){
        font-size: 14px;
    }
    .btn-favorite{
        max-width: 100%;
        width: 100%;
    }
    .intro-staff-agent .intro-exp-agent h2{
        font-size: 20px;
    }
    .agent-btn{
        max-width: 100%;
    }
    .btn-primary-agent{
        max-width: 100%;
    }
}
.bg-grey{
    background-color: #f3f4f7;
}

.all-project h2{
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #30333a;
}

.decrip{
    font-size: 16px;
    line-height: 24px;
    color: #444c59;
    margin-top: 15px;
    max-width: 615px;
    float: left;
    padding-bottom: 15px;
}
.btn-favorite-love {
    height: 32px;
    width: 32px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 24px;
    outline: none;
    border: 1px solid rgba(48, 51, 58, .2);
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background: rgba(48,51,58,.3);
    z-index: 9;
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn-view-all {
    display: none;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    min-width: 200px;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    border: solid 1px #337588;
    color: #337588;
    height: 40px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (max-width: 1024px){
    .decrip{
        display: none;
    }
}
@media (max-width: 768px){
    .pd-t-45{
        padding-top: 30px;
    }
    .all-project .project-selling .duan-sell{
        display: block;
        margin: 0 auto;
        max-width: 457px;
        margin-bottom: 20px;
    }
    .all-project .project-selling .duan-sell .intro-view .decription-pc{
        display: none;
    }
    .all-project .project-selling .duan-sell .intro-view .decription-mb{
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

}
@media (max-width: 425px){
    .all-project h2{
        font-size: 20px;
    }
}
.btn-favorite-two{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 24px;
    outline: none;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    background: rgba(48, 51, 58, 0.3);
    z-index: 9;
    display: none;
}
.btn-favorite.active{
    background: #00a6bd;
    color: #fff;
}
.btn-favorite-two.active{
    background: #00a6bd;
}
@media (min-width: 768px){
    .btn-favorite-two.active{
        display: block;
    }
}
.optionCard {
    width: 100%;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(131, 131, 131, 0.2);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.optionCard .cover-image {
    position: relative;
    max-width: 457px;
    width: 100%;
    float: left;
}
.optionCard .cover-image a {
    width: 100%;
    display: block;
    overflow: hidden;
}
.optionCard .cover-image a img {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 457px;
    height: 100%;
    max-height: 100%;
    left: 0;
    top: -2px;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
.optionCard .cover-image p{
    position: absolute;
    bottom: 0;
    background-color: #c72528c4;
    width: 100%;
    padding: 6px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.optionCard .cover-image .label-group {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
    z-index: 2;
}
.optionCard .cover-image .label-group span {
    margin: 5px 5px 0 0;
}
.optionCard .info-container {
    width: 100%;
    padding: 30px;
    background: white;
    display: inline-block;
}
.optionCard .info-container .title{
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.optionCard .info-container .title a:hover{
    color: #c72528;
}
.optionCard .info-container .listing-address {
    display: block;
    color: #838383;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.optionCard .info-container .listing-address h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}
.optionCard .info-container .listing-address h4 a {
    color: #444c59;
}
.optionCard .info-container .listing-address h4 a:hover{
    color: #c72528;
}
.optionCard .info-container .tb-left{
    float: left;
    margin-right: 40px;
    margin-top: 10px;
}
.optionCard .info-container .tb-left ul li{
    float: left;
    display: block;
    width: 75px;
    opacity: 0.76;
    font-size: 14px;
    line-height: 2.14;
    color: #444c59;
}
.optionCard .info-container .tb-left ul li:last-child{
    margin-right: 0;
}
.optionCard .info-container .tb-left:nth-child(5){
    margin-right: 0!important;
}
.optionCard .info-container .tb-left:nth-child(5) ul li{
    width: 40px;
}
.optionCard .info-container .tb-left:nth-child(5) ul a{
    color: #c72528;
}
.optionCard .info-container .tb-left ul a{
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.14;
    color: #444c59;
}
@media (max-width: 1024px){
    .optionCard .info-container .tb-left ul li{
        width: 95px;
    }
    .optionCard .info-container .tb-left:nth-child(5) ul li{
        width: 95px;
    }
}
.optionCard .info-container .listing-info {
    margin-top: 15px;
}
.optionCard .info-container .listing-info li {
    display: inline-block;
    width: auto;
    font-size: 14px;
    margin-right: 15px;
    color: #838383;
}
.optionCard .info-container .listing-info li .zmdi {
    color: #30333a;
    padding-right: 5px;
}
.optionCard .info-container .listing-info li:last-child {
    margin-right: 0;
}
/**/

.listingCard {
    width: 100%;
    max-width: 360px;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(131, 131, 131, 0.2);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.listingCard .cover-image {
    position: relative;
}
.listingCard .cover-image a {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 0;
    padding-top: 66.67%;
}
.listingCard .cover-image a img {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
.listingCard .cover-image .label-group {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
    z-index: 2;
}
.listingCard .cover-image .label-group span {
    margin: 5px 5px 0 0;
}
.listingCard .info-container {
    width: 100%;
    padding: 15px;
    background: white;
}
.listingCard .info-container .listing-name {
    display: block;
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #30333a;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.listingCard .info-container .listing-name:hover{
    color: #c72528;
}
.listingCard .info-container .listing-address {
    margin-top: 8px;
    display: block;
    color: #838383;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.listingCard .info-container .listing-address h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}
.listingCard .info-container .listing-address h4 a {
    color: #838383;
}
.listingCard .info-container .listing-address h4 a:hover{
    color: #c72528;
}
.listingCard .info-container .listing-info {
    margin-top: 9px;
}
.listingCard .info-container .listing-info li {
    display: inline-block;
    width: auto;
    font-size: 14px;
    margin-right: 15px;
    color: #838383;
}
.listingCard .info-container .listing-info li .zmdi {
    color: #30333a;
    padding-right: 5px;
    vertical-align: text-bottom;
}
.listingCard .info-container .listing-info li:last-child {
    margin-right: 0;
}
.listingCard .info-container .listing-price {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #30333a;
    text-align: right;
}
@media (min-width: 768px) {
    .optionCard:hover, .listingCard:hover {
        -webkit-transform: translate(0, -2px);
        -ms-transform: translate(0, -2px);
        transform: translate(0, -2px);
    }
    .optionCard:hover .btn-favorite-two, .listingCard:hover .btn-favorite-two, .agents-listing:hover .btn-favorite-two {
        display: block;
    }
    .btn-favorite.active {
        display: block;
    }

}
@media (max-width: 768px){
    .btn-favorite-two {
        display: block;
    }
    .mgr-t-46{
        margin-top: 20px;
    }
    .optionCard .info-container .title{
        font-size: 20px;
    }
}
@media (max-width: 425px){
    .mgr-t-46{
        margin-top: 0;
    }
}
.block-project>div .optionCard{
    width: 100%;
    margin-bottom: 30px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.block-project>div .listingCard {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
}
.block-project>div .listingCard:nth-child(3n) {
    margin-right: 0;
}
.block-project>div .more {
    font-size: 18px;
    font-weight: 600;
    display: block;
    float: left;
    clear: both;
}
.block-project>div .more a {
    color: #337588;
    font-weight: 400;
    text-decoration: unset;
    font-size: 18px;
}
.block-project>div .more a:hover{
    color: #337588;
    opacity: 1;
}
.block-project>div .more a .zmdi {
    padding: 0 0 0 5px;
}@media only screen and (max-width: 1024px) {
    .block-project>div .optionCard{
        max-width: inherit;
        margin-right: 30px;
        display: block;
        width: calc(33.33% - 20px);
        margin-bottom: 30px;
    }
    .block-project>div .optionCard:nth-child(2n){
        /*margin-right: 0 !important;*/
    }
    .block-project>div .optionCard:nth-child(3n){
        margin-right: 0;
    }
    .optionCard .cover-image{
        max-width: unset;
        width: 100%;
        max-width: 100%;
        float: none;
        min-height: 226px;
        max-height: 226px;
    }
    .optionCard .cover-image a img{
        max-width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 960px) {
    .block-project>div .optionCard, .block-project>div .listingCard {
        width: calc(50% - 15px);
        max-width: inherit;
    }
    .block-project>div .optionCard:nth-child(2n), .block-project>div .listingCard:nth-child(2n) {
        margin-right: 0 !important;
    }
    .block-project>div .optionCard:nth-child(3n), .block-project>div .listingCard:nth-child(3n) {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 640px) {
    .block-introduce .col-8 {
        width: 100%;
    }
    .block-project>div .optionCard, .block-project>div .listingCard {
        width: 100%;
        margin-bottom: 20px;
    }
    .btn-view-all{
        display: block;
    }
}
@media (max-width: 425px){
    .block-project>div .optionCard:nth-child(2n){
        margin-bottom: 20px;
    }
    .block-project>div .listingCard:nth-child(3n){
        margin-bottom: 20px;
    }
    .optionCard .info-container .title{
        font-size: 16px;
    }
    body{
        font-size: 14px;
    }
    .mgr-t-46{
        margin-top: 0;
    }
}
.bg-black{
    background-color: #30333a;
}
.call-now{
    width: 100%;
    min-height: 233px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 18px;
}
.call-now .img-call{
    margin-right: 35px;
}
.call-now .img-call a{
    position: relative;
}
.call-now .img-call a img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 0;
    object-position: 0 0;
    vertical-align: middle;
}
.call-now .question .btn-primary-agent .zmdi{
    font-size: 20px;
}
.call-now .question h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 25px;
}
.call-now .question h3.team_title{
    font-weight: normal;
    line-height: 26px;
}
@media (max-width: 768px){
    .call-now .question .btn-primary-agent{
        max-width: 223px;
        margin-bottom: 10px;
    }
    .btn-call-now{
        margin-bottom: 10px;
    }
}
@media (max-width: 640px){
    .call-now{
        display: block;
        text-align: center;
        padding: 30px;
    }
    .call-now .img-call{
        margin-right: 0;
    }
    .btn-call-now{
        max-width: 223px;
        margin-bottom: 20px;
    }
    .btn-call-now:last-child{
        margin-left: -5px;
    }
    .call-now .question h3{
        margin: 16px auto 30px;
        line-height: 26px;
    }
    .block-project>div .more{
        display: none;
    }
}

@media screen and (max-width: 503px){
    .call-now .question .btn-primary-agent{
        margin-right: 0;
    }
}
/*Start agent listing */
.agents-listing {
    max-width: 262px;
    width: 100%;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(131, 131, 131, 0.2);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.block-agents > div .agents-listing {
    width: calc(25% - 25px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.block-agents > div .agents-listing:nth-child(4n){
    margin-right: 0;
}

.block-agents > div .agents-listing:hover{
    -webkit-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    transform: translate(0, -2px);
}

.agents-listing .agents-image {
    position: relative;
}

.agents-listing .agents-image a {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 0;
    padding-top: 100%;
}

.agents-listing .agents-image a img {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 0%;
    object-position: 0% 0%;
}

.agents-listing .agents-content{
    text-align: center;
    padding: 15px;
    background: #fff;
}

.agents-listing .agents-content h3{
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
    color: #30333a;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.agents-listing .agents-content p.team-name-sale{
    color: #337588 !important;
    padding-bottom: 10px;
    line-height: 24px !important;
    font-size: 16px !important;
}

.agents-listing .agents-content .agents-email a{
    font-size: 14px;
    line-height: 22px;
}

.agents-listing .agents-content .agents-phone a{
    font-size: 14px;
    line-height: 22px;
}

@media (max-width: 768px) {
    .block-agents > div .agents-listing{
        width: calc(33.3333% - 20px);
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .block-agents > div .agents-listing:nth-child(4n){
        margin-right: 30px;
    }
    .block-agents > div .agents-listing:nth-child(3n){
        margin-right: 0;
    }
}
@media (max-width: 640px){
    .agents-container{
        padding: 0 18px 18px;
    }
    .pd-t-55, .pd-t-60{
        padding-top: 20px;
    }
    .pd-bt-10{
        padding-bottom: 15px;
    }
}
@media (max-width: 667px) {
    .agents-listing{
        max-width: 100%;
    }
    .block-agents > div .agents-listing{
        width: calc(50% - 15px);
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .block-agents > div .agents-listing:nth-child(4n){
        margin-right: 30px;
    }
    .block-agents > div .agents-listing:nth-child(3n){
        margin-right: 30px;
    }
    .block-agents > div .agents-listing:nth-child(2n){
        margin-right: 0px;
    }
    .intro-staff-agent .intro-exp-agent .intro-staff .normal{
        margin-top: 15px;
    }
}

@media (max-width: 425px) {
    .agents-listing{
        max-width: 100%;
    }
    .block-agents > div .agents-listing{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .agents-container .agents-inner.block-agents{
        padding: 0 30px;
    }
}
/*End agent listing*/
.label-rating{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    outline: none;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    background: rgba(48, 51, 58, 0.86);
    z-index: 8;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 2px 7px 0px;
}

/*Icon bar*/
.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 1px rgba(236, 236, 236, 0.5);
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 10px 0 #e4e4e4;
    box-shadow: 0 2px 10px 0 #e4e4e4;
    z-index: 999999;
    background-color: #fff;
    -webkit-transition: padding .15s ease-in-out .15s,width .15s ease-in-out;
    -o-transition: padding .15s ease-in-out .15s,width .15s ease-in-out;
    transition: padding .15s ease-in-out .15s,width .15s ease-in-out;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    width: 55px;
}
.icon-bar .zmdi-facebook{
    color: #6e8ad3;
}
.icon-bar .zmdi-youtube-play{
    color: #c72528;
}
.icon-bar .zmdi-google-plus{
    color: #e17f70;
}
.icon-bar .zmdi-comment-text{
    color: #dfa967;
}
.icon-bar .zmdi-email{
    color: #8a8a8a;
}
.icon-bar .zmdi-share{
    color: #b28cce;
}
.icon-bar a:hover {
    background-color: #c72528;
    color: #fff;
}
.icon-bar .divide-bar{
    width: 37px;
    margin: 0 auto;
    border: solid .6px rgba(131, 131, 131, 0.2);
}
@media (max-width: 960px){
    .icon-bar{
        display: none;
    }
}
/*End Icon bar*/

.morecontent span {
    display: none;
}
.morelink {
    display: inline-block;
    color: #337588;
    cursor: pointer;
}
.block-project>div .listingCard.info-market{
    margin-bottom: 25px;
}
.listingCard.info-market .info-container{
    padding: 15px 0 0;
}
.listingCard.info-market{
    border: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
.listingCard.info-market .info-container .listing-name {
    display: block;
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #30333a;
    font-weight: 400;
    line-height: 24px;
    white-space: unset;
    -o-text-overflow: unset;
    text-overflow: unset;
    overflow: unset;
}
.listingCard.info-market .info-container .listing-info{
    margin-top: 10px;
}
.listingCard.info-market .info-container .listing-name:hover{
    color: #c72528;
}
.listingCard.info-market .info-container .listing-info p{
    opacity: 0.7;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: normal;
    color: #838383;
}

#overlay-back {
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 9999999;
    display    : none;
}

.overlay {
    position : relative;
    background: rgba(255, 255, 255, 0.8) !important;
}

/*.block-project>div .optionCard:last-child{
  margin-bottom: 0;
}*/
.bot-benifit{
    padding-bottom: 25px;
}
@media(max-width: 640px){
    .bot-benifit{
        padding-bottom: 0;
    }
    .divide{
        margin-top: 15px;
    }
    .intro-staff-agent .intro-exp-agent .experience table{
        margin-top: 20px;
    }
}

.resident-sell-by-linh {
    padding-bottom: 55px;
}
@media(max-width: 768px){
    .resident-sell-by-linh {
        padding-bottom: 20px;
    }
}

.resident-transactions-by-linh {
    padding-bottom: 45px;
}
@media(max-width: 768px){
    .resident-transactions-by-linh {
        padding-bottom: 20px;
    }
}

/*start agent detail listing*/
.intro-staff-agent.intro-staff-agent-listing{
    background: #f3f4f7;
    padding: 100px 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.intro-staff-agent.intro-staff-agent-listing .info-staff.info-staff-listing{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.intro-staff-agent.intro-staff-agent-listing .info-staff.info-staff-listing .agent-name.agent-name-listing{
    width: 40%;
}

.intro-staff-agent.intro-staff-agent-listing .info-staff.info-staff-listing .agent-name.agent-name-listing h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

.intro-staff-agent.intro-staff-agent-listing .info-staff.info-staff-listing .agent-name.agent-name-listing p{
    font-size: 16px;
    line-height: 24px;
    color: #337588;
}

.intro-staff-agent.intro-staff-agent-listing .view-all.view-all-listing{
    margin-bottom: 11px;
}

.intro-staff-agent.intro-staff-agent-listing .view-all.view-all-listing i{
    padding: 0;
}

.intro-staff-agent.intro-staff-agent-listing .view-all.view-all-listing i a {
    line-height: 1;
    font-size: 14px;
}
.font-tiempos{
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
}

.intro-staff-agent.intro-staff-agent-listing .agent-contact{
    margin: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn{
    margin: 0;
    position: relative;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media(max-width: 860px){
    .intro-staff-agent.intro-staff-agent-listing .info-staff.info-staff-listing{
        display: block;
    }
    .intro-staff-agent.intro-staff-agent-listing .info-staff.info-staff-listing .agent-name.agent-name-listing{
        width: calc(100% - 50px);
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact{
        width: 100%;
        margin: 20px auto 0;
        position: unset;
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn{
        position: unset;
        width: 100%;
        max-width: 100%;
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn .btn-transparent{
        margin: 0;
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn .btn-primary-agent{
        margin-top: 0;
        max-width: 100%;
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn .btn-favorite{
        position: absolute;
        top: 20px;
        right: 0;
    }
}
@media (max-width: 640px){
    .block-project.block-project-listing>div .listingCard:nth-child(n+4) {
        display: block;
    }
}
@media(max-width: 480px){
    .intro-staff-agent.intro-staff-agent-listing .info-staff.info-staff-listing .agent-name.agent-name-listing h2{
        font-size: 20px;
        line-height: 28px;
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn .btn-favorite{
        top: 25px;
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn{
        display: block;
        width: 100%;
    }
    .intro-staff-agent.intro-staff-agent-listing .agent-contact .agent-btn .btn-primary-agent{
        margin-top: 10px;
        max-width: 100%;
    }
}

/*end agent detail listing*/

/* Start agent detail empty */
.block-agent-detail-empty{
    width: 100%;
    display: block;
    background: #f3f4f7;
    padding: 145px 0;
}

.block-agent-detail-empty .agent-detail-empty-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 18px;
}

.block-agent-detail-empty .agent-detail-empty-container img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.block-agent-detail-empty .agent-detail-empty-container p{
    opacity: .5;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #30333a;
}

@media(max-width: 768px){
    .block-agent-detail-empty{
        padding: 80px;
    }
}
/* End agent detail empty*/

/* start visible */
.visible-pc{
    display: block;
}

.visible-sm{
    display: none;
}

.visible-sm.active{
    display: none;
}

@media(max-width: 860px){
    .visible-pc{
        display: none;
    }

    .visible-pc.active{
        display: none;
    }

    .visible-sm{
        display: block;
    }
    .visible-sm.active{
        display: block;
    }
}
/* end visible */
.achievement{
    display: block;
    width: 100%;
}
.achievement ul{
    display: block;
    width: 100%;
    list-style: unset;
    margin-top: 42px;
}
.achievement ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.achievement ul li + li{
    margin-top: 42px;
}
.achievement ul li .icon{
    margin-right: 24px;
    width: 63px;
    min-width: 63px;
    height: auto;
}
.achievement ul li .icon img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.achievement ul li strong{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: #444c59;
}
.achievement ul li p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #838383;
    margin-top: 4px;
}
.agent-social{
    display: block;
    width: 100%;
    list-style: unset;
    margin: 22px 0 0;
}
.agent-social li{
    display: block;
    width: 100%;
}
.agent-social li + li{
    margin-top: 14px;
}
.agent-social li a{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #337588;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}
.agent-social li a:hover{
    color: #265765;
}
.agent-social li a .zmdi{
    width: 24px;
    min-width: 24px;
    padding: 0;
    margin-right: 24px;
    font-size: 20px;
    color: #337588;
}
.agent-social li a .zmdi.zmdi-facebook{
    padding-left: 4px;
}
@media(max-width: 768px){
    .intro-staff-agent .intro-exp-agent .experience{
        margin-right: 0;
    }
    .achievement ul{
        margin-top: 32px;
    }
    .achievement ul li + li{
        margin-top: 32px;
    }
    .achievement ul li strong{
        font-size: 26px;
    }
}
.slider-rating{
    display: block;
    width: 100%;
    background: #fff;
    padding: 60px 18px;
}
.slider-rating h3{
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
    color: #30333a;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 25px;
    padding: 0;
}
@media(max-width: 768px){
    .slider-rating{
        padding: 40px 18px;
    }
    .slider-rating h3{
        font-size: 24px;
    }
}
.customer-rating {
    position: relative;
    margin: auto;
    max-width: 945px;
    color: #444c59;
    text-align: center;
    overflow: hidden;
}
.customer-rating .flex-direction-nav a::before{
    font-size: 0;
    content: "";
}
.customer-rating .flex-direction-nav .flex-prev{
    font-size: 20px;
}
.customer-rating .flex-direction-nav .flex-next{
    font-size: 20px;
}
.customer-rating .flex-direction-nav .flex-prev .zmdi,
.customer-rating .flex-direction-nav .flex-next .zmdi{
    font-size: 36px;
}
@media screen and (max-width: 860px){
    .customer-rating .flex-direction-nav .flex-prev {
        text-align: left;
    }
}
.customer-rating .customer-rating-btn .btn-next {
    position: absolute;
    top: 60%;
    right: 0;
    font-family: 'rever-icon', arial;
    font-size: 50px;
    padding: 5px;
    z-index: 999;
    color: #838383;
}

.customer-rating .customer-rating-btn .btn-next:before {
    content: "\f119";
}

.customer-rating .customer-rating-btn .btn-pre {
    position: absolute;
    top: 60%;
    left: 0;
    font-family: 'rever-icon', arial;
    font-size: 50px;
    padding: 5px;
    z-index: 999;
    color: #838383;
}

.customer-rating .customer-rating-btn .btn-pre:before {
    content: "\f118";
}

.customer-rating .description {
    max-width: 730px;
    margin: auto;
    font-size: 16px;
    line-height: 1.72;
}

.customer-rating .customer {
    margin-top: 40px;
}

.customer-rating .customer .info {
    margin-top: 20px;
    color: #444c59;
    font-size: 16px;
}

.customer-rating .customer .info .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #30333a;
}

.customer-rating .avatar {
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.customer-rating .avatar img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}