*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html * {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button; }

*::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 4, 68, 0.3); }

input, textarea, keygen, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0; }
  input:focus, textarea:focus, keygen:focus, select:focus, button:focus {
    outline: none; }

li {
  list-style: none; }

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box; }

a {
  color: #303330;
  text-decoration: none; }

@font-face {
    font-family: 'rv-font1';
    src: url('../../fonts/RV-Harmonia-Regular.eot');
    src: url('../../fonts/RV-Harmonia-Regulard41d.eot?#iefix') format('embedded-opentype'), url('../../fonts/RV-Harmonia-Regular.woff') format('woff'), url('../../fonts/RV-Harmonia-Regular.ttf') format('truetype'), url('../../fonts/RV-Harmonia-Regular.svg#roboto_condensedregular') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'rv-font1';
    src: url('../../fonts/RV-Harmonia-SemiBold.eot');
    src: url('../../fonts/RV-Harmonia-SemiBoldd41d.eot?#iefix') format('embedded-opentype'), url('../../fonts/RV-Harmonia-SemiBold.woff') format('woff'), url('../../fonts/RV-Harmonia-SemiBold.ttf') format('truetype'), url('../../fonts/RV-Harmonia-SemiBold.svg#roboto_condensedregular') format('svg');
    font-weight: 500;
}
@font-face {
    font-family: 'rv-font1';
    src: url('../../fonts/RV-Harmonia-Bold.eot');
    src: url('../../fonts/RV-Harmonia-Boldd41d.eot?#iefix') format('embedded-opentype'), url('../../fonts/RV-Harmonia-Bold.woff') format('woff'), url('../../fonts/RV-Harmonia-Bold.ttf') format('truetype'), url('../../fonts/RV-Harmonia-Bold.svg#roboto_condensedregular') format('svg');
    font-weight: 600;
}
@font-face {
    font-family: 'rv-font2';
    src: url('../../fonts/TiemposHeadline-Medium.eot');
    src: url('../../fonts/TiemposHeadline-Mediumd41d.eot?#iefix') format('embedded-opentype'), url('../../fonts/TiemposHeadline-Medium.woff') format('woff'), url('../../fonts/TiemposHeadline-Medium.ttf') format('truetype'), url('../../fonts/TiemposHeadline-Medium.svg#roboto_condensedregular') format('svg');
    font-weight: 500;
}
body {
    font-family: 'rv-font1', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #444c59;
    font-weight: 400;
}

.btn-primary-header {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  max-width: fit-content;
  min-width: fit-content;
  min-width: -moz-min-content;
  max-width: -moz-max-content;
  text-align: center;
  border-radius: 2px;
  padding: 0 20px;
  white-space: nowrap;
}
.btn-primary-header:focus {
    outline: none;
}

.main-header-agent {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
}

.main-header-agent .btn-medium {
    height: 40px;
    line-height: 40px;
}

.main-header-agent .col-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}

.main-header-agent .col-left .logo-large {
  display: block;
}

.main-header-agent .col-left .logo-large > a {
  background-image: url("../../images/logo-r-red.svg");
  display: block;
  position: relative;
  width: 40px;
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.main-header-agent .col-left .logo {
  display: none;
}

.main-header-agent .col-left .logo > a {
  background-image: url("../../images/logo-r-red.svg");
  display: block;
  position: relative;
  width: 44px;
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.main-header-agent .col-left .logo > a .zmdi {
  color: #30333a;
  font-size: 24px;
  padding: 0;
  position: absolute;
  right: -21px;
  top: 0;
  line-height: 44px;
}

.main-header-agent .col-left .main-nav-menu {
  position: fixed;
  z-index: 99999;
  background: #fff;
  width: 100%;
  max-width: 100%;
  height: 100%;
  left: 0;
  top: 60px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 100px;
}

.main-header-agent .col-left .main-nav-menu .login {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
}

.main-header-agent .col-left .main-nav-menu .login .user-login {
  min-height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 18px;
}

@media (max-width: 480px) {
  .main-header-agent .col-left .main-nav-menu .login .user-login {
    justify-content: space-between;
  }
}

.main-header-agent .col-left .main-nav-menu .login .user-login .btn-primary-header {
  min-width: inherit;
  max-width: 165px;
  margin: 0 10px 0 0;
  font-size: 14px;
}

.main-header-agent .col-left .main-nav-menu .login .user-login .btn-primary-header:last-child {
  margin-right: 0;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar {
  width: 100%;
  cursor: pointer;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar .inner {
  width: 100%;
  padding: 0 18px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar .inner a {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar .inner a img {
  width: 100%;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar span {
  width: calc(100% - 60px);
  text-align: left;
  font-family: 'rv-font2';
  font-size: 16px;
  color: #30333a;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar .zmdi {
  float: right;
  font-size: 20px;
  color: #c72628;
  padding: 0;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar .user-content {
  width: 100%;
  background: #f3f4f7;
  padding: 0 18px;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar .user-content li a {
  border-bottom: 0;
  margin: 0;
}

.main-header-agent .col-left .main-nav-menu .login .user-avatar .user-content li:last-child a {
  color: #c72628;
}

.main-header-agent .col-left .main-nav-menu ul {
  display: block;
  overflow: hidden;
  background: #fff;
}

.main-header-agent .col-left .main-nav-menu ul li {
  display: list-item;
}

.main-header-agent .col-left .main-nav-menu ul li a {
  display: block;
  margin: 0 18px;
  height: 50px;
  line-height: 50px;
  text-align: left;
  color: #30333a;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.main-header-agent .col-left .main-nav-menu ul li a .zmdi {
  float: right;
  font-size: 20px;
  color: #c72628;
  padding: 0;
  height: 50px;
  line-height: 50px;
}

.main-header-agent .col-left .main-nav-menu ul li ul {
  background: #f3f4f7;
  display: none;
}

.main-header-agent .col-left .main-nav-menu ul li ul li a {
  border: 0;
}

.main-header-agent .col-left .top-search {
  width: 100%;
  max-width: 500px;
  margin-left: 30px;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(48, 51, 58, 0.3);
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0;
  position: relative;
}

.main-header-agent .col-left .top-search:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-header-agent .col-left .top-search > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}

.main-header-agent .col-left .top-search form {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .main-header-agent .col-left .top-search form .inputSearch {
    margin-bottom: -5px;
  }
}

.main-header-agent .col-left .top-search form .search-type {
  padding: 0 10px;
  height: 20px;
  width: 100%;
  max-width: 100px;
  border-right: 1px solid rgba(48, 51, 58, 0.3);
  line-height: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.main-header-agent .col-left .top-search form .search-type::after {
  content: "\f2f9";
  font-family: 'Material-Design-Iconic-Font';
  color: #c72628;
  font-size: 14px;
  margin-left: 10px;
}

.main-header-agent .col-left .top-search form .search-type > span {
  font-size: 14px;
  color: rgba(48, 51, 58, 0.86);
}

.main-header-agent .col-left .top-search form .search-type ul {
  display: block;
  position: absolute;
  background: #fff;
  top: 43px;
  left: 0;
  width: 100px;
  z-index: 10;
  border: 1px solid rgba(131, 131, 131, 0.2);
  border-radius: 2px;
  padding: 7px 0 5px;
  font-size: 14px;
  z-index: 99999;
}

.main-header-agent .col-left .top-search form .search-type ul li {
  padding: 5px 10px;
}

.main-header-agent .col-left .top-search form .search-type ul:hover {
  background: #f3f4f7;
}

.main-header-agent .col-left .top-search form .zmdi {
  background: #c72528;
  border: none;
  padding: 8px 10px;
  color: #fff;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 24px;
}

.main-header-agent .col-left .top-search form .zmdi:hover{
  opacity: .86;
}

.main-header-agent .col-left .top-search form .search-type-mobile {
  display: none;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 14px;
  height: 100%;
  line-height: 46px;
  color: #30333a;
}

.main-header-agent .col-left .top-search form input {
  font-family: 'harmonia', Arial, Helvetica, sans-serif;
  width: 100%;
  border: 0;
  height: auto;
  font-size: 14px;
  position: relative;
  padding: 0 10px;
  -webkit-appearance: none;
}

.main-header-agent .col-left .top-search form input:focus {
  border: 0 !important;
  outline: none;
}

.main-header-agent .col-left .top-search form .search-suggest-list {
  display: block;
  position: absolute;
  background: #fff;
  top: 43px;
  right: 0;
  width: 100%;
  max-width: 400px;
  z-index: 10;
  border: 1px solid rgba(131, 131, 131, 0.2);
  border-radius: 2px;
  padding: 5px 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .main-header-agent .col-left .top-search form .search-suggest-list {
    width: calc(100% - 100px);
  }
}

.main-header-agent .col-left .top-search form .search-suggest-list li {
  height: auto;
  min-height: 40px;
}

.main-header-agent .col-left .top-search form .search-suggest-list li:hover {
  background: #f3f4f7;
}

.main-header-agent .col-left .top-search form .search-suggest-list li a {
  width: 100%;
  display: block;
  padding: 10px 15px;
  color: #30333a;
}

.main-header-agent .col-left .top-search form .search-suggest-list li a span {
  display: block;
  line-height: 20px;
}

.main-header-agent .col-left .top-search form .search-suggest-list li a span i {
  color: #838383;
}

.main-header-agent .col-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-header-agent .col-right .top-menu ul {
  white-space: nowrap;
}

.main-header-agent .col-right .top-menu ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.main-header-agent .col-right .top-menu ul li:first-child:hover a .zmdi,
        .main-header-agent .col-right .top-menu ul li:first-child:hover a span {
  color: #c72628;
}

.main-header-agent .col-right .top-menu ul li:first-child .zmdi {
  color: #30333a;
  padding: 0 8px 0 0;
  line-height: 15px;
}

.main-header-agent .col-right .top-menu ul li:last-child {
  margin-right: 0;
}

.main-header-agent .col-right .top-menu ul li:hover a {
  color: rgba(48, 51, 58, 0.86);
}

.main-header-agent .col-right .top-menu ul li a {
  display: block;
  font-size: 14px;
  color: #30333a;
  font-weight: normal;
}

.main-header-agent .col-right .top-menu ul li a .zmdi {
  padding: 0 0 0 5px;
  color: #c72628;
  vertical-align: text-bottom;
}

.main-header-agent .col-right .top-menu ul .sub-menu::before {
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: white;
  border-width: 8px;
  right: 20px;
  top: 44px;
  opacity: 1;
  visibility: hidden;
  z-index: 101;
}

.main-header-agent .col-right .top-menu ul .sub-menu::after {
  z-index: 90;
  content: ' ';
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
  transform: rotate(45deg);
  opacity: 1;
  visibility: hidden;
  bottom: -10px;
  right: 20px;
}

.main-header-agent .col-right .top-menu ul .sub-menu ul {
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 0;
  border-radius: 2px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  opacity: 0;
  transition: 0.1s ease all;
  visibility: hidden;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

.main-header-agent .col-right .top-menu ul .sub-menu ul li {
  display: block;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  margin: 0;
  text-align: left;
}

.main-header-agent .col-right .top-menu ul .sub-menu ul li:hover {
  background: #f3f4f7;
}

.main-header-agent .col-right .top-menu ul .sub-menu ul li a {
  font-weight: 400 !important;
}

.main-header-agent .col-right .top-menu ul .sub-menu:hover::before,
.main-header-agent .col-right .top-menu ul .sub-menu:hover::after,
.main-header-agent .col-right .top-menu ul .sub-menu:hover ul {
  opacity: 1;
  visibility: visible;
}

.main-header-agent .col-right .top-menu ul .divide {
  border-top: 1px solid rgba(48, 51, 58, 0.1);
  margin: 8px 25px !important;
  height: 0 !important;
}

.main-header-agent .col-right .login {
  display: flex;
  align-items: center;
}

.main-header-agent .col-right .login .user-login{
  display: flex;
  align-items: center;
}

.main-header-agent .col-right .login::before {
  content: "";
  width: 1px;
  height: 20px;
  background: rgba(48, 51, 58, 0.3);
  margin-left: 20px;
}

.main-header-agent .col-right .login .btn-red-outline {
  min-width: inherit !important;
  font-size: 14px;
}

.main-header-agent .col-right .login .user-login .btn-login-header{
  font-size: 14px;
  font-weight: normal;
  color: #30333a;
}

.main-header-agent .col-right .login .user-login .btn-signup-header{
  font-size: 14px;
  color: #30333a;
  font-weight: normal;
  line-height: 1.43;
}

.main-header-agent .col-right .login .user-avatar {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 60px;
  margin-left: 29px;
  position: relative;
}

.main-header-agent .col-right .login .user-avatar:before{
    position: absolute;
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #f3f4f7;
    border-width: 8px;
    right: 10px;
    top: 43px;
    opacity: 1;
    visibility: hidden;
    z-index: 106;
}
.main-header-agent .col-right .login .user-avatar:after{
    z-index: 0;
    content: ' ';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.13);
    transform: rotate(45deg);
    opacity: 1;
    visibility: hidden;
    bottom: -10px;
    right: 10px;
}

.main-header-agent .col-right .login .user-avatar:hover .user-content,
.main-header-agent .col-right .login .user-avatar:hover:before,
.main-header-agent .col-right .login .user-avatar:hover:after {
  opacity: 1;
  visibility: visible;
}

.main-header-agent .col-right .login .user-avatar > a {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.main-header-agent .col-right .login .user-avatar > a img {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.main-header-agent .col-right .login .user-avatar .user-content {
  position: absolute;
  top: 58px;
  right: 0;
  z-index: 10;
  background: #fff;
  border-radius: 2px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  width: 210px;
  opacity: 0;
  transition: 0.1s ease all;
  visibility: hidden;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.main-header-agent .col-right .login .user-avatar .user-content .user-heading {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #f3f4f7;
  font-weight: 500;
  white-space: nowrap;
}

.main-header-agent .col-right .login .user-avatar .user-content .user-heading a {
  display: initial;
}

.main-header-agent .col-right .login .user-avatar .user-content li {
  display: block;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
}

.main-header-agent .col-right .login .user-avatar .user-content li:hover {
  background: #f3f4f7;
}

.main-header-agent .col-right .login .user-avatar .user-content li a {
  display: block;
  font-size: 14px;
  color: #30333a;
  text-align: left;
}

.main-header-agent .col-right .login .user-avatar .user-content li:last-child a {
  color: #c72628;
}

.main-header-agent .col-right .login .user-avatar .user-content .divide {
  border-top: 1px solid rgba(48, 51, 58, 0.1);
  margin: 0 25px !important;
  height: 0 !important;
}

.main-header-agent .search-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 100;
}

.main-header-agent .search-mobile .zmdi {
  float: left;
  padding: 0;
  max-height: 50px;
  line-height: 60px;
  font-size: 24px;
  color: #838383;
  margin: 0 40px 0 18px;
}

.main-header-agent .search-mobile .optionsList {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  max-height: 50px;
}

.main-header-agent .search-mobile .optionsList .option {
  margin-right: 40px;
}

.main-header-agent .search-mobile .optionsList .option input {
  display: none;
}

.main-header-agent .search-mobile .optionsList .option input:checked + label {
  border-bottom: 2px solid #30333a;
  font-weight: 600;
  color: #c72528;
}

.main-header-agent .search-mobile .optionsList .option label {
  color: rgba(48, 51, 58, 0.86);
  font-size: 18px;
  padding: 0 0 10px;
}

.main-header-agent .search-mobile .search-block {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid;
  max-height: 50px;
  margin: 20px 18px;
  border: 1px solid rgba(151, 151, 151, 0.2);
  border-radius: 2px;
}

.main-header-agent .search-mobile .search-block .zmdi {
  font-size: 20px;
  line-height: 50px;
  color: rgba(0, 4, 68, 0.3);
  margin: 0 10px;
}

.main-header-agent .search-mobile .search-block input {
  width: 100%;
  height: auto;
  outline: 0;
  border: 0;
  margin-right: 10px;
  font-size: 14px;
  -webkit-appearance: none;
}

@media (max-width: 767px) {
  .main-header-agent .search-mobile .search-block input {
    padding-top: 5px;
  }
}

.main-header-agent .search-mobile .search-block .zmdi-close {
  display: none;
}

.main-header-agent .search-mobile .search-suggest-list {
  background: #fff;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.main-header-agent .search-mobile .search-suggest-list li {
  text-align: left;
  height: auto;
  min-height: 40px;
}

.main-header-agent .search-mobile .search-suggest-list li:first-child {
  background: #f3f4f7;
}

.main-header-agent .search-mobile .search-suggest-list li a {
  width: 100%;
  display: block;
  padding: 10px 15px;
  color: #30333a;
}

.main-header-agent .search-mobile .search-suggest-list li a span {
  display: block;
  line-height: 20px;
}

.main-header-agent .search-mobile .search-suggest-list li a span i {
  color: #838383;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main-header-agent .col-left .logo-large {
    display: none; }
  .main-header-agent .col-left .logo {
    display: block; } }

@media only screen and (max-width: 1200px) {
  .main-header-agent {
    padding: 0 18px; } }

@media only screen and (max-width: 1024px) {
  .main-header-agent .col-right {
    max-width: fit-content;
    min-width: fit-content; }
    .main-header-agent .col-right .top-menu ul li {
      margin: 0; }
    .main-header-agent .col-right .top-menu ul .sub-menu {
      display: none; }
    .main-header-agent .col-right .login {
      display: none; } }

@media only screen and (max-width: 480px) {
  .main-header-agent .col-left .top-search > a {
    display: block;
    height: 100%;
  }

  .main-header-agent .col-left .top-search form .search-type,
  .main-header-agent .col-left .top-search form .zmdi {
    display: none;
  }

  .main-header-agent .col-left .top-search form .search-type-mobile {
    display: block;
  }

  .main-header-agent .col-right .top-menu ul li a .zmdi {
    font-size: 30px;
  }

  .main-header-agent .col-right .top-menu ul li a span {
    display: none;
    }
}

/* Notification */
.main-header-agent .col-right .login .notification {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 60px;
    margin-left: 30px;
    position: relative;
    z-index: 104;
    font-family: 'rv-font1', Arial, Helvetica, sans-serif;
}
.main-header-agent .col-right .login .notification-content:before{
    position: absolute;
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #f3f4f7;
    border-width: 8px;
    right: 20px;
    top: -16px;
    z-index: 106;
}
.main-header-agent .col-right .login .notification-content:after{
    z-index: -1;
    content: ' ';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.13);
    transform: rotate(45deg);
    top: -5px;
    right: 20px;
}

.main-header-agent .col-right .login .notification .tag-notification{
    display: block;
    max-width: 18px;
    max-height: 21px;
    width: 100%;
    height: 100%;
    color: #30333a;
    position: relative;
    cursor: pointer;
}
.main-header-agent .col-right .login .notification .tag-notification .number-notification{
    position: absolute;
    top: -5px;
    right: -18px;
    z-index: 50;
    color: #fff;
    background: #c72528;
    border-radius: 9px;
    line-height: 18px;
    font-size: 12px;
    height: 18px;
    width: 25px;
    text-align: center;
}
.main-header-agent .col-right .login .notification .notification-content {
    position: absolute;
    top: 59px;
    right: -20px;
    z-index: 10;
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(131, 131, 131, 0.2);
    width: 346px;
    transition: 0.1s ease all;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    display: none;
}
.main-header-agent .col-right .login .notification .notification-content .notification-heading {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #f3f4f7;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1.38;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'rv-font1', Arial, Helvetica, sans-serif;
}
.main-header-agent .col-right .login .notification .notification-content .notification-heading a {
    line-height: 1.38;
    font-size: 22px;
    color: #30333a;
    font-size: 16px;
}
.main-header-agent .col-right .login .notification .notification-content li {
    display: block;
    padding: 15px 20px;
    line-height: 1.43;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
}
.main-header-agent .col-right .login .notification .notification-content li:hover{
    background: #f3f4f7;
}
.main-header-agent .col-right .login .notification .notification-content li a {
    display: block;
    font-size: 14px;
    color: #30333a;
    text-align: left;
}

.main-header-agent .col-right .login .notification .notification-content li a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-right: 10px;
    object-fit: cover;
    object-position: 0 0;
}

.main-header-agent .col-right .login .notification .notification-content li:first-child a span{
    display: inline-block;;
}

.main-header-agent .col-right .login .notification .notification-content li a span{
    display: table;
    line-height: 1.43
}
.main-header-agent .col-right .login .notification .notification-content li a span p{
    position: relative;
    font-size: 12px;
    color: #838383;
    line-height: 1;
    opacity: .86;
}
.main-header-agent .col-right .login .notification .notification-content li a span p.active:before{
    content: "•";
    color: #c72528;
    left: 0;
    width: 7px;
    height: 7px;
    padding-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

.main-header-agent .col-right .login .notification .notification-content .divide {
    border-top: 1px solid rgba(48, 51, 58, 0.1);
    margin: 0 25px !important;
    height: 0 !important;
}

.view-all-notification {
    text-align: left;
    width: 100%;
} 

.view-all-notification a{
    color: #337588;
    opacity: .86;
    line-height: 1;
    padding: 12px 20px;
}

.view-all-notification a.left{
    float: left;
    color: #337588;
    line-height: 1;
    font-size: 14px;
    padding-top: 15px;
}

.view-all-notification a.right{
    float: right;
    line-height: 1;
    color:#838383;
    font-size: 18px;
}
/* End notification */


.main-header-agent .col-left .main-nav-menu {
    position: fixed;
    z-index: 99999;
    background: #fff;
    width: 100%;
    max-width: 100%;
    height: 100%;
    left: 0;
    top: 60px;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 100px;
}
.main-header-agent .col-left .main-nav-menu .login {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
}
.main-header-agent .col-left .main-nav-menu .login .user-login {
    min-height: 60px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 18px;
}
@media (max-width: 480px) {
    .main-header-agent .col-left .main-nav-menu .login .user-login {
        justify-content: space-between;
    }
}
.main-header-agent .col-left .main-nav-menu .login .user-login .btn-primary {
    min-width: inherit;
    max-width: 165px;
    margin: 0 10px 0 0;
    font-size: 14px;
}
.main-header-agent .col-left .main-nav-menu .login .user-login .btn-primary:last-child {
    margin-right: 0;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar {
    width: 100%;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar .inner {
    width: 100%;
    padding: 0 18px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar .inner a {
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar .inner a img {
    width: 100%;
    border-radius: 50%;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar span {
    width: calc(100% - 60px);
    text-align: left;
    font-family: 'rv-font2';
    font-size: 16px;
    color: #30333a;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar .zmdi {
    float: right;
    font-size: 20px;
    color: #c72628;
    padding: 0;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar .user-content {
    width: 100%;
    background: #f3f4f7;
    padding: 0 18px;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar .user-content li a {
    border-bottom: 0;
    margin: 0;
}
.main-header-agent .col-left .main-nav-menu .login .user-avatar .user-content li:last-child a {
    color: #c72628;
}
.main-header-agent .col-left .main-nav-menu ul {
    display: block;
    overflow: hidden;
    background: #fff;
}
.main-header-agent .col-left .main-nav-menu ul li {
    display: list-item;
}
.main-header-agent .col-left .main-nav-menu ul li a {
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
.main-header-agent .col-left .main-nav-menu ul li a .zmdi {
    float: right;
    font-size: 20px;
    color: #c72628;
    padding: 0;
    height: 50px;
    line-height: 50px;
}
.main-header-agent .col-left .main-nav-menu ul li ul {
    background: #f3f4f7;
    display: none;
}
.main-header-agent .col-left .main-nav-menu ul li ul li a {
    border: 0;
}

.banner-top-bg {
    background: 50% 50% / cover no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
}
@media(max-width: 640px) {
    .banner-top-bg {
        height: 400px !important;
    }
}
.banner-cover {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0;
    left: 0;
}

.banner-cover-inner {
    position: relative;
    width: 1140px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#overlay-back {
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 9999999;
    display    : none;
}
.overlay {
    position : relative;
    background: rgba(255, 255, 255, 0.8) !important;
}

.btn-login-sm{
    color: #30333a;
    border: 1px solid #30333a;
    background: transparent;
}
.btn-login-sm:hover{
    color: #fff;
    background: #30333a;
}

.btn-sigup-sm{
    color: #c72528;
    border: 1px solid #c72528;
    background: transparent;
}
.btn-sigup-sm:hover{
  color: #fff;
  background: #c72528;
}