.headerNoScroll {
    position: fixed;
    left: 0;
    right: 0
}

.main-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid rgba(48, 51, 58, .1);
    font-family: tgnp-font, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #444c59;
    font-weight: 400
}

.main-header ::after, .main-header ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

.main-header * {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale
}

.main-header input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button
}

.main-header ::-webkit-input-placeholder {
    color: rgba(0, 4, 68, .3)
}

.main-header button, .main-header input, .main-header keygen, .main-header select, .main-header textarea {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0
}

.main-header li {
    list-style: none
}

.main-header abbr, .main-header address, .main-header article, .main-header aside, .main-header audio, .main-header b, .main-header blockquote, .main-header body, .main-header canvas, .main-header caption, .main-header cite, .main-header code, .main-header dd, .main-header del, .main-header details, .main-header dfn, .main-header div, .main-header dl, .main-header dt, .main-header em, .main-header fieldset, .main-header figcaption, .main-header figure, .main-header footer, .main-header form, .main-header h1, .main-header h2, .main-header h3, .main-header h4, .main-header h5, .main-header h6, .main-header header, .main-header hgroup, .main-header html, .main-header i, .main-header iframe, .main-header img, .main-header ins, .main-header kbd, .main-header label, .main-header legend, .main-header li, .main-header mark, .main-header menu, .main-header nav, .main-header object, .main-header ol, .main-header p, .main-header pre, .main-header q, .main-header samp, .main-header section, .main-header small, .main-header span, .main-header strong, .main-header sub, .main-header summary, .main-header sup, .main-header table, .main-header tbody, .main-header td, .main-header tfoot, .main-header th, .main-header thead, .main-header time, .main-header tr, .main-header ul, .main-header var, .main-header video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}

.main-header a {
    color: #303330;
    text-decoration: none
}

.main-header a:hover {
    color: rgba(48, 51, 48, .86)
}

.main-header .col-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-right: 20px
}

.main-header .col-left .top-menu ul li {
    position: relative;
    display: inline-block;
    margin-right: 20px
}

.main-header .col-left .logo-large {
    display: block
}

.main-header .col-left .logo-large > a {
    display: block;
    position: relative;
    width: 44px;
    min-width: 44px;
    height: 44px
}

.main-header .col-left .logo-large > a img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.main-header .col-left .logo,
.main-header .search-mobile .optionsList .option input,
.main-header#home .col-left .top-search,
.main-header .col-right .top-menu ul li .menu-humber,
.main-header .col-left .top-menu ul li .menu-humber
{
    display: none
}

.main-header .col-left .logo > a {
    display: block;
    position: relative;
    width: 44px;
    min-width: 44px;
    height: 44px
}

.main-header .col-left .logo > a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}


.main-header .col-left .logo > a .zmdi {
    color: #30333a;
    font-size: 24px;
    padding: 0;
    position: absolute;
    right: -21px;
    top: 0;
    line-height: 44px
}

.main-header .col-left .top-search {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-left: 14px;
    height: 44px;
    line-height: 44px;
    border: 1px solid rgba(48, 51, 58, .3);
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: unset;
    box-shadow: unset
}


.main-header .col-left .top-search:hover {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

.main-header .col-left .top-search > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: none
}

.main-header .col-left .top-search form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.main-header .col-left .top-search form .search-type {
    padding: 0 10px;
    height: 20px;
    width: 100%;
    max-width: fit-content;
    border-right: 1px solid rgba(48, 51, 58, .3);
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap
}

.main-header .col-left .top-search form .search-type::after {
    content: '\f2f9';
    font-family: Material-Design-Iconic-Font;
    color: #c72628;
    font-size: 14px;
    margin-left: 4px;
    vertical-align: middle
}

.main-header .col-left .top-search form .search-type > span {
    font-size: 14px;
    color: rgba(48, 51, 58, .86)
}

.main-header .col-left .top-search form .search-type ul {
    display: block;
    position: absolute;
    background: #fff;
    top: 43px;
    left: 0;
    width: 100px;
    z-index: 10;
    border: 1px solid rgba(131, 131, 131, .2);
    border-radius: 2px;
    padding: 7px 0 5px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400
}

.main-header .col-left .top-search form .search-type ul li {
    padding: 8px 10px
}

.main-header .col-left .top-search form .search-type ul li:hover {
    background: #f3f4f7
}

.main-header .col-left .top-search form .zmdi {
    margin-left: 10px;
    padding: 0;
    font-size: 20px;
    color: rgba(0, 4, 68, .3)
}

.main-header .col-left .top-search form .search-type-mobile {
    display: none;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 14px;
    height: 100%;
    line-height: 46px;
    color: #30333a
}

.main-header .col-left .top-search form input {
    position: relative;
    width: 100%;
    border: 0;
    height: 100%;
    padding: 1px 10px 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5
}

.main-header .col-left .top-search form input:focus {
    border: 0 !important;
    outline: 0
}

.main-header .col-left .top-search form .search-suggest-list {
    display: block;
    position: absolute;
    background: #fff;
    top: 43px;
    right: 0;
    width: 100%;
    max-width: 400px;
    z-index: 10;
    border: 1px solid rgba(131, 131, 131, .2);
    border-radius: 2px;
    padding: 5px 0;
    font-size: 14px
}

.main-header .col-left .top-search form .search-suggest-list li {
    height: auto;
    min-height: 40px
}

.main-header .col-left .top-search form .search-suggest-list li:hover {
    background: #f3f4f7
}

.main-header .col-left .top-search form .search-suggest-list li a {
    width: 100%;
    display: block;
    padding: 10px 15px;
    color: #30333a
}

.main-header .col-left .top-search form .search-suggest-list li a span {
    display: block;
    line-height: 20px
}

.main-header .col-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.main-header .col-right .top-menu ul {
    white-space: nowrap
}

.main-header .col-right .top-menu ul li {
    position: relative;
    display: inline-block;
    margin-right: 20px
}

.main-header .col-right .top-menu ul li:first-child:hover a:first-child .zmdi, .main-header .col-right .top-menu ul li:first-child:hover a:first-child span {
    color: orange
}

.main-header .col-right .top-menu ul li:first-child .zmdi {
    color: #30333a;
    padding: 0 4px 1px 0;
    line-height: 15px
}

.main-header .col-right .top-menu ul li:last-child {
    margin-right: 0
}

.main-header .col-right .top-menu ul li:hover a {
    color: rgba(48, 51, 58, .86)
}

.main-header .col-right .top-menu ul li a {
    display: block;
    font-size: 14px;
    color: #30333a;
    font-weight: 500
}

.main-header .col-right .top-menu ul li a .zmdi {
    padding: 0 0 0 5px;
    color: #c72628;
    vertical-align: text-bottom;
    font-size: 14px
}

.main-header .col-right .top-menu ul .sub-menu::before {
    position: absolute;
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 8px;
    right: 20px;
    top: 44px;
    opacity: 1;
    visibility: hidden;
    z-index: 101
}

.main-header .col-right .top-menu ul .sub-menu::after {
    z-index: 90;
    content: ' ';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    transform: rotate(45deg);
    opacity: 1;
    bottom: -11px;
    right: 20px;
    visibility: hidden
}

.main-header .col-right .top-menu ul .sub-menu:hover ul, .main-header .col-right .top-menu ul .sub-menu:hover::after, .main-header .col-right .top-menu ul .sub-menu:hover::before,
.main-header .col-left .top-menu ul .sub-menu:hover::before, .main-header .col-left .top-menu ul .sub-menu:hover::after, .main-header .col-left .top-menu ul .sub-menu:hover ul,
.main-header .col-right .login .user-avatar:hover .user-content, .main-header .col-right .login .user-avatar:hover:after, .main-header .col-right .login .user-avatar:hover:before
{
    opacity: 1;
    visibility: visible
}

.main-header .col-right .top-menu ul .sub-menu > a {
    pointer-events: none
}

.main-header .col-right .top-menu ul .sub-menu ul {
    display: inline-block;
    position: absolute;
    top: 59px;
    right: 0;
    padding: 10px 0;
    z-index: 100;
    background: #fff;
    padding: 10px 0;
    border-radius: 2px;
    border: 1px solid rgba(131, 131, 131, .2);
    opacity: 0;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
    visibility: hidden;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2)
}

.main-header .col-right .top-menu ul .sub-menu ul li {
    display: block;
    white-space: nowrap;
    height: 35px;
    line-height: 35px;
    padding: 0 25px;
    margin: 0;
    text-align: left
}

.main-header .col-right .top-menu ul .sub-menu ul li:hover {
    background: #f3f4f7
}

.main-header .col-right .top-menu ul .sub-menu ul li a {
    font-weight: 400 !important
}

.main-header .col-right .top-menu ul .divide {
    border-top: 1px solid rgba(48, 51, 58, .1);
    margin: 10px 25px !important;
    height: 0 !important
}

.main-header .col-right .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-header .col-right .login::before {
    content: '';
    width: 1px;
    height: 20px;
    background: rgba(48, 51, 58, .3);
    margin-left: 20px
}

.main-header .col-right .login .btn-red-outline {
    min-width: inherit !important
}

.main-header .col-right .login .user-avatar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    min-height: 60px;
    margin: 0 20px;
    margin-right: 20px
}

.main-header .col-right .login .user-avatar:before {
    position: absolute;
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #f3f4f7;
    border-width: 8px;
    right: 10px;
    top: 44px;
    opacity: 1;
    visibility: hidden;
    z-index: 106
}

.main-header .col-right .login .user-avatar:after {
    z-index: 0;
    content: ' ';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .13);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
    visibility: hidden;
    bottom: -10px;
    right: 10px;
    background: #f3f4f7
}

.main-header .col-right .login .user-avatar > a {
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    position: relative
}

.main-header .col-right .login .user-avatar > a img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: auto;
    border-radius: 50%
}

.main-header .col-right .login .user-avatar .user-content {
    position: absolute;
    top: 59px;
    right: 0;
    z-index: 10;
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(131, 131, 131, .2);
    min-width: fit-content;
    max-width: fit-content;
    width: 100%;
    opacity: 0;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
    visibility: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .13);
    padding-bottom: 10px
}

.main-header .col-right .login .user-avatar .user-content .user-heading {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #f3f4f7;
    font-weight: 500;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
    padding: 25px 25px 20px;
    margin-bottom: 12px
}

.main-header .col-right .login .user-avatar .user-content .user-heading a {
    display: initial;
    pointer-events: none
}

.main-header .col-right .login .user-avatar .user-content .divide {
    border-top: 1px solid rgba(48, 51, 58, .1);
    margin: 10px 25px !important;
    height: 0 !important
}

.main-header .col-right .login .user-avatar .user-content li {
    display: block;
    white-space: nowrap;
    height: 35px;
    line-height: 35px;
    padding: 0 25px
}

.main-header .col-right .login .user-avatar .user-content li:hover {
    background: #f3f4f7
}

.main-header .col-right .login .user-avatar .user-content li a {
    display: block;
    font-size: 14px;
    color: #30333a;
    text-align: left
}

.main-header .col-right .login .user-avatar .user-content li:last-child a,
.main-header .col-left .logo .main-nav-menu ul li a .zmdi,
.main-header .col-left .top-menu ul li:not(.sub-menu) a:hover .zmdi, .main-header .col-left .top-menu ul li:not(.sub-menu) a:hover span,
.main-header .col-right .top-menu ul li:not(.sub-menu) a:hover .zmdi, .main-header .col-right .top-menu ul li:not(.sub-menu) a:hover span{
    color: #c72628
}

.main-header .search-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    background: #fff;
    z-index: 100;
    line-height: normal
}

.main-header .search-mobile .optionsList {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 16px 0;
    padding: 4px;
    background-color: #f3f4f7
}

.main-header .search-mobile .optionsList .option {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center
}

.main-header .search-mobile .optionsList .option input:checked + label {
    border-radius: 2px;
    background-color: #fff;
    color: orange
}

.main-header .search-mobile .optionsList .option label {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 6px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    color: #30333a;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in
}

.main-header .search-mobile .search-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 50px;
    margin: 0;
    border-radius: 2px
}

.main-header .search-mobile .search-block .close-search-mobile {
    display: block;
    height: 100%;
    padding-right: 20px;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 500;
    color: #30333a
}

.main-header .search-mobile .search-block .form-search-mobile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.main-header .search-mobile .search-block .btn-search-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: 0;
    border: 0;
    background: 0 0
}

.main-header .search-mobile .search-block .btn-search-mobile .zmdi {
    padding: 0;
    font-size: 24px;
    color: #838383
}

.main-header .search-mobile .search-block .form-search-mobile input {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0 12px 0 46px;
    border: 1px solid rgba(151, 151, 151, .2);
    font-size: 14px;
    line-height: 1.5;
    color: #444c59;
    -webkit-appearance: none
}

.main-header .search-mobile .search-suggest-list {
    background: #fff;
    width: 100%;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left
}

.main-header .search-mobile .search-suggest-list li {
    height: auto;
    min-height: 40px
}

.main-header .search-mobile .search-suggest-list li:first-child {
    background: #f3f4f7
}

.main-header .search-mobile .search-suggest-list li a {
    width: 100%;
    display: block;
    padding: 10px 15px;
    color: #30333a
}

.main-header .search-mobile .search-suggest-list li a span i,
.main-header .col-left .top-search form .search-suggest-list li a span i
{
    color: #838383
}

header#home::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -70%;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, .7), transparent)
}

.main-header#home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: auto;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    background: 0 0;
    z-index: 10
}

.main-header#home .col-left .logo-large > a {
    background-image: url(../img/logo.svg)
}

.main-header#home .col-left .logo > a {
    /*background-image: url(../img/logo.svg)*/
}

.main-header#home .col-left .logo > a .zmdi {
    color: #fff
}

.main-header#home .col-right .top-menu > ul > li:first-child:hover a .zmdi, .main-header#home .col-right .top-menu > ul > li:first-child:hover a span {
    color: rgba(255, 255, 255, .86)
}

.main-header#home .col-right .top-menu > ul > li > a {
    color: #fff
}

.main-header#home .col-right .top-menu > ul > li > a:hover {
    color: rgba(255, 255, 255, .86)
}

.main-header#home .col-right .top-menu > ul > li > a .zmdi {
    color: #fff
}

.main-header#home .col-right .login::before {
    background: rgba(255, 255, 255, .2)
}

.main-header#home .col-right .login .btn-red-outline {
    color: #fff;
    border: 1px solid #fff
}

.main-header#home .col-right .login .btn-red-outline:hover {
    border: 1px solid transparent
}

.main-header .btn-large {
    height: 50px;
    line-height: 50px
}

.main-header .btn-medium {
    height: 40px;
    line-height: 40px
}

.main-header .btn-facebook {
    color: #fff;
    background: #3c589c
}

.main-header .btn-primary {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    max-width: fit-content;
    min-width: fit-content;
    min-width: -moz-min-content;
    max-width: max-content;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap
}

.main-header .btn-primary:focus {
    outline: 0
}

.main-header .btn-red {
    color: #fff;
    background: orange
}

.main-header .btn-red-outline {
    color: orange;
    border: 1px solid orange;
    background: 0 0
}

.main-header .btn-black {
    color: #fff;
    background: #30333a
}

.main-header .btn-black-outline {
    color: #30333a;
    border: 1px solid #30333a;
    background: 0 0
}

.main-header .btn-blue {
    color: #fff;
    background: #00a6bd
}

.main-header .btn-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 20px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background: rgba(48, 51, 58, .3)
}

.main-header .btn-favorite.active {
    background: #549199
}

.main-header .label-primary {
    border-radius: 2px;
    display: block;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px 4px;
    width: 100%;
    min-width: fit-content;
    max-width: fit-content;
    min-width: -moz-min-content;
    max-width: max-content
}

.main-header .label-primary.sold-out {
    background: rgba(48, 51, 58, .86)
}

.main-header .label-primary.unique {
    background: rgba(218, 84, 69, .86)
}

.main-header .label-primary.free {
    background: rgba(100, 141, 54, .86)
}

.main-header .label-primary.hot {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ea1e12;
    color: #fff;
    width: auto;
    font-size: 12px;
    font-weight: 600
}

.main-header .text-center {
    text-align: center
}

.main-header .heading-01 {
    font-size: 40px;
    font-weight: 500
}

.main-header .heading-02 {
    font-size: 30px;
    font-weight: 500
}

.main-header .heading-03 {
    font-size: 24px;
    font-weight: 500
}

.main-header .heading-04 {
    font-size: 20px;
    font-weight: 500
}

.main-header .col-right .top-menu ul li:first-of-type .menu-humber .zmdi {
    padding: 0;
    font-size: 26px
}

.main-header .col-left .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    justify-content: center;
}

.main-header .col-center .logo-large {
    display: block
}

.main-header .col-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 40%;
}

.main-header .col-center .logo-large > a {
    display: block;
    position: relative;
    width: 100px;
    min-width: 100px;
    height: 100px
}

.main-header .col-center .logo-large > a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.main-header .col-left .top-menu ul {
    white-space: nowrap
}

.main-header .col-left .top-menu ul li:not(.sub-menu) a .zmdi {
    padding: 0 4px 1px 0;
    color: #30333a;
    line-height: 15px
}

.main-header .col-left .top-menu ul li:last-child {
    margin-right: 0
}

.main-header .col-left .top-menu ul li a {
    display: block;
    font-size: 14px;
    color: #30333a;
    font-weight: 500
}

.main-header .col-left .top-menu ul li a .zmdi {
    padding: 0 0 0 5px;
    color: #c72628;
    vertical-align: text-bottom;
    font-size: 14px
}

.main-header .col-left .top-menu ul li:hover a {
    color: rgba(48, 51, 58, .86)
}

.main-header .col-left .top-menu ul .sub-menu::before {
    position: absolute;
    right: 20px;
    top: 44px;
    bottom: 100%;
    content: ' ';
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    pointer-events: none;
    opacity: 1;
    visibility: hidden;
    z-index: 101
}

.main-header .col-left .top-menu ul .sub-menu::after {
    position: absolute;
    bottom: -11px;
    right: 20px;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 90;
    content: ' ';
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
    visibility: hidden
}

.main-header .col-left .top-menu ul .sub-menu > a {
    pointer-events: none
}

.main-header .col-left .top-menu ul .sub-menu ul {
    position: absolute;
    top: 59px;
    left: 0;
    padding: 10px 0;
    z-index: 100;
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(131, 131, 131, .2);
    opacity: 0;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
    visibility: hidden;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2)
}

.main-header .col-left .top-menu ul .sub-menu ul li {
    display: block;
    height: 35px;
    padding: 0 25px;
    margin: 0;
    white-space: nowrap;
    line-height: 35px;
    text-align: left
}

.main-header .col-left .top-menu ul .sub-menu ul li:hover {
    background: #f3f4f7
}

.main-header .col-left .top-menu ul .sub-menu ul li a {
    font-weight: 400 !important
}

.main-header .col-left .top-menu ul .divide {
    border-top: 1px solid rgba(48, 51, 58, .1);
    margin: 10px 25px !important;
    height: 0 !important
}

.main-header .col-right .top-menu ul li:not(.sub-menu) a .zmdi {
    padding: 0 4px 1px 0;
    color: #30333a;
    line-height: 15px
}

.main-header .col-right .welcome-user  {
    margin-right: 2px;
    margin-left: 2px;
    color: antiquewhite;
    line-height: 1.1em;
}

@media (max-width: 480px) {
    .main-header .col-left .top-search > a {
        display: block;
        height: 100%
    }

    .main-header .col-left .top-search form .search-type-mobile {
        display: block
    }

    .main-header .col-right .top-menu ul li a .zmdi {
        font-size: 24px
    }

    .main-header .col-right .top-menu ul li a span,
    .main-header .col-left .top-menu,
    .main-header .col-left .top-search form .search-type,
    .main-header .col-left .top-search form .zmdi
    {
        display: none
    }

    .main-header .col-left .top-search > a {
        display: contents;
        height: 100%
    }

    .main-header .col-left .top-search form .search-type-mobile {
        display: block
    }
}

@media only screen and (max-width: 480px) {
    .main-header .col-left .top-search > a {
        display: none;
        height: 100%
    }

    .main-header .col-left .top-search form .search-type,
    .main-header .col-left .top-search form .zmdi,
    .main-header .col-right .top-menu ul li a span {
        display: none
    }

    .main-header .col-left .top-search form .search-type-mobile {
        display: block
    }

    .main-header .col-right .top-menu ul li a .zmdi {
        font-size: 24px
    }

}

@media (max-width: 768px) {
    .main-header .col-left .top-search form .search-suggest-list {
        width: calc(100% - 100px)
    }
}

@media (min-width: 768px) {
    .main-header .btn-facebook:hover {
        color: #fff;
        background: rgba(60, 88, 156, .86)
    }

    .main-header .btn-red:hover {
        color: #fff;
        background: rgba(199, 37, 40, .86)
    }

    .main-header .btn-red-outline:hover {
        color: #fff;
        background: orange
    }

        .main-header .btn-black:hover {
        color: #fff;
        background: rgba(48, 51, 58, .86)
    }

    .main-header .btn-black-outline:hover {
        color: #fff;
        background: #30333a
    }

    .main-header .btn-blue:hover {
        color: #fff;
        background: rgba(0, 166, 189, .86)
    }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .main-header .col-center .logo-large {
        display: none
    }

    .main-header .col-left .logo {
        display: block
    }
}

@media screen and (max-width: 1024px) {
    .main-header .col-right .top-menu ul li:first-of-type {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .main-header .col-right {
        max-width: fit-content;
        min-width: fit-content
    }

    .main-header .col-right .top-menu ul li {
        margin: 0
    }

    .main-header .col-right .top-menu ul .sub-menu {
        display: block;
    }

    .main-header .col-right .login {
        display: none
    }
}

@media (max-width: 1024px) {
    .main-header .col-right {
        max-width: fit-content;
        min-width: fit-content
    }

    .main-header .col-right .top-menu ul li {
        margin: 0
    }

    .main-header .col-right .top-menu ul li:first-of-type {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .main-header .col-right .top-menu ul li:first-of-type .menu-humber {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 44px;
        height: 44px
    }

    .main-header .col-right .top-menu ul li:first-of-type .menu-humber:hover .zmdi {
        color: initial
    }

    .main-header .col-right .top-menu ul li:first-of-type .menu-humber .zmdi {
        padding: 0;
        font-size: 26px
    }

    .main-header .col-right .top-menu ul .sub-menu {
        display: none
    }
}

@media (min-width: 1024px) {
    .main-header .col-right .login .btn-login:hover {
        opacity: .86
    }
}

@media (max-width: 1096px) {
    .main-header .col-left .logo {
        display: block
    }

    .main-header .col-center .logo-large,
    .main-header .col-left .top-menu ul .sub-menu,
    .main-header .col-right .login,
    .main-header .col-left .top-menu,
    .main-header .col-right .top-menu ul .sub-menu
    {
        display: none
    }

    .main-header .col-right {
        max-width: fit-content;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: fit-content;
        width: initial
    }

    .main-header .col-right .top-menu ul li {
        margin: 0
    }

    .main-header .col-left .top-menu ul li {
        margin: 0
    }

     /*noinspection ALL,CssInvalidPropertyValue*/
    .main-header .col-right {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: fit-content;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: fit-content
    }

    .main-header .col-right .top-menu ul li {
        margin: 0
    }

    .main-header .col-right .top-menu ul li:first-of-type {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .main-header .col-right .top-menu ul li:first-of-type .menu-humber {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 44px;
        height: 44px
    }

    .main-header .col-right .top-menu ul li:first-of-type .menu-humber:hover .zmdi {
        color: initial
    }

    .main-header .col-right .top-menu ul li:first-of-type .menu-humber .zmdi {
        padding: 0;
        font-size: 26px
    }
}

@media only screen and (max-width: 1096px) {
    .main-header .col-left .logo-large,
    .main-header .col-right .top-menu ul .sub-menu ,
    .main-header .col-right .login {
        display: none
    }

    .main-header .col-left .logo {
        display: block
    }

    .main-header .col-right {
        max-width: fit-content;
        min-width: fit-content;
        width: initial
    }

    .main-header .col-right .top-menu ul li {
        margin: 0
    }
    .main-header .col-right .top-menu ul li:first-of-type {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

.main-header .col-right .top-menu ul li:first-of-type .menu-humber {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 44px;
        height: 44px
    }

    .user-login {
        border-bottom: 1px solid rgba(48, 51, 58, .1)
    }

}

@media (min-width: 1096px) {
    .main-header .col-left .top-menu {
        border-bottom: 2px solid #fff;
    }

    .main-header .col-right {
        border-bottom: 2px solid #fff;
    }

}

@media (max-width: 1200px) {
    .main-header {
        padding: 0 18px
    }
}

@media only screen and (max-width: 1200px) {
    .main-header {
        padding: 0 18px
    }
}
