@media only screen and (max-width: 800px) {

    .qc-tgnp-bs .right-home-50 .title-36 {
        font-size: 24px;
        line-height: 34px
    }

    .qc-tgnp-bs .right-home-50 .pd-tb-30 {
        padding: 10px 0 !important
    }

    .qc-tgnp-bs .right-home-50 .pdt-50 {
        padding-top: 10px !important
    }

    .popular-location {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3
    }

    .fix-btn-map-filter {
        display: block
    }

    .content-pu-rv {
        padding: 0
    }

    .duan-tl {
        display: none
    }

    .info-form-up .title-w-back {
        background: #fff;
        box-shadow: 0 2px 10px 0 #e4e4e4;
        height: 60px;
        line-height: 60px;
        font-family: harmonia, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 14px
    }

    .info-form-up .back-btn-title {
        top: 5px;
        left: 10px
    }

    .content-pu-rv .large-btn-red {
        padding: 10px
    }

    .content-pu-rv .large-btn-border-black {
        padding: 10px
    }

    .title-mobile-contact {
        height: 60px;
        position: relative;
        text-align: center;
        display: block;
        margin: -20px -20px 0;
        box-shadow: 0 2px 10px 0 #e4e4e4
    }

    .title-mobile-contact h3 {
        line-height: 60px;
        text-transform: uppercase;
        color: #30333a;
        font-size: 14px;
        font-weight: 400;
        top: 0;
        left: 0;
        right: 0;
        max-width: 70%;
        margin: 0 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    .right-popup-rv {
        border: 0;
        padding: 20px
    }

    .left-popup-rv {
        display: none
    }

    .content-pu-rv .user-owner-list {
        text-align: center
    }

    .user-owner-list .ava-user {
        float: none;
        margin-right: 0;
        margin-bottom: 5px;
        width: 74px;
        height: 74px
    }

    .popup-820 {
        width: 410px
    }

    .content-detail-house .width1140 .right-content {
        display: none
    }

    .info-cta p {
        padding: 20px 0 40px
    }

    section.browsing article.featured {
        width: 100%
    }

    .list-part-t a span {
        display: none
    }

    .list-part-t li {
        width: 14%
    }

    .fixed-form-r {
        display: none
    }

    .btn-on-off-filter {
        display: block;
        width: 100%;
        height: 100%
    }

    .search-sum {
        display: none
    }

    .search-sidebar_content {
        padding-right: 0;
        top: 0
    }

    .full-width > div > section.project article.featured {
        width: calc(50% - 30px) !important;
        margin: 30px 30px 0 0 !important;
        height: 226px
    }

    .copyright-left {
        float: none;
        text-align: center
    }

    .copyright-right {
        float: none;
        text-align: center
    }

    .image-sketch .actionIcon:not(.actionIcon-responsive) {
        display: none
    }

    .actionIcon-responsive {
        display: block
    }

    .right-content .booking-tour {
        display: none
    }

    article.featured .cover {
        height: 220px
    }

    .width-70-ber {
        width: 50%
    }

    article.featured .cover img {
        width: 100%
    }

    .ads3d-box-right .like-button {
        width: 80%
    }

    .content-detail-house {
        padding-bottom: 0
    }

    .menu-sub-detail2 {
        display: none
    }

    .max-width900 {
        max-width: 90%
    }

    .col-ms-6 {
        width: 100%;
        padding: 60px 0 0
    }

    .col-ms-6.right {
        padding-top: 30px
    }

    .smarter-from {
        width: 100%;
        padding: 60px 30px;
        text-align: center
    }

    .whybuy-building li img {
        float: left
    }

    .header2402-navBar ul.subnav li a:hover {
        background: #fff
    }

    article.featured .cover {
        height: 226px
    }

    ul.slidemap li {
        width: 24%
    }

    .right-filter {
        display: none
    }

    .slideimg {
        display: none
    }

    #slider8 .slides li a {
        max-height: 100% !important
    }

    .fix-widthcell .naviicon {
        width: 100%;
        margin: 0;
        border: 0;
        text-align: center
    }

    .but-predetail {
        left: 15px;
        padding: 8px 4px;
        opacity: .6
    }

    .but-nextdetail {
        right: 15px;
        padding: 8px 4px;
        opacity: .6
    }

    #slider3 {
        width: 83%;
        margin: 0 auto
    }

    #slider4 {
        width: 83%;
        margin: 0 auto
    }

    .icon-presmall-gray {
        top: 35px
    }

    .icon-nextsmall-gray {
        top: 35px
    }

    .left-content {
        width: 100%
    }

    .content-detail-house header.detail-house {
        width: 100%
    }

    .content-detail-house header.detail-house h1 {
        font-size: 2.3em;
        max-height: 76px;
        overflow: hidden
    }

    .right-content {
        width: 49%
    }

    .booking-tour {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        left: 0;
        margin: 10px 0 0;
        width: 100%;
        border: 0;
        background: 0 0
    }

    .booking-tour .bg-gray {
        padding: 0
    }

    .booking-tour .bg-gray .sms-button {
        border-radius: 0;
        background: orange;
        float: right
    }

    .booking-tour .save-favorite-box {
        margin: 0
    }

    .booking-tour .save-favorite-box p {
        display: none
    }

    .booking-tour .save-favorite-box .like-button {
        width: 50%;
        float: left;
        background: #fff;
        padding: 12px 0 12px 0;
        border-radius: 0;
        border-bottom: none;
        border-left: none;
        border-right: none
    }

    .list-but {
        display: none
    }

    .agent-detail-house {
        display: none
    }

    ul.slidemap li a.img {
        height: 100px
    }

    #carousel {
        display: none
    }

    .fix-widthcell .naviicon li {
        padding: 0 15px
    }

    .fix-widthcell .naviicon {
        height: 68px
    }

    .changeimg-box {
        height: 68px
    }

    .searchlisting article.featured:nth-child(3n+3) {
        margin-right: 0
    }

    .content-detail-house header.detail-house ul li a {
        padding: 5px 0
    }

    .collection-box-left {
        width: 100%
    }

    .collection-box-right {
        width: 100%;
        margin-top: 30px
    }

    .bank-form .left-form {
        display: none
    }

    .bank-form .right-form {
        width: 100%
    }

    .bank-form .right-form .arrow-right {
        display: none
    }

    ul.slidemap li a.img {
        display: block;
        border: 1px solid #eee;
        width: 100%;
        height: 100%
    }

    ul.slidemap li a {
        height: 76px !important;
        display: block
    }

    .icon-presmall-gray {
        top: 22px
    }

    .icon-nextsmall-gray {
        top: 22px
    }

    .fixed-menu-detail {
        display: none !important
    }

    .ads3d-box-left {
        width: 50%;
        margin-right: 0;
        padding-right: 0;
        border: 0
    }

    .ads3d-box-right {
        width: 50%;
        text-align: center
    }

    .ads3d-box-right .cover {
        float: none;
        margin: 0 auto
    }

    .ads3d-box-right .infoagent {
        float: none;
        margin: 10px auto
    }

    .ads3d-box-left .cover {
        width: 100%
    }

    .ads3d-box-left .about-3d {
        width: 100%;
        padding-top: 20px
    }

    .bank-form .right-form {
        padding: 20px;
        border: 1px solid #dedede
    }

    .ads3d-box-left .about-3d p {
        text-align: justify
    }

    .marketing li .cover-mkt {
        height: 276px
    }

    .share-social {
        bottom: 50px;
        left: 72px;
        top: auto;
        right: auto
    }

    .thumb-duan {
        float: left;
        width: 340px;
        height: 280px;
        min-height: 0;
        overflow: hidden
    }

    .thumb-duan img {
        width: 100%;
        height: 100%;
        margin: 0
    }

    .info-duan {
        float: left;
        width: calc(100% - 340px);
        padding: 10px 20px;
        height: 280px
    }

    .info-duan h2, .info-duan h3 {
        font-size: 26px
    }

    .info-duan .content {
        height: 110px
    }

    .left-content-news {
        width: calc(100% - 270px);
        padding-right: 20px
    }

    .left-content-news article.featured .cover {
        width: 100%;
        height: auto
    }

    .left-content-news article.featured header {
        width: 100%;
        padding: 20px 0 0 0
    }

    .right-content-news {
        display: block;
        width: 270px
    }

    .right-content-news .popular-post article.featured {
        width: 100%;
        clear: both;
        display: table;
        padding-bottom: 20px
    }

    .right-content-news .popular-post article.featured .cover {
        float: left;
        width: 90px;
        margin-right: 16px;
        height: 90px
    }

    .right-content-news .popular-post article.featured .cover img {
        height: 100%;
        width: auto
    }

    .right-content-news .popular-post article.featured header {
        float: left;
        width: calc(100% - 106px)
    }

    .right-content-news .popular-post article.featured header a {
        font-weight: 500;
        display: block;
        font-size: 16px;
        line-height: 22px;
        height: 63px;
        overflow-y: hidden
    }

    .right-content-news .popular-post article.featured header p.by {
        padding: 8px 0 0
    }

    .selisting-header .result {
        padding-top: 60px
    }

    .detail-more li {
        width: 100%
    }

    .detail-commodities li {
        width: 50%
    }

    .list-part-t .p-id {
        width: 12%
    }

    .list-part-t li {
        width: 16%
    }

    .list-part-t .p-name {
        display: none
    }
}

@media only screen and (max-width: 720px) {
    .width-750 {
        width: 100%
    }

    .font-18 {
        font-size: 16px !important
    }

    .but-search-home:before {
        content: ''
    }

    .sort-home {
        width: 100%;
        height: 50px;
        padding: 7px 15px
    }

    .left-content {
        width: 100%;
        margin-right: 0
    }

    .right-content {
        width: 100%
    }

    .Mortgage .Mortgage-left {
        width: 100%
    }

    .Mortgage .Mortgage-right {
        width: 100%
    }

    ul li.list-filter {
        width: 100%;
        clear: both;
        margin: 5px 0
    }

    .more-filter {
        display: block !important;
        font-size: .9em;
        cursor: pointer
    }

    .more-filter a {
        display: block
    }

    .down-arrow {
        float: right
    }

    .left-filter {
        margin: 8px 0 3px;
        width: 71px
    }

    .search-filter {
        height: auto !important
    }

    .hidemobile {
        display: none !important
    }

    .left-filter ul li.list-filter {
        display: none !important
    }

    .left-filter ul.mobile-filter li.list-filter {
        display: block !important
    }

    .mobile-filter {
        width: 100%;
        clear: both
    }

    .popup {
        overflow: auto
    }

    .different li {
        width: 100%;
        padding: 20px 0 !important
    }

    article.featured .cover {
        height: 200px
    }

    .different li {
        border-right: 0
    }

    .popup {
        padding: 0 15px
    }

    .col-ms-7 {
        width: 100%
    }

    .col-ms-3 {
        width: 100%
    }

    .thumb-duan {
        float: left;
        width: 100%;
        height: auto;
        min-height: 0;
        max-height: none
    }

    .info-duan {
        height: auto;
        float: left;
        width: 55%;
        padding: 16px 32px
    }

    .info-duan .content {
        height: auto
    }

    .info-duan {
        width: 100%;
        padding: 20px
    }

    .info-duan .more {
        display: block;
        position: static;
        margin: 10px 0
    }
}

@media only screen and (max-width: 600px) {

    .info-duan .btn-more {
        bottom: 0;
        padding: 20px 0 0
    }

    .flexslider.main-content {
        padding-bottom: 30px !important
    }

    .info-duan .content {
        padding-bottom: 0
    }

    article.featured:nth-child(3n+3) {
        margin-right: 0
    }

    .exclusive > .more-button-box {
        padding-top: 20px
    }

    .main-content {
        padding-bottom: 30px
    }

    .main-content > .more-button-box {
        padding-top: 20px
    }

    .width1140 > h1 {
        padding: 30px 0 0 !important;
        font-size: 26px !important;
        line-height: 30px !important
    }

    .col-ms-6 {
        padding: 30px 0 0
    }

    .smarter-from {
        padding: 30px 15px
    }

    .width1140 .smarter-from > .pd-tb-30 {
        padding: 20px 0 !important
    }

    .common-info h2 {
        font-size: 26px;
        padding: 30px 0 20px
    }

    .common-info p {
        font-size: 16px;
        padding-bottom: 20px
    }

    .common-info p {
        font-weight: 400;
        line-height: 26px
    }

    .time span {
        display: none
    }

    .time span:nth-child(1) {
        display: block
    }

    article.featured .cover {
        height: 160px
    }

    article.featured header h3 a {
        line-height: 26px
    }

    .pd-section {
        padding-top: 0;
        padding-bottom: 30px !important
    }

    .time-horizontal {
        display: none
    }

    article.featured .cover {
        height: 380px
    }

    .search-sidebar {
        width: 320px
    }

    .search-map {
        width: calc(100% - 320px)
    }

    .but-pre {
        font-size: 3.5em
    }

    .but-next {
        font-size: 3.5em
    }

    footer {
        padding-bottom: 50px
    }

    article.featured {
        width: 100%;
        margin: 15px 0 0
    }

    article.featured:nth-child(2), article.featured:nth-child(3) {
        margin-top: 15px
    }

    .exclusive .featured:last-child {
        margin-bottom: 0 !important
    }

    .left-filter ul {
        border: 0
    }

    .thumb-duan {
        float: left;
        width: 100%;
        height: auto;
        min-height: 0;
        max-height: none
    }

    .info-duan {
        float: left;
        width: 55%;
        padding: 16px 32px
    }

    .info-duan .content {
        height: auto
    }

    .info-duan {
        width: 100%;
        padding: 20px
    }

    .info-duan h2, .info-duan h3 {
        font-size: 26px
    }

    .left-content-news {
        width: 100%;
        padding-right: 0
    }

    .left-content-news article.featured {
        max-width: 460px
    }

    .left-content-news article.featured .cover {
        width: 100%;
        height: auto
    }

    .left-content-news article.featured header {
        width: 100%;
        padding: 20px 0 0 0
    }

    .right-content-news {
        display: block;
        width: 100%
    }

    .right-content-news .right-box {
        max-width: 420px;
        margin: 0 auto
    }

    .detail-more li {
        width: 100%;
        margin-right: 0
    }

    .search-sum {
        width: 320px
    }

    .searchlisting article.featured {
        margin: 0
    }
}

@media only screen and (max-width: 480px) {
    .why-tgnp img {
        float: left;
        width: 10%
    }

    .why-tgnp span {
        display: block;
        float: left;
        width: 80%;
        line-height: 26px;
        text-align: left;
        font-size: 18px
    }

    .form-info .per50-left {
        width: 100%
    }

    .form-info .per50-right {
        width: 100%
    }

    .header-w-close {
        height: 60px
    }

    .header-w-close h3 {
        line-height: 60px;
        font-size: 18px
    }

    .close-popup-btn {
        top: 11px;
        right: auto;
        left: 10px;
        box-shadow: none;
        z-index: 1;
        background: 0 0
    }

    .popup-820 {
        width: 100%;
        flex-shrink: 0;
        margin-top: 0
    }

    .right-popup-rv {
        height: 100vh;
        overflow-y: auto;
        padding: 20px;
        width: 100%
    }

    .info-form-up {
        width: 100%;
        z-index: 11
    }

    .content-popup-res {
        padding: 20px 20px
    }

    .price-redRV {
        font-size: 18px
    }

    .content-document li button {
        padding: 0 20px;
        line-height: 30px
    }

    .p-doc-relative-wrapper .img {
        width: 84px
    }

    .p-doc-relative-wrapper .img div {
        height: 110px
    }

    .p-doc-relative-wrapper .info {
        width: 65%;
        max-height: 65px
    }

    .p-doc-relative-wrapper .info ul {
        display: none
    }

    .form-info {
        padding: 20px
    }

    .popup-520 {
        width: 100%;
        height: 100%;
        margin: 0 auto !important
    }

    .price-redRV span:first-child {
        width: auto;
        display: inline-block;
        float: none
    }

    .sum-picture button span {
        display: none
    }

    .or-call {
        display: none
    }

    .contact-agent-box .large-btn-red {
        font-size: 14px;
        padding: 10px 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .35);
        margin: 30px 0 15px
    }

    .contact-agent-box {
        padding: 40px 20px 10px;
        border: 0;
        box-shadow: none;
        margin: 60px 0 0
    }

    .info-cta p {
        display: none
    }

    .logo-tgnp {
        width: 40px;
        top: -20px
    }

    .info-cta .title {
        font-size: 20px;
        line-height: 30px
    }

    .sort-on-mobile {
        display: block
    }

    article.featured header ul li .zmdi {
        color: #30333a
    }

    article.featured header h3 {
        padding: 6px 0 0
    }

    .search-sum-no {
        line-height: 20px;
        font-size: 14px
    }

    .search-sum-no .total-result {
        font-size: 14px
    }

    .search-sum-no .zmdi {
        font-size: 16px;
        line-height: 20px
    }

    .searchlisting article.featured header h2 {
        font-size: 12px;
        padding: 0;
        max-height: 30px;
        overflow: hidden
    }

    .suggest-result {
        position: fixed;
        top: 59px
    }

    .list-part-t {
        position: relative;
        height: 105px;
        margin: 0 15px;
        width: calc(100% - 30px)
    }

    .list-part-t li {
        position: absolute;
        left: 127px;
        display: none;
        width: 40%
    }

    .list-part-t li:nth-child(1) {
        left: 0;
        top: 15px;
        width: 112px;
        display: block
    }

    .list-part-t li:nth-child(1) img {
        width: 100%;
        display: block;
        height: 75px
    }

    .list-part-t li:nth-child(2) {
        top: 15px;
        font-weight: 700;
        display: block;
        width: 50%
    }

    .list-part-t li:nth-child(3) {
        top: 45px;
        display: block;
        width: 60%
    }

    .list-part-t li:nth-child(4) {
        top: 75px;
        display: block
    }

    .list-part-t li:nth-child(5) {
        top: 75px;
        display: block;
        left: 185px
    }

    .list-part-t li:nth-child(8) {
        top: 15px;
        display: block;
        right: 0;
        left: auto;
        width: auto;
        text-align: right;
        background: #fff
    }

    .info-cta {
        width: 70%
    }

    .heading-02-rv {
        font-size: 18px
    }

    .place-viral {
        font-size: 12px;
        max-width: 150px;
        overflow: hidden;
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    .content-document li {
        padding-top: 0
    }

    .bed-sort {
        width: 100%
    }

    .content-document li h4 {
        font-size: 14px
    }

    .content-document li p {
        display: none
    }

    .content-document li .sub-title {
        display: block;
        font-size: 14px;
        font-weight: 400
    }

    .left-70 {
        width: 100%
    }

    .info-sticky-header {
        width: 100%;
        overflow-x: scroll
    }

    .detail-commodities li {
        width: 100%;
        font-size: 14px
    }

    .imageScroller {
        height: 240px
    }

    .imageScroller img {
        height: 240px
    }

    .total-result {
        line-height: 20px;
        font-size: 14px
    }

    .but-search-home {
        width: 50px;
        margin-top: 0;
        padding: 0;
        height: 50px;
        background: orange;
        overflow: hidden
    }

    .actionIcon {
        right: 15px
    }

    .but-search-home button {
        color: orange;
        height: 50px;
        overflow: hidden;
        position: relative;
        width: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        background: 0 0
    }

    .but-search-home button:hover {
        background: 0 0
    }

    .icon-s-h {
        color: #fff;
        position: absolute;
        right: -35px;
        top: 16px;
        z-index: 99
    }

    .tab-choose {
        margin: 30px 0 25px;
        text-align: center
    }

    .tab-choose ul li {
        padding: 0 20px
    }

    .width1140 {
        padding-left: 15px !important;
        padding-right: 15px !important
    }

    .info-project {
        display: none
    }

    .search-keyword {
        max-width: 100%
    }

    .h-3d {
        padding: 0 6px 0 !important;
        font-size: 12px;
        line-height: 12px
    }

    .h-3d i {
        font-size: 15px
    }

    .info-agent-ct {
        display: none
    }

    .info-bs div {
        float: left;
        clear: none;
        margin-right: 5px;
        margin-bottom: 15px
    }

    .info-bs .price-list {
        float: right;
        clear: both;
        top: -40px
    }

    .info-bs {
        position: relative;
        left: 0;
        top: 0
    }

    .info-bs-price {
        top: auto;
        bottom: 10px
    }

    .info-bs-price .price-list {
        font-size: 14px
    }

    .info-bs .lable-sold {
        font-size: 12px;
        padding: 0 10px !important
    }

    .info-bs .lable-monopoly {
        font-size: 12px;
        padding: 0 10px !important
    }

    .info-bs .lable-free-m {
        font-size: 12px;
        padding: 0 10px !important
    }

    .info-project td.gray {
        color: rgba(255, 255, 255, .7) !important
    }

    .info-project td {
        font-size: 13px
    }

   .search-sidebar_content {
        margin-left: 0
    }

    .search-topdetail {
        width: calc(100% - 50px);
        text-align: left
    }

    .bgw {
        padding-bottom: 50px
    }

    .title-sum {
        padding: 0;
        top: 0
    }

    .left-tabmenu-search li {
        width: 50%;
        text-align: center;
        padding: 4px 0 0 0;
        display: block;
        float: left;
        position: relative
    }

    .left-tabmenu-search li:before {
        height: 20px;
        border-left: 1px solid rgba(48, 51, 58, .2);
        content: '';
        position: absolute;
        left: 0;
        top: 10px
    }

    .left-tabmenu-search li:first-child {
        margin-left: -1px
    }

    .left-tabmenu-search li a {
        line-height: 36px;
        font-size: 14px;
        margin-right: 0
    }

    .save-search-box {
        display: none
    }

    .pd-search-icon {
        padding-left: 10px
    }

    section.project article.featured:nth-child(1) {
        margin-right: 0
    }

    .left-tabmenu-search {
        padding: 0;
        width: 100%
    }

    .popup {
        top: 0
    }

    .tab-search {
        top: 60px;
        height: 40px
    }

    .sort-topdetail {
        display: none
    }

    .selisting-sidebar {
        width: 100%
    }

    .selisting-sidebar.listing-rent {
        order: 3;
        margin-top: 0
    }

    .compare-house .article div.title h2, .compare-house .article div.title h3, .compare-house .article div.title h4 {
        padding: 0
    }

    .bor-deco {
        margin: 10px 0
    }

    .sms-share {
        display: block
    }

    .content-detail-house header.detail-house ul.detailroom {
        margin-top: 15px;
        padding-bottom: 15px
    }

    .compare-house .article {
        padding: 19px 19px 12px
    }

    .compare-house .article div.title p {
        display: none
    }

    .lang-select {
        margin: 5px 0 0;
        width: 127px
    }

    .lang-select select {
        width: 127px
    }

    .copyright-right:after {
        width: 100%;
        clear: both;
        content: '';
        display: table
    }

    .most-update {
        margin: 15px 0 0 0
    }

    .good-price {
        margin-top: 15px
    }

    .collection-box-right {
        margin-top: 15px
    }

    #floorplan section.width1140 div.mgt-0 {
        margin-bottom: 20px
    }

    section.whysell-project div.width1140 div.pdb-20 {
        padding-bottom: 0 !important
    }

    section.pdb-30 {
        padding-bottom: 0 !important
    }

    .copyright .app-icon-btn {
        display: block
    }

    .copyright .app-icon-btn a {
        display: block;
        padding-top: 10px
    }

    .booking-tour, .booking-tour .bg-gray {
        background: 0 0 !important
    }

    .booking-tour {
        z-index: 220
    }

    li article.featured {
        margin-left: 5%;
        width: 95%
    }

    .time {
        left: -6%;
        text-align: left;
        padding-left: 25px
    }

    .time:after {
        left: -9px;
        right: auto
    }

    li:nth-child(2n) article.featured .time {
        left: -6%;
        padding-left: 25px
    }

    article.featured .cover {
        height: 250px
    }

    article.featured header {
        padding: 20px
    }

    {
        margin-top: 0;
        padding-top: 0
    }

    article.featured header {
        float: left;
        width: calc(100% - 117px);
        padding: 0 0 0 15px;
        margin: 0
    }

    .title-sticky-header {
        display: none
    }

    article.featured {
        margin: 0;
        width: 100%;
        padding: 15px
    }

    article.featured:nth-child(2n) {
        background: #f3f4f7
    }

    .search-sum-no {
        float: none;
        padding: 15px 15px 5px 15px;
        width: 100%
    }

    .search-sum-no:after {
        content: '';
        width: 100%;
        display: table
    }

    .show-hide-bnt {
        display: none
    }

    article.featured header h3 {
        padding-top: 0;
        font-size: 14px;
        line-height: 20px;
        height: auto
    }

    article.featured header h4 {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }

    article.featured header ul li {
        padding: 0;
        font-size: 12px;
        color: grey
    }

    article.featured .price {
        bottom: 0;
        right: 0;
        font-size: 14px
    }

    .bgw-wp .klc li {
        width: 48%;
        margin-right: 0
    }

    .bgw-wp .klc li:nth-child(2n) {
        float: right
    }

    .info-prop .left-img {
        width: 100%;
        text-align: center
    }

    .info-prop .info {
        width: 100%
    }

    .compare-house .article div.abc {
        display: none
    }

    .compare-house .article div.abc + .img {
        padding-right: 0
    }

    .compare-house .article div.img {
        display: block;
        width: 30%;
        height: auto;
        float: left;
        min-height: 90px
    }

    .compare-house .article div.action {
        display: none
    }

    .compare-house .article div.img img {
        height: auto;
        width: 100%;
        max-height: 90px
    }

    .compare-house .article div.img a {
        width: 100%;
        height: auto
    }

    .compare-house .article div.title {
        width: 70%;
        display: block;
        float: right;
        padding-left: 15px
    }

    .compare-house .article div.info {
        width: 70%;
        display: block;
        padding: 10px 0 0 15px;
        float: right;
        font-size: 13px
    }

    .compare-house .article div.info-price {
        width: 70%;
        display: block;
        text-align: left;
        float: right;
        padding-left: 10px
    }

    .compare-house .article div.status {
        width: 70%;
        display: block;
        text-align: left;
        padding: 10px 0 0 10px;
        float: right
    }

    .compare-house {
        font-size: 15px;
        margin: 0 -15px
    }

    .title-36 {
        font-size: 30px;
        line-height: 40px
    }

    .title-30 {
        font-size: 24px;
        line-height: 34px
    }

    .overflow-text {
        max-height: 38px
    }

    .col-50-ber {
        width: 100%;
        margin-bottom: 15px
    }

    .mar-right-4ber {
        margin-right: 0
    }

    article.kdc-new {
        position: relative
    }

    .header-background-full {
        height: 380px
    }

    .pdr-30 {
        padding-right: 0 !important
    }

    .more-news-list {
        padding: 0 0
    }

    .lage-btn-black {
        padding: 10px 10px 8px 10px;
        font-size: 16px;
        margin: 10px 0
    }

    .box-name-neighborhood h2 {
        font-size: 28px;
        line-height: 42px
    }

    .padding-40-0 {
        padding: 20px 0
    }

    .state-ap {
        position: inherit
    }

    .list-open-sale {
        margin: 15px 0
    }

    .pdt-30 {
        padding-top: 15px !important
    }

    .pdt-50 {
        padding-top: 30px !important
    }

    .view-history table td {
        font-size: 14px
    }

    .tttn img {
        width: 100%
    }

    .tttn .right-content {
        width: 100%;
        margin-top: 20px
    }

    .pd-tb-50 {
        padding: 30px 0 !important
    }

    .pd-tb-30 {
        padding: 15px 0 !important
    }


    .font-36 {
        font-size: 26px !important
    }

    p.price-form {
        padding-left: 0
    }

    .width-1600 hgroup a img {
        height: 36px
    }

    .thumb-duan {
        float: left;
        width: 100%;
        height: auto;
        min-height: 0;
        max-height: none
    }

    .info-duan {
        float: left;
        width: 55%;
        padding: 16px 32px
    }

    .info-duan .content {
        height: auto
    }

    .info-duan {
        width: 100%;
        padding: 20px
    }

    .language {
        float: none;
        margin: 10px 0 20px 0;
        width: 100%
    }

    .language:after {
        clear: both;
        display: table;
        content: ''
    }

    .qtda {
        padding: 0 0 10px
    }

    .text-qt {
        text-align: center;
        float: none;
        font-size: 26px;
        padding-top: 20px
    }

    .bnt-redlh {
        text-align: center;
        padding: 10px 0 30px 0;
        float: none;
        width: 100%
    }

    .bnt-redlh .sms-button {
        float: none;
        text-align: center;
        margin: 0 auto !important
    }


    .detail-more {
        padding: 0
    }

    .qtda .content {
        padding-bottom: 20px
    }

    .banve {
        padding: 0
    }

    .owner {
        padding: 0;
        margin-bottom: 20px
    }

    .qtda h3 {
        font-size: 26px
    }

    .owner img {
        width: 100%;
        margin: 0 auto 20px auto
    }

    .owner .main-agency-summary {
        width: 100%
    }

    .qtdan {
        display: none
    }

    .background-gray .width1140 > h3 {
        padding: 20px 0 0 0
    }

    .colum3 li {
        width: 100%;
        padding: 50px 0 0 0
    }

    .colum3 {
        padding-top: 0
    }

    .collection-box-left {
        margin: 0;
        padding-top: 20px
    }

    .right-content-about {
        width: 100%
    }

    .width1140 > h6 {
        font-size: 22px;
        line-height: 30px
    }

    .whybuy-building li {
        width: 100%;
        margin-right: 0
    }

    .about-us .left-about img {
        width: 60%;
        padding: 5px 0 20px 0
    }

    .headquanters {
        margin: 0
    }

    .headquanters p a[href*=tel] {
        color: #fff
    }

    button.location {
        right: 50px;
        font-size: 30px
    }

    button.searchicon {
        right: 15px;
        font-size: 30px
    }

    .background-detail-news {
        height: 250px;
        display: none
    }

    .news-detailpage {
        padding-top: 30px
    }

    .news-detailpage h2 {
        font-size: 26px
    }

    .news-postter {
        margin: 20px 0 40px 0
    }

    .width1140 > h2 {
        font-size: 26px
    }

    .content-detail-house header.detail-house .price {
        position: static;
        margin-top: 20px;
        text-align: right;
        border-top: 1px solid #ebebeb;
        padding-top: 20px
    }

    .content-detail-house header.detail-house .price a {
        font-size: 1em
    }

    .price-detail {
        float: left;
        clear: both;
        text-align: left;
        font-size: 1em
    }

    .content-detail-house header.detail-house h1 {
        width: 100%;
        font-size: 22px
    }

    .width-1600 hgroup h1.logo {
        width: 120px;
        background-size: cover;
        height: 20px
    }

    .width-1600 hgroup {
        padding: 0 0 0 6px !important;
        margin-top: 11px
    }

    .text-w {
        color: #fff !important
    }

    article.featured .cover {
        height: 256px
    }

    .menu-footer ul li {
        font-size: 1.4em;
        width: 50%
    }

    .customer-review .box-reviewer .reviewer .reviewer-info {
        text-align: center
    }

    .customer-review .box-reviewer .reviewer {
        padding: 30px 0;
        width: auto;
        text-align: center
    }

    .customer-review .box-reviewer .reviewer .avatar {
        display: inline-block;
        margin-right: 2%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 1px solid #ccc;
        width: 124px;
        height: 124px;
        padding: 2px
    }

    .customer-review .box-reviewer .reviewer .avatar a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-position: 50% top
    }

    .customer-review .box-reviewer .reviewer .reviewer-info {
        vertical-align: top;
        padding-top: 10px;
        text-align: left;
        display: inline-block
    }

    .customer-review .box-reviewer .reviewer .reviewer-info a.name {
        font-size: 2em;
        color: orange;
        line-height: 2em
    }

    .customer-review .box-reviewer .reviewer .reviewer-info p {
        color: #999;
        font-size: 1.8em
    }

    .customer-review .box-reviewer .reviewer .reviewer-info ul li {
        list-style: none;
        display: inline-block;
        color: #999;
        font-family: tgnp-icon, Arial, Helvetica, sans-serif;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 10px;
        padding: 5px 0;
        font-size: 2em
    }

    .customer-review .box-reviewer .reviewer .reviewer-info ul li a {
        display: block;
        width: 100%;
        height: 100%
    }

    .customer-review .box-reviewer .reviewer .reviewer-info ul li:hover {
        color: #eee
    }

    ul.slidemap > a {
        padding: 25px 0
    }

    ul.slidemap li a.img {
        height: 100px
    }

    .search-map {
        width: 100%;
        display: none
    }

    .changeimg-box {
        width: 100%;
        margin-left: 0
    }

    .left-content .rating-value li {
        width: 100%;
        padding: 10px 0
    }

    .left-content .heading-02 .rating-show {
        position: static;
        margin-top: 10px
    }

    .content-detail-house header.detail-house ul.submenu-detail {
        display: none
    }

    .content-detail-house header.detail-house {
        padding: 30px 0 0 0;
        width: 100%
    }

    .uer-reviews li:first-child {
        width: 100%
    }

    .uer-reviews li {
        width: 100%
    }

    .left-content .heading-02 {
        padding-top: 30px
    }

    .uer-reviews li .uer-rate p {
        display: block;
        clear: both
    }

    .uer-reviews li .uer-rate {
        position: static
    }

    article.featured:nth-child(3n+3) {
        margin-right: 0
    }

    .write-review a {
        padding: 10px 10px 20px
    }

    .about-us .left-about {
        width: 100%
    }

    .about-us .right-about {
        width: 100%
    }

    .about-us .right-about .project ul li {
        margin: 0;
        margin-top: 20px
    }

    .uer-reviews li h3 {
        padding: 0 0 20px 90px;
        clear: both
    }

    .uer-reviews li .uer-rate {
        padding-left: 90px
    }

    .uer-reviews li:first-child {
        margin-bottom: -120px
    }

    .slidemap {
        padding: 20px 0
    }

    .right-content {
        margin-top: 5px
    }

    .booking-tour {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        left: 0;
        margin: 10px 0 0;
        width: 100%;
        border: 0
    }

    .booking-tour .bg-gray {
        padding: 0
    }

    .booking-tour .bg-gray .sms-button {
        border-radius: 0;
        background: orange;
        width: 100%
    }

    .save-favorite-box {
        display: none
    }

    .list-but {
        display: none
    }

    .agent-detail-house {
        display: none
    }

    .different li input[type=text] {
        width: 100%;
        margin: 0
    }

    .map-and-sidebar {
        height: 100%;
        border: 0
    }

    body {
        height: auto !important
    }

    .map-and-sidebar {
        background: 0 0
    }

    .search-sidebar {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border: 0;
        width: 100%;
        float: left;
        top: 100px
    }

    .search-pagination {
        max-height: 100px
    }

    .search-filter {
        float: left
    }

    .popup {
        padding: 0 15px;
        background: #fff;
        color: #303339;
        display: none;
        position: relative;
        box-shadow: none;
        border: 0
    }

    .popup-visible {
        display: block !important;
        position: absolute
    }

    .different li {
        border-right: 0
    }

    .customer-review .box-reviewer .reviewer .avatar {
        display: block;
        margin: 0 auto
    }

    article.featured .cover {
        height: 75px;
        float: left;
        width: 113px
    }

    .map-detail {
        height: 450px
    }

    #slider3 {
        width: 83%;
        margin: 0 auto
    }

    #slider4 {
        width: 83%;
        margin: 0 auto
    }

    #slider {
        height: 276px;
        width: 100%
    }

    .background-detail {
        height: 276px
    }

    #slider .slides > li a {
        height: 276px !important
    }

    .price a {
        padding: 10px 10px 10px 0
    }

    .most-update {
        width: 100%
    }

    .most-view {
        width: 100%;
        height: 240px;
        margin-top: 15px
    }

    .high-rating {
        height: 240px
    }

    .copyright-left {
        float: none;
        text-align: center
    }

    .copyright-right {
        float: none;
        text-align: center;
        margin-bottom: 25px
    }

    .about-tgnp li {
        width: 100%;
        margin: 50px 0 0
    }

    .address-tgnp li {
        width: 100%;
        padding-top: 20px
    }

    .about-tgnp {
        padding-top: 20px
    }

    .address-tgnp {
        width: 100%
    }

    .about-tgnp {
        width: 100%
    }

    .cover-nearby-off {
        transform: translateX(350px);
        -moz-transform: translateX(350px);
        -webkit-transform: translateX(350px)
    }

    .cover-nearby {
        width: 405px;
        margin-left: -350px
    }

    .collection-box h2.bottomlable {
        font-size: 1.8em
    }

    .collection-box h2.centerlable {
        font-size: 1.8em
    }

    .fix-widthcell .naviicon li a {
        padding: 5px 0
    }

    .reverland {
        padding: 10px 0 40px
    }

    .agent-list {
        width: 48%;
        margin-right: 4% !important;
        margin-top: 15px
    }

    .agent-list:nth-child(2n) {
        margin-right: 0 !important
    }

    .agent ul p.pl20 {
        padding-left: 0
    }

    .pb40 {
        padding-bottom: 0
    }

    .agent-info header .vote {
        position: static
    }

    .agent-info header {
        padding-bottom: 40px
    }

    .agent-info .cover {
        height: 185px
    }

    .or {
        margin: 30px 0
    }

    .question-form .left-form {
        width: 100%;
        clear: both
    }

    .question-form .right-form {
        width: 100%;
        clear: both
    }

    .question-form {
        display: block
    }

    .question-form .right-form a.sms-button {
        width: 100%;
        margin: 0
    }

    .bank-form .right-form p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }

    .right-content-agent .infoagent h3 {
        font-size: 1.2em
    }

    .right-content-agent .infoagent .sms-button {
        width: 100%
    }

    .pd50 {
        padding: 20px 0
    }

    .left-content-agent {
        width: 100%
    }

    .right-content-agent {
        width: 100%;
        padding: 20px 0
    }

    .left-content-agent .cover {
        width: 100%;
        text-align: center
    }

    .about-agent {
        padding: 20px 15px
    }

    ul.slidemap li a.img {
        display: block;
        border: 1px solid #eee;
        width: 100%;
        height: 100%
    }

    ul.slidemap li a {
        height: 83px !important;
        display: block
    }

    .icon-presmall-gray {
        top: 25px
    }

    .icon-nextsmall-gray {
        top: 25px
    }

    .ads3d-box {
        margin-top: 0
    }

    .ads3d-box-left {
        width: 100%;
        margin-right: 0;
        padding: 10px 0 30px 0;
        border: 0;
        border-bottom: 1px solid #ebebeb
    }

    .ads3d-box-right {
        width: 100%;
        padding-top: 30px
    }

    .ads3d-box-right .like-button {
        margin: 20px auto 0
    }

    .ads3d-box-left .cover {
        width: 100%
    }

    .ads3d-box-left .about-3d {
        width: 100%;
        padding-top: 20px
    }

    .content-detail-house header.detail-house ul.detailroom li {
        margin: 6px 30px 6px 0
    }

    .content-detail-house {
        border: 0
    }

    .fix-widthcell .naviicon li a {
        font-size: .9em
    }

    .suggest-result > li .detail-room {
        display: none
    }

    .left-content-about {
        width: 100%;
        margin-right: 0
    }

    .notfound404 {
        width: 100%;
        padding: 40px 20px
    }

    .notfound404 h2 {
        font-size: 26px
    }

    .wswb-menu-fixed .right-menu {
        display: none
    }

    .img-scale img {
        width: 100%
    }

    .colum3 h4 {
        padding-top: 10px
    }

    .cover-left-sell {
        width: 100%;
        height: 267px
    }

    .right-content-sell {
        width: 100%;
        padding: 20px 0 0 0
    }

    .right-content-sell-gray {
        width: 100%;
        padding-right: 0
    }

    .hitech li {
        width: 100%;
        margin: 0;
        padding-top: 10px
    }

    .marketing li .cover-mkt {
        height: 126px
    }

    .marketing li .bg-content-white {
        padding: 20px 10px
    }

    .marketing li .bg-content-white h4 {
        font-size: 20px
    }

    .tgnp-market .value {
        width: 100%;
        margin: 0
    }

    .tgnp-market .speed {
        width: 100%
    }

    .left-sell {
        width: 100%
    }

    .canho {
        padding: 30px 0 20px 0
    }

    .founder .avatar {
        width: 100%;
        margin-right: 0
    }

    .founder .info {
        width: 100% !important;
        margin: 30px 0
    }

    .founder .info h3 {
        font-size: 28px
    }

    .founder {
        margin-top: 10px;
        padding: 30px
    }

    .share-social {
        position: relative;
        padding: 20px 0;
        bottom: 0;
        left: 0
    }

    .comment-owner {
        padding: 30px
    }

    .advantage-name {
        width: 100%
    }

    .advance-date-content {
        width: 100%;
        margin-left: 0
    }

    .sketch-img {
        width: 100%
    }

    .info-sketch {
        width: 100%;
        margin-left: 0;
        height: 100%
    }

    .gallery-property div {
        width: 100%;
        height: 240px
    }

    .gallery-property div:first-child {
        height: 240px
    }

    .left-content-news article.featured {
        padding: 0 0 20px 0
    }

    .left-content-news article.featured .cover {
        width: 100%;
        height: auto
    }

    .left-content-news article.featured header {
        width: 100%;
        padding: 20px 0 0 0
    }

    .right-content-news {
        display: block;
        width: 100%
    }

    .width1140 > h6 {
        padding: 15px 5px 0 5px !important
    }

    .thumb-duan {
        width: 100% !important
    }

    .container-fluid {
        width: 100%
    }

    .search-keyword {
        width: auto;
        font-size: 14px;
        line-height: 20px;
        height: 100%;
        max-height: 40px;
        overflow-y: hidden;
        white-space: normal
    }

    .left-list-filter {
        display: none
    }

    section.browsing article.featured {
        padding: 0;
        margin-bottom: 15px
    }

    section.browsing article.featured:nth-child(2n) {
        background: #fff
    }

    section.browsing article.featured .price {
        bottom: 15px;
        right: 15px
    }

    section.browsing article.featured .cover {
        width: 100% !important
    }

    section.browsing article.featured header {
        padding: 15px;
        width: 100%
    }

    .suggest-location li {
        width: 50%
    }

    .bgw .bgw-wp {
        padding: 0 15px
    }

    article.kdc-new:nth-child(1) {
        margin-top: 5px
    }

    article.kdc-new {
        margin-right: 15px !important;
        margin-left: 15px !important
    }

    .bgw {
        margin-top: 0
    }
}

@media only screen and (max-width: 375px) {
    .price {
        position: static;
        padding-top: 0
    }

    .searchlisting article.featured header .price {
        position: static
    }

    .searchlisting {
        width: 300px
    }

    .searchlisting article.featured header ul {
        display: none
    }

    article.featured .cover {
        height: 230px
    }

    article.featured .cover {
        height: 200px
    }

    article.featured header {
        padding: 15px
    }

    .content-detail-house header.detail-house .price a {
        font-size: .8em;
        padding-right: 5px
    }

    .nearby {
        width: 300px
    }

    .cover-nearby-off {
        transform: translateX(300px);
        -moz-transform: translateX(300px);
        -webkit-transform: translateX(300px)
    }

    .cover-nearby {
        width: 375px;
        margin-left: -300px
    }

    #slider3 {
        width: 80%;
        margin: 0 auto
    }

    #slider4 {
        width: 80%;
        margin: 0 auto
    }

    #slider {
        height: 250px
    }

    .background-detail {
        height: 250px
    }

    #slider .slides > li a {
        height: 250px !important
    }

    .fix-widthcell .naviicon .font-icon {
        font-size: 16px
    }

    .fix-widthcell .naviicon li {
        height: 60px;
        white-space: nowrap
    }

    .changeimg-box {
        height: 60px
    }

    .price-detail {
        font-size: .9em
    }

    .fix-widthcell .naviicon {
        height: 60px
    }

    .team-member .member-detail .cover img {
        width: 120px;
        height: 120px
    }

    .team-member .member-detail header {
        height: 120px;
        font-size: 1.4em;
        padding: 20px 0 20px 15px
    }

    .team-member .member-detail header {
        width: calc(100% - 120px)
    }

    .right-content-agent .infoagent .sms-button {
        margin-top: 20px
    }

    .right-content-agent p {
        padding: 0
    }

    .question-form .left-form .infoagent {
        margin-left: 0;
        width: 100%
    }

    .left-content-news article.featured .cover {
        height: 220px
    }

    article.featured {
        width: 100%;
        margin-right: 0 !important
    }

    .gallery-property div:first-child {
        height: 180px
    }

    .gallery-property div {
        width: 100%;
        height: 180px
    }

    .thumb-duan {
        float: left;
        width: 100%;
        height: auto;
        min-height: 0;
        max-height: none
    }

    .info-duan {
        float: left;
        width: 55%;
        padding: 16px 32px
    }

    .info-duan .content {
        height: auto
    }

    .info-duan {
        width: 100%;
        padding: 20px
    }

    .width1140 > h6 {
        padding: 15px 10px 0 10px !important
    }

    .browsing-tab label {
        margin-right: -3px
    }

    .detail-more li .left {
        max-width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }

    .info-project {
        display: none
    }

    article.kdc-new {
        margin-right: 15px !important;
        margin-left: 15px !important
    }
}

@media only screen and (max-width: 360px) {
    .copyright-right a {
        padding: 0
    }

    .cover-nearby {
        width: 360px;
        margin-left: -300px
    }

    .cover-nearby-off {
        transform: translateX(300px);
        -moz-transform: translateX(300px);
        -webkit-transform: translateX(300px)
    }

    .collection-box h2.bottomlable {
        font-size: 1.8em;
        letter-spacing: 1px
    }

    .collection-box h2.centerlable {
        font-size: 1.8em;
        letter-spacing: 1px
    }

    .notfound404 {
        padding: 30px 20px;
        margin: 0
    }

    .notfound404 h2 {
        font-size: 20px;
        line-height: 3.2em
    }

    .notfound404 p {
        font-size: 12px
    }

    .notfound404 a {
        font-size: 12px
    }

    article.featured {
        width: 100%;
        margin-right: 0 !important
    }

    .thumb-duan {
        float: left;
        width: 100%;
        height: auto;
        min-height: 0;
        max-height: none
    }

    .info-duan {
        float: left;
        width: 55%;
        padding: 16px 32px
    }

    .info-duan .content {
        height: auto
    }

    .info-duan {
        width: 100%;
        padding: 20px
    }
}

@media only screen and (max-width: 320px) {

    .tab-choose ul li {
        padding: 0 10px
    }

    .tab-choose ul li a {
        font-size: 16px
    }

    .info-project {
        display: none
    }

    ul.exclusive li.featured {
        max-height: 400px
    }

    #similar-property ul.exclusive li.featured header {
        max-height: 160px
    }

    .view-more-search {
        font-size: 14px
    }

    article.featured .cover {
        height: 193px
    }

    article.kdc-new {
        position: relative;
        height: 193px
    }

    .slide-time li {
        width: 26%
    }

    #slider3 {
        width: 79%;
        margin: 0 auto
    }

    #slider4 {
        width: 79%;
        margin: 0 auto
    }

    .background-detail {
        height: 320px
    }

    #slider {
        height: 320px
    }

    #slider .slides > li a {
        height: 320px !important
    }

    .nearby {
        width: 260px
    }

    .fix-widthcell .naviicon li {
        padding: 0 10px
    }

    #slider {
        height: 213px
    }

    .background-detail {
        height: 213px
    }

    #slider .slides > li a {
        height: 213px !important
    }

    .cover-nearby {
        width: 320px;
        margin-left: -260px
    }

    .cover-nearby-off {
        transform: translateX(260px);
        -moz-transform: translateX(260px);
        -webkit-transform: translateX(260px)
    }

    .fix-widthcell .naviicon li {
        display: inline-block;
        float: none
    }

    .agent-list {
        width: 100%
    }

    .agent-info .cover {
        height: 250px
    }

    .agent-info header .vote {
        position: absolute
    }

    .agent-info header {
        padding-bottom: 20px
    }

    .list-but a {
        font-size: .8em
    }

    .bank-form .right-form .sms-button {
        width: 100%
    }

    .marketing li {
        width: 100%;
        margin: 20px 0
    }

    .marketing li .cover-mkt {
        height: 180px
    }

    .wswb-menu .menuleft li a {
        margin: 0 15px
    }

    article.featured {
        width: 100%;
        margin-right: 0 !important
    }

    .left-content .heading-02 {
        line-height: 1.4em
    }

    .gallery-property div:first-child {
        height: 160px
    }

    .gallery-property div {
        width: 100%;
        height: 160px
    }

    .thumb-duan {
        float: left;
        width: 100%;
        height: auto;
        min-height: 0;
        max-height: none
    }

    .info-duan {
        float: left;
        width: 55%;
        padding: 16px 32px
    }

    .info-duan .content {
        height: auto
    }

    .info-duan {
        width: 100%;
        padding: 20px
    }

    .info-bs-price {
        position: initial
    }

}