
@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-Light.eot);
    src: url(../fonts/RV-Harmonia-Lightd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-Light.woff) format("woff"), url(../fonts/RV-Harmonia-Light.ttf) format("truetype"), url(../fonts/RV-Harmonia-Light.svg#roboto_condensedregular) format("svg");
    font-weight: 300
}

@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-Regular.eot);
    src: url(../fonts/RV-Harmonia-Regulard41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-Regular.woff) format("woff"), url(../fonts/RV-Harmonia-Regular.ttf) format("truetype"), url(../fonts/RV-Harmonia-Regular.svg#roboto_condensedregular) format("svg");
    font-weight: 400
}

@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-SemiBold.eot);
    src: url(../fonts/RV-Harmonia-SemiBoldd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-SemiBold.woff) format("woff"), url(../fonts/RV-Harmonia-SemiBold.ttf) format("truetype"), url(../fonts/RV-Harmonia-SemiBold.svg#roboto_condensedregular) format("svg");
    font-weight: 500
}

@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-Bold.eot);
    src: url(../fonts/RV-Harmonia-Boldd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-Bold.woff) format("woff"), url(../fonts/RV-Harmonia-Bold.ttf) format("truetype"), url(../fonts/RV-Harmonia-Bold.svg#roboto_condensedregular) format("svg");
    font-weight: 600
}

@font-face {
    font-family: Tiempos;
    src: url(../fonts/TiemposHeadline-Medium.eot);
    src: url(../fonts/TiemposHeadline-Mediumd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/TiemposHeadline-Medium.woff) format("woff"), url(../fonts/TiemposHeadline-Medium.ttf) format("truetype"), url(../fonts/TiemposHeadline-Medium.svg#roboto_condensedregular) format("svg");
    font-weight: 500
}

.btn-login {
    height: auto;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    padding: 0 20px;
    background: 0 0;
    white-space: nowrap
}

.btn-login:focus {
    outline: 0
}

.btn-facebook {
    color: #fff;
    background: #3c589c
}

@media (min-width: 768px) {
    .btn-facebook:hover {
        color: #fff;
        background: rgba(60, 88, 156, .86)
    }
}

.btn-google {
    color: #fff;
    background: #4a90e2;
    margin-top: 15px !important
}

@media (min-width: 768px) {
    .btn-google:hover {
        color: #fff;
        background: rgba(74, 144, 226, .86)
    }
}

.btn-primary {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    max-width: fit-content;
    min-width: fit-content;
    min-width: -moz-min-content;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap
}

.btn-primary:focus {
    outline: 0
}

.btn-red {
    color: #fff;
    background: orange
}

@media (min-width: 768px) {
    .btn-red:hover {
        color: #fff;
        background: rgba(199, 37, 40, .86)
    }
}

.btn-red-outline {
    color: orange;
    border: 1px solid orange;
    background: 0 0
}

@media (min-width: 768px) {
    .btn-red-outline:hover {
        color: #fff;
        background: orange
    }
}

.btn-black {
    color: #fff;
    background: #30333a
}

@media (min-width: 768px) {
    .btn-black:hover {
        color: #fff;
        background: rgba(48, 51, 58, .86)
    }
}

.btn-black-outline {
    color: #30333a;
    border: 1px solid #30333a;
    background: 0 0
}

@media (min-width: 768px) {
    .btn-black-outline:hover {
        color: #fff;
        background: #30333a
    }
}

.btn-blue {
    color: #fff;
    background: #00a6bd;
    border: 0;
    outline: 0
}

@media (min-width: 768px) {
    .btn-blue:hover {
        color: #fff;
        background: rgba(0, 166, 189, .86)
    }
}

.btn-blue-min {
    color: #fff;
    background: #73afba;
    border: 0;
    outline: 0
}

@media (min-width: 768px) {
    .btn-blue-min:hover {
        color: #fff;
        background: rgba(115, 175, 186, .86)
    }
}

.btn-white {
    color: #73afba;
    background: #fff
}

@media (min-width: 768px) {
    .btn-white:hover {
        color: #73afba;
        opacity: .86
    }
}

.btn-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 24px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background: rgba(48, 51, 58, .3);
    z-index: 9
}

.btn-favorite.active {
    background: #00a6bd
}

.popup-overlay {
    border: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .7)
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    overflow: hidden;
    overflow-y: auto;
    display: -webkit-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

.popup-send-info {
    position: relative;
    display: block;
    max-width: 520px;
    width: 100%;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media (max-width: 480px) {
    .popup-send-info {
        max-width: 100%;
        height: 100%
    }

    .popup-send-info .close-popup-btn {
        top: 11px;
        right: auto;
        left: 10px;
        -webkit-box-shadow: none;
        box-shadow: none;
        z-index: 1;
        background: 0 0
    }

    .popup-send-info .form-info {
        padding: 30px
    }

    .popup-send-info .form-info .per50-left {
        width: 100%
    }

    .popup-send-info .form-info .per50-right {
        width: 100%
    }
}

.popup-send-info .form-dropdown {
    position: relative;
    display: inline-block;
    height: 44px;
    border-radius: 2px;
    padding: 0 10px;
    font-size: 14px;
    color: rgba(68, 76, 89, .7);
    line-height: 44px;
    border: 1px solid rgba(131, 131, 131, .3);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 0 20px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    width: 100%
}

.popup-send-info .form-dropdown::after {
    content: "\F2F9";
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 1.2em
}

.popup-send-info .form-dropdown.active .form-dropdown-content {
    border: 1px solid rgba(131, 131, 131, .3);
    max-height: 132px;
    overflow-y: scroll
}

.popup-send-info .form-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 0 0 2px 2px;
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    max-height: 0;
    overflow: hidden;
    z-index: 10;
    padding: 0 10px
}

.popup-send-info .form-dropdown-content li.active a, .popup-send-info .form-dropdown-content li:hover a {
    color: orange
}

@media (max-width: 480px) {
    .popup-container {
        padding: 0;
        display: block;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .popup-fb-success {
        overflow: scroll
    }
}

@media screen and (max-width: 576px) {
    .popup-form-login-rv .col-sm-6 {
        width: 100%
    }
}

.popup-info-form-up-login {
    background: #f3f4f7;
}

.popup-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7)
}

.popup-login-rv {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, .7);
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.popup-login-rv .popup-fixed {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    min-height: calc(100% - (1.75rem * 2));
    margin: 1.75rem auto;
    background: 0 0
}

.popup-form-login-rv {
    position: relative;
    width: 520px;
    margin: 0 auto;
    padding: 48px;
    background: #f3f4f7;
    border: solid 1px rgba(131, 131, 131, .2)
}

.popup-form-login-rv .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px
}

.popup-form-login-rv .col-sm-6 {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px
}


.popup-form-login-rv {
    position: relative;
    width: 520px;
    margin: 0 auto;
    padding: 48px;
    background: #f3f4f7;
    border: solid 1px rgba(131, 131, 131, .2)
}

.popup-form-login-rv .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px
}

.popup-form-login-rv .col-sm-6 {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px
}

.popup-login-rv .popup-form-login-rv .login--title {
    margin-bottom: 40px;
    text-align: center;
    font-family: rv-font2;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #30333a
}

.popup-login-rv .popup-form-login-rv .avatar-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 20px
}

.popup-login-rv .popup-form-login-rv .avatar-social .cover {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden
}

.popup-login-rv .popup-form-login-rv .avatar-social .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.popup-login-rv .popup-form-login-rv .avatar-social h3 {
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5
}

.popup-login-rv .popup-form-login-rv .avatar-social .email {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #838383;
    text-align: center
}

.popup-login-rv .popup-form-login-rv .title .logo:before {
    font-family: tgnp-icon, Arial, Helvetica, sans-serif;
    content: '\f193';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange
}

.popup-login-rv .popup-form-login-rv .introduce {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px
}



.popup-login-rv .butt-groups {
    /*margin: 32px 0 0;*/
    text-align: center
}

.popup-login-rv .butt-groups .butt-primary:last-child {
    margin-bottom: 0
}

.popup-login-rv .butt-groups .butt-primary {
    max-width: 100%;
    margin-bottom: 20px;
    position: relative
}

.popup-login-rv .butt-groups .butt-primary:hover {
    opacity: .86;
    color: #fff
}

.popup-login-rv .butt-groups .butt-primary .icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 18px;
    left: 15px
}

.popup-login-rv .butt-groups .butt-primary span {
    color: #fff;
    font-size: 16px
}

.popup-login-rv .butt-groups .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange
}

.popup-login-rv .butt-groups .btn-login p {
    position: relative
}

.popup-login-rv .butt-groups .btn-login .loading-icon {
    top: 14px;
    left: -30px;
    margin: 0 10px 0 0
}

.popup-login-rv .not-account {
    text-align: center;
    margin-top: 18px
}

.popup-login-rv .have-account p, .popup-login-rv .not-account p {
    color: #444c59;
    font-size: 14px;
    opacity: .86
}

.popup-login-rv .content-forgot-pass {
    margin: 15px 0 25px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #444c59
}

.popup-login-rv .popup-form-login-rv .or-type {
    position: relative;
    display: block;
    width: 100%;
    margin: 32px 0;
    border-bottom: solid 1px rgba(48, 51, 58, .15);
    text-align: center;
    font-size: 14px;
    line-height: .1px;
    font-weight: 400;
    color: rgba(68, 76, 89, .86)
}

.popup-login-rv .popup-form-login-rv .or-type span {
    padding: 0 6px;
    background: #f3f4f7
}

.popup-login-rv .popup-form-login-rv .form-group {
    margin-bottom: 16px;
    position: relative
}

.popup-login-rv .popup-form-login-rv .form-group label {
    position: absolute;
    top: 12px;
    left: 12px;
    margin: 0;
    padding: 0;
    pointer-events: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(68, 76, 89, .7);
    transition: 250ms ease all
}

.popup-login-rv .popup-form-login-rv .form-group .error__star:after {
    content: "*";
    padding: 0 0 0 4px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: orange
}

.popup-login-rv .popup-form-login-rv .form-group input {
    width: 100%;
    height: 48px;
    line-height: 1.5;
    margin: 0;
    padding: 16px 12px 4px 12px;
    border: solid 1px rgba(48, 51, 58, .1);
    border-radius: 4px;
    font-size: 16px;
    color: #444c59;
    transition: border-color .1s ease
}

.popup-login-rv .popup-form-login-rv .form-group input:focus ~ label, .popup-login-rv .popup-form-login-rv .form-group input:focus ~ label.error__star:after {
    top: 6px;
    font-size: 10px
}

.popup-login-rv .popup-form-login-rv .form-group input:valid ~ label, .popup-login-rv .popup-form-login-rv .form-group input:valid ~ label.error__star:after {
    top: 6px;
    font-size: 10px
}

.popup-login-rv .popup-form-login-rv .form-group .form-group__grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns:repeat(6, 1fr)
}

.popup-login-rv .popup-form-login-rv .form-group .form-group__grid input {
    height: 70px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #444c59
}

.popup-login-rv .popup-form-login-rv .form-group input.disabled {
    background-color: rgba(131, 131, 131, .1);
    pointer-events: none
}

.popup-login-rv .popup-form-login-rv .form-group.email:before {
    content: ''
}

.popup-login-rv .popup-form-login-rv .popup-info-form-up-login {
    width: 100%
}

.popup-login-rv .popup-form-login-rv .popup-info-form-up-login .login--title {
    margin-bottom: 16px
}

.popup-login-rv .popup-form-login-rv .form-group.error-in input {
    border: 1px solid orange
}

.popup-login-rv .popup-form-login-rv .form-group input[type=number]::-webkit-inner-spin-button, .popup-login-rv .popup-form-login-rv .form-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.popup-login-rv .popup-form-login-rv .form-group input[type=number] {
    -moz-appearance: textfield
}

.popup-login-rv .popup-form-login-rv .form-group.error-in input.input-has-val ~ label {
    top: 6px;
    font-size: 10px
}

.popup-login-rv #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -moz-opacity: .7;
    opacity: .7;
    z-index: 100;
    display: none
}

.popup-login-rv .bottom-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0
}

.popup-login-rv .bottom-row .left .check {
    position: absolute;
    opacity: 0;
    width: auto
}

.popup-login-rv .bottom-row .left .check + label {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    font-size: 14px;
    line-height: inherit
}

.popup-login-rv .bottom-row .left .check + label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(48, 51, 58, .3);
    background: #fff;
    margin: 0 6px 4px 0;
    vertical-align: text-top
}

.popup-login-rv .bottom-row .left .check:checked + label::before {
    background: #444c59
}

.popup-login-rv .bottom-row .left .check + label:after {
    font-family: Material-Design-Iconic-Font;
    content: '\f26b';
    position: absolute;
    left: 3px;
    top: 1px;
    color: #fff;
    font-size: 14px
}

.popup-login-rv .bottom-row a.policy, .popup-login-rv .have-account p a, .popup-login-rv .not-account p a {
    padding: 0 0 0 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #337588;
    cursor: pointer
}

.popup-login-rv .change__phone-number {
    display: block;
    margin: 24px 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #337588;
    cursor: pointer
}

.popup-login-rv .bottom-row .right a {
    font-size: 14px;
    color: rgba(68, 76, 89, .5)
}


.popup-login-rv .popup-form-login-rv .popup-info-form-up {
    right: 0;
    background: #f3f4f7
}

.popup-login-rv .content-forgot-pass h6 {
    font-size: 16px;
    color: #30333a;
    line-height: 1.13;
    font-weight: 600;
    text-align: center
}

.popup-login-rv .popup-form-login-rv #login-tgnp .intro {
    margin-top: 15px
}

.popup-login-rv .error, .popup-login-rv .error-server {
    position: relative;
    display: block;
    width: 100%;
    margin: 8px 0 0;
    color: orange !important;
    font-size: 12px;
    line-height: normal
}

.popup-login-rv .error a {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    color: #335788;
    font-weight: 500
}

.popup-login-rv .popup-form-login-rv h2 {
    display: block;
    margin: 24px 0 16px;
    font-family: rv-font2;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center
}

.popup-login-rv .popup-form-login-rv .intro {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #444c49
}

.popup-login-rv .popup-form-login-rv .intro a {
    color: #337588
}

.popup-login-rv .popup-form-login-rv .icon-success-yay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0
}

.popup-login-rv .popup-form-login-rv .icon-success-yay .zmdi {
    padding: 0;
    font-size: 60px
}

.popup-login-rv #reg-success .butt-groups, .popup-login-rv #reset-pass-success .butt-groups {
    margin-top: 30px
}


@media screen and (max-width: 480px) {
    .popup-login-rv .popup-form-login-rv .form-group .form-group__grid {
        grid-gap: 6px
    }

    .popup-login-rv .popup-form-login-rv .form-group .form-group__grid input {
        height: 56px;
        line-height: 56px
    }
}

@media (max-width: 576px) {
    .popup-login-rv {
        width: 100%;
        height: 100%;
        background: #f3f4f7
    }

    .popup-login-rv .popup-fixed {
        width: auto;
        min-height: calc(100% - (.5rem * 1));
        margin: 0
    }

    .popup-login-rv .popup-form-login-rv {
        position: initial;
        width: 100%;
        padding: 30px 16px;
        border: unset;
        box-shadow: unset
    }

    .popup-login-rv .popup-form-login-rv .popup-info-form-up-login {
        padding: 30px 0
    }

    .popup-login-rv .popup-fixed .popup-form-login-rv .popup-close-btn {
        right: 18px;
        top: 14px;
        box-shadow: none;
        background: #f3f4f7
    }
}

@media (max-width: 800px) {
    .popup-login-rv .bottom-row .left .check + label {
        position: relative;
        cursor: pointer;
        display: inline-block
    }

    .popup-login-rv .bottom-row .left .check + label:before {
        vertical-align: middle
    }
}

.btn-group__account {
    display: block;
    width: 100%;
    margin: 0 0 16px
}

.btn-group__account a {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 16px 0 46px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .07);
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500
}

.btn-group__account a + a {
    margin-top: 10px
}

.btn-group__account a.btn-facebook {
    background-color: #3c589c;
    color: #fff
}

.btn-group__account a.btn-facebook:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 46px;
    height: 46px;
    margin: 2px;
    background-color: #fff;
    background-image: url(../images/icon_facebook_blue.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center
}

.btn-group__account a.btn-facebook:hover {
    opacity: .86
}

.btn-group__account a.btn-google {
    background-color: #4a90e2;
    color: #fff
}

.btn-group__account a.btn-google:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 46px;
    height: 46px;
    margin: 2px;
    background-color: #fff;
    background-image: url(../images/icon_google_2020.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center
}

.btn-group__account a.btn-google:hover {
    opacity: .86
}

.btn-group__account a.btn-apple {
    background-color: #000;
    color: #fff
}

.btn-group__account a.btn-apple:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 46px;
    height: 46px;
    margin: 2px;
    background-color: #fff;
    background-image: url(../images/icon_apple_black.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center
}

.btn-group__account a.btn-apple:hover {
    opacity: .86
}

@media (max-width: 640px) {
    .popup-feedback .butt-primary {
        font-size: 14px
    }

    .popup-feedback-fixed {
        background: #f3f4f7
    }

    .visible-pc {
        display: none
    }

    .visible-sm {
        display: block;
        text-align: left;
        font-family: rv-font1, Arial, Helvetica, sans-serif
    }

    .popup-feedback .popup-body-fb {
        width: unset;
        clear: unset;
        margin: unset;
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        height: 100vh
    }

    .popup-close-btn-sm {
        left: 15px;
        position: absolute;
        top: 12px;
        border: 0;
        background: unset;
        padding: 5px 10px
    }

    .visible-sm .header-sm {
        padding: 21px;
        box-shadow: 0 2px 10px 0 #e4e4e4
    }

    .visible-sm .header-sm h4 {
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        font-family: rv-font1, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 400
    }

    .visible-sm .content {
        padding: 30px 18px;
        border-bottom: 1px solid rgba(0, 0, 0, .1)
    }

    .visible-sm .content p {
        font-family: rv-font1, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29
    }

    .visible-sm .choose-number ul li {
        width: calc(20% - 7px)
    }

    .visible-sm .choose-number ul li:nth-child(n+6) {
        margin-top: 20px
    }

    .inner {
        display: block;
        overflow: hidden
    }

    .visible-sm .use-easy {
        margin-top: 45px
    }

    .large-butt-grey {
        font-size: 14px;
        padding: 0
    }

    .btn-use {
        height: 50px;
        min-width: unset;
        margin-right: 10px;
        width: calc(33.33% - 10px);
        text-align: center;
        padding: 0
    }

    .btn-use:last-child {
        margin-right: 0
    }

    .visible-sm .improve {
        margin-top: 40px;
        font-size: 14px
    }

    .visible-sm .improve .checkbox-sm {
        margin-top: 10px
    }

    .visible-sm .note {
        padding-top: 10px
    }

    .visible-sm .note p {
        font-weight: 400
    }

    .visible-sm .note textarea {
        resize: none;
        height: 75px;
        font-size: 14px
    }

    .visible-sm .btn {
        padding: 20px 18px
    }

    .visible-sm .btn .btn-red {
        height: 40px;
        line-height: 40px;
        color: #fff;
        border: none;
        width: 100%;
        max-width: 100%;
        font-family: rv-font1, Arial, Helvetica, sans-serif
    }

    .choose-number ul li a {
        padding: 10px 26px 6px 26px
    }

    .popup-fb-success .popup-header {
        display: none
    }

    .popup-fb-success {
        height: 100vh
    }

    .popup-fb-success .img-success {
        padding: 100px 0 15px
    }

    .popup-feedback .popup-body-fb .popup-footer {
        margin-right: 0
    }
}

@media (max-width: 768px) {
    .popup-feedback .popup-close-btn {
        top: 11px;
        right: 11px;
        background: 0 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

@media screen and (max-width: 375px) {
    .popup-confirm .popup-close-btn {
        display: none
    }
}

.popup-feedback-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    overflow: auto
}

.popup-feedback .butt-primary {
    font-size: 16px
}

.popup-feedback .popup-body-fb {
    max-width: 747px;
    background: #f3f4f7;
    margin: 0 auto;
    width: 100%
}

.popup-feedback .popup-body-fb .popup-close-btn {
    z-index: 1
}

.popup-feedback .popup-body-fb .popup-contain {
    text-align: center
}

.popup-feedback .popup-body-fb .popup-contain .intro {
    font-family: rv-font1, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #30333a;
    line-height: 1.5;
    padding-top: 50px;
    text-align: center
}

.popup-feedback .popup-body-fb .popup-contain .emotion {
    text-align: center;
    margin: 20px 0 27px 0
}

.popup-feedback .popup-body-fb .popup-contain .emotion p {
    font-size: 14px;
    color: #838383;
    font-family: rv-font1, Arial, Helvetica, sans-serif;
    line-height: 1.71;
    padding-top: 10px
}

.popup-feedback .popup-body-fb .popup-footer {
    text-align: center;
    position: relative;
    margin-right: 30px
}

.popup-feedback .popup-body-fb .popup-footer .butt-primary {
    height: 40px;
    line-height: 40px;
    min-width: 135px
}

.popup-feedback .popup-body-fb .popup-footer .butt-primary .butt-gray {
    background: #30333a;
    font-weight: 500
}

.popup-feedback .popup-body-fb .popup-footer {
    padding: 30px 0 90px
}

.popup-feedback .popup-body-fb .popup-footer .butt-red {
    background: #000;
    font-weight: 600;
    max-width: 205px
}

.popup-feedback .popup-body-fb .popup-footer .butt-transparent {
    font-weight: 600
}

.popup-feedback .popup-body-fb .popup-footer .butt-red:hover {
    opacity: .9
}

.popup-feedback .popup-body-fb .popup-footer a {
    font-family: rv-font1, Arial, Helvetica, sans-serif
}

.popup-confirm .popup-close-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    text-align: center;
    padding: 7px 12px;
    border: 0;
    cursor: pointer
}

.popup-close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    text-align: center;
    padding: 7px 12px;
    border: 0;
    cursor: pointer;
    z-index: 9999
}

.popup-close-btn:hover {
    color: orange
}

.choose-number {
    width: 100%;
    position: relative;
    margin-top: 30px;
    text-align: center
}

.choose-number ul {
    list-style-type: none;
    text-align: center;
    display: inline-block
}

.choose-number ul li {
    float: left;
    margin-right: 7px;
    vertical-align: middle;
    width: 50px;
    height: 30px;
    background: #f3f4f7;
    padding-top: 7px;
    cursor: pointer
}

.choose-number ul li:last-child {
    margin-right: 0
}

.choose-number ul li a {
    color: #838383;
    font-size: 14px;
    padding: 10px 19px 6px 19px;
    width: 50px;
    height: 30px;
    background: rgba(255, 255, 255, .77)
}

.choose-number ul li a:hover {
    background: orange;
    color: #fff
}

.choose-number ul li a.active {
    background: #30333a;
    color: #fff
}

.checkbox-option {
    padding-top: 35px
}

.checkbox-option .checkbox-pc {
    max-width: 450px;
    margin: 0 auto
}

.checkbox-option .row-fb div:last-child {
    margin-left: 60px
}

.container-cb {
    font-family: tgnp-font, Arial, Helvetica, sans-serif;
    display: block;
    text-align: left;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px
}

.container-cb input {
    position: absolute;
    /*opacity: 0;*/
    cursor: pointer;
    left: 0;
    width: 15px;
    height: 15px
}

.container-cb:hover input ~ .checkmark {
    background-color: #ccc
}

.container-cb input:checked ~ .checkmark {
    background-color: #444c59
}

.container-cb input:checked ~ .checkmark:after {
    display: block
}

.container-cb .checkmark:after {
    left: 4px;
    top: 0;
    width: 5px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.container-cb .zmdi {
    float: right
}

.row-fb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.center-item {
    justify-content: center
}

.pd-bt-68 {
    padding-bottom: 68px
}

.pd-t-39 {
    padding-top: 39px
}

.popup-title-w-back {
    background: #f3f4f7;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .05)
}

.height-title {
    height: 60px;
    display: inline;
    align-items: center;
    justify-content: center
}

.popup-font-tiempos {
    font-family: rv-font2, Arial, Helvetica, sans-serif;
    font-weight: 400
}

