@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-Light.eot);
    src: url(../fonts/RV-Harmonia-Lightd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-Light.woff) format("woff"), url(../fonts/RV-Harmonia-Light.ttf) format("truetype"), url(../fonts/RV-Harmonia-Light.svg#roboto_condensedregular) format("svg");
    font-weight: 300;
    font-display: swap
}

@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-Regular.eot);
    src: url(../fonts/RV-Harmonia-Regulard41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-Regular.woff) format("woff"), url(../fonts/RV-Harmonia-Regular.ttf) format("truetype"), url(../fonts/RV-Harmonia-Regular.svg#roboto_condensedregular) format("svg");
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-SemiBold.eot);
    src: url(../fonts/RV-Harmonia-SemiBoldd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-SemiBold.woff) format("woff"), url(../fonts/RV-Harmonia-SemiBold.ttf) format("truetype"), url(../fonts/RV-Harmonia-SemiBold.svg#roboto_condensedregular) format("svg");
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: Harmonia;
    src: url(../fonts/RV-Harmonia-Bold.eot);
    src: url(../fonts/RV-Harmonia-Boldd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RV-Harmonia-Bold.woff) format("woff"), url(../fonts/RV-Harmonia-Bold.ttf) format("truetype"), url(../fonts/RV-Harmonia-Bold.svg#roboto_condensedregular) format("svg");
    font-weight: 600;
    font-display: swap

}

@font-face {
    font-family: Tiempos;
    src: url(../fonts/TiemposHeadline-Medium.eot);
    src: url(../fonts/TiemposHeadline-Mediumd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/TiemposHeadline-Medium.woff) format("woff"), url(../fonts/TiemposHeadline-Medium.ttf) format("truetype"), url(../fonts/TiemposHeadline-Medium.svg#roboto_condensedregular) format("svg");
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: tgnp-icon;
    src: url(../fonts/TGNPIcons.eot);
    src: url(../fonts/TGNPIconsd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/TGNPIcons.woff) format('woff'), url(../fonts/TGNPIcons.ttf) format('truetype'), url(../fonts/TGNPIcons.svg#roboto_condensedregular) format('svg');
    font-display: swap
}


.title-ft {
    padding: 5px 15px 8px !important;
    font-weight: 600;
    background: #fff;
    white-space: nowrap;
    width: 100% !important
}

input::-webkit-input-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

input:-moz-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

input::-moz-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

input:-ms-input-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

::-webkit-input-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

::-moz-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

:-ms-input-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

:-moz-placeholder {
    color: rgba(131, 131, 131, .8);
    font-size: 14px
}

input[type=text], input[type=email] {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    border: 1px solid #a9a9a9
}

li {
    list-style: none
}

.visible-ts {
    display: none
}

.visible-pc {
    display: block
}

.visible-sm {
    display: none
}

.pt-10 {
    padding-top: 10px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-5 {
    padding-top: 5px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.mt-0 {
    margin-top: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-16 {
    margin-bottom: 16px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.hide {
    display: none !important
}

.title.title-res {
    display: none
}

.main-content .view-more-gray.more {
    display: none
}

.bg-gray-e6 {
    background: #edeef2;
    width: 100%
}

.bg-gray-e6:after {
    clear: both;
    display: table;
    content: ''
}

.bg-gray-e6-d {
    background: #edeef2
}

section.bg-gray-e6 div.more-info-black {
    max-width: 590px;
    padding: 0 20px
}

.slides-sketch {
    width: 100%;
    height: 100%
}

.slides-sketch li a {
    width: 100%;
    height: 100%;
    display: block
}

.slides-sketch li {
    width: 100%;
    height: 100%
}

.career-form {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 40px
}

.career-form input::-webkit-file-upload-button, .career-form input[type=file]::-webkit-file-upload-button {
    visibility: hidden
}

.career-form input[type=file]:before {
    content: attr(value);
    line-height: 1
}

.career-form input[type=email], .career-form input[type=tel], .career-form input[type=text] {
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    display: block;
    border: 1px solid #999;
    width: 100%;
    margin: 10px 0 20px
}

.career-form .hs_upload_cv input[type=file] {
    display: none;
    font-size: 16px;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    background: #dadada;
    padding: 10px 0;
    clear: both;
    cursor: pointer;
    box-sizing: border-box;
    transform-origin: 50% 50% 0
}

.career-form .hs_upload_cv .hs-field-desc {
    font-size: 16px;
    min-width: 150px;
    height: 40px;
    background: #dadada;
    padding: 10px 20px;
    font-weight: 400;
    clear: both;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    transform-origin: 50% 50% 0;
    -webkit-appearance: initial
}

.career-form .hs_upload_cv .hs-field-desc:hover {
    color: orange
}

.career-form .hs-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: #303339;
    color: #fff;
    padding: 10px 0 6px 0;
    clear: both;
    font-weight: 500;
    text-align: center;
    border: none;
    font-size: 16px;
    -webkit-transition: height 2s
}

.career-form .hs-button:hover {
    background: orange;
    color: #fff
}

.stickyTrigger {
    display: block;
    border: 1px solid rgba(48, 51, 57, .15);
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    z-index: 10;
    font-size: 16px
}

.btn-hotline {
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000 !important;
    margin: 0 10px 0 0 !important;
    border-radius: 2px;
    padding: 0 20px !important;
    font-size: 16px !important;
    color: #000 !important;
    display: block
}

.fone-b:before {
    content: "\f115";
    font-size: 1em
}

.fone-b {
    vertical-align: middle
}

.btn-red-boder {
    display: block;
    padding: 6px 10px 4px;
    font-size: 14px;
    border: 1px solid orange;
    border-radius: 2px;
    float: right;
    text-align: center;
    font-weight: 600
}

.btn-red-boder a {
    color: orange
}

.btn-red-boder:hover {
    background: orange
}

.btn-red-boder:hover a {
    color: #fff
}

.full-screen-act {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 200;
    width: 50px;
    height: 50px;
    background-image: url(../images/map_fullscreen_50x50.png);
    opacity: .8;
    transition: opacity linear 0.25s;
    -webkit-transition: opacity linear 0.25s;
    -moz-transition: opacity linear 0.25s
}

.full-screen-act.view3d {
    right: 50px
}

.full-screen-act:hover {
    opacity: 1
}

.full-screen-act.close {
    background-image: url(../images/map_close_50x50.png)
}

.full-screen-act.close:hover {
    opacity: 1
}

.form-element {
    position: relative;
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    float: left
}

.form-element:before {
    clear: both;
    width: 100%;
    content: '';
    display: table
}

.form-element .placeholder {
    pointer-events: none;
    color: rgba(68, 76, 89, .7);
    position: absolute;
    top: 0;
    max-width: 100%;
    z-index: 1;
    transition: .3s;
    transform-origin: 0 0;
    font-size: 14px;
    left: 10px;
    font-weight: 400
}

.form-element .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 0 0;
    box-sizing: border-box;
    outline: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px
}

.form-element textarea {
    font-size: 14px;
    max-width: 100%;
    resize: none
}

.form-element.focused .placeholder {
    transform: scale(.72) !important;
    line-height: 20px !important;
    margin-top: 5px
}

.contact-form .hs-form fieldset.form-columns-1 .input {
    margin: 0
}

.contact-form .hs-form fieldset.form-columns-1 .hs-input {
    width: 100%
}

.contact-form .hs-form fieldset {
    border: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 500px
}

.contact-form .hs-richtext > p {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px
}

.contact-form .hs-input{
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    display: block;
    width: 100% !important;
    border: 1px solid #a9a9a9
}

.contact-form .hs-error-msgs {
    font-size: 12px;
    color: orange;
    font-weight: 400;
    padding-top: 10px
}

.contact-form div.hbspt-form div.submitted-message {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center
}

.contact-form .hs-button {
    text-transform: uppercase;
    min-width: 160px;
    max-width: 500px;
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #30333a;
    padding: 10px 0 6px;
    clear: both;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: height 2s;
    -webkit-appearance: none;
    border: 1px solid #30333a;
    background: #fff
}

.contact-form .hs-button:hover {
    background: #303339;
    color: #fff
}

.form-contact {
    width: 50%;
    float: left;
    padding-right: 30px
}

.form-contact .contact form .hs-richtext > h5 {
    padding-bottom: 20px
}

.form-contact .hs-form {
    max-width: 100%
}

.form-contact .form-columns-2 em span {
    color: orange !important
}

.form-contact .hs-button {
    display: block;
    margin: 0 auto;
    background: #303339;
    color: #fff;
    padding: 16px 0 12px 0;
    clear: both;
    font-weight: 500;
    text-align: center;
    border-radius: 2px;
    font-size: 16px
}

.form-contact .hs-button:hover {
    background: orange
}

.form-info {
    padding: 30px 50px 40px
}

.form-info input, textarea {
    width: 100%;
    border-radius: 2px;
    padding: 18px 10px 5px;
    border: 1px solid rgba(131, 131, 131, .3)
}

.form-info .action {
    margin-top: 5px
}

.form-info .action button.large-btn-red {
    padding: 14px 0;
    width: 100%;
    text-align: center
}

.form-info .first-name {
    width: 48%;;
    float: left
}

.form-info .last-name {
    width: 48%;;
    float: right
}

.form-info .box-form .checkbox input + label:after {
    top: 4px
}

.popup-520 {
    width: 520px;
    background: #fff
}

.popup-520 > .form-info .email-field {
    width: 48%;;
    float: left;
    margin-bottom: 20px
}

.popup-520 > .form-info .phone-field {
    width: 48%;;
    float: right;
    margin-bottom: 20px
}

.popup-520 .or-direct-call p {
    text-align: left
}

.container {
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 1140px;
}

.container .inner {
    display: block;
    overflow: hidden
}

.container:after, .container:before {
    display: table;
    content: '';
    line-height: 0;
    clear: both
}

section div.width1140 div div.flex-viewport ul.slides li div.title {
    font-size: 16px;
    color: #000;
    line-height: 24px;
    text-align: center;
    padding: 20px 0 60px 0
}

.cta-bottom-wrapper {
    background: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    border: 1px solid rgba(48, 51, 57, .15);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    font-size: 16px;
    display: none
}

.cta-bottom-wrapper.listing__cta--bottom {
    height: auto;
    padding: 8px 16px;
    z-index: 2
}

.cta-bottom-wrapper.listing__cta--bottom p {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    color: #838383
}

.cta-bottom-wrapper.listing__cta--bottom p strong {
    font-weight: 500;
    color: #30333a
}

.cta-bottom-wrapper.listing__cta--bottom .cta-bottom-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cta-bottom-wrapper.listing__cta--bottom .cta-bottom-inner div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3
}

.cta-bottom-wrapper.listing__cta--bottom .cta-bottom-inner div.listing__chat {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.cta-bottom-wrapper.listing__cta--bottom .cta-bottom-inner div + div {
    margin-left: 10px
}

.cta-bottom-wrapper.listing__cta--bottom .cta-bottom-inner div .zmdi {
    padding: 0 4px 3px 0
}

.cta-bottom-inner {
    width: 100%;
    border-spacing: 10px;
    margin: 0 auto;
    position: relative;
    clear: both;
    display: table;
    height: 100%
}

.cta-bottom-inner div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50%
}

.cta-hotline {
    display: block;
    background: #34b036;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: 500
}

.cta-hotline:focus {
    color: #fff
}

.cta-hotline:hover {
    color: #fff
}

.cta-form {
    display: block;
    background: #fff;
    color: #30333a;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #30333a;
    line-height: 40px;
    font-weight: 500
}

.cta-form:focus {
    color: #30333a;
    background: #fff
}

.cta-form.request-info {
    font-size: 14px
}

.background-gray {
    background: #f4f5f9;
    width: 100%;
    padding: 10px
}

.background-gray:after {
    clear: both;
    display: table;
    content: ''
}

.background-gray .width1140 h5 {
    font-size: 28px;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase
}

section.background-gray div.width1140 div ul.icon {
    float: left;
    width: 10%;
    line-height: 24px;
    text-align: center
}

section.background-gray div.width1140 div ul.icon li img {
    height: 56px;
    width: 56px
}

section.background-gray div.width1140 div ul.icon li p {
    font-size: 16px
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0;
    font-family: 'harmonia', Arial, Helvetica, sans-serif
}

textarea:focus, button:focus, input:focus {
    outline: none
}

textarea:focus, input:focus {
    border: 1px solid rgba(131, 131, 131, 1) !important
}

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff
}

#home .agency-tgnp a {
    border: 1px solid #fff;
    color: #fff
}

#home .agency-tgnp a:hover {
    color: #fff !important
}

.agency-tgnp a {
    color: #30333a;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 500;
    max-width: fit-content;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap;
    outline: unset;
    border: 1px solid #30333a;
    min-width: 155px
}

.agency-tgnp a:hover {
    opacity: .86;
    color: #30333a !important;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media only screen and (max-width: 320px) {
    .listing-img {
        height: 250px
    }

    section.background-gray div.width1140 div ul.icon {
        width: 43%
    }

}

@media only screen and (max-width: 360px) {
    .right-content-sell {
        padding: 20px 0 0
    }

    .form-contact {
        width: 100%;
        padding: 0
    }

    section.background-gray div.width1140 div ul.icon {
        width: 44%;
        padding: 0 0 20px 0
    }
}

@media (max-width: 375px) {
    .visible-ts {
        display: block
    }

}

@media only screen and (max-width: 480px) {
    .all-img {
        bottom: 20px
    }

    #slider8 .slides .title {
        width: 100%;
        bottom: 25%;
        top: inherit
    }

    #slider8 .slides .title .name-img {
        width: 100%;
        text-align: center
    }

    #slider8 .slides .title .number {
        display: none
    }

    .title.title-res {
        display: block;
        position: fixed;
        padding: 15px;
        background: #f2f2f2;
        font-size: 18px;
        width: 100%;
        z-index: 100;
        font-weight: 500;
        overflow: hidden;
        top: 0
    }

    .popup-overlay .full-screen-act.close {
        display: none
    }

    .listing-img {
        height: 300px
    }

    .contentpx .title-career {
        padding: 30px 0
    }

    .list-prop .article div.title h3 {
        padding: 0
    }

    .list-prop .article div.action a {
        margin: 0 10px 0 0
    }

    .hs-form fieldset.form-columns-2 .input {
        margin: 0
    }
}

@media only screen and (max-width: 530px) {
    .contact-form .hs-richtext > p {
        max-width: 100%
    }

}

@media only screen and (max-width: 600px) {
    .main-content .view-more-gray.more {
        margin-top: 10px;
        border: 1px solid #ccc;
        background: 0 0;
        display: block
    }

    .main-content .view-more-gray.more a {
        text-decoration: none
    }

    .width1140 .contact-form {
        padding-bottom: 30px
    }

    .news-pro-detail {
        padding-bottom: 30px
    }

    .content-detail {
        padding-bottom: 30px
    }

    .news-pro-detail li {
        width: 100%
    }

    .career-form, .contact-form .hs-form {
        max-width: 100%
    }

    .right-content-sell-gray {
        width: 100%;
        padding: 20px 0
    }

    .right-content-sell {
        width: 100%;
        padding: 20px 0 0
    }

    .cover-left-sell {
        width: 100%
    }

 }

@media (max-width: 640px) {
    .visible-pc {
        display: none
    }

    .visible-sm {
        display: block;
        text-align: left;
        font-family: rv-font1, Arial, Helvetica, sans-serif
    }

   .visible-sm .header-sm {
        padding: 21px;
        box-shadow: 0 2px 10px 0 #e4e4e4
    }

    .visible-sm .header-sm h4 {
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        font-family: rv-font1, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 400
    }

    .visible-sm .content {
        padding: 20px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .1)
    }

    .visible-sm .choose-number ul li {
        width: calc(20% - 7px)
    }

    .visible-sm .choose-number ul li:nth-child(n+6) {
        margin-top: 20px
    }

    .visible-sm .content p {
        font-family: rv-font1, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29
    }

    .visible-sm .use-easy {
        margin-top: 20px
    }

    .visible-sm .improve {
        margin-top: 20px;
        font-size: 14px
    }

    .visible-sm .improve .checkbox-sm {
        margin-top: 10px
    }

    .visible-sm .note {
        padding-top: 10px
    }

    .visible-sm .note p {
        font-weight: 400
    }

    .visible-sm .note textarea {
        resize: none;
        height: 75px;
        font-size: 14px
    }

    .visible-sm .btn {
        padding: 20px 18px
    }

    .visible-sm .btn .btn-red {
        height: 40px;
        line-height: 40px;
        color: #fff;
        border: none;
        width: 100%;
        max-width: 100%;
        font-family: rv-font1, Arial, Helvetica, sans-serif
    }

}

@media (min-width: 768px) {
    .cta-hotline.show-phone {
        background: 0 0 !important;
        border: 1px solid orange;
        font-size: 20px;
        color: orange;
        font-weight: 500
    }

    .cta-hotline.show-phone .zmdi {
        font-size: 20px
    }
}

@media only screen and (max-width: 800px) {
    .popup-overlay .slider-buttons {
        display: none
    }

    .location-icon {
        display: table;
        padding-bottom: 20px;
        overflow: hidden
    }

    #location {
        display: none
    }

    .listpro-content {
        padding: 15px 15px 30px
    }

    .list-prop .article div.title {
        padding-left: 10px
    }

    .career-form {
        max-width: 80%;
        padding: 40px 0
    }

    .slides-sketch li {
        height: auto
    }

    .property {
        position: fixed;
        right: 0;
        left: 0;
        visibility: visible;
        opacity: 1;
        bottom: -60px;
        top: auto
    }

    section.background-gray div.width1140 div ul.icon {
        width: 45%;
        padding: 0 10px 20px 0 !important
    }

    .red-bnt {
        max-width: 100%
    }

    div.share {
        display: none
    }

    .stickyTrigger {
        position: fixed;
        right: 0;
        left: 0;
        visibility: visible !important;
        opacity: 1 !important
    }

    .CTA-img {
        display: none
    }

    .CTA-info {
        width: 100%
    }

    .cta-bottom-wrapper {
        display: block
    }
}

@media only screen and (max-width: 979px) {
    section.background-gray div.width1140 div ul.icon {
        margin-right: 17px
    }

}

@media only screen and (max-width: 1080px) {
    .info-sticky-header {
        overflow: hidden;
        border-left: 0;
        padding-left: 0;
        white-space: nowrap
    }

    .container {
        padding: 0 10px
    }

    .cta-bottom-wrapper.listing__cta--bottom {
        display: block
    }
}

@media screen and (max-width: 1176px) {
    .container {
        padding: 0 18px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

@media screen and (min-width: 1920px) {
    .listing-img {
        height: 420px
    }
}

.recent-search .search-result i {
    padding-left: 4px;
    color: #838383;
}
.recent-search .search-result a {
    text-decoration: none;
}

.heading-01 {
    font-size: 40px;
    line-height: normal;
    font-weight: 500
}

.heading-02 {
    font-size: 30px;
    line-height: normal;
    font-family: 'Tiempos', Arial, Helvetica, sans-serif;
    padding: 20px 0 20px;
    font-weight: 400;
    position: relative;
}

.heading-03 {
    font-size: 26px;
    line-height: normal;
    font-weight: 400
}

.heading-04 {
    font-size: 22px;
    line-height: normal;
    font-weight: 400
}

.heading-05 {
    font-size: 18px;
    line-height: normal;
    font-weight: 400
}

.heading-02 .rating-show {
    position: absolute;
    right: 0;
    width: 200px;
    height: 45px;
    top: 40px
}

/*
PHẦN BỔ SUNG 11/2022*/

.avatar {
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: auto;
    width: 120px;
    max-width: 160px;
}

@media (max-width: 576px) {
.avatar {
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: auto;
    width: 60px;
}
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.avatar + .avatar-content {
    display: inline-block;
    margin-left: .75rem;
}

.avatar-lg {
    width: 58px;
    height: 58px;
    font-size: 0.875rem;
}

.avatar-sm {
    width: 36px;
    height: 36px;
    font-size: 0.875rem;
}

.avatar-group .avatar {
    position: center;
    z-index: 2;
    border: 2px solid #fff;
}

.avatar-group .avatar:hover {
    z-index: 3;
}

.avatar-group .avatar + .avatar {
    margin-left: -1rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header {
  background-color: black;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  height:80px;
}*/

.flex-container {
  display: flex;
  flex: 1 1 0;
  text-align: center;
  height: 1000px;
  top:80px;
}

.flex-container h2 {
  margin-top: 30px;
  font-size: 2rem;
}

.main-section {
  background-color: rgb(255, 222, 144);
  width: calc(100% / 3);
  position:absolute;
  bottom:0;
  right:calc(100% / 3);
  left:calc(100% / 3);
  top: 0px;
  height: inherit;
  z-index: -1;
  top:80px;
}

.secondary-section {
  background-color: rgb(114, 181, 245);
  width: calc(100% / 3);
  height: 100vh;
  position: relative;
  top:80px;
}
.secondary-section.right{
  right:0;
}

