{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
    <title> Quản trị hệ thống Thế giới Nhà phố {% block title %}{% endblock %}</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

    <!-- Favicon - loaded as static -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %} " type="image/x-icon"/>
        <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
       <link href="/static/admin/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
            <!-- Icons -->
        <link href="{% static 'admin/css/nucleo.css' %}" rel="stylesheet"/>
        <!-- CSS Files -->
        <link href="{% static 'admin/css/admin-dashboard.css' %}" rel="stylesheet"/>
    {% endblock stylesheets %}

   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>


</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div id="container">

    {% if not is_popup %}
        <!-- Header -->
        {% block header %}
            <div id="header">
                <!-- Brand -->
                <a class="navbar-brand pt-0" href="/admin">
                    <img src="{% static 'img/logo.png' %}" width="80px" class="navbar-brand-img" alt="...">
                </a>
                <div id="branding">
                    {% block branding %}{% endblock %}
                </div>
                {% block usertools %}
                    {% if has_permission %}
                        <div id="user-tools">
                            {% block welcome-msg %}
                                {% translate 'Chào mừng bạn,' %}
                                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                            {% endblock %}
                            {% block userlinks %}
                                {% if site_url %}
                                    <a href="{{ site_url }}">{% translate 'Xem trang' %}</a> /
                                {% endif %}
                                {% if user.is_active and user.is_staff %}
                                    {% url 'django-admindocs-docroot' as docsroot %}
                                    {% if docsroot %}
                                        <a href="{{ docsroot }}">{% translate 'Tài liệu' %}</a> /
                                    {% endif %}
                                {% endif %}
                                {% if user.has_usable_password %}
                                    <a href="{% url 'admin:password_change' %}">{% translate 'Đổi mật khẩu' %}</a> /
                                {% endif %}
                                <a href="{% url 'admin:logout' %}">{% translate 'Đăng xuất' %}</a>
                            {% endblock %}
                        </div>
                    {% endif %}
                {% endblock %}
                {% block nav-global %}{% endblock %}
            </div>
        {% endblock %}
        <!-- END Header -->
        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'admin:index' %}">{% translate 'Trang chủ' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
        {% endblock %}
    {% endif %}

    <div class="main" id="main">
        {% block nav-sidebar %}
            <!-- Side Nav Bar -->
            {% include "admin/includes/nav_sidebar.html" %}
        {% endblock %}
        <div class="content">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <!-- Content -->

            {% include "admin/includes/navigation.html" %}

            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
                <!-- Main Content -->
                <div class="main-content">
                    {% block content %}{% block object-tools %}{% endblock %}
                        {{ content }}
                    {% endblock content %}
                </div>
                <!-- END Main Content -->
                {% block sidebar %}{% endblock %}

                <br class="clear">
            </div>

        </div>
    </div>

    {% block footer %}
        <div id="footer">
            {% include "admin/includes/footer.html" %}
        </div>{% endblock %}

</div>
<!-- END Container -->

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <!-- Scripts for Admin -->
    {% include "admin/includes/scripts.html" %}
 {% endblock javascripts %}

</body>

</html>
