{% extends "admin/includes/_layout_base.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Xóa' %}
</div>
{% endblock %}

{% block content %}
{% if perms_lacking %}
    <p>{% blocktranslate with escaped_object=object %}Việc xóa {{ object_name }} '{{ escaped_object }}' sẽ dẫn đến việc xóa các đối tượng có liên quan, nhưng tài khoản của bạn không có quyền xóa các loại đối tượng sau:{% endblocktranslate %}</p>
    <ul>
    {% for obj in perms_lacking %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% elif protected %}
    <p>{% blocktranslate with escaped_object=object %}Việc xóa {{ object_name }} '{{ escaped_object }}' sẽ yêu cầu xóa các đối tượng liên quan được bảo vệ sau:{% endblocktranslate %}</p>
    <ul>
    {% for obj in protected %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% blocktranslate with escaped_object=object %}Bạn có chắc chắn muốn xóa {{ object_name }} "{{ escaped_object }}"? Tất cả các mục có liên quan sau đây sẽ bị xóa:{% endblocktranslate %}</p>
    {% include "admin/includes/object_delete_summary.html" %}
    <h2>{% translate "Đối tượng" %}</h2>
    <ul>{{ deleted_objects|unordered_list }}</ul>
    <form method="post">{% csrf_token %}
    <div>
    <input type="hidden" name="post" value="yes">
    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
    <input type="submit" value="{% translate 'Vâng tôi chắc chắn' %}">
    <a href="#" class="button cancel-link">{% translate "Không, tôi quay trở lại" %}</a>
    </div>
    </form>
{% endif %}
{% endblock %}
