{% extends "admin/includes/_layout_base.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Trang chủ' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Xóa nhiều đối tượng' %}
</div>
{% endblock %}

{% block content %}
{% if perms_lacking %}
    <p>{% blocktranslate %}Xóa các mục đã chọn {{ objects_name }} sẽ dẫn đến việc xóa các đối tượng có liên quan, nhưng tài khoản của bạn không có quyền xóa các loại đối tượng sau:{% endblocktranslate %}</p>
    <ul>
    {% for obj in perms_lacking %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% elif protected %}
    <p>{% blocktranslate %}Xóa các mục đã chọn {{ objects_name }} sẽ yêu cầu xóa các đối tượng liên quan được bảo vệ sau:{% endblocktranslate %}</p>
    <ul>
    {% for obj in protected %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% blocktranslate %}Bạn có chắc chắn muốn xóa phần đã chọn {{ objects_name }}? Tất cả các đối tượng sau và các mục liên quan của chúng sẽ bị xóa:{% endblocktranslate %}</p>
    {% include "admin/includes/object_delete_summary.html" %}
    <h2>{% translate "Đối tượng đã chọn" %}</h2>
    {% for deletable_object in deletable_objects %}
        <ul>{{ deletable_object|unordered_list }}</ul>
    {% endfor %}
    <form method="post">{% csrf_token %}
    <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}">
    {% endfor %}
    <input type="hidden" name="action" value="delete_selected">
    <input type="hidden" name="post" value="yes">
    <input type="submit" value="{% translate 'Vâng tôi chắc chắn' %}">
    <a href="#" class="button cancel-link">{% translate "Không, tôi muốn quay lại" %}</a>
    </div>
    </form>
{% endif %}
{% endblock %}
