{% load i18n %}

{% with choices.0 as choice %}
    <form method="get">
        {% for k, v in choice.request.GET.items %}
            {% if not k == choice.parameter_name|add:'_from' and not k == choice.parameter_name|add:'_to' %}
                <input type="hidden" name="{{ k }}" value="{{ v }}">
            {% endif %}
        {% endfor %}

        <div class="row">
            <label class="col-3 col-lg-3">{% blocktrans with filter_title=title %}{{ filter_title }}{% endblocktrans %}:</label>
            <div class="admin-filter-{{ title|cut:' ' }} col-5 row">
                <div class="admin-numeric-filter-wrapper-group row">
                    {{ choice.form }}
                </div><!-- /.filter-numeric-filter-wrapper-group -->
            </div>
        <div><button type="submit" class="btn-primary" style="height: 30px">{% trans 'Áp dụng' %}</button></div>

         </div>

    </form>
{% endwith %}
