{% extends 'admin/includes/_layout_base.html' %}

{% load static i18n account %}
 {% block title %}
        <title>{% trans "Đăng nhập Thế Giới Nhà Phố" %} </title>
        <meta name="title" content="{% trans "Đăng nhập Thế Giới Nhà Phố" %}"/>
        <meta property="og:title" content="{% trans "Đăng nhập Thế Giới Nhà Phố" %} "/>
    {% endblock %}
    {% block description %}
        <meta name="description" content="Mời bạn sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang Quản trị hệ thống Thế giới Nhà phố. Uy tín - Tận tâm - Chân thành. ĐT:0916286256 - 0964399436"/>
    <meta property="og:description"
          content="Mời bạn sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang Quản trị hệ thống Thế giới Nhà phố. Uy tín - Tận tâm - Chân thành. ĐT:0916286256"/>
    {% endblock %}
    {% block keywords %}
        <meta name="keywords"
          content="đăng nhập quản trị hệ thống thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
        <meta property="og:keywords"
          content="đăng nhập quản trị hệ thống về thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    {% endblock %}
{% block head %}
      {{ block.super }}
      <link rel="canonical" href="https://thegioinhaphovietnam.com.vn/admin/login"/>
    {% endblock %}
{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5" >
        <div class="row" style="justify-content: center">
                    <p><h1>Đăng nhập hệ thống quản trị Thế Giới Nhà Phố</h1></p>
                   <p><h5>Chào mừng bạn đến với bất động sản Thế Giới Nhà Phố</h5></p>
                   <p><span>Mời bạn sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang quản trị hệ thống Thế Giới Nhà Phố. Theo dõi thông tin nhà đất mới nhất, đăng ký xem nhà miễn phí và thương lượng mức giá mong muốn. Với lợi thế về công nghệ và dịch vụ hoàn hảo, Thế giới Nhà Phố giúp bạn tiết kiệm đáng kể chi phí, công sức và thời gian.</span></p>
                   <p class="hidden"><span>Ra đời chính thức từ năm 2020, TGNP là công ty công nghệ trong lĩnh vực môi giới bất động sản. Tại TGNP, chúng tôi sử dụng công nghệ giúp quá trình mua bán được dễ dàng hơn và xây dựng lòng tin cho khách hàng thông qua việc cung cấp các công cụ so sánh giá bằng cách sử dụng hệ thống phân tích dữ liệu thị trường, theo dõi danh sách tài sản đang niêm yết, kết hợp với công nghệ truyền thông tương tác, quản lý giao dịch trực tuyến để mang lại giá trị tốt nhất cho người mua và người bán nhà. Đồng thời, TGNP còn trang bị cho các môi giới hệ thống quản lý khách hàng (Smart CRM) và cơ sở dữ liệu, nhằm mục đích trở thành điểm đến cho mọi nhu cầu liên quan đến chỗ ở.</span></p>
                   <p class="hidden"><span>Chuyên viên TGNP - được đào tạo chuyên nghiệp, trải qua nhiều khóa học đào tạo chuyên sâu nhất, đặc biệt rất am hiểu thị trường theo từng khu vực, luôn đặt sự hài lòng của Khách Hàng là mục tiêu cao nhất. Với vai trò là người đồng hành hỗ trợ bạn trong suốt quá trình Mua / Bán/ Thuê / Cho Thuê, chuyên viên TGNP sẽ tư vấn kỹ càng cho bạn về xu hướng & biến động thị trường, phân tích đầu tư, thông tin quy hoạch, tiện ích, và cộng đồng cư dân ở khu vực bạn quan tâm, đưa ra những gợi ý phù hợp nhất ứng với nhu cầu và tình hình tài chính của bạn.</span></p>
                   <p class="hidden"><span>Mời bạn sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang quản trị hệ thống Thế Giới Nhà Phố</span></p>

            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5">
                        <div class="text-center text-muted mb-4">
                            {% if msg %}
                                <p>{{ msg | safe }}</p>
                            {% endif %}
                        </div>
                        <form method="POST" action="{% url 'login' %}">

                            {% csrf_token %}
                            <p><h5>Đăng nhập quản trị</h5></p>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i>&nbsp; Người dùng</span>
                                    {{ form.username }}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend" style="width: -moz-available">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i>&nbsp; Mật khẩu</span>
                                            {{ form.password }}
                                    </div>

                                </div>
                            </div>

                            {% comment %}                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span class="text-muted">Ghi nhớ</span>
                  </label>
                </div>{% endcomment %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Đăng nhập với tài khoản TGNP</button>
                            </div>
                        </form>
                        <div class="btn-wrapper text-center">
                            {% comment %}<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="{% static 'img/Facebook.svg' %} "></span>
                                <span class="btn-inner--text">Đăng nhập với tài khoản Facebook</span>
                            </a>{% endcomment %}
                            {% comment %}<a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="{% static 'img/google.svg' %} "></span>
                                <span class="btn-inner--text">Google</span>
                            </a>{% endcomment %}
                        </div>
                    <hr/>
                     <div class="text-muted text-center mt-2 mb-3"><small>Nếu bạn chưa có tài khoản</small></div>
                        <b><h4 align="center"><a href={% url 'register' %}>Tạo tài khoản thành viên mới</a></h4></b>
                    </div>
{% comment %}                    <div class="card-header bg-transparent">
                        <div class="text-muted text-center mt-2 mb-3"><small>Đăng nhập với</small></div>

                    </div>{% endcomment %}
                </div>
                {% comment %}<div class="row mt-3">
            <div class="col-6"><h4>
              <a href="{% url 'register' %}" class="text-blue"><small>Đăng ký</small></a>
                </h4>
            </div>
            <div class="col-6 text-right">
              <a target="_blank"
                 href="#" class="text-blue"><small>Hỗ trợ trực tiếp</small></a>
            </div>
          </div>{% endcomment %}
            </div>
        </div>
    </div>

{% endblock content %}

