{% extends "admin/includes/_layout_base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Trang trống</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item active">khởi đầu</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">

                    <p>Thêm nội dung ở đây</p>

                </div>                
            </div>
        </div>
    </main>
                
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
