{% extends 'admin/base_site.html' %}

{% load static i18n %}
{% block title %} {% trans 'Thông tin cá nhân' %} {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 600px; background-image: url({% static 'admin/img/team-1-800x800.jpg' %}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{% trans 'Chào bạn' %} {{ request.user.username }}</h1>
            <p class="text-white mt-0 mb-5">{% trans 'Đây là trang hồ sơ cá nhân của bạn. Bạn có thể xem công việc đã thực hiện, quản lý các dự án hoặc nhiệm vụ được giao' %} </p>
            <a href="#!" class="btn btn-info">{% trans 'Sửa thông tin cá nhân' %}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="/admin/profile">
                    <img src="{% static 'admin/img/team-4-800x800.jpg' %}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4">DS giao dịch</a>
                <a href="#" class="btn btn-sm btn-default float-right">DS giới thiệu</a>
              </div>
            </div>
            <div class="row card-body pt-0 pt-md-4">
              <div class="text-center">
                <h3>
                  Anh/chị: {{ request.user.username }}
                </h3>
                <div class="h5 font-weight-300">
                  {{ request.user.email }}
                </div>

                <div class="h5 mt-4">

                  <i class="ni business_briefcase-24 mr-2"></i>Giám đốc Kinh doanh - Hoàng Mai
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Chuyên viên Cấp 6
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>Danh hiệu: Chuyên gia chốt nhà tỷ phú giỏi
                </div>
                <hr class="my-4" />

                    <div>
                      <span class="description">Điểm uy tín</span>
                      <span class="heading">22</span>

                      <span class="description">Mức uy tín</span>
                      <span class="heading">5*</span>

                      <span class="description">Điểm giới thiệu BĐS</span>
                      <span class="heading">10</span>

                      <span class="description">Điểm giới thiệu khách</span>
                      <span class="heading">24</span>

                  </div>

                  <div class="h5 mt-4">

                  <i class="ni business_briefcase-24 mr-2"></i>Tài khoản đầu tư (1 Điểm = 1 triệu)
                      <span class="heading">100 điểm </span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Tài khoản cá nhân</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Thiết lập</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">Thông tin cá nhân</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Tên đăng nhập</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" 
                               value="{{ request.user.username }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" 
                               placeholder="{{ request.user.email }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Họ Tên</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Số điện thoại</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" >
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Thông tin liên hệ</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Địa chỉ</label>
                        <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Quận/Huyện</label>
                        <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Tỉnh/Thành phố</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Về tôi</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>Giới thiệu</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock content %}

