
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-5">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank" 
                 href="https://www.thegioinhaphovietnam.com.vn"
                 class="font-weight-bold ml-1"> Bất động sản Thế giới Nhà Phố</a>
            </div>
          </div>
          <div class="col-xl-5">
            <div class="text-center text-xl-right text-muted">
              <a href="https://www.thegioinhaphovietnam.com.vn"
                 class="font-weight-bold ml-1" target="_blank"> &copy; Ban kỹ thuật</a>
                 - lập trình bởi Team phần mềm.
            </div>
          </div>
        </div>
      </footer>
