{% load static load_static i18n %}

<head>
    <!-- Favicon - loaded as static -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %} " type="image/x-icon"/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=1, width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
        <title>{% trans "Quản trị hệ thống Thế giới Nhà phố" %} </title>
        <meta name="title" content="{% trans "Quản trị hệ thống Thế giới Nhà phố" %}"/>
        <meta property="og:title" content="{% trans "Quản trị hệ thống Thế giới Nhà phố" %} "/>
    {% endblock %}
    {% block description %}
        <meta name="description" content="sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang Quản trị hệ thống Thế giới Nhà phố. Uy tín - Tận tâm - Chân thành. ĐT:0916286256 - 0964399436"/>
        <meta property="og:description"
          content="sử dụng tài khoản đã đăng ký và cấp quyền truy cập vào trang Quản trị hệ thống Thế giới Nhà phố. Uy tín - Tận tâm - Chân thành. ĐT:0916286256 - 0964399436"/>
    {% endblock %}
    {% block keywords %}
        <meta name="keywords"
          content="quản trị hệ thống thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
        <meta property="og:keywords"
          content="quản trị hệ thống về thế giới nhà phố, siêu thị nhà phố, nhà phố việt nam, thế giới nhà phố, thổ cư Hà Nội, nhà đẹp, nhà rẻ, bán nhà Hoàng Mai, bán nhà Thanh Xuân, bán nhà Hà Nội, bất động sản, bán đất, cho thuê, bán nhà"/>
    {% endblock %}
    {% block head %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">
    {% endblock %}

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
        <!-- Style sheet CSS for admin page -->
        {% comment %}{% if not is_popup and is_nav_sidebar_enabled %}{% endcomment %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
        {% comment %}{% endif %}{% endcomment %}

        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css"
                  href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">
        {% endif %}

        {% block responsive %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">
            {% endif %}
        {% endblock %}
        <link href="{% static "admin/css/base.css" %}" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS for admin page -->
        <link href="{% static "admin/css/nucleo.css" %}" rel="stylesheet"/>
        <link href="{% static "admin/css/custom-dashboard.css" %}" rel="stylesheet" type="text/css"/>
{#        <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css"/>#}

    {% endblock stylesheets %}

  {% block extrahead %}{% endblock %}

  {% block extrastyle %}{% endblock %}

    <!-- Core -->
    {% block javascripts %}
        <!--   Core   -->
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous" async></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" async></script>
    {% endblock javascripts %}

</head>