{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<!-- Head html-->
{% include 'admin/includes/_head.html' %}
<!-- End head html -->

<body>
<!-- Messages -->
{% block messages %}
    {% if messages %}
        <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
    {% endif %}
{% endblock messages %}
<!-- End Messages -->

<!-- Header -->
<div class="header py-12 py-lg-12">
    <div class="container" >
        <div class="header-body text-center mb-12" style="justify-content: center">
            {% comment %}<a class="pt-0" href="{% url "admin" %}">
                    <img src="{% static 'img/logo.svg' %}" width="80px" class="navbar-brand-img" alt="...">
                </a>{% endcomment %}
            <!-- Brand -->
            <div class="navbar-brand col-md-1 col-sm-2 col-xs-2" style="width: 20%;">

                <div id="branding">
                    {% block branding %}{% endblock %}
                </div>
            </div>
            {% comment %}<div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h2 class="text-black" >
                  {% trans "Chào mừng Bạn gia nhập THẾ GIỚI NHÀ PHỐ" %}
              </h2>
              <p class="text-lead text-blue">
                {% trans "Chúng tôi luôn sẵn sàng đón nhận bạn, chia sẻ cơ hội kiếm thêm thu nhập, hợp tác, cùng phát triển. Còn chờ gì nữa? Hãy gia nhập trở thành thành viên thành công nhất!" %}
              </p>
            </div>
          </div>{% endcomment %}
        </div>
    </div>
</div>

{% block content %}{% endblock content %}

{% include "admin/includes/_footer.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <!--   Core   -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock javascripts %}

</body>

</html>
