{% load static i18n admin_urls admin_modify %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="{{ LANGUAGE_CODE|default:"vi" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<!-- Head html-->
<head>
  {% include 'admin/includes/_head.html' %}

  {% block stylesheets %} {% endblock %}

  {% block extrahead %}{% endblock %}

  {% block extrastyle %}{% endblock %}
</head>
<!-- End head html -->

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div id="container">

    <!-- Header admin page-->
    {% block header %}
        <div id="header">
            {% include "admin/includes/_headerbar.html" %}
        </div>
        {% block nav-global %}{% endblock %}
    {% endblock %}
    <!-- END Header -->

    <!-- Breadcrumbs -->
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}"><i class="fas fa-home"></i></i> {% translate 'Trang chủ quản trị' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
    {% endblock %}
    <!-- END Breadcrumbs -->

    <!-- Main -->
    <div class="main shifted" id="main">
      {% comment %}{% if not is_popup and is_nav_sidebar_enabled %}{% endcomment %}
        {% block nav-sidebar %}
            <!-- Side Nav Bar menu-->
            {% include "admin/includes/_nav_sidebar.html" %}
        {% endblock %}
      {% comment %}{% endif %}{% endcomment %}
      <div class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% comment %}{% block sidebar %}{% endblock %}{% endcomment %}
          <br class="clear">
        </div>
        <!-- END Content -->

        </div>
    
    </div>
    <!-- END Main Content -->

    <!-- Header -->
    {% block footer %}
        <div id="footer">
            {% include "admin/includes/_footer.html" %}
        </div>
    {% endblock %}
    <!-- END Header -->

</div>
<!-- END Container -->

<!-- Specific JS goes HERE -->
{% block javascripts %}
    {% include "admin/includes/_scripts_common.html" %}
{% endblock javascripts %}

</body>

</html>
