{% load static load_static %}
<!--   Scripts Django admin   -->
{% comment %}{% if not is_popup and is_nav_sidebar_enabled %}{% endcomment %}
  <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
{% comment %}{% endif %}{% endcomment %}

<!--   Optional JS   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
<script src="{% static 'admin/js/Chart.min.js' %} "></script>
<script src="{% static 'admin/js/Chart.extension.js' %} "></script>
<!--   G.Maps   -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWKbev18w2O63PfjhgpyU6DWvL6G4DCCc"></script>
<!--   Admin JS   -->
<script src="{% static 'admin/js/admin-dashboard.min.js' %} "></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/static/admin/demo/datatables-demo.js"></script>
{% comment %}
<script type="text/javascript">
    $(document).ready(function () {
        $('*').bind('cut copy paste contextmenu', function (e) {
            e.preventDefault();
        })
    });
</script>{% endcomment %}
