 {% load static i18n %}
    <div id="layoutSidenav">
        {% include 'admin/includes/navigation.html' %}
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">

                {% include 'admin/includes/sidebar-inner.html' %}

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="main-content">
                     {% block breadcrumbs %}
                        <div class="breadcrumbs">
                            <a href="{% url 'admin:index' %}">{% translate 'Trang chủ' %}</a>
                            {% if title %} &rsaquo; {{ title }}{% endif %}
                        </div>
                    {% endblock %}
                    {% block content %}{% block object-tools %}{% endblock %}
                        {{ content }}
                    {% endblock content %}
             </div>


            {% include 'admin/includes/footer.html' %}

        </div>
    </div>

