{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
    {% block head %} {% endblock %}
</head>

<body>
  <!-- Top Bar -->
{% comment %}  {% include 'partials/_topbar.html' %}{% endcomment %}
  <!-- NavBar -->
  {% include 'partials/_navbar.html' %}
    <!-- Banner -->
  {% comment %}{% include 'partials/_banner.html' %}{% endcomment %}
    <!-- Main Content -->
  {% block content %} {% endblock %}

    <!-- Footer -->
  {% include 'partials/_footer.html' %}

    <!-- Scripts -->
  {% block scripts %} {% endblock %}

    <!-- Chống sao chép website-->
    <script type="text/javascript">
    $(document).ready(function(){
    $('*').bind('cut copy paste contextmenu', function (e) {
        e.preventDefault();
    })});
    </script>

</body>

</html>