{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="{{ LANGUAGE_CODE|default:"vi" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
  {% include 'partials/_head.html' %}
  {% block head %} {% endblock %}
  {% block head_script %}
    <script>
        const vnf_regex = /^((09|03|07|08|05)+([0-9]{8})\b)/;
        const phone12 = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        const email_regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        const houseTypes = [
            {type: 'town_house', text: 'Nhà phố'},
            {type: 'shop_house', text: 'Cửa hàng'},
            {type: 'apartment', text: 'Căn hộ'},
            {type: 'land', text: 'Đất nền'},
            {type: 'land_business', text: 'Mặt bằng kinh doanh'},
            {type: 'villa', text: 'Biệt thự'}
        ];

        function waitFor(variable, callback) {
            const waitInterval = setInterval(function () {
                if (window[variable]) {
                    clearInterval(waitInterval);
                    callback();
                }
            }, 200);
        }
    </script>
  {% endblock %}
  {% block optional_styles %}{% endblock %}
</head>

<body>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Main Content -->
{% block content %} {% endblock %}

<!-- Footer -->
{% include 'partials/_footer.html' %}

<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div class="fb-customerchat"
     attribution="biz_inbox"
     page_id="108470991299693">
</div>

<!-- Scripts -->
{% include 'partials/_scriptsCommon.html' %}

{% block scripts %}
{% endblock %}

</body>

</html>