{% load static i18n %}

<header id="home" class="main-header">
    <div class="col-left">
        <div class="top-menu">
            <ul>
                <li class="sub-menu">
                    <a href="{% url 'index' %}" class="btn-menu">Trang chủ</a>
                </li>

                {% include "menu/_subMenuBuy.html" %}
                {% include "menu/_subMenuRent.html" %}
                {% include "menu/_subMenuBuySellNews.html" %}
                {% include "menu/_subMenuProject.html" %}
                {% include "menu/_subMenuSupport.html" %}
            </ul>
        </div>

        <div class="logo">
            <a href="{% url 'index' %}" class="btn-menu" title="Thế giới Nhà Phố logo">
                <img src="{% static 'img/logo-nen-trang.svg' %}" alt="Thế giới Nhà Phố">
            </a>
        </div>

        <div class="main-nav-menu">
            <div class="main-nav-menu__head">
                <a href="{% url 'index' %}" class="logo btn-menu">
                    <img src="{% static 'img/logo-ko-chu.svg' %}" alt="Thế giới Nhà Phố" title="thegioinhaphovietnam.com.vn">
                </a>
                <button class="close__main-menu" title="Đóng">
                    <i class="zmdi zmdi-close"></i>
                </button>
            </div>
            <ul>
                <li class="sub-menu">
                    <a href="{% url 'index' %}" class="btn-menu">Trang chủ</a>
                </li>
                <li>
                    <a href="{% url "postlistings" %}" class="btn-menu"> <i
                            class="zmdi zmdi-comment-edit"></i> {% translate 'Đăng Bán/Cho thuê miễn phí' %}</a>
                </li>
                {% include "menu/_subMenuBuy.html" %}
                {% include "menu/_subMenuRent.html" %}
                {% include "menu/_subMenuBuySellNews.html" %}
                {% include "menu/_subMenuProject.html" %}
                {% include "menu/_subMenuSupport.html" %}
                {% include "menu/_subMenuUserProfile.html" %}

            </ul>
        </div>
        <div class="main-nav-menu__overlay"></div>
    </div>
    <div class="col-center">
        <div class="logo-large">
            <a href="{% url 'index' %}" title="Thế giới Nhà Phố logo" class="btn-menu">
                <img src="{% static 'img/logo-nen-trang-co-chu.svg' %}" style="height: 100px; width: 100px" alt="Thế giới Nhà Phố" title="Thế giới Nhà Phố">
            </a>
        </div>
    </div>
    <div class="col-right">
        <div class="top-menu">
            <ul>
                <li>
                    <a href="tel:0964399436" aria-label="0964399436" title="Gọi 0964399436">
                        <i class="zmdi zmdi-phone"></i>
                        <span>0964399436</span>
                    </a>
                    <button title="Menu" class="menu-humber">
                        <i class="zmdi zmdi-menu" style="color: white;"></i>
                    </button>
                </li>
            </ul>
        </div>

        <div class="login top-menu">
            <ul {% comment %} class="welcome-user"{% endcomment %}>
                {% include "menu/_subMenuUserProfile.html" %}
            </ul>
            <div class="agency-tgnp">
                <a href="{% url "postlistings" %}" title="Đăng tin nhà đất"><i
                        class="zmdi zmdi-edit"></i> {% translate 'Đăng tin BĐS miễn phí' %}</a>
            </div>
        </div>
    </div>

    <div class="search-mobile-component" init-title="TP. Hà Nội" keyword="TP. Hà Nội"
         placeholder="Nhập địa điểm, khu dân cư, tòa nhà cần tìm"></div>
</header>
