{% load load_static humanize i18n %}

{% comment %}{% include "listings/_contactPopupTemplate.html" %}{% endcomment %}

<div class="cta-bottom-wrapper">
  <div class="cta-bottom-inner">
    <div class="phone">
      <a class="cta-hotline" href="tel:0964399436"><span class="font-icon fone-b font-20"> </span>
        <strong>09 6439 9436</strong></a>
    </div>
    <div class="btn-contact">
      <a class="cta-form" href="#" data-action="contact-agent">ĐĂNG KÝ NGAY</a>
    </div>
  </div>
</div>
<div class="s-menu about-menu">
  <div class="width-1600">
    <div class="s-menu-wrapper">
      <ul>
        <li class="s-menu-items {% if 'about' in path %} active {% endif %}"><a href="{% url 'about' %}">Giới thiệu TGNP</a>
        </li>
        <li class="s-menu-items {% if 'specialist_us' in path %} active {% endif %}">
          <a href="{% url 'specialist_us' %}">Đội ngũ chuyên viên</a>
        </li>

        {% comment %}<li class="s-menu-items">
                        <a href="#">Phòng giao dịch</a>
                    </li>{% endcomment %}

        <li class="s-menu-items {% if 'recruitment' in path %} active {% endif %}">
          <a href="{% url 'recruitment' %}">Tuyển dụng</a>
        </li>
        <li class="s-menu-items {% if 'contacts' in path %} active {% endif %}">
          <a href="{% url 'contacts' %}">Liên hệ</a>
        </li>

         <li class="s-btn-contact">
                  <a href="javascript:void(0)" data-action="contact-agent" data-target="contact-agent" class="s-btn-red btn-contact">Liên hệ tư vấn</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="sticky-header">
    <div class="stickyTrigger is-stuck sticky-sMenu">
        <div class="s-menu-wrapper">
            <ul>
        <li class="s-menu-items {% if 'about' in path %} active {% endif %}"><a href="{% url 'about' %}">Giới thiệu TGNP</a>
        </li>
        <li class="s-menu-items {% if 'specialist_us' in path %} active {% endif %}">
          <a href="{% url 'specialist_us' %}">Đội ngũ chuyên viên</a>
        </li>

        {% comment %}<li class="s-menu-items">
                        <a href="#">Phòng giao dịch</a>
                    </li>{% endcomment %}

        <li class="s-menu-items {% if 'recruitment' in path %} active {% endif %}">
          <a href="{% url 'recruitment' %}">Tuyển dụng</a>
        </li>
        <li class="s-menu-items {% if 'contacts' in path %} active {% endif %}">
          <a href="{% url 'contacts' %}">Liên hệ</a>
        </li>

         <li class="s-btn-contact">
                  <a href="javascript:void(0)" data-action="contact-agent" data-target="contact-agent" class="s-btn-red btn-contact">Liên hệ tư vấn</a>
        </li>
      </ul>
        </div>
    </div>
</div>

<script async type="text/javascript" src="{% load_static 'js/property-contact-box.js' %}"></script>