{% load static i18n %}

<li class="sub-menu">

    {% if user.is_authenticated %}
        <a style="{% comment %} line-height: 1em;{% endcomment %} color: orange">
                     Chào bạn {{ user.name }}&nbsp;<i class="zmdi zmdi-chevron-down"> </i></a>
    {% else %}
        <div class="login">
        <a href="#login" title="Đăng nhập / Đăng ký" class="btn-login"
                 style="color: yellowgreen"><i class="fa fa-user-lock"></i> {% translate 'Đăng nhập/ Đăng ký' %}</a>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title" style="z-index: 5">
                <h6 class="text-overflow m-0">CHỨC NĂNG CHÍNH!</h6>
            </div>
            <a href="./admin/listings/listing/add/"> <i class="fa fa-user-edit"></i> {% translate 'Đăng tin' %}</a>
            {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=True %}
            <div class="dropdown-divider"></div>
            <a href="{% url "profile" %}" class="dropdown-item">
                <i class="ni ni-archive-2"></i>
                <span>Quản lý cá nhân</span>
            </a>
            {% comment %}<a href="{% url "profile" %}" class="dropdown-item">
                                <i class="ni ni-settings-gear-65"></i>
                                <span>Thiết lập</span>
                            </a>{% endcomment %}
            {% comment %}<a href="#" target="_blank" class="dropdown-item">
                                <i class="ni ni-support-16"></i>
                                <span>Hỗ trợ</span>
                            </a>{% endcomment %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}" target="_blank" class="dropdown-item">
                        <i class="ni ni-shop"></i><span>{% translate 'Trang sản phẩm' %}</span>
                    </a>
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate 'Tài liệu' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'password_change' %}" target="_blank"
                       class="dropdown-item">
                        <i class="fa fa-user-cog"></i><span>{% translate 'Đổi mật khẩu' %}</span>
                    </a>
                {% endif %}
            {% endblock %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item">
                <i class="fa fa-user-lock"></i>
                <span>Đăng xuất</span>
            </a>
        </div>
        <ul>

            <li>
                <a href="{% url 'my_listing' %}"> <i class="fa fa-newspaper"></i> {% translate 'Danh sách tin đăng của tôi' %}</a>
            </li>
            <li class="dropdown-divider divide"></li>
            {% if user.is_staff or user.is_superuser %}
                <li>
                    <a href="{% url "admin" %}"> <i class="fa fa-chart-area"></i> {% translate 'Trang quản trị' %}
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url "profile" %}"> <i class="fa fa-user-edit"></i> {% translate 'Trang cá nhân' %}</a>
            </li>
            <li class="dropdown-divider divide"></li>
            <li>
                <a href="{% url 'transaction' %}"> <i class="fa fa-exchange-alt"></i> {% translate 'Danh sách giao dịch' %} </a>
            </li>
            <li>
                <a href="{% url 'customer' %}"> <i class="fa fa-passport"></i> {% translate 'Danh sách khách hàng' %}</a>
            </li>
            <li>
                <a href="{% url 'my_listing' %}"> <i class="fa fa-building"></i> {% translate 'Danh sách bất động sản' %}</a>
            </li>
            {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <li>
                        <a href="{{ docsroot }}">{% translate 'Tài liệu' %}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% comment %}            <li>
                <a href="#" target="_blank"><i class="ni ni-support-16"></i> {% translate 'Hỗ trợ' %}</a>
            </li>{% endcomment %}
            <li class="dropdown-divider divide"></li>
            {% if user.has_usable_password %}
                <li>
                    <a href="{% url 'password_change' %}"><i
                            class="fa fa-user-cog"></i> {% translate 'Đổi mật khẩu' %}</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'logout' %}"><i class="fa fa-user-lock"></i> {% translate 'Đăng xuất' %}</a>
            </li>

        </ul>
    {% endif %}

</li>
