<li class="sub-menu">
   <a href="#" class="btn-menu" title="Đăng tin rao bất động sản nhanh chóng">
        <span>Tin rao chính chủ</span>
        <i class="zmdi zmdi-chevron-down"></i>
    </a>
  <ul>
    <li>
        <a href="{% url 'listing_search' %}?trans=sell&adv=True&so=priority">Tin rao Bán</a>
    </li>
    <li class="divide"></li>
    <li>
      <a href="{% url 'listing_search' %}?trans=rent&adv=True&so=priority"
         data-mix-header-click="group: buy, action: select_all_buy">Tin rao Cho Thuê</a>
    </li>
  </ul>
</li>