<li class="sub-menu">
  <a href="{% url 'mylistingpost' %}">
    <span>Tin rao chính chủ</span>
    <i class="zmdi zmdi-chevron-down"></i>
  </a>
  <ul>
    <li>
        <a href="{% url 'listing_search' %}?trans_type=sell&advertising=True&sort=priority">Tin rao Bán</a>
    </li>
    <li class="divide"></li>
    <li>
      <a href="{% url 'listing_search' %}?trans_type=rent&advertising=True&sort=priority"
         data-mix-header-click="group: buy, action: select_all_buy">Tin rao Cho Thuê</a>
    </li>
  </ul>
</li>