{% load static i18n %}

<li class="sub-menu">

    {% if user.is_authenticated %}
        <a href="#" class="btn-menu">
            <span>Chào bạn {{ user.name }}</span>
            <i class="zmdi zmdi-chevron-down"></i>
        </a>

        <ul>
            <li>
                <a href="{% url 'mylistingpost' %}"> <i
                        class="zmdi zmdi-collection-text"></i> {% translate 'Tin đăng rao vặt của tôi' %}</a>
            </li>
            <li class="dropdown-divider divide"></li>
            {% if user.is_staff or user.is_superuser %}
                <li>
                    <a href="admin/"> <i class="zmdi zmdi-settings"></i> {% translate 'Trang quản trị' %}
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url "profile" %}"> <i class="zmdi zmdi-account-box-o"></i> {% translate 'Trang cá nhân' %}</a>
            </li>
            <li class="dropdown-divider divide"></li>
            <li>
                <a href="{% url 'transaction' %}"> <i
                        class="zmdi zmdi-swap"></i> {% translate 'Danh sách giao dịch' %} </a>
            </li>
            <li>
                <a href="{% url 'customer' %}"> <i class="zmdi zmdi-accounts-alt"></i> {% translate 'Danh sách khách hàng' %}
                </a>
            </li>
            <li>
                <a href="{% url 'mylisting' %}"> <i class="zmdi zmdi-shopping-basket"></i> {% translate 'Danh sách bất động sản' %}
                </a>
            </li>
            {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <li>
                        <a href="{{ docsroot }}">{% translate 'Tài liệu' %}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% comment %}            <li>
                <a href="#" target="_blank"><i class="ni ni-support-16"></i> {% translate 'Hỗ trợ' %}</a>
            </li>{% endcomment %}
            <li class="dropdown-divider divide"></li>
            {% if user.has_usable_password %}
                <li>
                    <a href="{% url 'password_change' %}"><i
                            class="zmdi zmdi-shield-security"></i> {% translate 'Đổi mật khẩu' %}</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'logout' %}"><i class="zmdi zmdi-lock"></i> {% translate 'Đăng xuất' %}</a>
            </li>

        </ul>
    {% else %}
        <div>
            <a href="#login" title="Đăng nhập / Đăng ký" class="btn-login"><i class="zmdi zmdi-lock"></i> {% translate 'Đăng nhập/ Đăng ký' %}</a>
        </div>
    {% endif %}

</li>
