<li class="sub-menu">
  <a>
    <span>Bán & Cho thuê</span>
    <i class="zmdi zmdi-chevron-down"></i>
  </a>
  <ul>
    <li>
      <a href="{% url 'sell_with_us' %}"
         data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Đăng
        bán</a>
    </li>
    <li>
      <a href="{% url 'rent_with_us' %}"
         data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Đăng
        thuê</a>
    </li>
    <li class="divide"></li>
    <li>
      <a href="{% url 'contacts' %}"
         data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS bán</a>
    </li>
    <li>
      <a href="{% url 'contacts' %}"
         data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS cho thuê</a>
    </li>
    <li>
      <a href="{% url 'whyChoose' %}"
         data-mix-header-click="group: sell_lease, action: select_pr_sell_lease">Vì
        sao chọn TGNP?</a>
    </li>
  </ul>
</li>