<li class="sub-menu">
  <a>
    <span>Thuê</span>
    <i class="zmdi zmdi-chevron-down"></i>
  </a>
  <ul>
    <li>
      <a href="../listings/search?trans_type=rent"
         data-mix-header-click="group: rent, action: select_all_rent">Tất cả nhà cho thuê</a>
    </li>
    <li>
      <a href="../listings/search?trans_type=rent&housetype=apartment"
         data-mix-header-click="group: rent, action: select_apartment_rent">Căn hộ
        cho thuê</a>
    </li>
    <li>
      <a href="../listings/search?trans_type=rent&housetype=shophouse"
         data-mix-header-click="group: rent, action: select_shophouse_rent">Cửa hàng
        cho thuê</a>
    </li>
    <li>
      <a href="../listings/search?trans_type=rent&housetype=house"
         data-mix-header-click="group: rent, action: select_house_rent">Nhà
        phố cho thuê</a>
    </li>
    <li>
      <a href="../listings/search?trans_type=rent&housetype=villa"
         data-mix-header-click="group: rent, action: select_villa_rent">Biệt thự
        cho thuê</a>
    </li>
    <li>
      <a href="../listings/search?trans_type=rent&housetype=office"
         data-mix-header-click="group: rent, action: select_office_rent">Văn phòng
        cho thuê</a>
    </li>
    <li>
      <a href="../listings/search?trans_type=rent&housetype=land"
         data-mix-header-click="group: rent, action: select_land_rent">Mặt
        bằng cho thuê</a>
    </li>
    <li class="divide"></li>
    <li>
      <a href="hoanghai123" data-mix-header-click="group: rent, action: select_zone_buy">Khu
        dân cư</a>
    </li>
    <li>
      <a href="{% url 'rent_with_us' %}"
         data-mix-header-click="group: rent, action: select_lp_rent">Thuê với TGNP</a>
    </li>
    <li>
      <a href="{% url 'rent_with_us' %}"
         data-mix-header-click="group: rent, action: select_lp_rent">Giới thiệu người thuê</a>
    </li>
  </ul>
</li>