<li class="sub-menu">
  <a>
    <span>Bán & Cho thuê</span>
    <i class="zmdi zmdi-chevron-down"></i>
  </a>
  <ul>
    <li>
      <a href="{% url 'sell_lease_with_us' %}"
         data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Bán | Cho thuê với TGNP</a>
    </li>
    <li class="divide"></li>
{% comment %}    <li>
      <a href="{% url 'contacts' %}"
         data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS Bán</a>
    </li>
    <li>
      <a href="{% url 'contacts' %}"
         data-mix-header-click="group: sell_lease, action: select_agent_sell_lease">Giới thiệu BĐS Cho thuê</a>
    </li>
    <li class="divide"></li>{% endcomment %}
    <li>
      <a href="{% url 'services' %}"
         data-mix-header-click="group: sell_lease, action: select_pr_sell_lease">Tất cả dịch vụ</a>
    </li>
  </ul>
</li>