<li class="sub-menu">
  <a>
    <span>Dự án</span>
    <i class="zmdi zmdi-chevron-down"></i>
  </a>
  <ul>
    <li>
      <a href="../listings/search?trans_type=project"
         data-mix-header-click="group: rent, action: select_all_project">Tất
        cả dự án</a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Hoàn Kiếm"
         data-mix-header-click="group: rent, action: select_district_two_project">
        Hoàn Kiếm
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Ba Đình"
         data-mix-header-click="group: rent, action: select_district_four_project">
        Ba Đình
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Tây Hồ"
         data-mix-header-click="group: rent, action: select_district_nine_project">
        Tây Hồ
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Đống Đa"
         data-mix-header-click="group: rent, action: select_district_seven_project">
        Đống Đa
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Hai Bà Trưng"
         data-mix-header-click="group: rent, action: select_district_nine_project">
        Hai Bà Trưng
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Thanh Xuân"
         data-mix-header-click="group: rent, action: select_district_binhthanh_project">
        Thanh Xuân
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Hà Đông"
         data-mix-header-click="group: rent, action: select_district_binhthanh_project">
        Hà Đông
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district= Bắc Từ Liêm"
         data-mix-header-click="group: rent, action: select_district_nine_project">
        Bắc Từ Liêm
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Nam Từ Liêm"
         data-mix-header-click="group: rent, action: select_district_nine_project">
        Nam Từ Liêm
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Hoàng Mai"
         data-mix-header-click="group: rent, action: select_district_binhthanh_project">
        Hoàng Mai
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Thanh Trì"
         data-mix-header-click="group: rent, action: select_district_binhthanh_project">
        Thanh Trì
      </a>
    </li>
    <li>
      <a href="../listings/search?trans_type=project&district=Đông Anh"
         data-mix-header-click="group: rent, action: select_district_binhthanh_project">
        Đông Anh
      </a>
    </li>
    <li class="divide"></li>
    <li>
      <a href="{% url 'specialist' %}"
         data-mix-header-click="group: rent, action: select_agent_project">Gặp chuyên viên tư
        vấn</a>
    </li>
    {% comment %} <li>
                                <a href="chu-dau-tu.html"
                                   data-mix-header-click="group: rent, action: select_investor_project">Danh mục Chủ đầu
                                    tư</a>
                            </li>{% endcomment %}
  </ul>
</li>