<li class="sub-menu">
  <a>Hỗ trợ<i class="zmdi zmdi-chevron-down"></i></a>
  <ul>
    <li>
      <a href="{% url 'services' %}"
         data-mix-header-click="group: sell_lease, action: select_pr_sell_lease">Tất cả dịch vụ</a>
    </li>
    <li>
      <a href="{% url 'sell_lease_with_us' %}"
         data-mix-header-click="group: sell_lease, action: select_post_sell_lease">Bán | Cho thuê với TGNP</a>
    </li>
    <li>
      <a href="{% url 'whyChoose' %}"
         data-mix-header-click="group: buy, action: select_pr_buy">Lý do chọn TG Nhà Phố?</a>
    </li>
    {% comment %}                        <li>
                            <a href="guideBuy"
                               data-mix-header-click="group: info, action: select_guideline_buy_info">Hướng dẫn
                                mua nhà</a>
                        </li>
                        <li>
                            <a href="guideSell"
                               data-mix-header-click="group: info, action: select_guideline_sell_info">Hướng dẫn
                                bán nhà</a>
                        </li>
                        <li>
                            <a href="#"
                               data-mix-header-click="group: info, action: select_guideline_sell_info">Kiến thức môi giới</a>
                        </li>{% endcomment %}
    <li class="divide"></li>
    <li>
      <a href="{% url 'specialist' %}"
         data-mix-header-click="group: buy, action: select_agent_buy">Gặp chuyên viên tư
        vấn</a>
    </li>
    <li>
      <a href="{% url 'contacts' %}" title="Liên hệ">Liên hệ</a>
    </li>
    <li class="divide"></li>
    <li>
      <a href="{% url 'about' %}" title="Về TGNP">Giới thiệu Về TGNP</a>
    </li>
    <li>
      <a href="{% url 'recruitment' %}" title="Tuyển dụng">Tuyển dụng</a>
    </li>
  </ul>
</li>